Repository ministryofjustice/opg-digideps: changes, and which Codecov flags are due for each by the changed paths.
All: api, client

codecov.yml:

coverage:
    status:
      project: off
      patch: off

ignore:
  - "api/src/DataFixtures/**/*"  # ignore folders and all its contents
  - "api/src/FixtureFactory/**/*"
  - "api/src/TestHelpers/**/*"
  - "api/src/v2/Fixture/**/*"
  - "client/src/Exception/**/*"
  - "client/src/Resources/**/*"

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null
flags:
  api:
    paths:
      - api/src
    carryforward: false
  client:
    paths:
      - client/src
    carryforward: false

Cover authenticate
  api/tests/Unit/Security/RegistrationTokenAuthenticatorTest.php
Due: none

Cover onAuth success and failure
  api/src/Security/RegistrationTokenAuthenticator.php
  api/tests/Unit/Security/RegistrationTokenAuthenticatorTest.php
Due: api

Disable deps
  client/tests/phpunit/phpunit.xml
Due: none

Final test fixes
  api/scripts/apiunittest.sh
  api/src/Security/LoginRequestAuthenticator.php
  api/tests/Unit/Controller/AuthControllerTest.php
  api/tests/Unit/Security/LoginRequestAuthenticatorTest.php
  client/src/Controller/UserController.php
  client/src/Service/DeputyProvider.php
Due: api, client

PR cleanup
  client/src/Controller/IndexController.php
  client/templates/Index/login.html.twig
Due: client

add rds iam role
  environment/rds_iam_role.tf
Due: none

Using generic emails
  api/tests/Behat/features-v2/registration/ingest.org.sirius.feature
  api/tests/Behat/fixtures/sirius-csvs/org-2-rows-1-person-deputy-1-org-deputy-updated-emails.csv
Due: none

add overrides
  api/Dockerfile
  api/api.env
  api/config/packages/doctrine.yml
  api/config/parameters.yml.dist
  api/docker/confd/templates/parameters.yml.tmpl
  api/scripts/reset_db_structure.sh
  api/src/DBAL/ConnectionWrapper.php
  environment/api.tf
  environment/api_service.tf
Due: api

DDPB-4452: Create more specific document failure errors (#928)
  client/src/Model/Sirius/SiriusApiError.php
  client/src/Service/SiriusApiErrorTranslator.php
  client/tests/phpunit/Service/SiriusApiErrorTranslatorTest.php
Due: client

Validate deputy email on org csv upload
  api/src/Entity/NamedDeputy.php
  api/src/v2/Registration/Assembler/SiriusToOrgDeputyshipDtoAssembler.php
Due: api

Allow DTO to have a null deputy email. Fix to default report submissions to order by newest first
  api/src/Controller/Report/ReportSubmissionController.php
  api/src/v2/Registration/DTO/OrgDeputyshipDto.php
  api/tests/Unit/ControllerReport/ReportSubmissionControllerTest.php
  client/src/Controller/Admin/ReportSubmissionController.php
Due: api, client

Fixed behat test: :
  api/tests/Behat/fixtures/sirius-csvs/org-1-row-1-named-deputy-with-org-name-no-first-last-name.csv
Due: none

DDPB-4480: Update named deputy emails as part of the Org CSV Upload process (#925)
  api/src/Controller/Report/ReportSubmissionController.php
  api/src/Entity/NamedDeputy.php
  api/src/v2/Registration/Assembler/SiriusToOrgDeputyshipDtoAssembler.php
  api/src/v2/Registration/DTO/OrgDeputyshipDto.php
  api/src/v2/Registration/Uploader/OrgDeputyshipUploader.php
  api/tests/Behat/bootstrap/v2/Registration/IngestTrait.php
  api/tests/Behat/features-v2/registration/ingest.org.sirius.feature
  api/tests/Behat/fixtures/sirius-csvs/org-1-row-1-named-deputy-with-org-name-no-first-last-name.csv
  api/tests/Behat/fixtures/sirius-csvs/org-2-rows-1-person-deputy-1-org-deputy-updated-emails.csv
  api/tests/Unit/ControllerReport/ReportSubmissionControllerTest.php
  api/tests/Unit/v2/Registration/Uploader/OrgDeputyshipUploaderTest.php
  client/src/Controller/Admin/ReportSubmissionController.php
Due: api, client

Add non-unicode to the password reset feature to check it works
  api/tests/Behat/features/v2/authentication/password-reset.feature
Due: none

Added table headings, and pulled in who received money value into new benefits section on report pdf
  client/templates/Report/Formatted/_client_benefits_check.html.twig
Due: none

Add non-unicode to the password reset feature to check it works (#933)
  api/tests/Behat/features/v2/authentication/password-reset.feature
Due: none

Added table headings, and pulled in who received money value into new benefits section on report pdf (#935)
  client/templates/Report/Formatted/_client_benefits_check.html.twig
Due: none

fix integration tests
  api/api.env
  api/src/Controller/AuthController.php
  api/src/DBAL/ConnectionWrapper.php
  environment/aurora/main.tf
  environment/errored.tfstate
  environment/integration_test.tf
  environment/integration_test_v2.tf
Due: api

update docker orb
  .circleci/config.yml
Due: none

Updating moj/frontend to v1.5 to add spellcheck=false to show password component
  .circleci/config.yml
  client/package-lock.json
  client/package.json
Due: none

DDPB-4421b (#911)
  .circleci/config.yml
  environment/admin.tf
  environment/front.tf
  environment/s3.tf
  environment/s3_access_logs.tf
  environment/s3_bucket/.terraform.lock.hcl
  environment/s3_bucket/data_sources.tf
  environment/s3_bucket/main.tf
  environment/s3_bucket/outputs.tf
  environment/s3_bucket/replication.tf
  environment/s3_bucket/terraform.tf
  environment/s3_bucket/variables.tf
  environment/s3_iam_replication.tf
  environment/s3_kms.tf
  environment/terraform.tfvars.json
  environment/variables.tf
Due: none

Updating moj/frontend to v1.5 to add spellcheck=false to show password component (#936)
  client/package-lock.json
  client/package.json
Due: none

[DDPB-4476] added bucket for CSV processing
  environment/s3.tf
Due: none

[DDPB-4476] added replication back
  environment/s3.tf
Due: none

DDPB-4501 remove golang vulnerability
  api/Dockerfile
  client/Dockerfile
Due: none

DDPB-4501 remove golang vulnerability (#947)
  api/Dockerfile
  client/Dockerfile
Due: none

DDPB-4501b fix issues on api and htmltopdf
  api/Dockerfile
  htmltopdf/Dockerfile
Due: none

Ddpb 4501b (#948)
  api/Dockerfile
  htmltopdf/Dockerfile
Due: none

DDPB-4493 upgrade to postgres 13 local and development
  docker-compose.yml
  environment/api_rds.tf
  environment/aurora/.terraform.lock.hcl
  environment/aurora/main.tf
  environment/aurora/variables.tf
  environment/terraform.tfvars.json
  environment/variables.tf
  lambda_functions/docker-compose.yml
Due: none

DDPB-4456 remove old doc sync infra
  api/config/packages/security.yml
  api/src/Controller/Report/DocumentController.php
  api/src/Controller/Report/ReportController.php
  client/src/Command/ChecklistSyncCommand.php
  client/src/Command/DocumentSyncCommand.php
  client/src/Service/Client/Internal/ReportApi.php
  docker-compose.yml
  environment/api_rds.tf
  environment/api_sg.tf
  environment/aurora/main.tf
  environment/checklist_sync.tf
  environment/document_sync.tf
  environment/events_iam.tf
  environment/htmltopdf_sg.tf
  environment/mock_sirius_integration_sg.tf
  environment/monitoring_lambda_event.tf
  environment/s3.tf
  environment/synchronisation_lambda.tf
  environment/terraform.tfvars.json
  environment/variables.tf
  lambda_functions/docker-compose.yml
Due: api, client

update remote docker verasion
  .circleci/config.yml
Due: none

Add Jack Goodby to Cloud9 users
  shared/variables.tf
Due: none

Add Jack Goodby to Cloud9 users (#951)
  shared/variables.tf
Due: none

fix api tests
  api/tests/Unit/ControllerReport/AssetControllerTest.php
  environment/variables.tf
Due: none

DDPB-4493 upgrade to postgres 13 local development and integration (#949)
  .circleci/config.yml
  api/tests/Unit/ControllerReport/AssetControllerTest.php
  docker-compose.yml
  environment/api_rds.tf
  environment/aurora/.terraform.lock.hcl
  environment/aurora/main.tf
  environment/aurora/variables.tf
  environment/terraform.tfvars.json
  lambda_functions/docker-compose.yml
Due: none

update to 13.7
  environment/aurora/main.tf
  environment/terraform.tfvars.json
Due: none

Ddpb 4493b (#961)
  docker-compose.yml
  environment/terraform.tfvars.json
  lambda_functions/docker-compose.yml
Due: none

turn the processing of docs and checklists into events
  client/src/Controller/Synchronisation/SynchronisationController.php
  client/src/Event/ChecklistsSynchronisedEvent.php
  client/src/Event/DocumentsSynchronisedEvent.php
  client/src/EventSubscriber/ChecklistsSynchronisedSubscriber.php
  client/src/EventSubscriber/DocumentsSynchronisedSubscriber.php
  client/src/Service/Audit/AuditEvents.php
  client/tests/phpunit/EventSubscriber/DocumentsSynchronisedSubscriberTest.php
Due: client

DDPB-4505 upgrade preprod to pg13 in terraform after manual upgrade completes
  environment/terraform.tfvars.json
Due: none

user is set to active
  api/src/Service/ReportService.php
Due: api
