Repository ministryofjustice/opg-digideps: changes, and which Codecov flags are due for each by the changed paths.
All: api, client

Add new tasks to the make file that include the cache grind docker compose file
  Makefile
Due: none

Ignore cache grind files that would be generated
  .gitignore
Due: none

whitelist bsi kali too
  environment/admin_sg.tf
  environment/api_sg.tf
  environment/variables.tf
Due: none

DDPB-3843 update ip whitelist for BSI audit
  environment/admin_sg.tf
  environment/api_sg.tf
  environment/terraform.tfvars.json
  environment/variables.tf
Due: none

Remove old court order code from self registration flow
  api/src/Service/UserRegistrationService.php
  client/templates/Manage/api-collector.html.twig
Due: api

Add eventListener for self registration
  client/src/EventSubscriber/DeputySelfRegisteredSubscriber.php
  client/tests/phpunit/EventSubscriber/DeputySelfRegisteredSubscriberTest.php
Due: client

Fix registration flow and add missing eventSubscriber
  api/src/Service/UserRegistrationService.php
  client/src/EventSubscriber/DeputySelfRegisteredSubscriber.php
  client/templates/Manage/api-collector.html.twig
  client/tests/phpunit/EventSubscriber/DeputySelfRegisteredSubscriberTest.php
Due: api, client

Fix first test 😭
  behat/tests/bootstrap/Common/ReportTrait.php
  behat/tests/bootstrap/FeatureContext.php
  behat/tests/features/pa/03-report/01-report-edit-period.feature
  client/src/Controller/Admin/FixtureController.php
Due: client

Partially complete next test
  behat/tests/features/pa/03-report/01-report-edit-period.feature
Due: none

Cachegrind on api
  .gitignore
  Makefile
  api/api.env
  api/cachegrind/api/.gitkeep
  api/docker/confd/conf.d/xdebug.ini.toml
  api/docker/confd/templates/xdebug.ini.tmpl
  docker-compose.cachegrind.yml
Due: none

Fix registration flow and add missing eventSubscriber (#572)
  api/src/Service/UserRegistrationService.php
  client/src/EventSubscriber/DeputySelfRegisteredSubscriber.php
  client/templates/Manage/api-collector.html.twig
  client/tests/phpunit/EventSubscriber/DeputySelfRegisteredSubscriberTest.php
Due: api, client

DDPB-3805: Implement success message for file upload
  client/src/Controller/Report/DocumentController.php
  client/templates/Report/Document/step2.html.twig
  client/translations/report-documents.en.yml
Due: client

Expand fixture options to allow all user roles and drop repetitive behat test
  api/src/FixtureFactory/ReportFactory.php
  api/src/FixtureFactory/UserFactory.php
  behat/tests/features/pa/03-report/01-report-edit-period.feature
  client/src/Controller/Admin/FixtureController.php
  client/src/Form/Admin/Fixture/CourtOrderFixtureType.php
Due: client

DDPB-3850 make co_deputy logic make sense
  Makefile
  api/src/Service/UserRegistrationService.php
  api/tests/App/Controller/CasRecControllerTest.php
  behat/tests/features/admin/01-admin.feature
  client/src/Controller/Ndr/NdrController.php
  client/templates/Manage/api-collector.html.twig
  client/templates/Ndr/Ndr/index.html.twig
Due: api, client

DDPB-3821 first trial of resolvers, vpc flow and dns logging
  environment/aurora/main.tf
  environment/dns_logging.tf
  environment/dns_resolver_query.tf
  environment/provider.tf
  environment/vpc_flow_logs.tf
Due: none

make call to get client users with v2 api instead
  client/src/Controller/Ndr/NdrController.php
  client/src/Controller/Report/ReportController.php
Due: client

Expand behat steps and fixture endpoints
  api/src/v2/Controller/ControllerTrait.php
  api/src/v2/Fixture/Controller/FixtureController.php
  behat/tests/bootstrap/Common/CourtOrderTrait.php
  behat/tests/bootstrap/Common/ReportTrait.php
  behat/tests/bootstrap/OrganisationManagement/OrganisationManagementTrait.php
  client/src/Controller/Admin/FixtureController.php
Due: api, client

Fix PA tests
  behat/tests/features/pa/01-registration-steps/01-admin-add-pa-users-and-activate.feature
  behat/tests/features/pa/03-report/01-report-edit-period.feature
  behat/tests/features/pa/03-report/02-common-report-sections.feature
  behat/tests/features/pa/03-report/03-edit-report-sections.feature
  behat/tests/features/pa/03-report/04-submit-report.feature
  behat/tests/features/pa/04-dashboard-client-profile/02-dashboard.feature
  behat/tests/features/pa/04-dashboard-client-profile/10-client-profile.feature
  behat/tests/features/pa/04-dashboard-client-profile/11-client-profile-notes.feature
  behat/tests/features/pa/04-dashboard-client-profile/12-client-profile-contacts.feature
  behat/tests/features/pa/04-dashboard-client-profile/13-settings.feature
  behat/tests/features/pa/04-dashboard-client-profile/14-client-archive.feature
  behat/tests/features/pa/07-acl.feature
Due: none

Fix most of prof tests
  behat/tests/bootstrap/Common/LinksTrait.php
  behat/tests/bootstrap/UserTrait.php
  behat/tests/features/prof/01-registration-steps/01-admin-add-pa-users-and-activate.feature
  behat/tests/features/prof/02-team/01-team-setup.feature
  behat/tests/features/prof/02-team/02-cross-team-members.feature
  behat/tests/features/prof/03-report/01-report-edit-period.feature
  behat/tests/features/prof/03-report/02-common-report-sections.feature
  behat/tests/features/prof/03-report/04-edit-report-sections.feature
  behat/tests/features/prof/03-report/05-deputy-costs.feature
  behat/tests/features/prof/03-report/07-submit-report.feature
  behat/tests/features/prof/03-report/08-lodging-checklist.feature
  behat/tests/features/prof/04-dashboard-client-profile/02-dashboard.feature
  behat/tests/features/prof/04-dashboard-client-profile/10-client-profile.feature
  behat/tests/features/prof/04-dashboard-client-profile/11-client-profile-notes.feature
  behat/tests/features/prof/04-dashboard-client-profile/12-client-profile-contacts.feature
  behat/tests/features/prof/04-dashboard-client-profile/13-settings.feature
  behat/tests/features/prof/04-dashboard-client-profile/14-client-archive.feature
  behat/tests/features/prof/04-dashboard-client-profile/15-client-search.feature
  behat/tests/features/prof/05-organisation/01-view-details.feature
  behat/tests/features/prof/07-team-acl.feature
Due: none

Add missing org endpoints in api
  api/src/v2/Controller/OrganisationController.php
Due: api

Fix remaining prof tests
  behat/tests/features/prof/05-organisation/01-view-details.feature
  behat/tests/features/prof/05-organisation/03-organisation-acl.feature
  behat/tests/features/prof/05-organisation/04-organisation-updates-acl.feature
  client/templates/Settings/index.html.twig
Due: none

Fix remaining tests
  api/src/Controller/UserController.php
  client/src/Controller/Org/OrganisationController.php
  client/src/Service/Client/Internal/UserApi.php
Due: api, client

Remove migrations that rely on teams code, drop comments
  api/DoctrineMigrations/Version217.php
  api/DoctrineMigrations/Version226.php
  behat/tests/features/pa/01-registration-steps/01-admin-add-pa-users-and-activate.feature
  behat/tests/features/pa/03-report/02-common-report-sections.feature
Due: none

Failing test for getting active Lays
  api/src/Controller/StatsController.php
  api/src/TestHelpers/ReportSubmissionHelper.php
  api/src/TestHelpers/UserTestHelper.php
  api/tests/App/Controller/StatsControllerTest.php
Due: api

fix v2 issues..
  api/src/v2/Controller/ClientController.php
  api/src/v2/DTO/DeputyDto.php
  api/src/v2/Transformer/ClientTransformer.php
  api/src/v2/Transformer/DeputyTransformer.php
  client/src/Service/Client/RestClient.php
  client/templates/Report/Report/_codeputies.html.twig
Due: api, client

Add function to get lays active within the last year
  api/src/Controller/StatsController.php
  api/src/Entity/Repository/UserRepository.php
  api/src/Entity/User.php
  api/src/TestHelpers/UserTestHelper.php
  api/tests/App/Entity/Repository/UserRepositoryTest.php
  client/src/TestHelpers/UserHelpers.php
Due: api, client

add ndr logic to codeputy
  api/src/v2/Controller/ClientController.php
  client/src/Controller/CoDeputyController.php
  client/src/Controller/Ndr/NdrController.php
Due: api, client

lighten validation rules
  behat/tests/bootstrap/Common/DebugTrait.php
  behat/tests/bootstrap/FeatureContext.php
  behat/tests/features/admin/00-prechecks.feature
  behat/tests/features/deputy/01-registration-steps/00-prechecks.feature
  client/src/Validator/Constraints/TextNoSpecialCharactersValidator.php
Due: client

Add CSV builder for active lays, break out active lay tests between controller and entity
  api/src/Controller/StatsController.php
  api/src/Controller/UserController.php
  api/src/Entity/Repository/UserRepository.php
  api/src/Entity/User.php
  api/src/TestHelpers/UserTestHelper.php
  api/tests/App/Controller/StatsControllerTest.php
  api/tests/App/Controller/UserControllerTest.php
  api/tests/App/Entity/Repository/UserRepositoryTest.php
  api/tests/App/Entity/UserTest.php
  client/src/Controller/Admin/StatsController.php
  client/src/Entity/User.php
  client/src/Service/Csv/ActiveLaysCsvBuilder.php
  client/tests/phpunit/Service/Csv/ActiveLaysCsvBuilderTest.php
Due: api, client

changes base don comments
  api/src/Controller/RestController.php
  api/src/v2/Controller/ClientController.php
  client/src/Controller/CoDeputyController.php
  client/src/Controller/Ndr/NdrController.php
Due: api, client

test
  .pre-commit-config.yaml
  docker-compose.yml
Due: none

Add route for downloading active lays CSV
  api/src/Controller/UserController.php
  client/src/Controller/Admin/StatsController.php
  client/src/Service/Client/Internal/UserApi.php
  client/src/Service/Csv/ActiveLaysCsvGenerator.php
  client/tests/phpunit/Service/Csv/ActiveLaysCsvGeneratorTest.php
  client/translations/admin-metrics.en.yml
Due: api, client

Add MOJ menu button to instances that contain > 2 menu items
  client/assets/javascripts/main.js
  client/assets/javascripts/modules/buttonMenu.js
  client/templates/Admin/Stats/metrics.html.twig
Due: none

Add behat test for super admin only downloads of reports
  behat/tests/features-v2/acl/admin/navigation.feature
  behat/tests/features-v2/acl/admin/super-admin-only.feature
  client/translations/admin-metrics.en.yml
Due: none

Drop comments
  client/assets/javascripts/main.js
  client/tests/phpunit/Service/Csv/ActiveLaysCsvGeneratorTest.php
Due: none

more stuff
  client/src/Entity/Report/MentalCapacity.php
  client/src/Form/Org/ClientType.php
  client/src/Validator/Constraints/TextNoSpecialCharacters.php
  client/templates/Admin/Index/deleteConfirm.html.twig
  client/templates/Admin/Index/uploadUsers.html.twig
  client/templates/Components/Form/_checkbox.html.twig
  client/templates/Feedback/index.html.twig
  client/templates/Index/accessibility.html.twig
  client/templates/Index/login.html.twig
  client/templates/Layouts/application.html.twig
  client/templates/Macros/macros.html.twig
  client/templates/Org/ClientProfile/_client.html.twig
  client/templates/Report/Balance/balance.html.twig
  client/templates/Report/BankAccount/start.html.twig
  client/templates/Report/DeputyExpense/start.html.twig
  client/templates/Report/Gift/start.html.twig
  client/templates/Report/MoneyIn/start.html.twig
  client/templates/Report/MoneyIn/summary.html.twig
  client/templates/Report/MoneyOut/start.html.twig
  client/templates/Report/Report/overview.html.twig
  client/translations/accessibility.en.yml
  client/translations/admin.en.yml
  client/translations/feedback.en.yml
  client/translations/report-balance.en.yml
  client/translations/report-bank-accounts.en.yml
  client/translations/report-deputy-expenses.en.yml
  client/translations/report-documents.en.yml
  client/translations/report-gifts.en.yml
  client/translations/report-money-short.en.yml
  client/translations/report-money-transaction.en.yml
  client/translations/report-overview.en.yml
  client/translations/user-activate.en.yml
  diff.py
Due: client

add hook
  .pre-commit-config.yaml
  client/templates/Behat/emails.html.twig
  docs/scripts/file_diff.py
Due: none

Path conditions:
  api: any of: api/src, but not: api/src/DataFixtures/**/*, api/src/FixtureFactory/**/*, api/src/TestHelpers/**/*, api/src/v2/Fixture/**/*, client/src/Exception/**/*, client/src/Resources/**/*
  client: any of: client/src, but not: api/src/DataFixtures/**/*, api/src/FixtureFactory/**/*, api/src/TestHelpers/**/*, api/src/v2/Fixture/**/*, client/src/Exception/**/*, client/src/Resources/**/*
