Repository ministryofjustice/opg-digideps: changes, and which Codecov flags are due for each by the changed paths.
All: api, client

codecov.yml:

coverage:
    status:
      project: off
      patch: off

ignore:
  - "api/src/DataFixtures/**/*"  # ignore folders and all its contents
  - "api/src/FixtureFactory/**/*"
  - "api/src/TestHelpers/**/*"
  - "api/src/v2/Fixture/**/*"
  - "client/src/Exception/**/*"
  - "client/src/Resources/**/*"

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null
flags:
  api:
    paths:
      - api/src
    carryforward: false
  client:
    paths:
      - client/src
    carryforward: false

DDPB-4239 - Skip rows with blank fields which are mandatory (#831)
  api/src/v2/Registration/Assembler/LayDeputyshipDtoCollectionAssembler.php
  api/src/v2/Registration/Assembler/SiriusToLayDeputyshipDtoAssembler.php
  api/src/v2/Registration/Controller/LayDeputyshipUploadController.php
  api/tests/Behat/bootstrap/v2/Registration/IngestTrait.php
  api/tests/Behat/features-v2/registration/ingest.lay.sirius.feature
  api/tests/Behat/fixtures/sirius-csvs/lay-1-row-invalid-report-type-1-valid-row.csv
  api/tests/Behat/fixtures/sirius-csvs/lay-1-row-missing-all-required-1-valid-row.csv
  api/tests/Unit/v2/Registration/Assembler/LayDeputyshipDtoCollectionAssemblerTest.php
  api/tests/Unit/v2/Registration/Assembler/SiriusToLayDeputyshipDtoAssemblerTest.php
  client/src/Controller/Admin/IndexController.php
Due: api, client

use statement updated for tokenstorage
  client/src/Controller/Admin/OrganisationController.php
Due: client

apply better structure for converting images
  api/Dockerfile
  api/tests/Behat/bootstrap/v2/Reporting/Sections/DocumentsSectionTrait.php
  api/tests/Behat/features-v2/reporting/sections/documents/documents.feature
  client/Dockerfile
  client/composer.lock
  client/src/Service/File/FileNameFixer.php
  client/src/Service/File/FileUtility.php
  client/src/Service/File/ImageConvertor.php
  client/src/Service/File/S3FileUploader.php
  client/tests/phpunit/Service/File/ImageConvertorTest.php
  docker-compose.yml
Due: client

fixed access to Org jmsgroups and updated tests
  api/src/Entity/Organisation.php
  api/src/v2/Registration/Controller/OrgDeputyshipController.php
  client/src/Controller/Admin/OrganisationController.php
  client/src/Event/OrgCreatedEvent.php
  client/src/Service/Audit/AuditEvents.php
  client/src/Service/OrgService.php
  client/tests/phpunit/EventSubscriber/OrgCreatedSubscriberTest.php
  client/tests/phpunit/Service/Audit/AuditEventsTest.php
Due: api, client

make case number search not case sensitive during org csv upload
  api/src/Repository/ClientRepository.php
  api/src/v2/Registration/Uploader/OrgDeputyshipUploader.php
  api/tests/Unit/v2/Registration/Uploader/OrgDeputyshipUploaderTest.php
Due: api

prefer returning null to throwing error when not matching on case number
  Makefile
  api/src/Repository/ClientRepository.php
  api/tests/Unit/v2/Registration/Controller/OrgDeputyshipControllerTest.php
  api/tests/Unit/v2/Registration/TestHelpers/OrgDeputyshipDTOTestHelper.php
Due: api

DDPB-4331: Make case number search not case sensitive during org csv upload (#832)
  Makefile
  api/src/Repository/ClientRepository.php
  api/src/v2/Registration/Uploader/OrgDeputyshipUploader.php
  api/tests/Unit/v2/Registration/Controller/OrgDeputyshipControllerTest.php
  api/tests/Unit/v2/Registration/TestHelpers/OrgDeputyshipDTOTestHelper.php
  api/tests/Unit/v2/Registration/Uploader/OrgDeputyshipUploaderTest.php
Due: api

Enforce lowercased case number and provide update on updating reports
  api/src/Entity/Client.php
  api/src/v2/Registration/Uploader/OrgDeputyshipUploader.php
  api/tests/Unit/Entity/ClientTest.php
Due: api

DDPB-4334: Enforce lowercased case number and provide update on updating reports (#833)
  api/src/Entity/Client.php
  api/src/v2/Registration/Uploader/OrgDeputyshipUploader.php
  api/tests/Unit/Entity/ClientTest.php
Due: api

Add audit logs adr
  docs/architecture/decisions/0005-audit-logs.md
Due: none

DDPB-3342 - Add audit log around creation of organisations (#824)
  api/src/Entity/Organisation.php
  api/src/v2/Registration/Controller/OrgDeputyshipController.php
  api/src/v2/Registration/Uploader/OrgDeputyshipUploader.php
  client/src/Controller/Admin/OrganisationController.php
  client/src/Event/OrgCreatedEvent.php
  client/src/EventSubscriber/OrgCreatedSubscriber.php
  client/src/Service/Audit/AuditEvents.php
  client/src/Service/OrgService.php
  client/tests/phpunit/EventSubscriber/OrgCreatedSubscriberTest.php
  client/tests/phpunit/Service/Audit/AuditEventsTest.php
Due: api, client

Add audit logs adr (#834)
  docs/architecture/decisions/0005-audit-logs.md
Due: none

adminUserCreatedEvent, Subscriber and Audit Events updated
  api/src/Service/DateTimeProvider.php
  client/src/Event/AdminUserCreatedEvent.php
  client/src/EventSubscriber/AdminUserCreatedSubscriber.php
  client/src/Service/Audit/AuditEvents.php
Due: api, client

[DDPB-4206] Track how often users are completing information in the new benefits section (#830)
  api/src/Controller/StatsController.php
  api/src/Entity/Report/ClientBenefitsCheck.php
  api/src/Repository/ReportRepository.php
  api/tests/Unit/Controller/StatsControllerTest.php
  client/package-lock.json
  client/src/Controller/Admin/StatsController.php
  client/src/Entity/User.php
  client/src/Form/Admin/BenefitsMetricsFilterType.php
  client/src/Service/Client/Internal/StatsApi.php
  client/src/Service/Csv/ClientBenefitMetricsCsvGenerator.php
  client/templates/Admin/Stats/benefitsReportMetrics.html.twig
  client/templates/Admin/Stats/reports.html.twig
  client/templates/Admin/Stats/satisfaction.html.twig
  client/templates/Admin/Stats/urResponses.html.twig
  client/templates/Admin/Stats/userAccountReports.html.twig
  client/translations/admin-metrics.en.yml
Due: api, client

Create AdminManagerCreatedEvent
  client/src/Event/AdminManagerCreatedEvent.php
Due: client

AdminUserCreatedEvent reverted back
  client/src/Event/AdminUserCreatedEvent.php
Due: client

Convert files and test fixes
  api/Dockerfile
  api/tests/Behat/bootstrap/v2/Reporting/Sections/DeputyCostsSectionTrait.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/DocumentsSectionTrait.php
  api/tests/Behat/features-v2/app-notification/app-notification.feature
  api/tests/Behat/features-v2/reporting/sections/deputy-costs/deputy-costs.org.feature
  api/tests/Behat/features-v2/reporting/sections/documents/documents.feature
  api/tests/Behat/fixtures/good-heic.heic
  api/tests/Behat/fixtures/good-jfif.jfif
  client/Dockerfile
  client/src/Entity/Report/Document.php
  client/src/Service/File/FileUtility.php
  client/src/Service/File/ImageConvertor.php
  client/src/Service/File/MimeTypeAndExtensionChecker.php
  client/src/Service/File/S3FileUploader.php
  client/tests/phpunit/Service/File/FileNameFixerTest.php
  client/tests/phpunit/Service/File/ImageConvertorTest.php
  client/tests/phpunit/Service/File/S3FileUploaderTest.php
Due: client

Initial messenger config, with localstack sqs config, messages and handlers for csv uploads
  Makefile
  api/composer.json
  api/composer.lock
  api/config/bundles.php
  api/config/packages/messenger.yaml
  api/src/Message/Command/UploadCsv.php
  api/src/MessageHandler/Command/UploadCsvHandler.php
  api/src/Messenger/ExternalJsonMessengerSerializer.php
  docker-compose.yml
  docker/localstack-init.sh
Due: api

Start setting named deputy name based on org name when is an org deputy
  api/src/Controller/StatsController.php
  api/src/Entity/NamedDeputy.php
  api/src/v2/Assembler/NamedDeputyAssembler.php
  api/src/v2/Registration/Assembler/SiriusToOrgDeputyshipDtoAssembler.php
  api/src/v2/Registration/DTO/OrgDeputyshipDto.php
  api/src/v2/Registration/Uploader/OrgDeputyshipUploader.php
  api/tests/Behat/bootstrap/v2/Registration/IngestTrait.php
  api/tests/Behat/features-v2/registration/ingest.org.sirius.feature
  api/tests/Behat/fixtures/sirius-csvs/org-1-row-1-named-deputy-with-org-name-no-first-last-name.csv
  api/tests/Behat/fixtures/sirius-csvs/org-2-rows-1-person-deputy-1-org-deputy-updated-names.csv
  api/tests/Behat/fixtures/sirius-csvs/org-2-rows-1-person-deputy-1-org-deputy.csv
Due: api

Test fixes
  api/tests/Unit/v2/Registration/Uploader/OrgDeputyshipUploaderTest.php
Due: none

Var dumps
  api/tests/Behat/bootstrap/v2/Registration/IngestTrait.php
Due: none

DDPB-4338: Start setting named deputy name based on org name when is an org deputy (#835)
  api/src/Controller/StatsController.php
  api/src/Entity/NamedDeputy.php
  api/src/v2/Assembler/NamedDeputyAssembler.php
  api/src/v2/Registration/Assembler/SiriusToOrgDeputyshipDtoAssembler.php
  api/src/v2/Registration/DTO/OrgDeputyshipDto.php
  api/src/v2/Registration/Uploader/OrgDeputyshipUploader.php
  api/tests/Behat/bootstrap/v2/Registration/IngestTrait.php
  api/tests/Behat/features-v2/registration/ingest.org.sirius.feature
  api/tests/Behat/fixtures/sirius-csvs/org-1-row-1-named-deputy-with-org-name-no-first-last-name.csv
  api/tests/Behat/fixtures/sirius-csvs/org-2-rows-1-person-deputy-1-org-deputy-updated-names.csv
  api/tests/Behat/fixtures/sirius-csvs/org-2-rows-1-person-deputy-1-org-deputy.csv
  api/tests/Unit/v2/Registration/Uploader/OrgDeputyshipUploaderTest.php
Due: api

Only check CSV uploaded on production
  environment/check_csv_uploaded.tf
Due: none

DDPB-4327: Only check CSV uploaded on production (#836)
  environment/check_csv_uploaded.tf
Due: none

AdminUserCreatedSubscriber renamed to AdminUserLifeCycleSubscriber
  client/src/Event/AdminManagerCreatedEvent.php
  client/src/EventSubscriber/AdminUserLifeCycleSubscriber.php
  client/tests/phpunit/EventSubscriber/AdminUserLifeCycleSubscriberTest.php
Due: client

DDPB-4341 disaster recovery plan
  README.md
Due: none

Removed bundle, defaulted to doctrine transport
  api/config/bundles.php
  api/config/packages/messenger.yaml
  api/src/Controller/UserController.php
Due: api

typed class properties added
  api/src/Controller/UserController.php
Due: api

Try just using browserkit
  api/Dockerfile
  api/composer.json
  api/composer.lock
  api/tests/Behat/behat.yml
  api/tests/Behat/features-v2/registration/ingest.org.sirius.feature
  api/tests/Behat/features-v2/report-submission/attaching-further-documents.feature
  api/tests/Behat/features-v2/reporting/sections/deputy-costs/deputy-costs.org.feature
  client/Dockerfile
  client/composer.lock
Due: none

failing audit log test created and set up function added
  client/tests/phpunit/EventSubscriber/AdminUserLifeCycleSubscriberTest.php
Due: none

Still failing from submit
  api/composer.json
  api/composer.lock
  api/config/packages/framework.yml
  api/tests/Behat/behat.yml
  api/tests/Behat/bootstrap/v2/ReportSubmission/ReportSubmissionTrait.php
  client/src/Form/Report/UploadType.php
  client/templates/Report/Document/step2.html.twig
  docker-compose.dev.yml
  docker-compose.override.yml
Due: client

Refer to correct constant
  client/src/Service/Client/Internal/ClientApi.php
Due: client

DDPB4342: Fix case manager created user flow (#838)
  client/src/Service/Client/Internal/ClientApi.php
Due: client

Add test for case manager user activation flow
  api/composer.json
  api/composer.lock
  api/tests/Behat/bootstrap/v2/Common/IVisitFrontendTrait.php
  api/tests/Behat/bootstrap/v2/Common/PageUrlsTrait.php
  api/tests/Behat/bootstrap/v2/Registration/IngestTrait.php
  api/tests/Behat/bootstrap/v2/Registration/RegistrationFeatureContext.php
  api/tests/Behat/bootstrap/v2/Registration/SelfRegistrationTrait.php
  api/tests/Behat/features-v2/registration/ingest.org.sirius.feature
  api/tests/Behat/features-v2/registration/self-register.feature
  client/src/Controller/ClientController.php
  client/src/Service/Client/Internal/ClientApi.php
Due: client

Move otehr CSV tests to sequential and rebalance reporting_1 and reporting_2
  api/tests/Behat/features-v2/registration/ingest.lay.sirius.feature
  api/tests/Behat/features-v2/registration/self-register.feature
  api/tests/Behat/features-v2/reporting/section-navigation/section-navigation.lay.combined.feature
  api/tests/Behat/features-v2/reporting/sections/deputy-costs-estimate/deputy-costs-estimate.feature
Due: none

audit log unit test passes
  client/tests/phpunit/EventSubscriber/AdminUserLifeCycleSubscriberTest.php
Due: none

Add error logging to include case number and ensure local snapshots are wiped before running our suite
  api/tests/Behat/bootstrap/v2/Common/DebugTrait.php
  client/src/Controller/ClientController.php
Due: client

Drop commented out code
  api/tests/Behat/bootstrap/v2/Registration/SelfRegistrationTrait.php
Due: none

createAdminManagerUser function in User Api test passes
  client/src/Event/AdminManagerCreatedEvent.php
  client/src/Service/Audit/AuditEvents.php
  client/src/Service/Client/Internal/UserApi.php
  client/tests/phpunit/Service/Client/Internal/UserApiTest.php
Due: client

Revert from enum to if checks
  api/Dockerfile
  api/composer.json
  client/Dockerfile
  client/composer.json
  client/src/Enum/ConvertableImageTypes.php
  client/src/Service/File/ImageConvertor.php
  client/tests/phpunit/Enum/ConvertableImageTypesTest.php
Due: client
