Repository ministryofjustice/opg-digideps: changes, and which Codecov flags are due for each by the changed paths.
All: api, client

codecov.yml:

coverage:
    status:
      project: off
      patch: off

ignore:
  - "api/src/DataFixtures/**/*"  # ignore folders and all its contents
  - "api/src/FixtureFactory/**/*"
  - "api/src/TestHelpers/**/*"
  - "api/src/v2/Fixture/**/*"
  - "client/src/Exception/**/*"
  - "client/src/Resources/**/*"

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null
flags:
  api:
    paths:
      - api/src
    carryforward: false
  client:
    paths:
      - client/src
    carryforward: false

add check to circle
  .circleci/config.yml
Due: none

fixes
  behat/tests/bootstrap/Common/DebugTrait.php
  behat/tests/bootstrap/FeatureContext.php
  behat/tests/features/admin/00-prechecks.feature
  behat/tests/features/deputy/01-registration-steps/00-prechecks.feature
  docs/scripts/bulk_edit.py
  docs/scripts/file_diff.py
Due: none

DDPB-3805: Implement success message for file upload (#578)
  client/src/Controller/Report/DocumentController.php
  client/templates/Report/Document/step2.html.twig
  client/translations/report-documents.en.yml
Due: client

Update cookie radio button options
  client/src/Form/CookiePermissionsType.php
  client/translations/cookies.en.yml
Due: client

remove remaining team templates
  client/templates/Macros/macros-review.html.twig
  client/templates/Ndr/Formatted/_client_information.html.twig
  client/templates/Ndr/Formatted/formatted_body.html.twig
  client/templates/Org/Team/add.html.twig
  client/templates/Org/Team/edit.html.twig
  client/templates/Org/Team/list.html.twig
  client/templates/Report/Formatted/_client_information.html.twig
  client/templates/Report/Formatted/formatted_body.html.twig
Due: none

found some more...
  client/templates/Index/index.html.twig
  client/templates/Macros/macros.html.twig
  client/templates/Ndr/Action/start.html.twig
  client/templates/Ndr/Action/step.html.twig
  client/templates/Ndr/BankAccount/start.html.twig
  client/templates/Ndr/DeputyExpense/start.html.twig
  client/templates/Ndr/IncomeBenefit/start.html.twig
  client/templates/Ndr/OtherInfo/start.html.twig
  client/templates/Report/Action/start.html.twig
  client/templates/Report/Action/step.html.twig
  client/templates/Report/BankAccount/start.html.twig
  client/templates/Report/Decision/start.html.twig
  client/templates/Report/DeputyExpense/start.html.twig
  client/templates/Report/Gift/start.html.twig
  client/templates/Report/OtherInfo/start.html.twig
  client/templates/Report/ProfDeputyCostsEstimate/_answers.html.twig
  client/translations/ndr-actions.en.yml
  client/translations/ndr-bank-accounts.en.yml
  client/translations/ndr-deputy-expenses.en.yml
  client/translations/ndr-income-benefits.en.yml
  client/translations/ndr-more-info.en.yml
  client/translations/report-actions.en.yml
  client/translations/report-bank-accounts.en.yml
  client/translations/report-decisions.en.yml
  client/translations/report-deputy-expenses.en.yml
  client/translations/report-gifts.en.yml
  client/translations/report-money-transaction.en.yml
  client/translations/report-more-info.en.yml
  client/translations/report-prof-deputy-costs-estimate.en.yml
Due: none

wip
  environment/.terraform.lock.hcl
  environment/certificate.tf
  environment/dns_resolver_query.tf
  environment/variables.tf
  environment/versions.tf
Due: none

try pre
  .pre-commit-config.yaml
Due: none

DDPB-3263: Remove remaining team templates (#580)
  client/templates/Macros/macros-review.html.twig
  client/templates/Ndr/Formatted/_client_information.html.twig
  client/templates/Ndr/Formatted/formatted_body.html.twig
  client/templates/Org/Team/add.html.twig
  client/templates/Org/Team/edit.html.twig
  client/templates/Org/Team/list.html.twig
  client/templates/Report/Formatted/_client_information.html.twig
  client/templates/Report/Formatted/formatted_body.html.twig
Due: none

test
  .pre-commit-config.yaml
  client/templates/Client/add.html.twig
Due: none

rebase
  environment/dns_logging.tf
  environment/dns_resolver_query.tf
  environment/versions.tf
  shared/vpc_flow_logs.tf
Due: none

DDPB-3821 add flow logs and fix dangling log group
  .gitignore
  environment/.terraform.lock.hcl
  environment/aurora/main.tf
  environment/provider.tf
Due: none

DDPB-3867 remove all the BSI access
  environment/admin_sg.tf
  environment/api_sg.tf
  environment/terraform.tfvars.json
  environment/variables.tf
Due: none

DDPB-3860 add timeout to request to sirius
  client/src/Service/Client/Sirius/SiriusApiGatewayClient.php
  environment/aurora/main.tf
Due: client

DDPB-3867 remove all the BSI access (#583)
  environment/admin_sg.tf
  environment/api_sg.tf
  environment/terraform.tfvars.json
  environment/variables.tf
Due: none

fix composer
  api/Dockerfile
  behat/Dockerfile
  client/Dockerfile
Due: none

DDPB-3870 lock composer
  api/Dockerfile
  behat/Dockerfile
  client/Dockerfile
Due: none

fix test
  client/tests/phpunit/Service/Client/Sirius/SiriusApiGatewayClientTest.php
  environment/aurora/main.tf
Due: none

DDPB-3860 add timeout to request to sirius (#584)
  client/src/Service/Client/Sirius/SiriusApiGatewayClient.php
  client/tests/phpunit/Service/Client/Sirius/SiriusApiGatewayClientTest.php
  environment/aurora/main.tf
Due: client

Enable cachegrinds (#573)
  .gitignore
  Makefile
  api/api.env
  api/cachegrind/api/.gitkeep
  api/docker/confd/conf.d/xdebug.ini.toml
  api/docker/confd/templates/xdebug.ini.tmpl
  client/admin.env
  client/cachegrind/admin/.gitkeep
  client/cachegrind/frontend/.gitkeep
  client/docker/confd/conf.d/xdebug.ini.toml
  client/docker/confd/templates/xdebug.ini.tmpl
  client/frontend.env
  docker-compose.cachegrind.yml
Due: none

Ddpb 3821 (#582)
  .gitignore
  environment/api_rds.tf
  environment/aurora/main.tf
  environment/aurora/variables.tf
  environment/certificate.tf
  shared/vpc_flow_logs.tf
Due: none

fixed last bits
  client/templates/Admin/Client/Report/partials/_assets-and-debts.html.twig
  client/templates/Admin/Client/Report/partials/_contact-with-client.html.twig
  client/templates/Admin/Client/Report/partials/_debts-summary.html.twig
  client/templates/Admin/Client/Report/partials/_decisions-made.html.twig
  client/templates/Admin/Client/Report/partials/_expenses-summary.html.twig
  client/templates/Admin/Client/Report/partials/_gifting-summary.html.twig
  client/templates/Admin/Client/Report/partials/_health-and-lifestyle.html.twig
  client/templates/Admin/Client/Report/partials/_money-summaries.html.twig
  client/templates/Admin/Client/Report/partials/_people-consulted.html.twig
  client/templates/Admin/Client/Report/partials/_prof-deputy-costs-estimate.html.twig
  client/templates/Macros/macros.html.twig
  client/templates/User/registration-thankyou.html.twig
Due: none

DDPB-3871 fix out of date sec checker
  api/Dockerfile
  client/Dockerfile
Due: none

DDPB-3697 rightsize redis
  api/api.env
  client/admin.env
  docker-compose.yml
  docker/bash_profile
  environment/admin_elasticache.tf
  environment/admin_service.tf
  environment/admin_sg.tf
  environment/api_elasticache.tf
  environment/api_sg.tf
  environment/checklist_sync.tf
  environment/dashboard.tf
  environment/dns_private.tf
  environment/document_sync.tf
  environment/front_elasticache.tf
  environment/front_service.tf
  environment/front_sg.tf
  environment/frontend_shared_elasticache.tf
Due: none

fix bad inconsistent naming of vpc flow log
  shared/vpc_flow_logs.tf
Due: none

Implement EventSubscriber for DeputySelfRegisteredSubscriber
  client/src/EventSubscriber/DeputySelfRegisteredSubscriber.php
Due: client

Implement EventSubscriber for DeputySelfRegisteredSubscriber (#589)
  client/src/EventSubscriber/DeputySelfRegisteredSubscriber.php
Due: client

Bump terraform to 14.5
  .circleci/config.yml
Due: none

Update cookie radio button options (#579)
  client/src/Form/CookiePermissionsType.php
  client/translations/cookies.en.yml
Due: client

fix where behat sharing session tokens
  Makefile
  client/admin.env
  client/docker/confd/templates/parameters.yml.tmpl
  client/frontend.env
  environment/admin_service.tf
  environment/checklist_sync.tf
  environment/document_sync.tf
  environment/front_service.tf
Due: none

DDPB-3850 quieten phpstan
  .circleci/config.yml
  api/phpstan.neon
  api/src/Controller/RestController.php
Due: api

DDPB-3697 fix comments
  Makefile
  environment/checklist_sync.tf
  environment/document_sync.tf
Due: none

DDPB-3850 make co_deputy logic make sense
  .circleci/config.yml
  .pre-commit-config.yaml
  Makefile
  api/phpstan.neon
  api/src/Service/UserRegistrationService.php
  api/src/v2/Controller/ClientController.php
  api/src/v2/DTO/DeputyDto.php
  api/src/v2/Transformer/ClientTransformer.php
  api/src/v2/Transformer/DeputyTransformer.php
  api/tests/App/Controller/CasRecControllerTest.php
  behat/tests/features/admin/01-admin.feature
  client/src/Controller/CoDeputyController.php
  client/src/Controller/Ndr/NdrController.php
  client/src/Controller/Report/ReportController.php
  client/src/Service/Client/RestClient.php
  client/templates/Ndr/Ndr/index.html.twig
  client/templates/Report/Report/_codeputies.html.twig
Due: api, client

DDPB-3857 - Active Lay report (#576)
  .circleci/config.yml
  api/src/Controller/StatsController.php
  api/src/Controller/UserController.php
  api/src/Entity/Repository/UserRepository.php
  api/src/Entity/User.php
  api/src/TestHelpers/ReportSubmissionHelper.php
  api/src/TestHelpers/UserTestHelper.php
  api/tests/App/Controller/UserControllerTest.php
  api/tests/App/Entity/Repository/UserRepositoryTest.php
  api/tests/App/Entity/UserTest.php
  behat/tests/features-v2/acl/admin/navigation.feature
  behat/tests/features-v2/acl/admin/super-admin-only.feature
  client/assets/javascripts/main.js
  client/assets/javascripts/modules/buttonMenu.js
  client/src/Controller/Admin/StatsController.php
  client/src/Entity/User.php
  client/src/Service/Client/Internal/UserApi.php
  client/src/Service/Csv/ActiveLaysCsvGenerator.php
  client/src/TestHelpers/UserHelpers.php
  client/templates/Admin/Stats/metrics.html.twig
  client/tests/phpunit/Service/Csv/ActiveLaysCsvGeneratorTest.php
  client/translations/admin-metrics.en.yml
Due: api, client

Testing direct auth
  api/config/security.yml
  api/src/v2/Fixture/Controller/FixtureController.php
  behat/test.env
  behat/tests/behat.yml
  behat/tests/bootstrap/Common/BaseFeatureContext.php
  behat/tests/bootstrap/Common/ReportTrait.php
  behat/tests/bootstrap/ContactDetails/ContactDetailsFeatureContext.php
  behat/tests/bootstrap/FeatureContext.php
  behat/tests/features-v2/reporting/sections/contacts/contacts.feature
  behat/tests/features/v2/reportManagement/closing-incomplete-reports.feature
  client/config/security.yml
  client/config/services.yml
  client/src/Controller/Admin/BehatController.php
  client/src/Controller/Admin/FixtureController.php
  client/src/Controller/BehatController.php
Due: client
