Repository ministryofjustice/opg-digideps: changes, and which Codecov flags are due for each by the changed paths.
All: api, client

DDPB-4667: Track and display number of satisfaction respondents on analytics page (#1256)
  api/tests/Behat/bootstrap/v2/Analytics/AnalyticsTrait.php
  client/templates/Admin/Stats/metrics.html.twig
  client/translations/admin-metrics.en.yml
Due: none

update the lock files
  api/Dockerfile
  api/composer.lock
  client/Dockerfile
  client/composer.lock
Due: none

Bump requests from 2.28.1 to 2.31.0 in /ecs-helper/cmd/circle_builds (#1264)
  ecs-helper/cmd/circle_builds/requirements.txt
Due: none

update alpine to latest versions also
  api/Dockerfile
  api/composer.json
  api/composer.lock
  client/Dockerfile
  client/composer.json
  client/composer.lock
  renovate.json
Due: none

DDPB-4701 add double click prevention
  client/assets/javascripts/common.js
  client/assets/javascripts/modules_new/PreventDoubleClick.js
Due: none

fix the syntax issues from lint
  client/assets/javascripts/common.js
  client/assets/javascripts/modules_new/PreventDoubleClick.js
Due: none

DDPB-4704 fix renovate using php 8.2 (#1276)
  api/Dockerfile
  api/composer.json
  api/composer.lock
  client/Dockerfile
  client/composer.json
  client/composer.lock
  renovate.json
Due: none

DDPB-4657b - Convert unicode characters in names (#1255)
  api/src/Service/PreRegistrationVerificationService.php
  api/tests/Behat/bootstrap/v2/Helpers/FixtureHelper.php
  api/tests/Behat/bootstrap/v2/Registration/ActivateTrait.php
  api/tests/Behat/features-v2/registration/activate.lay.feature
Due: api

DDPB-4701 add the douoble click protection needed
  client/assets/javascripts/__tests__/modules_new/ButtonToggler.test.js
  client/assets/javascripts/__tests__/modules_new/DoubleClickProtection.test.js
  client/assets/javascripts/__tests__/modules_new/PreventDoubleClick.test.js
  client/assets/javascripts/common.js
  client/assets/javascripts/modules_new/ButtonToggler.js
  client/assets/javascripts/modules_new/DoubleClickProtection.js
  client/templates/Client/show.html.twig
  client/templates/Feedback/index.html.twig
  client/templates/Macros/macros.html.twig
  client/templates/Report/Document/step2.html.twig
  client/templates/Report/Document/submitMoreDocumentsConfirm.html.twig
  client/templates/Report/Report/_pdf_download_link.html.twig
  client/templates/Report/Report/declaration.html.twig
  client/templates/Settings/emailEdit.html.twig
  client/templates/Settings/passwordEdit.html.twig
  client/templates/Settings/profile.html.twig
  client/templates/User/activate.html.twig
  client/templates/User/passwordReset.html.twig
  environment/variables.tf
Due: none

fix tests
  client/assets/javascripts/__tests__/modules_new/PreventDoubleClick.test.js
Due: none

drop if block and move amount input
  client/templates/Report/MoneyTransfer/step.html.twig
Due: none

made amendments as per comments
  client/assets/javascripts/__tests__/modules_new/PreventDoubleClickButton.test.js
  client/assets/javascripts/__tests__/modules_new/PreventDoubleClickLink.test.js
  client/assets/javascripts/common.js
  client/assets/javascripts/modules_new/PreventDoubleClickButton.js
  client/assets/javascripts/modules_new/PreventDoubleClickLink.js
  client/assets/scss/digideps/_links.scss
  client/templates/Ndr/Ndr/_pdf_download_link.html.twig
  client/templates/Report/Report/_pdf_download_link.html.twig
Due: none

remove if block and redirect link
  client/src/Controller/Report/MoneyTransferController.php
Due: client

if blocks dropped
  client/src/Form/Report/MoneyTransferType.php
Due: client

Updates for packages.
  htmltopdf/Dockerfile
Due: none

Updates for packages. (#1280)
  htmltopdf/Dockerfile
Due: none

change to unittest.sh
  api/scripts/apiunittest.sh
Due: none

DDPB-4674 create seperated health check endpoints (#1273)
  api/config/packages/security.yml
  api/src/Controller/HealthController.php
  api/tests/Behat/bootstrap/FeatureContext.php
  api/tests/Behat/bootstrap/v2/Common/IVisitFrontendTrait.php
  api/tests/Behat/bootstrap/v2/Common/PageUrlsTrait.php
  api/tests/Behat/features-v2/service-health/external-dependecy-checks.feature
  api/tests/Behat/features/admin/00-prechecks.feature
  api/tests/Behat/features/deputy/01-registration-steps/00-prechecks.feature
  api/tests/Unit/Controller/HealthControllerTest.php
  client/config/packages/security.yml
  client/src/Controller/HealthController.php
  client/src/Service/Availability/ApiAvailability.php
  client/src/Service/Availability/ClamAvAvailability.php
  client/templates/Health/api-collector.html.twig
  client/templates/Health/availability.html.twig
  client/templates/Health/css-class-collector.html.twig
  client/templates/Health/health-check.html.twig
  client/templates/Health/pingdom.xml.twig
  environment/admin_service.tf
  environment/admin_tg.tf
  environment/alarms.tf
  environment/api_service.tf
  environment/dashboard.tf
  environment/front_service.tf
  environment/front_tg.tf
  environment/scan_service.tf
  file-scanner/README.md
  file-scanner/main.go
  file-scanner/main_test.go
Due: api, client

Force update of packages
  lambdas/functions/synchronisation/Dockerfile
Due: none

Add sync as well as synchronisation lambda
  sync/Dockerfile
Due: none

DDPB-4579 - Adds checks & removes unnecessary console output
  client/assets/javascripts/globals/SessionTimeout.js
Due: none

DDPB-4579 - Adds test for displaying & hiding element
  client/assets/javascripts/__tests__/modules_new/SessionTimeoutDialog.test.js
Due: none

DDPB-4579 - Refactors class
  client/assets/javascripts/modules_new/SessionTimeoutDialog.js
Due: none

DDPB-4579 - Cleanup on test file
  client/assets/javascripts/__tests__/modules_new/SessionTimeoutDialog.test.js
Due: none

DDPB-4579 - Fixes logic
  client/assets/javascripts/__tests__/globals/sessionTimeout.test.js
  client/assets/javascripts/__tests__/modules_new/SessionTimeoutDialog.test.js
  client/assets/javascripts/globals/SessionTimeout.js
  client/assets/javascripts/modules_new/SessionTimeoutDialog.js
Due: none

DDPB-4579 - Adds Testin-library/Dom & UserEvent via NPM
  client/package-lock.json
  client/package.json
Due: none

Created new query to pull number of respondents
  api/src/Service/Stats/Query/RespondentsQuery.php
  api/src/Service/Stats/StatsQueryParameters.php
  client/src/Controller/Admin/StatsController.php
  client/templates/Admin/Stats/metrics.html.twig
Due: api, client

Added and updated tests for respondents
  api/tests/Behat/bootstrap/v2/Analytics/AnalyticsTrait.php
  api/tests/Unit/Stats/Query/RespondentQueryTest.php
Due: none

steps parameter remains to follow pattern of other sections
  client/src/Controller/Report/MoneyTransferController.php
  client/src/Form/Report/MoneyTransferType.php
  client/templates/Report/MoneyTransfer/step.html.twig
Due: client

DDPB-4701 add double click prevention (#1278)
  client/assets/javascripts/__tests__/modules_new/ButtonToggler.test.js
  client/assets/javascripts/__tests__/modules_new/DoubleClickProtection.test.js
  client/assets/javascripts/__tests__/modules_new/PreventDoubleClickButton.test.js
  client/assets/javascripts/__tests__/modules_new/PreventDoubleClickLink.test.js
  client/assets/javascripts/common.js
  client/assets/javascripts/modules_new/ButtonToggler.js
  client/assets/javascripts/modules_new/DoubleClickProtection.js
  client/assets/javascripts/modules_new/PreventDoubleClickButton.js
  client/assets/javascripts/modules_new/PreventDoubleClickLink.js
  client/assets/scss/digideps/_links.scss
  client/templates/Client/show.html.twig
  client/templates/Feedback/index.html.twig
  client/templates/Macros/macros.html.twig
  client/templates/Ndr/Ndr/_pdf_download_link.html.twig
  client/templates/Report/Document/step2.html.twig
  client/templates/Report/Document/submitMoreDocumentsConfirm.html.twig
  client/templates/Report/Report/_pdf_download_link.html.twig
  client/templates/Report/Report/declaration.html.twig
  client/templates/Settings/emailEdit.html.twig
  client/templates/Settings/passwordEdit.html.twig
  client/templates/Settings/profile.html.twig
  client/templates/User/activate.html.twig
  client/templates/User/passwordReset.html.twig
  environment/variables.tf
Due: none

update the unit tests
  api/scripts/apiunittest.sh
  api/src/DBAL/ConnectionWrapper.php
  api/tests/Unit/DBAL/ConnectionWrapperTest.php
Due: api

fix flakey js test and missed double click button
  client/assets/javascripts/__tests__/modules_new/SessionTimeoutDialog.test.js
  client/templates/Report/Report/overview.html.twig
Due: none

Path conditions:
  api: any of: api/src, but not: api/src/DataFixtures/**/*, api/src/FixtureFactory/**/*, api/src/TestHelpers/**/*, api/src/v2/Fixture/**/*, client/src/Exception/**/*, client/src/Resources/**/*
  client: any of: client/src, but not: api/src/DataFixtures/**/*, api/src/FixtureFactory/**/*, api/src/TestHelpers/**/*, api/src/v2/Fixture/**/*, client/src/Exception/**/*, client/src/Resources/**/*
