Repository ministryofjustice/opg-digideps: changes, and which Codecov flags are due for each by the changed paths.
All: api, client

Automatically detect filetyupe and append missing file extensions
  client/src/AppBundle/Service/File/FileNameFixer.php
  client/tests/phpunit/Service/File/FileNameFixerTest.php
  client/tests/phpunit/TestData/good-jpeg
  client/tests/phpunit/TestData/good-jpeg.jpeg
Due: client

Make function names clearer and use DateTime epoch format rather than microtime when generating S3 storage refs
  client/src/AppBundle/Controller/Report/DocumentController.php
  client/src/AppBundle/Service/File/S3FileUploader.php
  client/tests/phpunit/Service/File/S3FileUploaderTest.php
Due: client

DDPB-3787: Fix empty satisfaction CSV (#533)
  api/Dockerfile
  api/src/AppBundle/Controller/SatisfactionController.php
  api/src/AppBundle/Entity/Satisfaction.php
  client/Dockerfile
  client/composer.json
  client/src/AppBundle/Controller/Admin/StatsController.php
  client/src/AppBundle/Controller/Report/ReportController.php
  client/src/AppBundle/Entity/Report/Satisfaction.php
  client/src/AppBundle/Mapper/ReportSatisfaction/ReportSatisfactionSummaryMapper.php
  client/src/AppBundle/Mapper/ReportSatisfaction/ReportSatisfactionSummaryQuery.php
  client/src/AppBundle/Service/Csv/CsvBuilder.php
  client/src/AppBundle/Service/Csv/SatisfactionCsvGenerator.php
  client/src/AppBundle/Service/Csv/TransactionsCsvGenerator.php
  client/src/AppBundle/Service/CsvGeneratorService.php
  client/src/AppBundle/Service/ReportSubmissionService.php
  client/tests/phpunit/Mapper/ReportSatisfaction/ReportSatisfactionSummaryMapperTest.php
  client/tests/phpunit/Service/Csv/CsvBuilderTest.php
  client/tests/phpunit/Service/Csv/SatisfactionCsvGeneratorTest.php
  client/tests/phpunit/Service/Csv/TransactionCsvGeneratorTest.php
  client/tests/phpunit/Service/ReportSubmissionServiceTest.php
Due: api, client

Fix trigger value
  client/src/AppBundle/Service/Audit/AuditEvents.php
Due: client

Fix failing lay CSV upload
  client/src/AppBundle/Controller/Admin/AjaxController.php
Due: client

DDPB-2838: Updated mark up for terms of use (#545)
  client/src/AppBundle/Resources/views/Index/terms.html.twig
Due: none

DDPB-3816: Fix failing lay CSV upload (#547)
  client/src/AppBundle/Controller/Admin/AjaxController.php
Due: client

DDPB-3645 initial trial of workspace cleanup
  environment/workspace_cleanup.tf
Due: none

Stop appending file extension to files with an extension and use real filename and path when naming file
  client/src/AppBundle/Service/File/FileNameFixer.php
  client/src/AppBundle/Service/File/S3FileUploader.php
  client/tests/phpunit/Service/File/FileNameFixerTest.php
Due: client

Test fixes
  client/tests/phpunit/Service/File/S3FileUploaderTest.php
Due: none

Append milliseconds to epoch time when creating S3 reference
  client/src/AppBundle/Service/File/FileNameFixer.php
  client/src/AppBundle/Service/File/S3FileUploader.php
  client/tests/phpunit/Service/File/FileNameFixerTest.php
  client/tests/phpunit/Service/File/S3FileUploaderTest.php
Due: client

DDPB-3645 check results overnight
  .circleci/config.yml
  environment/scripts/workspace_cleanup.sh
Due: none

DDPB-3645 workspace cleanup
  .circleci/config.yml
  environment/scripts/workspace_cleanup.sh
  shared/workspace-cleanup.tf
Due: none

DDPB-3645 workspace cleanup
  .circleci/config.yml
Due: none

DDPB-3786: Added unit test for honeypot field
  client/src/AppBundle/Form/FeedbackType.php
  client/tests/phpunit/Form/FeedbackTypeTest.php
Due: client

DDPB-3786: Fixed failing unit test
  client/tests/phpunit/Form/FeedbackTypeTest.php
Due: none

DDPB-3786: fixed the failing unit test and now inject the translator to the FeedbackType rather than using a trait
  client/src/AppBundle/Form/FeedbackType.php
  client/src/AppBundle/Form/Traits/HasTranslatorTrait.php
  client/src/AppBundle/Resources/views/Feedback/index.html.twig
  client/tests/phpunit/Form/FeedbackTypeTest.php
Due: client

DDPB-3786: Handle larger text in the feedback form and prevent spam (#540)
  Makefile
  api/app/DoctrineMigrations/Version247.php
  client/src/AppBundle/Controller/FeedbackController.php
  client/src/AppBundle/Form/FeedbackType.php
  client/src/AppBundle/Form/Traits/HasTranslatorTrait.php
  client/src/AppBundle/Resources/assets/javascripts/main.js
  client/src/AppBundle/Resources/translations/feedback.en.yml
  client/src/AppBundle/Resources/views/Feedback/index.html.twig
  client/tests/phpunit/Form/FeedbackTypeTest.php
Due: client

DDPB-3752: Add audit logging for adding and removing a user from an org (#544)
  client/src/AppBundle/Controller/Admin/OrganisationController.php
  client/src/AppBundle/Controller/Org/OrganisationController.php
  client/src/AppBundle/Event/UserAddedToOrganisationEvent.php
  client/src/AppBundle/Event/UserRemovedFromOrganisationEvent.php
  client/src/AppBundle/EventSubscriber/OrgUserMembershipSubscriber.php
  client/src/AppBundle/Service/Audit/AuditEvents.php
  client/src/AppBundle/Service/Client/Internal/OrganisationApi.php
  client/tests/phpunit/EventSubscriber/OrgUserMembershipSubscriberTest.php
  client/tests/phpunit/Service/Client/Internal/OrganisationApiTest.php
Due: client

DDPB-3645 update the docs
  docs/runbooks/PULL-REQUEST-PROCEDURE.md
  environment/scripts/workspace_cleanup.sh
Due: none

Update NDR and Report submission banners and links
  client/src/AppBundle/Controller/Report/ReportController.php
  client/src/AppBundle/Resources/translations/report-submitted.en.yml
  client/src/AppBundle/Resources/views/Ndr/Ndr/submitConfirmation.html.twig
  client/src/AppBundle/Resources/views/Report/Report/submitConfirmation.html.twig
Due: client

Add path to live doc
  docs/Path to live.png
Due: none

DDPB-3645 scheduled workspace cleanup
  .circleci/config.yml
  docs/runbooks/PULL-REQUEST-PROCEDURE.md
  environment/scripts/workspace_cleanup.sh
  shared/workspace-cleanup.tf
Due: none

Uopdate tests
  behat/tests/features/pa/03-report/04-submit-report.feature
  behat/tests/features/prof/03-report/07-submit-report.feature
  client/src/AppBundle/Resources/views/Ndr/Ndr/submitConfirmation.html.twig
  client/src/AppBundle/Resources/views/Report/Report/submitConfirmation.html.twig
Due: none

add terraform init
  .circleci/config.yml
Due: none

ddpb-3645b add terraform init
  .circleci/config.yml
Due: none

Check for laydeputy rather than deputy
  client/src/AppBundle/Controller/Report/ReportController.php
Due: client

DDPB-3449: Append file extensions to files missing a file extension (#546)
  client/app/config/services.yml
  client/app/config/services/defaults.yml
  client/composer.json
  client/composer.lock
  client/src/AppBundle/Controller/Report/DocumentController.php
  client/src/AppBundle/Service/File/FileNameFixer.php
  client/src/AppBundle/Service/File/S3FileUploader.php
  client/tests/phpunit/Service/File/FileNameFixerTest.php
  client/tests/phpunit/Service/File/S3FileUploaderTest.php
  client/tests/phpunit/TestData/good-jpeg
  client/tests/phpunit/TestData/good-jpeg.jpeg
  client/tests/phpunit/TestData/good-pdf
  client/tests/phpunit/TestData/good-png
Due: client

Fix paths
  api/Dockerfile
  api/config/services.yml
Due: none

Drop strict types
  api/public/index.php
Due: none

Fix metrics page
  api/src/AppBundle/Service/Stats/StatsQueryParameters.php
Due: api

Exclude notice errors when in debug mode
  api/public/index.php
Due: none

Prefer docblock
  api/public/index.php
Due: none

Revert metrics query param null checks
  api/src/AppBundle/Service/Stats/StatsQueryParameters.php
Due: api

Add dev flow to docs
  docs/Digideps dev flow.png
  docs/Digideps dev flow.xml
Due: none

DDPB-3750: Success banner on deputy report submission (#552)
  behat/tests/features/pa/03-report/04-submit-report.feature
  behat/tests/features/prof/03-report/07-submit-report.feature
  client/src/AppBundle/Controller/Report/ReportController.php
  client/src/AppBundle/Resources/translations/report-submitted.en.yml
  client/src/AppBundle/Resources/views/Ndr/Ndr/submitConfirmation.html.twig
  client/src/AppBundle/Resources/views/Report/Report/submitConfirmation.html.twig
Due: client

DDPB-3130 add logging bucket
  environment/s3.tf
Due: none

Path conditions:
  api: any of: api/src/AppBundle, but not: api/src/AppBundle/DataFixtures/**/*, api/src/AppBundle/FixtureFactory/**/*, api/src/AppBundle/TestHelpers/**/*, api/src/AppBundle/v2/Fixture/**/*, client/src/AppBundle/Exception/**/*, client/src/AppBundle/Resources/**/*
  client: any of: client/src/AppBundle, but not: api/src/AppBundle/DataFixtures/**/*, api/src/AppBundle/FixtureFactory/**/*, api/src/AppBundle/TestHelpers/**/*, api/src/AppBundle/v2/Fixture/**/*, client/src/AppBundle/Exception/**/*, client/src/AppBundle/Resources/**/*
