Repository ministryofjustice/opg-digideps: changes, and which Codecov flags are due for each by the changed paths.
All: api, client

codecov.yml:

coverage:
    status:
      project: off
      patch: off

ignore:
  - "api/src/DataFixtures/**/*"  # ignore folders and all its contents
  - "api/src/FixtureFactory/**/*"
  - "api/src/TestHelpers/**/*"
  - "api/src/v2/Fixture/**/*"
  - "client/src/Exception/**/*"
  - "client/src/Resources/**/*"

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null
flags:
  api:
    paths:
      - api/src
    carryforward: false
  client:
    paths:
      - client/src
    carryforward: false

Implementing changes for prof fixtures data, with some minor changes to lay fixture data
  api/src/DataFixtures/LayUserFixtures.php
  api/src/DataFixtures/ProfUserFixtures.php
Due: none

change redis params (#1313)
  shared/elasticache_parameters.tf
Due: none

generating branch env to try and recreate errors
  README.md
Due: none

throw exception for missing user token
  README.md
  api/src/Controller/AuthController.php
Due: api

DDPB-4724: Unhandled Auth Error - Raises 500 (#1312)
  api/src/Controller/AuthController.php
Due: api

Adding Prof and PA fixtures
  api/src/DataFixtures/PAUserFixtures.php
  api/src/DataFixtures/ProfUserFixtures.php
Due: none

fix pipeline
  .github/workflows/_build-and-push.yml
  .github/workflows/_web-resources.yml
  .github/workflows/workflow-pull-request-path.yml
  .gitignore
  client/docker/app/Dockerfile
  client/docker/resources/Dockerfile
  client/docker/web/Dockerfile
  docker-compose.override.yml
  docker-compose.yml
Due: none

ignore the pip updates for now to get rest of changes through
  htmltopdf/Dockerfile
  htmltopdf/requirements.txt
Due: none

DDPB-3661 rework to amend replication group
  environment/api_elasticache.tf
Due: none

DDPB-4597 add prod to cycle secrets
  .github/workflows/scheduled-cycle-secrets.yml
Due: none

DDPB-4581 tighten role permissions
  environment/ecs.tf
Due: none

DDPB-3661 rework to amend replication group (#1322)
  environment/api_elasticache.tf
Due: none

DDPB-4747 add containerinsights to tf managed state
  environment/ecs.tf
  environment/s3_iam_replication.tf
Due: none

DDPB-4581 tighten role permissions (#1324)
  environment/ecs.tf
Due: none

DDPB-3622 improve the pre-commit coverage
  .pre-commit-config.yaml
Due: none

DDPB-4597 add prod to cycle secrets (#1323)
  .github/workflows/scheduled-cycle-secrets.yml
Due: none

change cleanup job as lg is recreated on destroy
  environment/scripts/workspace_cleanup.sh
Due: none

fix a couple of sec vulns
  file-scanner/Dockerfile
  htmltopdf/Dockerfile
  htmltopdf/app.py
Due: none

fix a couple of sec vulns (#1327)
  file-scanner/Dockerfile
  htmltopdf/Dockerfile
  htmltopdf/app.py
Due: none

rotate secrets in prod
  .github/workflows/scheduled-cycle-secrets.yml
Due: none

rotate secrets in prod (#1328)
  .github/workflows/scheduled-cycle-secrets.yml
Due: none

turn off rotation job
  .github/workflows/scheduled-cycle-secrets.yml
Due: none

turn off rotation job (#1329)
  .github/workflows/scheduled-cycle-secrets.yml
Due: none

DDPB-4597 add db secret rotation to cyclesecrets script
  .github/workflows/_cycle_secrets.yml
  .github/workflows/scheduled-cycle-secrets.yml
  environment/scripts/cycle_secrets/cycle_secrets.py
Due: none

Updated counts for fixture data
  api/src/DataFixtures/LayUserFixtures.php
  api/src/DataFixtures/PAUserFixtures.php
  api/src/DataFixtures/ProfUserFixtures.php
Due: none

Adding placeholder for deleted users
  client/templates/Admin/Client/Report/sidebar/_statuses.html.twig
  client/translations/common.en.yml
Due: none

DDPB-4597 add db secret rotation to cyclesecrets script (#1331)
  .github/workflows/_cycle_secrets.yml
  .github/workflows/scheduled-cycle-secrets.yml
  environment/scripts/cycle_secrets/cycle_secrets.py
Due: none

upsert behaviour added to prevent 500 error
  README.md
  api/src/Controller/SatisfactionController.php
Due: api

triggering branch build to recreate error
  README.md
Due: none

validation added to user research form
  client/src/Form/UserResearchResponseType.php
  client/translations/validators.en.yml
Due: client

code review feedback applied
  README.md
  api/src/Controller/SatisfactionController.php
Due: api

DDPB-4725 : Satisfaction 500 error - Create upsert behaviour (#1315)
  api/src/Controller/SatisfactionController.php
  client/src/Form/UserResearchResponseType.php
  client/translations/validators.en.yml
Due: api, client

Update SatisfactionController.php
  api/src/Controller/SatisfactionController.php
Due: api

DDPB-3622 improve the pre-commit coverage (#1326)
  .github/workflows/scheduled-cycle-secrets.yml
  .pre-commit-config.yaml
Due: none

Added behat tests to ensure placeholder shows up, fixed an issue where the placedholder text would appear on brand new checklists
  api/tests/Behat/bootstrap/v2/AdminManagement/AdminManagementTrait.php
  api/tests/Behat/bootstrap/v2/Common/IVisitAdminTrait.php
  api/tests/Behat/bootstrap/v2/Reporting/Admin/ReportingAdminFeatureContext.php
  api/tests/Behat/bootstrap/v2/Reporting/Admin/ReportingChecklistTrait.php
  api/tests/Behat/features-v2/report-checklist/checklist-synchronisation.feature
  client/templates/Admin/Client/Report/sidebar/_statuses.html.twig
Due: none

DDPB-4747 add containerinsights to tf managed state (#1325)
  environment/ecs.tf
  environment/s3_iam_replication.tf
  environment/scripts/workspace_cleanup.sh
Due: none

Updated timeout length for requests, added logging for successful and erroneous chunk processing
  client/src/Command/ProcessOrgCSVCommand.php
Due: client
