Repository ministryofjustice/opg-digideps: changes, and which Codecov flags are due for each by the changed paths.
All: api, client

Apply correct calc to ReportRepository (#797)
  api/src/Repository/AssetRepository.php
Due: api

Set client benefits section section release date to 16 March 2022
  api/src/Entity/Report/Report.php
Due: api

Set client benefits section section release date to 16 March 2022 (#798)
  api/src/Entity/Report/Report.php
Due: api

Allow checklists linked to a discharged client to be synced with Sirius
  api/src/Controller/Report/ReportController.php
  api/src/Entity/SynchronisableTrait.php
  api/src/Repository/ReportRepository.php
  api/tests/Behat/bootstrap/v2/ClientManagement/ClientManagementTrait.php
  api/tests/Behat/bootstrap/v2/Common/IVisitAdminTrait.php
  api/tests/Behat/bootstrap/v2/Common/PageUrlsTrait.php
  api/tests/Behat/bootstrap/v2/Reporting/Admin/ReportingAdminFeatureContext.php
  api/tests/Behat/bootstrap/v2/Reporting/Admin/ReportingChecklistTrait.php
  api/tests/Behat/features-v2/report-checklist/checklist-synchronisation.feature
  client/src/Controller/Admin/BehatController.php
  client/src/Controller/Admin/Client/ReportController.php
  client/templates/Admin/Client/Report/checklist.html.twig
  client/templates/Admin/Client/Report/sidebar/_statuses.html.twig
  client/translations/common.en.yml
Due: api, client

Pass array to IN DQL statement rather than string
  api/src/Repository/ReportRepository.php
Due: api

Initial steps for new CSV layout
  api/src/v2/Registration/Assembler/SiriusToLayDeputyshipDtoAssembler.php
  api/tests/Behat/features-v2/registration/ingest.lay.sirius.feature
  api/tests/Behat/fixtures/sirius-csvs/lay-3-valid-rows.csv
Due: api

Re-enable filter
  api/src/Controller/Report/ReportController.php
Due: api

Update Casrec entity and associated code
  api/src/Entity/CasRec.php
  api/src/FixtureFactory/CasRecFactory.php
  api/src/Service/CasrecVerificationService.php
  api/src/v2/Registration/Assembler/CasRecToLayDeputyshipDtoAssembler.php
  api/src/v2/Registration/Assembler/SiriusToLayDeputyshipDtoAssembler.php
  api/src/v2/Registration/DTO/LayDeputyshipDto.php
  api/src/v2/Registration/SelfRegistration/Factory/CasRecFactory.php
  api/src/v2/Registration/SelfRegistration/Factory/LayDeputyshipDtoCollectionAssemblerFactory.php
  api/src/v2/Registration/Uploader/LayDeputyshipUploader.php
  api/tests/Unit/v2/Registration/Assembler/CasRecToLayDeputyshipDtoAssemblerTest.php
  api/tests/Unit/v2/Registration/Assembler/SiriusToLayDeputyshipDtoAssemblerTest.php
  api/tests/Unit/v2/Registration/SelfRegistration/Factory/CasRecFactoryTest.php
  api/tests/Unit/v2/Registration/Uploader/LayDeputyshipUploaderTest.php
Due: api

Rework report type determination in Casrec
  api/src/DataFixtures/PATestUserFixtures.php
  api/src/DataFixtures/ProfTestUserFixtures.php
  api/src/DataFixtures/UserFixtures.php
  api/src/Entity/CasRec.php
  api/src/Service/ReportService.php
  api/src/Service/ReportUtils.php
  api/src/v2/Registration/Uploader/LayDeputyshipUploader.php
  api/tests/Unit/Entity/CasRecTest.php
Due: api

Guard against unrecognised report types
  api/src/Entity/CasRec.php
Due: api

Fix fixture data - need to make migrations next
  api/src/DataFixtures/ProfTestUserFixtures.php
  api/src/DataFixtures/UserFixtures.php
  api/src/Entity/CasRec.php
Due: api

DDPB-4288: Allow checklists linked to a discharged client to be synced with Sirius (#799)
  api/src/Controller/Report/ReportController.php
  api/src/Entity/SynchronisableTrait.php
  api/src/Repository/ReportRepository.php
  api/tests/Behat/bootstrap/v2/ClientManagement/ClientManagementTrait.php
  api/tests/Behat/bootstrap/v2/Common/IVisitAdminTrait.php
  api/tests/Behat/bootstrap/v2/Common/PageUrlsTrait.php
  api/tests/Behat/bootstrap/v2/Reporting/Admin/ReportingAdminFeatureContext.php
  api/tests/Behat/bootstrap/v2/Reporting/Admin/ReportingChecklistTrait.php
  api/tests/Behat/features-v2/report-checklist/checklist-synchronisation.feature
  client/src/Controller/Admin/BehatController.php
  client/src/Controller/Admin/Client/ReportController.php
  client/templates/Admin/Client/Report/checklist.html.twig
  client/templates/Admin/Client/Report/sidebar/_statuses.html.twig
  client/translations/common.en.yml
Due: api, client

Create migration and test fixes
  api/src/Controller/CasRecController.php
  api/src/Migrations/Version262.php
  api/src/Repository/CasRecRepository.php
  api/tests/Unit/Controller/CasRecControllerTest.php
Due: api

Drop enabling filter in loop
  api/src/Controller/Report/ReportController.php
Due: api

Add timeout and check for command completing in behat tests
  client/src/Command/ChecklistSyncCommand.php
  client/src/Controller/Admin/BehatController.php
Due: client

Extract rest calls to ReportAPI and command syncing code to service
  client/src/Command/ChecklistSyncCommand.php
  client/src/Command/DocumentSyncCommand.php
  client/src/Controller/Admin/BehatController.php
  client/src/Service/ChecklistSyncService.php
  client/src/Service/Client/Internal/ReportApi.php
Due: client

Wait for command to have exit text before moving on in test
  api/tests/Behat/bootstrap/v2/Reporting/Admin/ReportingChecklistTrait.php
  client/src/Command/ChecklistSyncCommand.php
  client/src/Controller/Admin/BehatController.php
Due: client

Refactor syncing checklists by report into service
  client/src/Command/ChecklistSyncCommand.php
  client/src/Service/ChecklistSyncService.php
  client/src/TestHelpers/ChecklistTestHelper.php
  client/tests/phpunit/Command/ChecklistSyncCommandTest.php
  client/tests/phpunit/Service/ChecklistSyncServiceTest.php
Due: client

Cover remaining paths in tests
  client/tests/phpunit/Service/ChecklistSyncServiceTest.php
Due: none

Run pull_request sequential behat tests on pr branch rather than integration
  .circleci/config.yml
  client/tests/phpunit/Service/ChecklistSyncServiceTest.php
Due: none

Ensure checklist sync is on in branch envs
  environment/parameters.tf
Due: none

Bump ubuntu version
  .circleci/config.yml
Due: none

Add DeputyUUID to NamedDeputy, drop DeputyNo and DeputyAddressNo
  api/src/Entity/NamedDeputy.php
  api/src/Migrations/Version262.php
  client/src/Entity/NamedDeputy.php
Due: api, client

first behat test passes
  api/src/Service/ReportService.php
  api/tests/Behat/bootstrap/v2/Common/BaseFeatureContext.php
  api/tests/Behat/bootstrap/v2/Common/INavigateToFrontendTrait.php
  api/tests/Behat/bootstrap/v2/Common/IVisitFrontendTrait.php
  api/tests/Behat/bootstrap/v2/Common/PageUrlsTrait.php
  api/tests/Behat/bootstrap/v2/ReportSubmission/ReportSubmissionTrait.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/DocumentsSectionTrait.php
  api/tests/Behat/features-v2/report-submission/attaching-further-documents.feature
  client/src/Exception/NoDocumentAttached.php
Due: api

all tests pass and refactored
  api/tests/Behat/bootstrap/v2/Common/IVisitFrontendTrait.php
  api/tests/Behat/bootstrap/v2/Common/PageUrlsTrait.php
  api/tests/Behat/bootstrap/v2/ReportSubmission/ReportSubmissionTrait.php
  api/tests/Behat/features-v2/report-submission/attaching-further-documents.feature
Due: none

DDPB-4296: Drop enabling softdeleteable filter in loop (#800)
  .circleci/config.yml
  api/src/Controller/Report/ReportController.php
  api/tests/Behat/bootstrap/v2/Reporting/Admin/ReportingChecklistTrait.php
  client/src/Command/ChecklistSyncCommand.php
  client/src/Command/DocumentSyncCommand.php
  client/src/Controller/Admin/BehatController.php
  client/src/Service/ChecklistSyncService.php
  client/src/Service/Client/Internal/ReportApi.php
  client/src/TestHelpers/ChecklistTestHelper.php
  client/tests/phpunit/Command/ChecklistSyncCommandTest.php
  client/tests/phpunit/Service/ChecklistSyncServiceTest.php
  environment/parameters.tf
Due: api, client

Stop normalizing postcodes, names and case numbers
  api/src/DataFixtures/UserFixtures.php
  api/src/Entity/CasRec.php
  api/src/Entity/Client.php
  api/src/Service/CasrecVerificationService.php
  api/src/Service/DataNormaliser.php
  api/src/Service/ReportService.php
  api/src/Service/UserRegistrationService.php
  api/src/v2/Registration/Assembler/CasRecToLayDeputyshipDtoAssembler.php
  api/src/v2/Registration/SelfRegistration/Factory/LayDeputyshipDtoCollectionAssemblerFactory.php
  api/src/v2/Registration/Uploader/LayDeputyshipUploader.php
  api/src/v2/Registration/Uploader/OrgDeputyshipUploader.php
  api/tests/Behat/bootstrap/v2/Registration/IngestTrait.php
  api/tests/Behat/features-v2/report-checklist/checklist-synchronisation.feature
  api/tests/Behat/fixtures/sirius-csvs/lay-1-row-missing-all-required-1-valid-row.csv
  api/tests/Behat/fixtures/sirius-csvs/lay-1-row-updated-report-type.csv
  api/tests/Unit/Controller-Ndr/NdrControllerTest.php
  api/tests/Unit/Controller/CasRecControllerTest.php
  api/tests/Unit/Controller/SelfRegisterControllerTest.php
  api/tests/Unit/Entity/CasRecTest.php
  api/tests/Unit/Service/CasrecVerificationServiceTest.php
  api/tests/Unit/Service/ReportServiceTest.php
  api/tests/Unit/v2/Registration/Assembler/CasRecToLayDeputyshipDtoAssemblerTest.php
  api/tests/Unit/v2/Registration/Assembler/SiriusToLayDeputyshipDtoAssemblerTest.php
  api/tests/Unit/v2/Registration/SelfRegistration/Factory/CasRecFactoryTest.php
  api/tests/Unit/v2/Registration/Uploader/LayDeputyshipUploaderTest.php
  client/assets/javascripts/modules/uploadProgress.js
  client/src/Controller/Admin/AjaxController.php
  client/src/Controller/Admin/IndexController.php
  client/src/Entity/CasRec.php
  client/src/Event/CSVUploadedEvent.php
  client/src/EventSubscriber/CSVUploadedSubscriber.php
  client/src/Service/Audit/AuditEvents.php
  client/src/Service/Client/Internal/CasrecApi.php
  client/templates/Admin/Index/uploadUsers.html.twig
Due: api, client

TEst fixes
  api/tests/Unit/Service/ReportServiceTest.php
Due: none

Allow whoReceivedMoney to be null to account for NDR users who completed section before we added new field
  api/src/Entity/Ndr/MoneyReceivedOnClientsBehalf.php
  api/src/Entity/Report/MoneyReceivedOnClientsBehalf.php
Due: api

DDPB-4299: Allow whoReceivedMoney to be null to account for NDR users who completed section before we added new field (#805)
  api/src/Entity/Ndr/MoneyReceivedOnClientsBehalf.php
  api/src/Entity/Report/MoneyReceivedOnClientsBehalf.php
Due: api

Add openssl to force upgraded packages.
  api/Dockerfile
  client/Dockerfile
Due: none

Add in updates to the libraries as well as openssl.
  api/Dockerfile
  client/Dockerfile
Due: none

Fix error sentence casing and stop exporting regServiceResponse props
  registration_service/main.go
Due: none

Fix JS formatting
  .pre-commit-config.yaml
  .prettierrc.json
  client/assets/javascripts/main.js
  client/assets/javascripts/modules/uploadProgress.js
  client/package-lock.json
  client/package.json
Due: none

More test fixes
  api/config/services.yml
  api/scripts/apiunittest.sh
  api/src/Entity/CasRec.php
  api/src/FixtureFactory/CasRecFactory.php
  api/src/v2/Registration/Assembler/CasRecToLayDeputyshipDtoAssembler.php
  api/src/v2/Registration/Assembler/SiriusToLayDeputyshipDtoAssembler.php
  api/src/v2/Registration/SelfRegistration/Factory/CasRecFactory.php
  api/tests/Unit/v2/Registration/Assembler/CasRecToLayDeputyshipDtoAssemblerTest.php
  api/tests/Unit/v2/Registration/Assembler/SiriusToLayDeputyshipDtoAssemblerTest.php
  api/tests/Unit/v2/Registration/SelfRegistration/Factory/CasRecFactoryTest.php
  api/tests/Unit/v2/Registration/SelfRegistration/Factory/LayDeputyshipDtoCollectionAssemblerFactoryTest.php
Due: api

Final API unit test fixes
  api/scripts/apiunittest.sh
  api/tests/Unit/Controller/SelfRegisterControllerTest.php
  api/tests/Unit/v2/Registration/Uploader/LayDeputyshipUploaderTest.php
Due: none

Add standard config to prettier
  client/package.json
Due: none

Drop uses of determining source of CSV for lay upload in integration tests, test fixes
  api/src/v2/Registration/Assembler/SiriusToLayDeputyshipDtoAssembler.php
  api/src/v2/Registration/Controller/LayDeputyshipUploadController.php
  api/tests/Behat/bootstrap/v2/Registration/IngestTrait.php
  api/tests/Behat/features-v2/registration/ingest.lay.casrec.feature
  api/tests/Behat/features-v2/registration/ingest.lay.sirius.feature
  api/tests/Behat/features-v2/registration/lay/activate.feature
  api/tests/Behat/features-v2/registration/lay/self-register.feature
  api/tests/Behat/features-v2/registration/organisation/activate.feature
  api/tests/Behat/fixtures/casrec-csvs/lay-1-row-missing-all-required-1-valid-row.csv
  api/tests/Behat/fixtures/casrec-csvs/lay-1-row-missing-all-required-columns.csv
  api/tests/Behat/fixtures/casrec-csvs/lay-1-row-updated-report-type.csv
  api/tests/Behat/fixtures/casrec-csvs/lay-3-valid-rows.csv
  api/tests/Behat/fixtures/sirius-csvs/lay-1-row-missing-all-required-1-valid-row.csv
Due: api

Run standard on js files
  api/tests/Behat/bootstrap/v2/Registration/IngestTrait.php
  api/tests/Behat/features-v2/registration/ingest.lay.sirius.feature
  api/tests/Behat/features-v2/registration/ingest.org.casrec.feature
  client/assets/javascripts/modules/bind.js
  client/assets/javascripts/modules/characterLimiter.js
  client/assets/javascripts/modules/cookieBanner.js
  client/assets/javascripts/modules/detached-details.js
  client/assets/javascripts/modules/detailsExpander.js
  client/assets/javascripts/modules/formatcurrency.js
  client/assets/javascripts/modules/ga.js
  client/assets/javascripts/modules/moneyTransfer.js
  client/assets/javascripts/modules/returnHTML.js
  client/assets/javascripts/modules/show-hide-content.js
  client/assets/javascripts/modules/uploadFile.js
  client/assets/javascripts/modules/uploadProgress.js
  client/assets/javascripts/modules/uploadProgressPA.js
Due: none

More test fixes
  api/tests/Behat/bootstrap/v2/Registration/IngestTrait.php
  api/tests/Behat/features-v2/registration/ingest.lay.sirius.feature
  api/tests/Behat/features-v2/registration/ingest.org.casrec.feature
Due: none

Path conditions:
  api: any of: api/src, but not: api/src/DataFixtures/**/*, api/src/FixtureFactory/**/*, api/src/TestHelpers/**/*, api/src/v2/Fixture/**/*, client/src/Exception/**/*, client/src/Resources/**/*
  client: any of: client/src, but not: api/src/DataFixtures/**/*, api/src/FixtureFactory/**/*, api/src/TestHelpers/**/*, api/src/v2/Fixture/**/*, client/src/Exception/**/*, client/src/Resources/**/*
