Repository ministryofjustice/opg-digideps: changes, and which Codecov flags are due for each by the changed paths.
All: api, client

codecov.yml:

coverage:
    status:
      project: off
      patch: off

ignore:
  - "api/src/DataFixtures/**/*"  # ignore folders and all its contents
  - "api/src/FixtureFactory/**/*"
  - "api/src/TestHelpers/**/*"
  - "api/src/v2/Fixture/**/*"
  - "client/src/Exception/**/*"
  - "client/src/Resources/**/*"

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null
flags:
  api:
    paths:
      - api/src
    carryforward: false
  client:
    paths:
      - client/src
    carryforward: false

Readme update
  docs/TESTING.md
Due: none

Add reset db step
  .circleci/config.yml
  api/tests/Behat/reset-db.sh
Due: none

Reset db while scaling up services
  .circleci/config.yml
Due: none

Ensure court date is set on clients during org CSV upload
  api/src/v2/Assembler/ClientAssembler.php
  api/src/v2/Registration/Uploader/OrgDeputyshipUploader.php
  api/tests/Unit/v2/Registration/Uploader/OrgDeputyshipUploaderTest.php
Due: api

Update integration and weekly test run pipelines
  .circleci/config.yml
Due: none

Add initial behat scenarios for benefit check report section
  api/tests/Behat/features-v2/reporting/sections/benefits-check/benefits-check.feature
Due: none

Add behat step for lay high asset completed
  api/tests/Behat/bootstrap/v2/Common/ReportTrait.php
  api/tests/Behat/features-v2/reporting/sections/contacts/contacts.feature
Due: none

Add empty stubs for behat scenarios
  api/tests/Behat/bootstrap/v2/Reporting/Sections/BenefitsCheckSectionTrait.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/ReportingSectionsFeatureContext.php
  api/tests/Behat/features-v2/reporting/sections/benefits-check/benefits-check.feature
Due: none

do not use param override if not set
  .circleci/config.yml
Due: none

Add as much placeholder behat as possible until pages are ready
  api/tests/Behat/bootstrap/v2/Reporting/Sections/BenefitsCheckSectionTrait.php
  api/tests/Behat/features-v2/reporting/sections/benefits-check/benefits-check.feature
Due: none

Update integration and weekly test run pipelines (#688)
  .circleci/config.yml
Due: none

DDPB-4092b add pre profile and fix circle logic
  .circleci/config.yml
  aws_config
Due: none

Add initial readme for adding report sections
  docs/ADDING_REPORT_SECTIONS.md
Due: none

Add ClientBenefitsCheck entity
  api/src/Entity/Report/ClientBenefitsCheck.php
Due: api

Add IncomeReceivedOnClientsBehalf entity
  api/src/Entity/Report/ClientBenefitsCheck.php
  api/src/Entity/Report/IncomeReceivedOnClientsBehalf.php
Due: api

Drop incorrect var annotation
  api/src/Entity/UserResearch/UserResearchResponse.php
Due: api

Add migration for ClientBenefitsCheck
  api/src/Migrations/Version254.php
Due: api

DDPB-4092b add pre profile and fix circle logic (#689)
  .circleci/config.yml
  aws_config
Due: none

DDPB-4092c remove redeployer as no longer needed
  .circleci/config.yml
Due: none

fix
  .circleci/config.yml
Due: none

add tf_workspace vars
  .circleci/config.yml
Due: none

DDPB-4092c specify environment for main build (#691)
  .circleci/config.yml
Due: none

DDPB-4062: Create the entities and migrations for the new report section (#690)
  api/src/Entity/Report/ClientBenefitsCheck.php
  api/src/Entity/Report/IncomeReceivedOnClientsBehalf.php
  api/src/Entity/UserResearch/UserResearchResponse.php
  api/src/Migrations/Version254.php
  docs/ADDING_REPORT_SECTIONS.md
Due: api

Adds javascript disabled tracking for logged in users
  client/config/services.yml
  client/src/Twig/ComponentsExtension.php
  client/src/Twig/FormFieldsExtension.php
  client/templates/Components/GoogleAnalytics/hiddenEvent.html.twig
  client/templates/Org/Index/dashboard.html.twig
  client/templates/Report/Report/index.html.twig
Due: client

Test fix
  client/tests/phpunit/Twig/ComponentsExtensionTest.php
Due: none

Adds javascript disabled tracking for logged in users (#692)
  client/config/services.yml
  client/src/Twig/ComponentsExtension.php
  client/src/Twig/FormFieldsExtension.php
  client/templates/Components/GoogleAnalytics/hiddenEvent.html.twig
  client/templates/Org/Index/dashboard.html.twig
  client/templates/Report/Report/index.html.twig
  client/tests/phpunit/Twig/ComponentsExtensionTest.php
Due: client

Add migration to fix entity relationships and column naming
  api/src/Migrations/Version255.php
Due: api

Add benefits-check to behat config and limit tests to scope of ticket
  api/tests/Behat/behat.yml
  api/tests/Behat/bootstrap/v2/Reporting/Sections/BenefitsCheckSectionTrait.php
  api/tests/Behat/features-v2/reporting/sections/benefits-check/benefits-check.feature
Due: none

Add new section to ReportTests
  api/tests/Unit/Entity/Report/ReportTest.php
Due: none

Update API entities with relevant props and annotations
  api/src/Entity/Report/ClientBenefitsCheck.php
  api/src/Entity/Report/IncomeReceivedOnClientsBehalf.php
  api/src/Entity/Report/Report.php
  api/src/Entity/Report/Traits/StatusTrait.php
Due: api

Add benefits check to report status
  api/src/Service/ReportStatusService.php
  api/src/v2/Fixture/ReportSection.php
Due: api

Add templates for benefits check
  client/templates/Org/ClientProfile/_reportDetail-PA.html.twig
  client/templates/Org/ClientProfile/_reportDetail-Prof.html.twig
  client/templates/Org/ClientProfile/overview.html.twig
  client/templates/Report/ClientBenefitsCheck/start.html.twig
  client/templates/Report/ClientBenefitsCheck/summary.html.twig
  client/templates/Report/Report/overview.html.twig
Due: none

Add translations for benefits checks
  client/translations/report-client-benefits-check.en.yml
Due: none

Add translations for benefits checks
  client/translations/report-overview.en.yml
Due: none

Add controllers and entities on client side for benefits checks
  client/src/Controller/Report/ClientBenefitsCheckController.php
  client/src/Entity/Report/ClientBenefitsCheck.php
  client/src/Entity/Report/Report.php
  client/src/Entity/Report/Status.php
Due: client

Update report section readme
  docs/ADDING_REPORT_SECTIONS.md
Due: none

[DDPB-4060] amended feedback
  api/tests/Behat/bootstrap/v2/Common/IShouldBeOnFrontendTrait.php
  api/tests/Behat/features-v2/reporting/sections/actions/actions.ndr.feature
  api/tests/Behat/features-v2/reporting/sections/additional-information/additional-information.ndr.feature
  api/tests/Behat/features-v2/reporting/sections/assets/assets.ndr.feature
  api/tests/Behat/features-v2/reporting/sections/debts/debts.ndr.feature
  api/tests/Behat/features-v2/reporting/sections/deputy-expenses/deputy-expenses.ndr.feature
  api/tests/Behat/features-v2/reporting/sections/income-benefits/income-benefits.ndr.feature
  client/templates/Ndr/Action/step.html.twig
  client/templates/Ndr/DeputyExpense/_list.html.twig
Due: none

[DDPB-4060] fixed formatting bug on the NDR report
  client/src/Twig/FormFieldsExtension.php
Due: client

[DDPB-4060] state income benefits
  api/tests/Behat/behat.yml
  api/tests/Behat/bootstrap/v2/Common/IShouldBeOnFrontendTrait.php
  api/tests/Behat/bootstrap/v2/Common/IVisitFrontendTrait.php
  api/tests/Behat/bootstrap/v2/Common/PageUrlsTrait.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/IncomeBenefitsSectionTrait.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/ReportingSectionsFeatureContext.php
  api/tests/Behat/features-v2/reporting/sections/income-benefits/income-benefits.ndr.feature
Due: none
