Repository ministryofjustice/opg-digideps: changes, and which Codecov flags are due for each by the changed paths.
All: api, client

Added CasRec entity to client side of app, fixed wrong role type assignments
  api/src/v2/Registration/Uploader/OrgDeputyshipUploader.php
  client/src/Entity/CasRec.php
Due: api, client

[DDPB-3884] Remove password hashes from api responses (#722)
  Makefile
  api/src/Controller/AuthController.php
  api/src/Entity/User.php
  api/tests/Unit/Controller/AuthControllerTest.php
  client/src/Controller/SettingsController.php
  client/tests/phpunit/Service/Client/Internal/UserApiTest.php
Due: api, client

Updated ssl_policy for front and admin
  environment/admin_elb.tf
  environment/front_elb.tf
Due: none

DDPB-3851: Allow discharge of org deputies without associated named deputies (#723)
  .pre-commit-config.yaml
  api/src/Entity/Client.php
  api/tests/Behat/bootstrap/v2/ClientManagement/ClientManagementTrait.php
  api/tests/Behat/features-v2/client-management/admin/discharge.feature
  api/tests/Behat/features-v2/client-management/admin/discharge.lay.feature
  api/tests/Behat/features-v2/client-management/admin/discharge.org.feature
  client/templates/Admin/Client/Client/details.html.twig
Due: api

Updating type hinting
  client/src/Controller/Admin/IndexController.php
  client/src/Entity/CasRec.php
  client/src/Event/CSVUploadedEvent.php
  client/src/EventSubscriber/CSVUploadedSubscriber.php
  client/src/Service/OrgService.php
Due: client

Add translations for validation error messages
  client/translations/report-client-benefits-check.en.yml
Due: none

Dependency scanning now centralised
  .github/workflows/report.yml
Due: none

DDPB-4139 - Create events for the different CSV uploads (#728)
  api/src/v2/Registration/Controller/LayDeputyshipUploadController.php
  api/src/v2/Registration/Uploader/LayDeputyshipUploader.php
  api/src/v2/Registration/Uploader/OrgDeputyshipUploader.php
  api/tests/Unit/v2/Registration/Uploader/LayDeputyshipUploaderTest.php
  client/src/Controller/Admin/IndexController.php
  client/src/Entity/CasRec.php
  client/src/Event/CSVUploadedEvent.php
  client/src/EventSubscriber/CSVUploadedSubscriber.php
  client/src/Service/Audit/AuditEvents.php
  client/src/Service/OrgService.php
Due: api, client

Add remaining validations
  api/src/Entity/Report/ClientBenefitsCheck.php
  client/src/Controller/Report/ClientBenefitsCheckController.php
  client/src/Entity/Ndr/ClientBenefitsCheck.php
  client/src/Form/Report/ClientBenefitsCheckType.php
  client/src/Validator/Constraints/ClientBenefitsCheck/ClientBenefitsCheck.php
  client/src/Validator/Constraints/ClientBenefitsCheck/ClientBenefitsCheckValidator.php
  client/src/Validator/Constraints/ClientBenefitsCheck/IncomeReceivedOnClientsBehalf.php
  client/src/Validator/Constraints/ClientBenefitsCheck/IncomeReceivedOnClientsBehalfValidator.php
  client/translations/report-client-benefits-check.en.yml
Due: api, client

[DDPB-4034] Update from node-sass to sass
  client/package-lock.json
  client/package.json
  package-lock.json
Due: none

[DDPB-4034] Update from node-sass to sass
  client/package-lock.json
  client/package.json
Due: none

Cover custom validator in unit tests
  client/tests/phpunit/Validator/Constraints/ClientBenefitsCheck/ClientBenefitsCheckValidatorTest.php
Due: none

Cover Ndr validation in unit tests
  client/tests/phpunit/Validator/Constraints/ClientBenefitsCheck/NdrClientBenefitsCheckValidatorTest.php
  client/tests/phpunit/Validator/Constraints/ClientBenefitsCheck/ReportClientBenefitsCheckValidatorTest.php
Due: none

Test fixes
  api/tests/Behat/bootstrap/v2/Reporting/Sections/ClientBenefitsCheckSectionTrait.php
  api/tests/Behat/features-v2/client-management/admin/discharge.org.feature
  api/tests/Behat/features-v2/reporting/sections/client-benefits-check/client-benefits-check.org.feature
  client/tests/phpunit/Validator/Constraints/ClientBenefitsCheck/NdrClientBenefitsCheckValidatorTest.php
  client/translations/report-client-benefits-check.en.yml
Due: none

Stop injecting translator and rely on existing translator in validator
  client/src/Entity/Report/ClientBenefitsCheck.php
  client/src/Validator/Constraints/ClientBenefitsCheck/ClientBenefitsCheckValidator.php
  client/tests/phpunit/Entity/Ndr/ClientBenefitsCheckTest.php
  client/tests/phpunit/Validator/Constraints/ClientBenefitsCheck/NdrClientBenefitsCheckValidatorTest.php
Due: client

Test fixes
  client/src/Validator/Constraints/ClientBenefitsCheck/ClientBenefitsCheckValidator.php
  client/src/Validator/Constraints/ClientBenefitsCheck/IncomeReceivedOnClientsBehalfValidator.php
  client/tests/phpunit/Entity/Ndr/ClientBenefitsCheckTest.php
  client/tests/phpunit/Entity/Report/ClientBenefitsCheckTest.php
  client/tests/phpunit/Validator/Constraints/ClientBenefitsCheck/NdrClientBenefitsCheckValidatorTest.php
  client/tests/phpunit/Validator/Constraints/ClientBenefitsCheck/ReportClientBenefitsCheckValidatorTest.php
Due: client

[DDPB-4034] Update from node-sass to sass (#735)
  client/package-lock.json
  client/package.json
Due: none

Drop comment
  client/src/Validator/Constraints/ClientBenefitsCheck/ClientBenefitsCheckValidator.php
Due: client

[DDPB-4034] updated jest
  client/package-lock.json
  client/package.json
Due: none

DDPB-4173: Fix report status bug (#730)
  api/src/Controller/Report/DocumentController.php
  api/src/Controller/Report/ReportController.php
  api/tests/Behat/features-v2/reporting/sections/client-benefits-check/client-benefits-check.org.feature
  api/tests/Unit/ControllerReport/ReportControllerTest.php
  client/frontend.env
  client/src/Controller/Report/DocumentController.php
  client/src/Service/Client/Internal/ReportApi.php
  client/src/Service/Client/RestClient.php
Due: api, client

[DDPB-4034] updated jest (#738)
  client/package-lock.json
  client/package.json
Due: none

DDPB-4167: Add audit logging for failed registration (#724)
  Makefile
  api/src/Controller/SelfRegisterController.php
  api/src/Service/CasrecVerificationService.php
  api/src/Service/UserRegistrationService.php
  api/tests/Unit/Controller/SelfRegisterControllerTest.php
  api/tests/Unit/Entity/Repository/ReportRepositoryTest.php
  api/tests/Unit/Service/CasrecVerificationServiceTest.php
  api/tests/Unit/Service/UserRegistrationServiceTest.php
  client/src/Controller/UserController.php
  client/src/Service/Audit/AuditEvents.php
Due: api, client

Soften invalid date error message
  api/tests/Behat/bootstrap/v2/Reporting/Sections/ClientBenefitsCheckSectionTrait.php
  client/translations/report-client-benefits-check.en.yml
Due: none

Update PHP to 8.0.12 and bump packages to maintain compatability
  api/Dockerfile
  api/composer.json
  api/composer.lock
Due: none

Migrate phpunit config to v9
  api/tests/Unit/phpunit.xml
Due: none

Fix redis test
  api/tests/Unit/Controller/AuthControllerTest.php
Due: none

Update deprecated DBAL functions
  api/src/Repository/DocumentRepository.php
  api/tests/Unit/Controller/DocumentControllerTest.php
Due: api

Fix mismatched test name
  api/tests/Unit/Controller-Ndr/NdrControllerTest.php
Due: none

Fix improper use of implode()
  api/tests/Unit/Controller/SettingControllerTest.php
Due: none

Use execute statement rather than query to get count of updated records
  api/src/Repository/DocumentRepository.php
  api/src/Repository/UserRepository.php
  api/tests/Unit/Controller/DocumentControllerTest.php
Due: api

Use special container and get array from Collection
  api/tests/Unit/Security/ClientVoterTest.php
  api/tests/Unit/v2/Controller/OrganisationControllerTest.php
Due: none

Add null coalesce operators
  api/tests/Behat/bootstrap/v2/Common/FormFillingTrait.php
  api/tests/Behat/bootstrap/v2/Common/UserDetails.php
Due: none

Drop debug tag
  api/tests/Behat/features-v2/client-management/admin/discharge.org.feature
Due: none

Add null checks to total updates
  api/tests/Behat/bootstrap/v2/Common/FormFillingTrait.php
Due: none

Adapt some null checks and fix section assertions
  api/tests/Behat/bootstrap/v2/Common/BaseFeatureContext.php
  api/tests/Behat/bootstrap/v2/Common/ExpectedResultsTrait.php
  api/tests/Behat/bootstrap/v2/Common/FormFillingTrait.php
  api/tests/Behat/bootstrap/v2/Registration/IngestTrait.php
  api/tests/Behat/bootstrap/v2/ReportManagement/ReportManagementTrait.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/AssetsSectionTrait.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/ClientBenefitsCheckSectionTrait.php
  api/tests/Behat/features-v2/reporting/sections/money-out/money-out-short.feature
Due: none

More test fixes
  api/tests/Behat/bootstrap/v2/Common/FormFillingTrait.php
  api/tests/Behat/bootstrap/v2/ReportManagement/ReportManagementTrait.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/AssetsSectionTrait.php
  api/tests/Behat/features-v2/report-management/report-management.feature
  api/tests/Behat/features-v2/reporting/sections/money-out/money-out-short.feature
  api/tests/Behat/run-tests-parallel.sh
Due: none

Bump api packages
  api/composer.json
  api/composer.lock
Due: none

Final test fixes
  api/tests/Behat/bootstrap/v2/Reporting/Sections/ClientBenefitsCheckSectionTrait.php
  api/tests/Behat/features-v2/report-management/report-management.feature
Due: none

Fix bash script
  api/tests/Behat/run-tests-parallel.sh
Due: none

Use forked MinkExtension
  api/composer.json
  api/composer.lock
Due: none

Path conditions:
  api: any of: api/src, but not: api/src/DataFixtures/**/*, api/src/FixtureFactory/**/*, api/src/TestHelpers/**/*, api/src/v2/Fixture/**/*, client/src/Exception/**/*, client/src/Resources/**/*
  client: any of: client/src, but not: api/src/DataFixtures/**/*, api/src/FixtureFactory/**/*, api/src/TestHelpers/**/*, api/src/v2/Fixture/**/*, client/src/Exception/**/*, client/src/Resources/**/*
