Repository ministryofjustice/opg-digideps: changes, and which Codecov flags are due for each by the changed paths.
All: api, client

removing commented out code
  api/tests/Behat/bootstrap/v2/Reporting/Sections/DecisionSectionTrait.php
Due: none

new decision trait file added for test suite
  api/tests/Behat/bootstrap/v2/Reporting/Sections/DecisionSectionTrait.php
Due: none

fixed bug on ndr overview page which prevented sections from rendering
  api/src/Service/ReportStatusService.php
  client/src/Service/NdrStatusService.php
  client/templates/Ndr/Ndr/_subsection.html.twig
Due: api, client

if statement added based on decision count to print correct answer
  client/src/Controller/Report/DecisionController.php
  client/templates/Report/Decision/_list.html.twig
Due: client

A user completes the decisions section test passes
  api/tests/Behat/behat.yml
  api/tests/Behat/bootstrap/v2/Common/IShouldBeOnFrontendTrait.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/DecisionSectionTrait.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/ReportingSectionsFeatureContext.php
  api/tests/Behat/features-v2/reporting/sections/decisions/decisions.lay.feature
Due: none

significant decision value persisted to db and reflected on summary page
  api/src/Controller/Report/ReportController.php
  api/src/Entity/Report/Report.php
  client/src/Entity/Report/Report.php
  client/src/Form/Report/DecisionExistType.php
  client/templates/Report/Decision/_list.html.twig
  client/templates/Report/Decision/exist.html.twig
  client/translations/report-decisions.en.yml
Due: api, client

property is set to null to prevent it from rendering on the summary page if yes
  api/src/Entity/Report/Report.php
  api/src/Entity/Report/Traits/DecisionTrait.php
  api/src/Service/ReportStatusService.php
Due: api

pdf reflects deputy answers
  client/templates/Report/Formatted/_decisions.html.twig
Due: none

new field added to avoid handling form object
  api/src/Migrations/Version268.php
Due: api

corrected format of last assessment date
  api/tests/Behat/bootstrap/v2/Reporting/Sections/DecisionSectionTrait.php
Due: none

A user edits their response to the significant decisions question test passes
  api/tests/Behat/bootstrap/v2/Common/IShouldBeOnFrontendTrait.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/DecisionSectionTrait.php
  api/tests/Behat/features-v2/reporting/sections/decisions/decisions.lay.feature
  client/templates/Report/Decision/_list.html.twig
Due: none

new test suite added
  api/tests/Behat/features-v2/reporting/sections/decisions/decisions.lay.feature
Due: none

DDPB-4673 move to BucketOwnerEnforced from ACLs
  environment/s3_access_logs.tf
  environment/s3_bucket/main.tf
  shared/s3_replication.tf
Due: none

DDPB-4673 move to BucketOwnerEnforced from ACLs
  environment/s3_bucket/main.tf
Due: none

DDPB-4673 move to BucketOwnerEnforced from ACLs (#1234)
  environment/s3_access_logs.tf
  environment/s3_bucket/main.tf
  shared/s3_replication.tf
Due: none

DDPB-4673b amend access log bucket permissions
  environment/s3_access_logs.tf
  environment/s3_bucket/variables.tf
Due: none

fixed error in twig file that hardcoded client name
  client/templates/Report/Formatted/_decisions.html.twig
Due: none

DDPB-4461 Adds error & handling for failed doc uploads
  client/src/Controller/Report/DocumentController.php
  client/src/Service/File/Storage/FileUploadFailedException.php
  client/src/Service/File/Storage/S3Storage.php
Due: client

DDPB-4461 Adds tests for new error handling
  client/tests/phpunit/Service/File/S3FileUploaderTest.php
  client/tests/phpunit/Service/File/Storage/S3StorageTest.php
Due: none

DDPB-4673b amend access log bucket permissions (#1235)
  environment/s3_access_logs.tf
  environment/s3_bucket/variables.tf
Due: none

test commit
  client/templates/Report/Formatted/_decisions.html.twig
Due: none

DDPB-4628a: Fixed error in twig file that hardcoded client name (#1237)
  client/templates/Report/Formatted/_decisions.html.twig
Due: none

DDPB-4668 - upgrade Redis to 5.06 (#1219)
  environment/api_elasticache.tf
Due: none

passing test on navigation for lay deputies
  api/tests/Behat/features-v2/reporting/section-navigation/section-navigation.lay.feature
Due: none

changed transfers to payments in money out section
  client/translations/report-money-transaction.en.yml
Due: none

failing behat test fixed
  api/tests/Behat/features-v2/reporting/section-navigation/section-navigation.lay.combined.feature
Due: none

dropped tag
  api/tests/Behat/features-v2/reporting/section-navigation/section-navigation.lay.combined.feature
Due: none

DDPB-4635 : Correct navigation from summary pages in the deputy report (#1228)
  api/tests/Behat/bootstrap/v2/Common/IVisitFrontendTrait.php
  api/tests/Behat/bootstrap/v2/Common/PageUrlsTrait.php
  api/tests/Behat/bootstrap/v2/ReportSectionNavigation/ReportSectionNavigationTrait.php
  api/tests/Behat/features-v2/reporting/section-navigation/section-navigation.lay.combined.feature
  api/tests/Behat/features-v2/reporting/section-navigation/section-navigation.lay.feature
  api/tests/Behat/features-v2/reporting/section-navigation/section-navigation.ndr.feature
  client/src/Service/ReportSectionsLinkService.php
  client/templates/Macros/macros.html.twig
  client/templates/Report/ClientBenefitsCheck/summary.html.twig
Due: client

option added to money out
  api/src/Entity/Report/MoneyTransaction.php
  client/src/Entity/Report/MoneyTransaction.php
  client/translations/report-money-transaction.en.yml
Due: api, client

enforce unit tests pass before carrying on path to live
  .github/workflows/workflow-path-to-live.yml
Due: none

enforce unit tests pass before carrying on path to live (#1241)
  .github/workflows/workflow-path-to-live.yml
Due: none

Fixed controller unit tests
  api/tests/Unit/Controller/ToolsControllerTest.php
Due: none

Changed 'transfers' to 'payments' in money out section to avoid confusion (#1239)
  client/translations/report-money-transaction.en.yml
Due: none

Adds my aws account to permitted cloud9 users
  shared/variables.tf
Due: none

Updating ACL behat tests for new tools page, adding in new test suite for tools
  api/tests/Behat/behat.yml
  api/tests/Behat/bootstrap/v2/ACL/ACLTrait.php
  api/tests/Behat/bootstrap/v2/Common/FixturesTrait.php
  api/tests/Behat/bootstrap/v2/Common/IShouldBeOnAdminTrait.php
  api/tests/Behat/bootstrap/v2/Common/IVisitAdminTrait.php
  api/tests/Behat/bootstrap/v2/Common/PageUrlsTrait.php
  api/tests/Behat/bootstrap/v2/Common/ReportTrait.php
  api/tests/Behat/bootstrap/v2/Helpers/FixtureHelper.php
  api/tests/Behat/bootstrap/v2/Tools/ToolsFeatureContext.php
  api/tests/Behat/bootstrap/v2/Tools/ToolsTrait.php
  api/tests/Behat/features-v2/acl/admin/super-admin-only.feature
  api/tests/Behat/features-v2/tools/report-reassignment.feature
  api/tests/Behat/features-v2/tools/super-admin-tool-visibility.feature
Due: none

Update frontend container dependencies.
  client/Dockerfile
Due: none

Update frontend container dependencies. (#1242)
  client/Dockerfile
Due: none

Telephone and broadband combination option added to money out (#1240)
  api/src/Entity/Report/MoneyTransaction.php
  client/src/Entity/Report/MoneyTransaction.php
  client/translations/report-money-transaction.en.yml
Due: api, client

Merging in main
  .pre-commit-config.yaml
Due: none

Path conditions:
  api: any of: api/src, but not: api/src/DataFixtures/**/*, api/src/FixtureFactory/**/*, api/src/TestHelpers/**/*, api/src/v2/Fixture/**/*, client/src/Exception/**/*, client/src/Resources/**/*
  client: any of: client/src, but not: api/src/DataFixtures/**/*, api/src/FixtureFactory/**/*, api/src/TestHelpers/**/*, api/src/v2/Fixture/**/*, client/src/Exception/**/*, client/src/Resources/**/*
