Repository ministryofjustice/opg-digideps: changes, and which Codecov flags are due for each by the changed paths.
All: api, client

DDPB-4351: Fix CVE-2022-28948 - gopkg.in/yaml.v3 (#846)
  shared/go_redeployer/go.mod
  shared/go_redeployer/go.sum
Due: none

Force update of gopkg.in/yaml.v3
  shared/go_redeployer/go.mod
Due: none

Stop verifying SSL in api client
  client/config/packages/framework.yml
Due: none

Stop verifying SSL in api client (#880)
  client/config/packages/framework.yml
Due: none

Trim names when matching against PreREgistration data
  api/src/Service/PreRegistrationVerificationService.php
Due: api

Force update of gopkg.in/yaml.v3 (#878)
  shared/go_redeployer/go.mod
Due: none

DDPB-4440: Trim names when matching against PreRegistration data (#881)
  api/src/Service/PreRegistrationVerificationService.php
Due: api

DDPB-4417b tfsec compliance (#870)
  .circleci/config.yml
  environment/admin_elb.tf
  environment/admin_sg.tf
  environment/api_elasticache.tf
  environment/api_rds.tf
  environment/api_sg.tf
  environment/backup.tf
  environment/check_csv_uploaded.tf
  environment/checklist_sync.tf
  environment/disaster_recovery.tf
  environment/disaster_recovery/.terraform.lock.hcl
  environment/disaster_recovery/ecs.tf
  environment/disaster_recovery/ecs_sg.tf
  environment/disaster_recovery/kms.tf
  environment/disaster_recovery/variables.tf
  environment/document_sync.tf
  environment/ecs.tf
  environment/front.tf
  environment/front_elb.tf
  environment/front_sg.tf
  environment/frontend_shared_elasticache.tf
  environment/htmltopdf_sg.tf
  environment/integration_test.tf
  environment/integration_test_v2.tf
  environment/logging.tf
  environment/mock_sirius_integration_sg.tf
  environment/monitoring_lambda.tf
  environment/monitoring_lambda_sg.tf
  environment/reset_database.tf
  environment/restore.tf
  environment/restore_from_production.tf
  environment/s3.tf
  environment/scan_sg.tf
  environment/security_group/.terraform.lock.hcl
  environment/security_group/main.tf
  environment/security_group/variables.tf
  environment/smoke_test.tf
Due: none

DDPB-4417 integration pipeline failure
  environment/front.tf
Due: none

DDPB-4417 integration pipeline failure (#882)
  environment/front.tf
Due: none

Only set active and registrationDate when a user fully completes the registration flow
  api/src/Controller/UserController.php
  api/src/Entity/User.php
  api/src/Service/PreRegistrationVerificationService.php
  api/src/Service/UserRegistrationService.php
  api/src/Service/UserService.php
  api/tests/Unit/Service/UserRegistrationServiceTest.php
  client/src/Controller/Report/ReportController.php
  client/src/Controller/UserController.php
  client/src/Entity/User.php
  client/src/Event/RegistrationSucceededEvent.php
  client/src/EventSubscriber/RegistrationSucceededSubscriber.php
  client/src/Service/Audit/AuditEvents.php
  client/src/TestHelpers/UserHelpers.php
  client/tests/phpunit/Service/Audit/AuditEventsTest.php
  shared/go_redeployer/go.sum
Due: api, client

DDPB-4411 : Option to show password (#873)
  api/src/FixtureFactory/PreRegistrationFactory.php
  client/assets/javascripts/main.js
  client/package-lock.json
  client/src/Twig/FormFieldsExtension.php
  client/templates/Components/Form/_input.html.twig
  client/templates/Index/login.html.twig
  client/templates/User/activate.html.twig
  client/templates/User/passwordReset.html.twig
  package-lock.json
Due: client

DDPB-4444 tfsec shared folder changes
  environment/check_csv_uploaded.tf
  environment/checklist_sync.tf
  environment/cleanup.tf
  environment/disaster_recovery.tf
  environment/disaster_recovery/outputs.tf
  environment/document_sync.tf
  environment/events_iam.tf
  environment/run_tasks.tf
  shared/events.tf
  shared/sns.tf
Due: none

Cover all user creation routes in activation and registration date tests
  api/src/Entity/User.php
  api/tests/Behat/bootstrap/v2/Common/AuthTrait.php
  api/tests/Behat/bootstrap/v2/Common/BaseFeatureContext.php
  api/tests/Behat/bootstrap/v2/Common/FixturesTrait.php
  api/tests/Behat/bootstrap/v2/Common/IVisitAdminTrait.php
  api/tests/Behat/bootstrap/v2/Common/IVisitFrontendTrait.php
  api/tests/Behat/bootstrap/v2/Common/PageUrlsTrait.php
  api/tests/Behat/bootstrap/v2/Helpers/FixtureHelper.php
  api/tests/Behat/bootstrap/v2/Registration/ActivateTrait.php
  api/tests/Behat/bootstrap/v2/Registration/RegistrationFeatureContext.php
  api/tests/Behat/features-v2/registration/activate.lay.feature
  api/tests/Behat/features-v2/registration/activate.org.feature
  client/src/Service/Audit/AuditEvents.php
Due: api, client

Drop comments and reinstate go.sum,
  api/tests/Behat/bootstrap/v2/Registration/ActivateTrait.php
  shared/go_redeployer/go.sum
Due: none

API unit test fix
  api/tests/Unit/v2/Registration/SelfRegistration/Factory/PreRegistrationFactoryTest.php
Due: none

[DDPB-4353] Add created at and updated at to entities to provide context (#868)
  Makefile
  api/src/Controller/Ndr/AccountController.php
  api/src/Controller/Report/AccountController.php
  api/src/Controller/Report/ContactController.php
  api/src/Entity/Client.php
  api/src/Entity/NamedDeputy.php
  api/src/Entity/Ndr/Asset.php
  api/src/Entity/Ndr/BankAccount.php
  api/src/Entity/PreRegistration.php
  api/src/Entity/Report/Asset.php
  api/src/Entity/Report/BankAccount.php
  api/src/Entity/Report/Contact.php
  api/src/Entity/Report/Decision.php
  api/src/Entity/Report/Report.php
  api/src/Entity/Traits/CreateUpdateTimestamps.php
  api/src/Entity/User.php
  api/src/Migrations/Version264.php
  api/src/Service/ReportService.php
  api/src/v2/Registration/SelfRegistration/Factory/PreRegistrationFactory.php
  api/tests/Unit/ControllerReport/AccountControllerTest.php
  api/tests/Unit/Entity/Report/BankAccountTest.php
  api/tests/Unit/v2/Registration/SelfRegistration/Factory/PreRegistrationFactoryTest.php
  client/src/Entity/PreRegistration.php
  client/src/Entity/Report/BankAccount.php
Due: api, client

more minor fixes
  shared/endpoint_ecr.tf
  shared/endpoint_logs.tf
  shared/endpoint_secrets.tf
  shared/endpoint_ssm.tf
  shared/kms.tf
  shared/lambda.tf
  shared/s3_replication.tf
  shared/slack_notify.tf
  shared/sync.tf
  shared/vpc_flow_logs.tf
  shared/workspace-cleanup.tf
Due: none

Test fix
  client/tests/phpunit/Service/Audit/AuditEventsTest.php
Due: none

Fix client undefined props
  client/src/Entity/BankAccountInterface.php
  client/src/Entity/Ndr/AssetProperty.php
  client/src/Entity/Ndr/BankAccount.php
  client/src/Entity/Report/AssetProperty.php
  client/src/Entity/Report/Checklist.php
  client/src/Entity/Report/Fee.php
  client/src/Service/HtmlToPdfGenerator.php
Due: client

Allow passing level as arg to phpstan make commands
  Makefile
Due: none

Fix api undefined props
  api/src/DataFixtures/UserFixtures.php
  api/src/Entity/Ndr/BankAccount.php
  api/src/Entity/Report/BankAccount.php
  api/src/Service/BruteForce/AttemptsIncrementalWaitingChecker.php
  api/src/v2/Assembler/ClientAssembler.php
  api/src/v2/Registration/DTO/OrgDeputyshipDto.php
Due: api

Add help to PHPStan commands
  Makefile
Due: none

DDPB-4380: PHPStan Level 1 errors - Undefined properties (#886)
  Makefile
  api/src/DataFixtures/UserFixtures.php
  api/src/Entity/Ndr/BankAccount.php
  api/src/Entity/Report/BankAccount.php
  api/src/Service/BruteForce/AttemptsIncrementalWaitingChecker.php
  api/src/v2/Assembler/ClientAssembler.php
  api/src/v2/Registration/DTO/OrgDeputyshipDto.php
  client/src/Entity/BankAccountInterface.php
  client/src/Entity/Ndr/AssetProperty.php
  client/src/Entity/Ndr/BankAccount.php
  client/src/Entity/Report/AssetProperty.php
  client/src/Entity/Report/Checklist.php
  client/src/Entity/Report/Fee.php
  client/src/Service/HtmlToPdfGenerator.php
Due: api, client

Fix undefined methods and constants
  api/src/Entity/Ndr/AssetProperty.php
  api/src/Entity/Report/Contact.php
  client/src/Service/Client/Internal/UserApi.php
Due: api, client

Rename migration
  api/src/Migrations/Version265.php
Due: api

Add ADR for JWT
  docs/architecture/decisions/0006-jwts.md
Due: none

fix the lists
  environment/.envrc
  environment/events_iam.tf
Due: none

wip
  environment/events_iam.tf
Due: none

DDPB-4444b
  environment/.envrc
Due: none

Try medium_
  .circleci/config.yml
Due: none

Try large
  .circleci/config.yml
Due: none

Revert to medium and try docker layer caching
  .circleci/config.yml
Due: none

access to undefined static property error fixed
  client/src/Entity/Ndr/Debt.php
  client/src/Entity/Report/Debt.php
Due: client

unused parameter removed
  api/src/v2/Controller/OrganisationController.php
Due: api

DDPB-4444b
  environment/.envrc
  environment/aurora/.terraform.lock.hcl
  environment/aurora/main.tf
  environment/aurora/variables.tf
  environment/events_iam.tf
  environment/terraform.tfvars.json
Due: none

DDPB-4381, DDPB-4390: Fix undefined methods and constants (#887)
  api/src/Entity/Ndr/AssetProperty.php
  api/src/Entity/Report/Contact.php
  client/src/Service/Client/Internal/UserApi.php
Due: api, client

abandon sg changes for now
  shared/endpoint_ecr.tf
  shared/endpoint_logs.tf
  shared/endpoint_secrets.tf
  shared/endpoint_ssm.tf
Due: none

fix terrafrom apply step in pipeline
  environment/aurora/main.tf
  environment/terraform.tfvars.json
Due: none

Path conditions:
  api: any of: api/src, but not: api/src/DataFixtures/**/*, api/src/FixtureFactory/**/*, api/src/TestHelpers/**/*, api/src/v2/Fixture/**/*, client/src/Exception/**/*, client/src/Resources/**/*
  client: any of: client/src, but not: api/src/DataFixtures/**/*, api/src/FixtureFactory/**/*, api/src/TestHelpers/**/*, api/src/v2/Fixture/**/*, client/src/Exception/**/*, client/src/Resources/**/*
