Repository ministryofjustice/opg-digideps: changes, and which Codecov flags are due for each by the changed paths.
All: api, client

undefined variables corrected in api
  api/src/Factory/ClientBenefitsCheckFactory.php
  api/src/FixtureFactory/ReportFactory.php
  api/src/Repository/DocumentRepository.php
  api/src/Service/ReportService.php
  api/src/v2/Transformer/OrganisationTransformer.php
Due: api

variables defined
  client/src/Controller/Admin/Client/SearchController.php
  client/src/Controller/Admin/OrganisationController.php
  client/src/Entity/Report/Traits/ReportAssetTrait.php
  client/src/Service/Csv/ClientBenefitMetricsCsvGenerator.php
  client/src/Service/DocumentService.php
Due: client

Fix serverless versioning
  environment/aurora/main.tf
  environment/terraform.tfvars.json
Due: none

Fix serverless versioning
  environment/aurora/.terraform.lock.hcl
  shared/.terraform.lock.hcl
Due: none

Ensure NDR statuses are updated
  client/src/Controller/ClientController.php
Due: client

Cover NDR route in tests
  api/tests/Behat/bootstrap/v2/Registration/ActivateTrait.php
  api/tests/Behat/features-v2/registration/activate.lay.feature
  api/tests/Behat/features-v2/registration/activate.ndr.feature
  api/tests/Behat/features-v2/registration/activate.org.feature
Due: none

Reduce test overlap in user management
  api/tests/Behat/features-v2/admin-management/edit-others.feature
  api/tests/Behat/features-v2/user-management/admin/add-user.feature
  api/tests/Behat/features-v2/user-management/admin/create-user.feature
  api/tests/Behat/features-v2/user-management/admin/delete-others.feature
  api/tests/Behat/features-v2/user-management/admin/edit-myself.feature
  api/tests/Behat/features-v2/user-management/admin/edit-others.feature
Due: none

Try to split by testRunId
  api/tests/Behat/bootstrap/v2/Registration/ActivateTrait.php
Due: none

Move more CSV and race condition tests to sequential
  api/tests/Behat/features-v2/registration/activate.ndr.feature
  api/tests/Behat/features-v2/registration/activate.org.feature
  api/tests/Behat/features-v2/registration/ingest.org.sirius.feature
Due: none

Move last activate behat to sequential
  api/tests/Behat/features-v2/registration/activate.lay.feature
Due: none

function updated to define variable and tests refactored
  client/src/Service/File/Scanner/ClamFileScanner.php
  client/tests/phpunit/Service/File/Scanner/ClamFileScannerTest.php
Due: client

error-summary id added to div to fix failing feature test
  client/templates/Admin/Index/uploadOrgUsers.html.twig
Due: none

engine version set to 10 for default
  environment/terraform.tfvars.json
Due: none

Replicating changes from DDPB-4385
  api/src/v2/Controller/OrganisationController.php
  client/src/Entity/Ndr/Debt.php
  client/src/Entity/Report/Debt.php
Due: api, client

corrected exception in catch block
  client/src/Service/File/Scanner/ClamFileScanner.php
  client/tests/phpunit/Service/File/Scanner/ClamFileScannerTest.php
Due: client

addresses $response variable on line 478 might not be defined error
  client/src/Controller/Admin/FixtureController.php
Due: client

addresses $s3result might not be defined error (line 75)
  client/src/Service/DocumentService.php
Due: client

Add ADR for JWT (#888)
  docs/architecture/decisions/0006-jwts.md
Due: none

Re-generate composer.locks
  api/composer.lock
  client/composer.lock
Due: none

Fix merge conflict errors
  api/src/Controller/AuthController.php
  api/src/Service/Auth/AuthService.php
  api/src/Service/Auth/HeaderTokenAuthenticator.php
  client/config/packages/framework.yml
  client/src/Service/Client/RestClient.php
Due: api, client

Dual xdebug
  Makefile
  api/Dockerfile
  client/Dockerfile
  docker-compose.yml
  docs/DEBUGGING.md
Due: none

try inputs
  client/src/Controller/Synchronisation/SynchronisationController.php
  environment/.envrc
  environment/front_service.tf
  environment/front_sg.tf
  environment/synchronisation_lambda.tf
  lambda_functions/functions/synchronisation/main.go
Due: client

try 2
  environment/synchronisation_lambda.tf
Due: none

Replicating changes from DDPB-4385 (#894)
  api/src/v2/Controller/OrganisationController.php
  client/src/Entity/Ndr/Debt.php
  client/src/Entity/Report/Debt.php
Due: api, client

More reg flow fixes
  Makefile
  api/config/packages/security.yml
  api/src/Controller/AuthController.php
  api/src/Controller/UserController.php
  api/src/Entity/User.php
  api/src/Security/RedisUserProvider.php
  api/src/Security/RegistrationTokenAuthenticator.php
  client/src/Controller/UserController.php
Due: api, client

moved $filters array to fix failing test
  client/src/Controller/Admin/Client/SearchController.php
Due: client

Ddpb 4444b preliminary tfsec fixes for shared
  environment/aurora/.terraform.lock.hcl
  environment/aurora/variables.tf
  environment/check_csv_uploaded.tf
  environment/checklist_sync.tf
  environment/cleanup.tf
  environment/disaster_recovery.tf
  environment/disaster_recovery/outputs.tf
  environment/document_sync.tf
  environment/events_iam.tf
  environment/run_tasks.tf
  shared/endpoint_ecr.tf
  shared/endpoint_logs.tf
  shared/endpoint_secrets.tf
  shared/endpoint_ssm.tf
  shared/events.tf
  shared/kms.tf
  shared/lambda.tf
  shared/s3_replication.tf
  shared/slack_notify.tf
  shared/sync.tf
  shared/vpc_flow_logs.tf
  shared/workspace-cleanup.tf
Due: none

Behat passing
  api/src/Security/HeaderTokenAuthenticator.php
  api/src/Security/LoginRequestAuthenticator.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/DeputyCostsSectionTrait.php
  api/tests/Behat/features-v2/registration/self-register.feature
  client/src/Controller/IndexController.php
  client/src/Controller/UserController.php
  client/src/Security/LoginFormAuthenticator.php
Due: api, client

Fix final tests
  api/composer.json
  api/composer.lock
  api/tests/Behat/bootstrap/v2/Helpers/FixtureHelper.php
  api/tests/Behat/features-v2/registration/self-register.feature
  api/tests/Behat/features-v2/reporting/sections/deputy-costs/deputy-costs.org.feature
  client/src/Entity/User.php
  client/src/Security/UserProvider.php
  client/src/Service/Client/Internal/UserApi.php
Due: client

try again
  client/src/Controller/Synchronisation/SynchronisationController.php
  docker-compose.ci.yml
  docker-compose.yml
  environment/.envrc
  environment/backup_sync.tf
  environment/ecr.tf
  environment/synchronisation_lambda.tf
  lambda_functions/functions/synchronisation/main.go
Due: client

Drop unused packages
  client/composer.json
  client/composer.lock
Due: none

Start to fix client unit tests. Work out whats breaking with delete, we dont get to log and so history size is not 1
  client/tests/phpunit/EventListener/ResponseNoCacheListenerTest.php
  client/tests/phpunit/EventSubscriber/ClientUpdatedSubscriberTest.php
  client/tests/phpunit/Service/Client/RestClientTest.php
Due: none

Final client unit test fixes
  client/src/Service/DocumentDownloader.php
  client/tests/phpunit/EventListener/ResponseNoCacheListenerTest.php
  client/tests/phpunit/Service/Client/RestClientTest.php
  client/tests/phpunit/Service/DeputyProviderTest.php
Due: client

drop debug tag
  api/tests/Behat/features-v2/reporting/sections/deputy-costs/deputy-costs.org.feature
Due: none

more changes
  api/config/packages/security.yml
  api/src/Controller/JWTController.php
  client/src/Controller/Synchronisation/SynchronisationController.php
  docker-compose.yml
  docker/localstack-init.sh
  lambda_functions/functions/synchronisation/main.go
Due: api, client

added missing class for not applicable options for L10 questions
  client/templates/Admin/Client/Report/Formatted/checklist_formatted_body.html.twig
Due: none

revert a tfsec change
  shared/sync.tf
Due: none

revert a tfsec change (#898)
  shared/sync.tf
Due: none

Path conditions:
  api: any of: api/src, but not: api/src/DataFixtures/**/*, api/src/FixtureFactory/**/*, api/src/TestHelpers/**/*, api/src/v2/Fixture/**/*, client/src/Exception/**/*, client/src/Resources/**/*
  client: any of: client/src, but not: api/src/DataFixtures/**/*, api/src/FixtureFactory/**/*, api/src/TestHelpers/**/*, api/src/v2/Fixture/**/*, client/src/Exception/**/*, client/src/Resources/**/*
