Repository ministryofjustice/opg-digideps: changes, and which Codecov flags are due for each by the changed paths.
All: api, client

codecov.yml:

coverage:
    status:
      project: off
      patch: off

ignore:
  - "api/src/AppBundle/DataFixtures/**/*"  # ignore folders and all its contents
  - "api/src/AppBundle/FixtureFactory/**/*"
  - "api/src/AppBundle/TestHelpers/**/*"
  - "api/src/AppBundle/v2/Fixture/**/*"
  - "client/src/AppBundle/Exception/**/*"
  - "client/src/AppBundle/Resources/**/*"

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null
flags:
  api:
    paths:
      - api/src/AppBundle
    carryforward: false
  client:
    paths:
      - client/src/AppBundle
    carryforward: false

DDPB-3188 - Fix copy/paste error
  shared/subnet_private.tf
Due: none

DDPB-3228 - Upgrade to a compatable version (#468)
  environment/terraform.tfvars.json
Due: none

DDPB-3188 - Remove Name from Cloud9 Tags
  shared/cloud9.tf
Due: none

DDPB-3228 - Add allow major version upgrade flag :face_with_rolling_eyes:
  environment/api_rds.tf
  wkhtmltopdf/Dockerfile
Due: none

Begin buildout
  api/app/config/config.yml
  api/composer.json
  api/src/AppBundle/Entity/Repository/NamedDeputyRepository.php
  api/src/AppBundle/v2/Registration/Assembler/CasRecToOrgDeputyshipDtoAssembler.php
  api/src/AppBundle/v2/Registration/Controller/OrgDeputyshipController.php
  api/src/AppBundle/v2/Registration/DTO/OrgDeputyshipDto.php
  api/src/AppBundle/v2/Registration/Model/OrgDeputyship.php
  api/src/AppBundle/v2/Registration/Uploader/OrgDeputyshipUploader.php
  api/tests/AppBundle/v2/Registration/Controller/OrgDeputyshipControllerTest.php
  api/tests/AppBundle/v2/Registration/TestHelpers/OrgDeputyshipTestHelper.php
  api/tests/AppBundle/v2/Registration/Uploader/OrgDeputyShipUploaderTest.php
  docker-compose.override.yml
Due: api

Adding ListBucket role policy so we get 404s rather than 403s when a resource isnt in S3
  shared/document_sync.tf
Due: none

Use lowercase
  shared/document_sync.tf
Due: none

Fix convertor
  wkhtmltopdf/Dockerfile
Due: none

Dont update nameddeputy if they exist
  api/src/AppBundle/Entity/Repository/NamedDeputyRepository.php
  api/src/AppBundle/v2/Registration/Uploader/OrgDeputyshipUploader.php
Due: api

Set supporting docs to failed when report pdf fails after 4 attempts
  api/src/AppBundle/Controller/Report/DocumentController.php
  api/tests/AppBundle/Controller/DocumentControllerTest.php
  api/tests/Fixtures.php
Due: api

Dockerfile fix
  wkhtmltopdf/Dockerfile
Due: none

Create orgs on data ingest
  api/src/AppBundle/v2/Registration/Uploader/OrgDeputyshipUploader.php
  api/tests/AppBundle/v2/Registration/TestHelpers/OrgDeputyshipTestHelper.php
  api/tests/AppBundle/v2/Registration/Uploader/OrgDeputyShipUploaderTest.php
Due: api

DDPB-3228 - Add allow major version upgrade flag :face_with_rolling_eyes: (#471)
  environment/api_rds.tf
  wkhtmltopdf/Dockerfile
Due: none

Also fail supporting docs on 4th temp error failure
  api/src/AppBundle/Controller/Report/DocumentController.php
  api/src/AppBundle/Entity/Repository/DocumentRepository.php
  api/tests/AppBundle/Controller/DocumentControllerTest.php
  client/src/AppBundle/Model/Sirius/QueuedDocumentData.php
  client/src/AppBundle/Service/DocumentSyncService.php
  client/tests/phpunit/Service/DocumentSyncServiceTest.php
Due: api, client

DDPB-3591: Drop court order entities and tables (#459)
  api/app/DoctrineMigrations/Version246.php
  api/app/config/services/repositories.yml
  api/src/AppBundle/Entity/Client.php
  api/src/AppBundle/Entity/CourtOrder.php
  api/src/AppBundle/Entity/CourtOrderDeputy.php
  api/src/AppBundle/Entity/CourtOrderDeputyAddress.php
  api/src/AppBundle/Entity/Ndr/Ndr.php
  api/src/AppBundle/Entity/Report/Report.php
  api/src/AppBundle/Service/CourtOrderCreator.php
  api/src/AppBundle/Service/OrgService.php
  api/src/AppBundle/Service/UserService.php
  api/src/AppBundle/v2/Assembler/CourtOrder/AbstractCourtOrderDtoAssembler.php
  api/src/AppBundle/v2/Assembler/CourtOrder/LayToCourtOrderDtoAssembler.php
  api/src/AppBundle/v2/Assembler/CourtOrder/OrgCsvToCourtOrderDtoAssembler.php
  api/src/AppBundle/v2/Assembler/CourtOrderDeputy/LayToCourtOrderDeputyDtoAssembler.php
  api/src/AppBundle/v2/Assembler/CourtOrderDeputy/OrgCsvToCourtOrderDeputyDtoAssembler.php
  api/src/AppBundle/v2/Controller/CourtOrderController.php
  api/src/AppBundle/v2/DTO/CourtOrderDeputyAddressDto.php
  api/src/AppBundle/v2/DTO/CourtOrderDeputyDto.php
  api/src/AppBundle/v2/DTO/CourtOrderDto.php
  api/src/AppBundle/v2/Factory/CourtOrderDeputyFactory.php
  api/src/AppBundle/v2/Factory/CourtOrderFactory.php
  api/tests/AppBundle/Service/CourtOrderCreatorTest.php
  api/tests/AppBundle/Service/OrgServiceTest.php
  api/tests/AppBundle/Service/UserRegistrationServiceTest.php
  client/src/AppBundle/Controller/Report/ReportController.php
Due: api, client

Add ListBucket role policy so we get 404s rather than 403s when a resource isn't in S3 (#472)
  shared/document_sync.tf
Due: none

DDPB-3228 - Update option group and param group
  environment/api_rds.tf
Due: none

DDPB-3228 - Update option group and param group (#473)
  environment/api_rds.tf
Due: none

Handle NamedDeputy, Org and Client logic from original service
  api/src/AppBundle/Entity/Client.php
  api/src/AppBundle/Entity/Repository/NamedDeputyRepository.php
  api/src/AppBundle/Service/OrgService.php
  api/src/AppBundle/v2/Registration/Assembler/CasRecToOrgDeputyshipDtoAssembler.php
  api/src/AppBundle/v2/Registration/DTO/OrgDeputyshipDto.php
  api/src/AppBundle/v2/Registration/Uploader/OrgDeputyshipUploader.php
  api/tests/AppBundle/v2/Registration/Controller/OrgDeputyshipControllerTest.php
  api/tests/AppBundle/v2/Registration/TestHelpers/OrgDeputyshipDTOTestHelper.php
  api/tests/AppBundle/v2/Registration/TestHelpers/OrgDeputyshipTestHelper.php
  api/tests/AppBundle/v2/Registration/Uploader/OrgDeputyShipUploaderTest.php
  api/tests/AppBundle/v2/Registration/Uploader/OrgDeputyshipUploaderTest.php
  client/src/AppBundle/Entity/Client.php
Due: api, client

Ensure training is in line with production for postgres version
  environment/api_rds.tf
Due: none

Add OrgDeputyshipController with create endpoint
  api/src/AppBundle/Controller/OrgController.php
  api/src/AppBundle/v2/Registration/Controller/OrgDeputyshipController.php
  api/tests/AppBundle/v2/Registration/Controller/OrgDeputyshipControllerTest.php
  api/tests/AppBundle/v2/Registration/Uploader/OrgDeputyShipUploaderTest.php
  docker-compose.override.yml
Due: api

Create OrgDeputyshipUploader and OrgDeputyship model
  api/composer.json
  api/composer.lock
  api/src/AppBundle/v2/Registration/Model/OrgDeputyship.php
  api/src/AppBundle/v2/Registration/Uploader/OrgDeputyshipUploader.php
  api/tests/AppBundle/v2/Registration/Controller/OrgDeputyshipControllerTest.php
  api/tests/AppBundle/v2/Registration/Uploader/OrgDeputyShipUploaderTest.php
Due: api

Add report type determination to assembler
  api/src/AppBundle/v2/Registration/Assembler/CasRecToOrgDeputyshipDtoAssembler.php
  api/src/AppBundle/v2/Registration/Converter/ReportTypeConverter.php
  api/src/AppBundle/v2/Registration/DTO/OrgDeputyshipDto.php
  api/tests/AppBundle/v2/Registration/Assembler/CasRecToOrgDeputyshipDtoAssemblerTest.php
  api/tests/AppBundle/v2/Registration/TestHelpers/OrgDeputyshipDTOTestHelper.php
  api/tests/AppBundle/v2/Registration/Uploader/OrgDeputyshipUploaderTest.php
Due: api

DDPB-3451: Temporary errors should re-queue Documents (#446)
  Makefile
  api/Dockerfile
  api/app/DoctrineMigrations/Version245.php
  api/scripts/reset_db_fixtures_local.sh
  api/scripts/reset_db_structure_local.sh
  api/src/AppBundle/Controller/Report/DocumentController.php
  api/src/AppBundle/Entity/Report/Document.php
  api/src/AppBundle/Entity/Repository/DocumentRepository.php
  api/tests/AppBundle/Controller/DocumentControllerTest.php
  api/tests/Fixtures.php
  client/src/AppBundle/Model/Sirius/QueuedDocumentData.php
  client/src/AppBundle/Service/DocumentSyncService.php
  client/tests/phpunit/Service/DocumentSyncServiceTest.php
  docker-compose.override.yml
Due: api, client

Create Reports and associate with client, update report types for existing reports
  api/src/AppBundle/Service/ReportUtils.php
  api/src/AppBundle/v2/Assembler/ClientAssembler.php
  api/src/AppBundle/v2/Registration/Assembler/CasRecToOrgDeputyshipDtoAssembler.php
  api/src/AppBundle/v2/Registration/Converter/ReportTypeConverter.php
  api/src/AppBundle/v2/Registration/DTO/OrgDeputyshipDto.php
  api/src/AppBundle/v2/Registration/Uploader/OrgDeputyshipUploader.php
  api/tests/AppBundle/v2/Registration/Assembler/CasRecToOrgDeputyshipDtoAssemblerTest.php
  api/tests/AppBundle/v2/Registration/TestHelpers/OrgDeputyshipDTOTestHelper.php
  api/tests/AppBundle/v2/Registration/Uploader/OrgDeputyshipUploaderTest.php
Due: api

Build client from DTO in ClientAssembler
  api/src/AppBundle/v2/Registration/Uploader/OrgDeputyshipUploader.php
Due: api

Base OrgDeputyshipDto type hints on blanks from prof csv, move named deputy assembly into NamedDeputyAssembler
  api/src/AppBundle/v2/Assembler/ClientAssembler.php
  api/src/AppBundle/v2/Assembler/NamedDeputyAssembler.php
  api/src/AppBundle/v2/Registration/Assembler/CasRecToOrgDeputyshipDtoAssembler.php
  api/src/AppBundle/v2/Registration/DTO/OrgDeputyshipDto.php
  api/src/AppBundle/v2/Registration/Uploader/OrgDeputyshipUploader.php
  api/tests/AppBundle/v2/Registration/TestHelpers/OrgDeputyshipDTOTestHelper.php
  api/tests/AppBundle/v2/Registration/Uploader/OrgDeputyshipUploaderTest.php
Due: api

Extract remainder of upload code to private functions
  api/src/AppBundle/v2/Registration/Uploader/OrgDeputyshipUploader.php
Due: api

Remove option_group_name and parameter_group_name from api rds to force default selections
  environment/api_rds.tf
Due: none

Add uploader to controller
  api/src/AppBundle/Entity/Repository/NamedDeputyRepository.php
  api/src/AppBundle/v2/Registration/Assembler/CasRecToOrgDeputyshipDtoAssembler.php
  api/src/AppBundle/v2/Registration/Controller/OrgDeputyshipController.php
  api/src/AppBundle/v2/Registration/DTO/OrgDeputyshipDto.php
  api/src/AppBundle/v2/Registration/Uploader/OrgDeputyshipUploader.php
  api/tests/AppBundle/v2/Registration/Assembler/CasRecToOrgDeputyshipDtoAssemblerTest.php
  api/tests/AppBundle/v2/Registration/Controller/OrgDeputyshipControllerTest.php
  api/tests/AppBundle/v2/Registration/TestHelpers/OrgDeputyshipDTOTestHelper.php
  api/tests/AppBundle/v2/Registration/Uploader/OrgDeputyshipUploaderTest.php
Due: api

Ensure training is in line with production for postgres version (#474)
  environment/api_rds.tf
Due: none

Sanitise data in assembler
  api/src/AppBundle/Service/ReportUtils.php
  api/src/AppBundle/v2/Registration/Assembler/CasRecToOrgDeputyshipDtoAssembler.php
  api/src/AppBundle/v2/Registration/Uploader/OrgDeputyshipUploader.php
  api/tests/AppBundle/v2/Registration/Assembler/CasRecToOrgDeputyshipDtoAssemblerTest.php
  api/tests/AppBundle/v2/Registration/Uploader/OrgDeputyshipUploaderTest.php
Due: api

Add error handling for case numbers existing
  api/src/AppBundle/Entity/Client.php
  api/src/AppBundle/v2/Registration/DTO/OrgDeputyshipDto.php
  api/src/AppBundle/v2/Registration/Uploader/OrgDeputyshipUploader.php
  api/tests/AppBundle/v2/Registration/TestHelpers/OrgDeputyshipDTOTestHelper.php
  api/tests/AppBundle/v2/Registration/Uploader/OrgDeputyshipUploaderTest.php
Due: api

Add batch limits and return array rather than JSON
  api/src/AppBundle/Controller/OrgController.php
  api/src/AppBundle/v2/Registration/Controller/OrgDeputyshipController.php
  api/src/AppBundle/v2/Registration/Uploader/OrgDeputyshipUploader.php
  api/tests/AppBundle/v2/Registration/Controller/OrgDeputyshipControllerTest.php
  api/tests/AppBundle/v2/Registration/TestHelpers/OrgDeputyshipDTOTestHelper.php
  client/src/AppBundle/Service/Client/RestClient.php
  client/src/AppBundle/Service/OrgService.php
Due: api, client

Fix test helper
  api/tests/AppBundle/v2/Registration/TestHelpers/OrgDeputyshipDTOTestHelper.php
Due: none

Drop old org controller and remove old tests
  api/src/AppBundle/Controller/OrgController.php
  api/src/AppBundle/Service/OrgService.php
  api/tests/AppBundle/Service/OrgServiceTest.php
Due: api
