Repository ministryofjustice/opg-digideps: changes, and which Codecov flags are due for each by the changed paths.
All: api, client

codecov.yml:

coverage:
    status:
      project: off
      patch: off

ignore:
  - "api/src/DataFixtures/**/*"  # ignore folders and all its contents
  - "api/src/FixtureFactory/**/*"
  - "api/src/TestHelpers/**/*"
  - "api/src/v2/Fixture/**/*"
  - "client/src/Exception/**/*"
  - "client/src/Resources/**/*"

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null
flags:
  api:
    paths:
      - api/src
    carryforward: false
  client:
    paths:
      - client/src
    carryforward: false

Updating security bundle and fixing version of browser-kit (#1140)
  api/composer.lock
  client/composer.lock
Due: none

Upgrade golang.org/x/net (#1144)
  ecs_helper/go.mod
  ecs_helper/go.sum
  ecs_helper/vendor/github.com/aws/aws-sdk-go/aws/credentials/processcreds/provider.go
  ecs_helper/vendor/github.com/aws/aws-sdk-go/aws/endpoints/defaults.go
  ecs_helper/vendor/github.com/aws/aws-sdk-go/aws/version.go
  ecs_helper/vendor/github.com/aws/aws-sdk-go/private/protocol/jsonrpc/unmarshal_error.go
  ecs_helper/vendor/github.com/aws/aws-sdk-go/service/ecs/api.go
  ecs_helper/vendor/github.com/aws/aws-sdk-go/service/sts/api.go
  ecs_helper/vendor/modules.txt
Due: none

Try and fix docker builds
  .circleci/config.yml
Due: none

Bump node from 18.13.0-alpine to 18.14.2-alpine in /client (#1152)
  .circleci/config.yml
  client/Dockerfile
Due: none

Run build-js before bringing up mounted containers
  Makefile
Due: none

Fix button toggler. Remove redundant test. Update node in npm container.
  client/assets/javascripts/__tests__/modules_new/ButtonToggler.test.js
  client/assets/javascripts/common.js
  client/assets/javascripts/modules_new/ButtonToggler.js
  docker-compose.dev.yml
Due: none

The missing lint.
  client/assets/javascripts/__tests__/modules_new/ButtonToggler.test.js
Due: none

DDPB-4648 (#1154)
  client/assets/javascripts/__tests__/modules_new/ButtonToggler.test.js
  client/assets/javascripts/common.js
  client/assets/javascripts/modules_new/ButtonToggler.js
  docker-compose.dev.yml
Due: none

Adding tools endpoint
  client/src/Controller/Admin/ToolController.php
  client/templates/Admin/Tools/index.html.twig
  client/templates/Layouts/admin_moj_template.html.twig
  client/translations/admin-tools.en.yml
  client/translations/layout.en.yml
Due: client

user friendly message addeded to replace invalid CSRF token exception
  client/src/Controller/IndexController.php
  client/translations/signin.en.yml
Due: client

attempt to fix the destroy path and path to live
  .circleci/config.yml
Due: none

DDPB-4623 actions path to live
  .circleci/config.yml
  .github/workflows/workflow-path-to-live.yml
  .github/workflows/workflow-pull-request-dependabot-app.yml
  .github/workflows/workflow-pull-request-dependabot-terraform.yml
  .github/workflows/workflow-pull-request-path.yml
Due: none

attempt to fix the destroy path and path to live (#1186)
  .circleci/config.yml
Due: none

attribute added to prevent double clicks
  client/templates/Index/login.html.twig
  client/translations/signin.en.yml
Due: none

if statement added based on decision count to print correct answer
  client/src/Controller/Report/DecisionController.php
  client/templates/Report/Decision/_list.html.twig
Due: client

DDPB-3134 - Adds URI & performs validation before redirect on login.
  client/src/EventListener/UnauthorizedExceptionListener.php
  client/src/Security/LoginFormAuthenticator.php
Due: client

DDPB-3134 - Moves Validator to FE & changes mathod to use match
  api/src/Service/Validator/RouteValidator.php
  client/src/Validator/RouteValidator.php
Due: api, client

DDPB-3134 - Adds route validator
  api/src/Service/Validator/RouteValidator.php
Due: api

DDPB-3134 - Removes unreachable null return
  client/src/Security/LoginFormAuthenticator.php
Due: client

DDPB-3134 - Adds bootKernel call to test
  client/tests/phpunit/Validator/RouteValidatorTest.php
Due: none

DDPB-3134 - Adds test for Validator & moves decodedurl into var
  client/src/Security/LoginFormAuthenticator.php
  client/tests/phpunit/Validator/RouteValidatorTest.php
Due: client

DDPB-3134 - Removes unused classes
  client/tests/phpunit/Validator/RouteValidatorTest.php
Due: none

DDPB-3134 Check for request param before referencing
  client/src/Security/LoginFormAuthenticator.php
Due: client

Update ssl in sync docker image
  lambdas/functions/synchronisation/Dockerfile
Due: none

Try no cache for forced update
  lambdas/functions/synchronisation/Dockerfile
Due: none

Run update before upgrade
  lambdas/functions/synchronisation/Dockerfile
Due: none

Update ssl in sync docker image (#1191)
  lambdas/functions/synchronisation/Dockerfile
Due: none

DDPB - 3134 Redirect after timeout (#1151)
  client/src/EventListener/UnauthorizedExceptionListener.php
  client/src/Security/LoginFormAuthenticator.php
  client/src/Validator/RouteValidator.php
  client/tests/phpunit/Validator/RouteValidatorTest.php
Due: client

DDPB-4623 add gh path to live
  .circleci/config.yml
  .github/workflows/_build-and-push.yml
  .github/workflows/scheduled-workspace-cleanup.yml
  .github/workflows/workflow-path-to-live.yml
  .github/workflows/workflow-pull-request-dependabot-app.yml
  .github/workflows/workflow-pull-request-dependabot-terraform.yml
  .github/workflows/workflow-pull-request-path.yml
  client/Dockerfile-dev
  scripts/pipeline/slack/successful_production_release.txt
Due: none

Renaming endpoints. (Stashing changes)
  client/src/Controller/Admin/ToolController.php
  client/templates/Admin/Tools/index.html.twig
  client/templates/Index/login.html.twig
  client/translations/admin-tools.en.yml
Due: client

Rewriting details expander script
  client/assets/javascripts/modules_new/DetailsExpander.js
Due: none

Run JS tests in the PR workflow
  .github/workflows/_test-js.yml
  .github/workflows/pull-request-dependabot-app.yml
  .github/workflows/pull-request-path.yml
Due: none

use install not ci as not updated lockfile yet
  .github/workflows/_test-js.yml
Due: none

Set working directory
  .github/workflows/_test-js.yml
Due: none

Capitalisation
  client/assets/javascripts/__tests__/globals/sessionTimeout.test.js
Due: none

Add key for un-triaged ecr scan results
  scripts/pipeline/ecrscan/ecr_scan_results.py
Due: none

Ddpb 3905 (#1205)
  .github/workflows/_test-js.yml
  .github/workflows/pull-request-dependabot-app.yml
  .github/workflows/pull-request-path.yml
  client/assets/javascripts/__tests__/globals/sessionTimeout.test.js
  scripts/pipeline/ecrscan/ecr_scan_results.py
Due: none

match prod ver of elasticache
  environment/frontend_shared_elasticache.tf
Due: none
