Repository ministryofjustice/opg-digideps: changes, and which Codecov flags are due for each by the changed paths.
All: api, client

reference data object index correctly [skip ci]
  shared/s3_replication.tf
Due: none

reference data object index correctly [skip ci] (#455)
  shared/s3_replication.tf
Due: none

Force integration to run
  client/src/AppBundle/Controller/Admin/FixtureController.php
Due: client

Force integration to run (#456)
  client/src/AppBundle/Controller/Admin/FixtureController.php
Due: client

Move appropriate docs to runbook folder (#448)
  docs/runbooks/MAINTENANCE-MODE.md
  docs/runbooks/ROLLBACK-PROCEDURE.md
Due: none

Add accessibility page
  client/app/config/security.yml
  client/src/AppBundle/Controller/IndexController.php
  client/src/AppBundle/Resources/translations/accessibility.en.yml
  client/src/AppBundle/Resources/views/Index/accessibility.html.twig
  client/src/AppBundle/Resources/views/Layouts/application.html.twig
Due: client

DDPB-3459 update to latest version of wkhtmltopdf
  .circleci/config.yml
  .gitallowed
  ecs_helper/check_ecr_scan_results/aws_ecr_scan_results.py
  wkhtmltopdf/Dockerfile
Due: none

DDPB-3659 fix to role naming
  shared/document_sync.tf
Due: none

Remove CourtOrder, CourtOrderDeputy and CourtOrderDeputyAddress entities and associated references
  api/app/DoctrineMigrations/Version246.php
  api/src/AppBundle/Entity/Client.php
  api/src/AppBundle/Entity/CourtOrder.php
  api/src/AppBundle/Entity/CourtOrderDeputy.php
  api/src/AppBundle/Entity/CourtOrderDeputyAddress.php
  api/src/AppBundle/Entity/Ndr/Ndr.php
  api/src/AppBundle/Entity/Report/Report.php
Due: api

DDPB-3659 fix to role naming (#458)
  shared/document_sync.tf
Due: none

DDPB-3638: Documents failing to sync with spaces before file extensions (#443)
  client/src/AppBundle/Controller/Ndr/NdrController.php
  client/src/AppBundle/Controller/Report/DocumentController.php
  client/src/AppBundle/Service/File/FileNameFixer.php
  client/src/AppBundle/Service/File/S3FileUploader.php
  client/src/AppBundle/Service/ReportSubmissionService.php
  client/tests/phpunit/Service/File/FileNameFixerTest.php
  client/tests/phpunit/Service/File/S3FileUploaderTest.php
  client/tests/phpunit/Service/ReportSubmissionServiceTest.php
Due: client

Remove classes associated with CourtOrders
  api/app/DoctrineMigrations/Version246.php
  api/app/config/services/repositories.yml
  api/src/AppBundle/Entity/Client.php
  api/src/AppBundle/Entity/Ndr/Ndr.php
  api/src/AppBundle/Entity/Report/Report.php
  api/src/AppBundle/Service/CourtOrderCreator.php
  api/src/AppBundle/Service/UserService.php
  api/src/AppBundle/v2/Assembler/CourtOrder/AbstractCourtOrderDtoAssembler.php
  api/src/AppBundle/v2/Assembler/CourtOrder/LayToCourtOrderDtoAssembler.php
  api/src/AppBundle/v2/Assembler/CourtOrder/OrgCsvToCourtOrderDtoAssembler.php
  api/src/AppBundle/v2/Assembler/CourtOrderDeputy/LayToCourtOrderDeputyDtoAssembler.php
  api/src/AppBundle/v2/Assembler/CourtOrderDeputy/OrgCsvToCourtOrderDeputyDtoAssembler.php
  api/src/AppBundle/v2/DTO/CourtOrderDeputyAddressDto.php
  api/src/AppBundle/v2/DTO/CourtOrderDeputyDto.php
  api/src/AppBundle/v2/DTO/CourtOrderDto.php
  api/src/AppBundle/v2/Factory/CourtOrderDeputyFactory.php
  api/src/AppBundle/v2/Factory/CourtOrderFactory.php
  api/tests/AppBundle/Service/UserRegistrationServiceTest.php
Due: api

Remove old tests
  api/src/AppBundle/Service/OrgService.php
  api/src/AppBundle/v2/Controller/CourtOrderController.php
  api/tests/AppBundle/Service/CourtOrderCreatorTest.php
  api/tests/AppBundle/Service/OrgServiceTest.php
Due: api

DDPB-3659 rework for prod
  shared/document_sync.tf
  shared/variables.tf
Due: none

DDPB-3644 scale down existing infra to manage costs
  api/docker/confd/templates/pool.conf.tmpl
  client/docker/confd/templates/pool.conf.tmpl
  environment/api_rds.tf
  environment/front_service.tf
  environment/mock_sirius_integration_service.tf
  environment/scan.tf
  environment/terraform.tfvars.json
  environment/variables.tf
  environment/wkhtmltopdf.tf
Due: none

Content and layout change for accessibility
  client/src/AppBundle/Resources/translations/accessibility.en.yml
  client/src/AppBundle/Resources/views/Index/accessibility.html.twig
  client/src/AppBundle/Resources/views/Layouts/application.html.twig
Due: client

Dtop creating court order
  client/src/AppBundle/Controller/Report/ReportController.php
Due: client

Update email for alternative format forms
  client/src/AppBundle/Resources/translations/accessibility.en.yml
Due: client

DDPB-3632: Add accessibility page (#457)
  client/app/config/security.yml
  client/src/AppBundle/Controller/IndexController.php
  client/src/AppBundle/Resources/translations/accessibility.en.yml
  client/src/AppBundle/Resources/views/Index/accessibility.html.twig
  client/src/AppBundle/Resources/views/Layouts/application.html.twig
Due: client

DDPB-3644 scale down existing infra to manage costs (#460)
  api/docker/confd/templates/pool.conf.tmpl
  client/docker/confd/templates/pool.conf.tmpl
  environment/api_rds.tf
  environment/front_service.tf
  environment/mock_sirius_integration_service.tf
  environment/scan.tf
  environment/terraform.tfvars.json
  environment/variables.tf
  environment/wkhtmltopdf.tf
Due: none

DDPB-3627 exclude missing sections from checklist pdf (#450)
  client/src/AppBundle/Resources/views/Admin/Client/Report/Formatted/checklist_formatted_body.html.twig
Due: client

Drop court order behat test
  behat/tests/features/v2/courtOrderManagement/enable-ndr.feature
Due: none

DDPB-3664 - Upgrade environment folder to 0.13, move provider versioning into versions.tf
  environment/provider.tf
  environment/versions.tf
Due: none

DDPB-3664 - Update CI Terraform version and SHASUM
  .circleci/config.yml
Due: none

DDPB-3664 - Upgrade shared folder to 0.13, move provider versioning into versions.tf
  shared/provider.tf
  shared/versions.tf
Due: none

DDPB-3664 - Terraform 0.13 Upgrade (#462)
  .circleci/config.yml
  environment/provider.tf
  shared/provider.tf
  shared/versions.tf
Due: none

DDPB-3590: Remove court order creation code from lay registration
  api/src/AppBundle/Service/UserService.php
Due: api

DDPB-3568 - Add missing security headers
  client/docker/confd/templates/app.conf.tmpl
Due: none

DDPB-3590: Delete behat test for creating a CourtOrder
  behat/tests/features/v2/courtOrderManagement/enable-ndr.feature
Due: none

DDPB-3568 - Add missing security headers (#465)
  client/docker/confd/templates/app.conf.tmpl
Due: none

Create OrgDeputyshipUploader and OrgDeputyship model
  api/composer.json
  api/composer.lock
  api/src/AppBundle/v2/Registration/Model/OrgDeputyship.php
  api/src/AppBundle/v2/Registration/Uploader/OrgDeputyshipUploader.php
  api/tests/AppBundle/v2/Registration/Controller/OrgDeputyshipControllerTest.php
  api/tests/AppBundle/v2/Registration/Uploader/OrgDeputyShipUploaderTest.php
Due: api

DDPB-3228 - Pull version from vars file, Upgrade all envs to 11.6 apart from production
  environment/api_rds.tf
  environment/terraform.tfvars.json
  environment/variables.tf
Due: none

DDPB-3188 - Security Baseline - Tagging * Added tags to all resources in shared * Added tags to all resources in environment * Moved environment local tag definition to the vars file
  environment/alarms.tf
  environment/api.tf
  environment/api_elasticache.tf
  environment/api_rds.tf
  environment/api_service.tf
  environment/certificate.tf
  environment/checklist_sync.tf
  environment/dns_private.tf
  environment/dns_public.tf
  environment/document_sync.tf
  environment/ecs.tf
  environment/main.tf
  environment/mock_sirius_integration_iam.tf
  environment/mock_sirius_integration_service.tf
  environment/parameters.tf
  environment/s3.tf
  environment/scan.tf
  environment/test.tf
  environment/variables.tf
  environment/wkhtmltopdf.tf
  shared/cloud9.tf
  shared/lambda.tf
  shared/rds.tf
  shared/s3_replication.tf
  shared/sns.tf
  shared/subnet_private.tf
  shared/subnet_public.tf
  shared/variables.tf
  shared/vpc.tf
Due: none

DDPB-3228 - Upgrade non production environments to postgres 10.7 (#466)
  environment/api_rds.tf
  environment/terraform.tfvars.json
  environment/variables.tf
Due: none

Add OrgDeputyshipController with create endpoint
  api/src/AppBundle/Controller/OrgController.php
  api/src/AppBundle/v2/Registration/Controller/OrgDeputyshipController.php
  api/tests/AppBundle/v2/Registration/Controller/OrgDeputyshipControllerTest.php
  api/tests/AppBundle/v2/Registration/Uploader/OrgDeputyShipUploaderTest.php
  docker-compose.override.yml
Due: api

DDPB-3590: Remove court order creation code from lay registration (#464)
  api/src/AppBundle/Service/UserService.php
  behat/tests/features/v2/courtOrderManagement/enable-ndr.feature
Due: api

Check for more than or equal to 4 sync attempts, reset sync attempts on 4th attempt
  api/src/AppBundle/Controller/Report/DocumentController.php
  api/src/AppBundle/Entity/Report/Document.php
  api/tests/AppBundle/Controller/DocumentControllerTest.php
Due: api

DDPB-3228 - Upgrade to a compatable version
  environment/terraform.tfvars.json
Due: none

Path conditions:
  api: any of: api/src/AppBundle
  client: any of: client/src/AppBundle
