Repository ministryofjustice/opg-digideps: changes, and which Codecov flags are due for each by the changed paths.
All: api, client

DDPB-4668 - add empty lambda directory for local tf work
  lambdas/layers/monitoring/.gitignore
Due: none

DDPB-4579 - Adds test for displaying & hiding element
  client/assets/javascripts/__tests__/modules_new/SessionTimeoutDialog.test.js
Due: none

Fixed misplaced steps, changed duplicate test data
  api/tests/Behat/bootstrap/v2/Registration/SelfRegistrationTrait.php
  api/tests/Behat/features-v2/registration/self-register.feature
Due: none

DDPB-4663 move training environment to preproduction
  .github/workflows/workflow-pull-request-path.yml
  environment/scripts/workspace_cleanup.sh
  lambdas/layers/monitoring/.gitignore
Due: none

Ddpb 4663b move training to preproduction
  .github/workflows/workflow-path-to-live.yml
  .github/workflows/workflow-pull-request-path.yml
  disaster-recovery/restore/dr-restore.py
  environment/scripts/workspace_cleanup.sh
  environment/terraform.tfvars.json
  lambdas/layers/monitoring/.gitignore
  scripts/pipeline/slack/slack_notification.py
  scripts/pipeline/slack/successful_production_release.txt
Due: none

DDPB-4664 fix flakey tests
  .circleci/config.yml
  .circleci/set_env.sh
  .circleci/set_env_pact.sh
  api/tests/Behat/bootstrap/v2/Common/ReportTrait.php
  api/tests/Behat/bootstrap/v2/Registration/ActivateTrait.php
  api/tests/Behat/features-v2/registration/activate.lay.feature
  api/tests/Behat/run-tests-parallel.sh
  api/tests/Behat/run-tests.sh
  disaster-recovery/restore/dr-restore.py
  docker-compose.yml
  scripts/pipeline/slack/slack_notification.py
  scripts/pipeline/slack/successful_environment_release.txt
  scripts/pipeline/slack/successful_production_release.txt
  scripts/pipeline/slack/unsuccessful_environment_release.txt
Due: none

DDPB-4579 - Refactors class
  client/assets/javascripts/modules_new/SessionTimeoutDialog.js
Due: none

DDPB-4579 - Adds checks & removes unnecessary console output
  client/assets/javascripts/globals/SessionTimeout.js
Due: none

DDPB-4579 - Adds Testin-library/Dom & UserEvent via NPM
  client/package-lock.json
  client/package.json
Due: none

DDPB-4579 - Cleanup on test file
  client/assets/javascripts/__tests__/modules_new/SessionTimeoutDialog.test.js
Due: none

DDPB-4657: Deputies using the unicode apostrophe character cannot register (#1217)
  api/src/Controller/SelfRegisterController.php
  api/src/Model/SelfRegisterData.php
  api/tests/Behat/bootstrap/v2/Registration/IngestTrait.php
  api/tests/Behat/bootstrap/v2/Registration/SelfRegistrationTrait.php
  api/tests/Behat/features-v2/registration/self-register.feature
  api/tests/Behat/fixtures/sirius-csvs/lay-1-row-special-chars.csv
Due: api

report overstring corrected with start and end years
  client/templates/Macros/macros.html.twig
Due: none

hyperlinks added back into Benefits check summary page
  client/templates/Report/ClientBenefitsCheck/summary.html.twig
Due: none

DDPB-4664 fix flakey tests (#1224)
  .circleci/config.yml
  .circleci/set_env.sh
  .circleci/set_env_pact.sh
  api/tests/Behat/bootstrap/v2/Common/ReportTrait.php
  api/tests/Behat/bootstrap/v2/Registration/ActivateTrait.php
  api/tests/Behat/run-tests-parallel.sh
  api/tests/Behat/run-tests.sh
Due: none

hyperlink added to benefit check summary page for report and ndr
  client/src/Service/ReportSectionsLinkService.php
  client/templates/Report/ClientBenefitsCheck/summary.html.twig
Due: client

fixes bug preventing deputy viewing overview page from debts section
  api/src/Service/ReportStatusService.php
Due: api

significant decision value persisted to db and reflected on summary page
  api/src/Controller/Report/ReportController.php
  api/src/Entity/Report/Report.php
  client/src/Entity/Report/Report.php
  client/src/Form/Report/DecisionExistType.php
  client/templates/Report/Decision/_list.html.twig
  client/templates/Report/Decision/exist.html.twig
  client/translations/report-decisions.en.yml
Due: api, client

Reason for no decision setter commented out, needs to be reviewed
  api/src/Controller/Report/DecisionController.php
Due: api

both fields are now updated accordingly based on deputy decision
  client/src/Controller/Report/DecisionController.php
Due: client

property is set to null to prevent it from rendering on the summary page if yes
  api/src/Entity/Report/Report.php
  api/src/Entity/Report/Traits/DecisionTrait.php
  api/src/Service/ReportStatusService.php
Due: api

new field added to avoid handling form object
  api/src/Migrations/Version268.php
Due: api

pdf reflects deputy answers
  client/templates/Report/Formatted/_decisions.html.twig
Due: none

passed failing tests in pipeline
  api/src/Entity/Report/Report.php
  api/tests/Unit/Service/ReportStatusServiceTest.php
Due: api

fixed bug on ndr overview page which prevented sections from rendering
  api/src/Service/ReportStatusService.php
  client/src/Service/NdrStatusService.php
  client/templates/Ndr/Ndr/_subsection.html.twig
Due: api, client

new decision trait file added for test suite
  api/tests/Behat/bootstrap/v2/Reporting/Sections/DecisionSectionTrait.php
Due: none

new test suite added
  api/tests/Behat/features-v2/reporting/sections/decisions/decisions.lay.feature
Due: none

A user completes the decisions section test passes
  api/tests/Behat/behat.yml
  api/tests/Behat/bootstrap/v2/Common/IShouldBeOnFrontendTrait.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/DecisionSectionTrait.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/ReportingSectionsFeatureContext.php
  api/tests/Behat/features-v2/reporting/sections/decisions/decisions.lay.feature
Due: none

A user edits their response to the significant decisions question test passes
  api/tests/Behat/bootstrap/v2/Common/IShouldBeOnFrontendTrait.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/DecisionSectionTrait.php
  api/tests/Behat/features-v2/reporting/sections/decisions/decisions.lay.feature
  client/templates/Report/Decision/_list.html.twig
Due: none

corrected format of last assessment date
  api/tests/Behat/bootstrap/v2/Reporting/Sections/DecisionSectionTrait.php
Due: none

removing commented out code
  api/tests/Behat/bootstrap/v2/Reporting/Sections/DecisionSectionTrait.php
Due: none

test suite added to check nav and links from summary pages
  api/tests/Behat/bootstrap/v2/Common/IVisitFrontendTrait.php
  api/tests/Behat/bootstrap/v2/Common/PageUrlsTrait.php
  api/tests/Behat/bootstrap/v2/ReportSectionNavigation/ReportSectionNavigationTrait.php
  api/tests/Behat/features-v2/reporting/section-navigation/section-navigation.lay.feature
  client/src/Service/NdrStatusService.php
Due: client

code review feedback applied
  api/src/Controller/Report/DecisionController.php
  api/src/Migrations/Version268.php
  client/src/Entity/Report/Report.php
Due: api, client

test suite added to test navigation between summary pages for ndr report
  api/tests/Behat/features-v2/reporting/section-navigation/section-navigation.lay.feature
  api/tests/Behat/features-v2/reporting/section-navigation/section-navigation.ndr.feature
Due: none

Implemented swapping of reports using client ids, added in error handling and providing user feedback
  api/config/routes/annotations.yml
  api/src/Entity/Client.php
  api/src/Repository/ClientRepository.php
  api/src/v2/Tools/Controller/ToolsController.php
  client/src/Controller/Admin/ToolController.php
  client/src/Controller/Admin/ToolsController.php
  client/src/Form/Admin/Tool/ReportReassignmentType.php
  client/templates/Admin/Tools/index.html.twig
  client/templates/Admin/Tools/report-reasssignment.html.twig
  client/translations/admin-tools.en.yml
Due: api, client

Adding in api unit tests, and structure for behat tests
  api/src/v2/Tools/Controller/ToolsController.php
  api/tests/Behat/features-v2/tools/report-reassignment.feature
  api/tests/Behat/features-v2/tools/super-admin-tool-visibility.feature
  api/tests/Unit/v2/Tools/Controller/ToolsControllerTest.php
Due: api

Path conditions:
  api: any of: api/src, but not: api/src/DataFixtures/**/*, api/src/FixtureFactory/**/*, api/src/TestHelpers/**/*, api/src/v2/Fixture/**/*, client/src/Exception/**/*, client/src/Resources/**/*
  client: any of: client/src, but not: api/src/DataFixtures/**/*, api/src/FixtureFactory/**/*, api/src/TestHelpers/**/*, api/src/v2/Fixture/**/*, client/src/Exception/**/*, client/src/Resources/**/*
