Repository ministryofjustice/opg-digideps: changes, and which Codecov flags are due for each by the changed paths.
All: api, client

Drop web folder for api and set app to dev for int tests
  Makefile
  api/web/app.php
  api/web/app_dev.php
Due: none

Support reading env files in app rather than just docker
  Makefile
  api/Dockerfile
  api/api.env
  api/app/console
  api/composer.json
  api/composer.lock
  api/postgres.env
  api/public/index.php
  client/Dockerfile
  client/admin.env
  client/app/console
  client/composer.json
  client/composer.lock
  client/config/config_dev.yml
  client/config/services/defaults.yml
  client/frontend.env
  client/public/index.php
  client/src/AppBundle/Controller/ManageController.php
  client/src/AppBundle/Resources/views/Manage/availability.html.twig
  docker-compose.dev.yml
  docker-compose.override.yml
  docker-compose.yml
Due: client

Fix env paths
  docker-compose.override.yml
  docker-compose.yml
Due: none

DDPB-3833 try out step scaling to avoid pointless alarms
  client/composer.lock
  environment/ecs_autoscaling/main.tf
Due: none

Fix error page overriding
  Makefile
  client/Dockerfile
  client/composer.json
  client/config/config.yml
  client/config/config_dev.yml
  client/templates/bundles/TwigBundle/Exception/error.html.twig
  client/templates/bundles/TwigBundle/Exception/error404.html.twig
  client/templates/bundles/TwigBundle/Exception/template.html.twig
  docker-compose.override.yml
Due: none

Update refs of SYMFONY_ENV to APP_ENV in terraform
  environment/admin_service.tf
  environment/checklist_sync.tf
  environment/document_sync.tf
  environment/front_service.tf
  environment/terraform.tfvars.json
  environment/variables.tf
Due: none

Test fixes
  Makefile
  api/Dockerfile
  api/api.env
  client/Dockerfile
  client/frontend.env
Due: none

Fix tests in pipeline
  .circleci/config.yml
Due: none

DDPB-3833 add different autoscaling
  docs/load_test/load_testing.go
  environment/ecs_autoscaling/main.tf
Due: none

fix insecure composer dependency
  client/composer.lock
Due: none

Make enabling and disabling debug quicker
  Makefile
  client/config/config_dev.yml
  client/public/index.php
  client/src/AppBundle/Resources/views/Manage/availability.html.twig
  docker-compose.yml
Due: none

Ensure .env files are not loaded when running in ECS
  api/public/index.php
  client/public/index.php
Due: none

DDPB-3755 amend the circle workflow to fit our desired design
  .circleci/config.yml
  .circleci/set_env.sh
  .gitignore
  behat/Dockerfile
  behat/docker-smoke-test-entrypoint.sh
  behat/tests/features/admin/00-prechecks.feature
  behat/tests/features/deputy/01-registration-steps/00-prechecks.feature
  client/Dockerfile
  client/composer.lock
  client/docker/extra/commonpasswords.txt
  docker-compose.test.yml
  docs/runbooks/PULL-REQUEST-PROCEDURE.md
  environment/api_sg.tf
  environment/outputs.tf
  environment/smoke_test.tf
Due: none

Be more cautious with setting app debug - default to false if not set in envs
  api/public/index.php
  client/public/index.php
Due: none

Enable profiler when debug enabled
  client/config/config_dev.yml
  docker/bash_profile
Due: none

Fix typo
  docs/Digideps dev flow.png
  docs/Digideps dev flow.xml
Due: none

Drop unused package
  client/composer.lock
Due: none

Composer update - lets see what breaks
  api/composer.lock
  client/composer.lock
Due: none

DDPB-3833 add script to put some stress on cpu
  docs/load_test/commonpasswords.txt
  docs/load_test/load_testing.go
  environment/ecs_autoscaling/main.tf
Due: none

DDPB-3833 improve autoscaling to solve issues with standard autoscaling
  docs/load_test/commonpasswords.txt
  docs/scripts/SCRIPTS.md
  docs/scripts/stress_service.go
  environment/ecs_autoscaling/main.tf
Due: none

Drop Dotenv env var loading in index.php and make app env logic clearer
  api/composer.json
  api/public/index.php
  client/composer.json
  client/public/index.php
Due: none

DDPB-3755 amend the circle workflow to fit more our desired design
  .circleci/config.yml
  .circleci/set_env.sh
  .gitignore
  behat/Dockerfile
  behat/docker-smoke-test-entrypoint.sh
  behat/tests/features/admin/00-prechecks.feature
  behat/tests/features/deputy/01-registration-steps/00-prechecks.feature
  client/Dockerfile
  client/docker/extra/commonpasswords.txt
  docker-compose.ci.test.yml
  docs/runbooks/PULL-REQUEST-PROCEDURE.md
  environment/api_sg.tf
  environment/outputs.tf
  environment/smoke_test.tf
Due: none

DDPB-3755b fix workflow dependency in mian pipeline
  .circleci/config.yml
Due: none

DDPB-3755b fix workflow dependency in main pipeline
  .circleci/config.yml
Due: none

wip
  api/src/AppBundle/Controller/CasRecController.php
  api/tests/AppBundle/Controller/CasRecControllerTest.php
  docker-compose.yml
Due: api

fix comments
  client/src/AppBundle/EventSubscriber/ReportSubmittedSubscriber.php
  client/tests/phpunit/EventSubscriber/ReportSubmittedSubscriberTest.php
Due: client

rebased and fixed comments
  client/src/AppBundle/Controller/Admin/Client/ReportController.php
  client/src/AppBundle/EventSubscriber/ReportSubmittedSubscriber.php
  client/src/AppBundle/Service/Client/Internal/ReportApi.php
  client/tests/phpunit/EventSubscriber/ReportSubmittedSubscriberTest.php
Due: client

DDPB-3428 add audit logs for unsubmitted report
  client/src/AppBundle/Event/ReportUnsubmittedEvent.php
  client/src/AppBundle/EventSubscriber/ReportUnsubmittedSubscriber.php
  client/src/AppBundle/Service/Audit/AuditEvents.php
Due: client

DDPB-3428 logging for unsubmit and resubmit reports
  client/src/AppBundle/Controller/Admin/Client/ReportController.php
  client/src/AppBundle/Controller/Report/ReportController.php
  client/src/AppBundle/Event/ReportUnsubmittedEvent.php
  client/src/AppBundle/EventSubscriber/ReportSubmittedSubscriber.php
  client/src/AppBundle/EventSubscriber/ReportUnsubmittedSubscriber.php
  client/src/AppBundle/Service/Audit/AuditEvents.php
  client/src/AppBundle/Service/Client/Internal/ReportApi.php
  client/tests/phpunit/EventSubscriber/ReportSubmittedSubscriberTest.php
  client/tests/phpunit/EventSubscriber/ReportUnsubmittedSubscriberTest.php
  client/tests/phpunit/Service/Client/Internal/ReportApiTest.php
Due: client

DDPB-3428 logging for unsubmit and resubmit reports
  client/src/AppBundle/Controller/Admin/Client/ReportController.php
  client/src/AppBundle/Controller/Report/ReportController.php
Due: client

Ddpb 3428 add unsubmit and resubmit audit logging
  client/src/AppBundle/Controller/Admin/Client/ReportController.php
  client/src/AppBundle/Event/ReportUnsubmittedEvent.php
  client/src/AppBundle/EventSubscriber/ReportSubmittedSubscriber.php
  client/src/AppBundle/EventSubscriber/ReportUnsubmittedSubscriber.php
  client/src/AppBundle/Service/Audit/AuditEvents.php
  client/src/AppBundle/Service/Client/Internal/ReportApi.php
  client/tests/phpunit/EventSubscriber/ReportSubmittedSubscriberTest.php
  client/tests/phpunit/EventSubscriber/ReportUnsubmittedSubscriberTest.php
  client/tests/phpunit/Service/Client/Internal/ReportApiTest.php
Due: client

Path conditions:
  api: any of: api/src/AppBundle, but not: api/src/AppBundle/DataFixtures/**/*, api/src/AppBundle/FixtureFactory/**/*, api/src/AppBundle/TestHelpers/**/*, api/src/AppBundle/v2/Fixture/**/*, client/src/AppBundle/Exception/**/*, client/src/AppBundle/Resources/**/*
  client: any of: client/src/AppBundle, but not: api/src/AppBundle/DataFixtures/**/*, api/src/AppBundle/FixtureFactory/**/*, api/src/AppBundle/TestHelpers/**/*, api/src/AppBundle/v2/Fixture/**/*, client/src/AppBundle/Exception/**/*, client/src/AppBundle/Resources/**/*
