Repository ministryofjustice/opg-digideps: changes, and which Codecov flags are due for each by the changed paths.
All: api, client

codecov.yml:

coverage:
    status:
      project: off
      patch: off

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null
flags:
  api:
    paths:
      - api/src/AppBundle
    carryforward: false
  client:
    paths:
      - client/src/AppBundle
    carryforward: false

Fix case on COMBINED
  client/app/config/services.yml
  client/src/AppBundle/Entity/Report/Report.php
  client/tests/phpunit/Pact/SiriusApiGatewayClientTest.php
Due: client

Test fix
  client/tests/phpunit/Entity/Report/ReportTest.php
Due: none

DDPB-3636 change schedule of cron
  .circleci/config.yml
  environment/scan.tf
  environment/scheduler.tf
  environment/terraform.tfvars.json
  environment/variables.tf
Due: none

DDPB-3628 fix double click when adding documents to a report
  client/src/AppBundle/Resources/assets/javascripts/main.js
  client/src/AppBundle/Resources/assets/scss/_digideps.scss
  client/src/AppBundle/Resources/assets/scss/digideps/_links.scss
  client/src/AppBundle/Resources/views/Report/Document/submitMoreDocumentsConfirm.html.twig
Due: client

DDPB-3451: Added unit test to test response after 4 sync attempts
  api/src/AppBundle/Controller/Report/DocumentController.php
  api/tests/AppBundle/Controller/DocumentControllerTest.php
Due: api

Set error type based on Sirius non success response
  Makefile
  client/src/AppBundle/Service/Client/Sirius/SiriusApiGatewayClient.php
  client/src/AppBundle/Service/DocumentSyncService.php
  client/tests/phpunit/Service/DocumentSyncServiceTest.php
Due: client

Fix error translation and add NOT NULL to migration
  api/app/DoctrineMigrations/Version243.php
  client/src/AppBundle/Service/SiriusApiErrorTranslator.php
  client/tests/phpunit/Service/SiriusApiErrorTranslatorTest.php
Due: client

Default to 0 in class rather than DB for Document sync_attempts
  api/src/AppBundle/Entity/Report/Document.php
Due: api

Add php cache files to gitignore
  .gitignore
  .php_cs.cache
Due: none

Bump migration version following main updates
  api/app/DoctrineMigrations/Version244.php
Due: none

Drop test specific symfony commands from db scripts
  api/scripts/reset_db_fixtures.sh
  api/scripts/reset_db_structure.sh
Due: none

DDPB-3315: Illogical heading structure (#442)
  client/src/AppBundle/Resources/views/Admin/Client/Report/macros.html.twig
  client/src/AppBundle/Resources/views/Admin/Client/Report/partials/_deputy-and-client-info.html.twig
  client/src/AppBundle/Resources/views/Admin/Client/Report/partials/_lodging-summary.html.twig
  client/src/AppBundle/Resources/views/Report/Decision/_form.html.twig
Due: client

Ensure all links do not open in a new tab (#441)
  client/src/AppBundle/Resources/translations/ndr-actions.en.yml
  client/src/AppBundle/Resources/translations/ndr-bank-accounts.en.yml
  client/src/AppBundle/Resources/translations/ndr-deputy-expenses.en.yml
  client/src/AppBundle/Resources/translations/ndr-income-benefits.en.yml
  client/src/AppBundle/Resources/translations/ndr-more-info.en.yml
  client/src/AppBundle/Resources/translations/report-actions.en.yml
  client/src/AppBundle/Resources/translations/report-bank-accounts.en.yml
  client/src/AppBundle/Resources/translations/report-decisions.en.yml
  client/src/AppBundle/Resources/translations/report-deputy-expenses.en.yml
  client/src/AppBundle/Resources/translations/report-gifts.en.yml
  client/src/AppBundle/Resources/translations/report-more-info.en.yml
  client/src/AppBundle/Resources/translations/user-activate.en.yml
  client/src/AppBundle/Resources/views/Admin/Ad/index.html.twig
  client/src/AppBundle/Resources/views/Admin/Ad/viewUser.html.twig
  client/src/AppBundle/Resources/views/Index/index.html.twig
  client/src/AppBundle/Resources/views/Index/login.html.twig
  client/src/AppBundle/Resources/views/Index/privacy.html.twig
  client/src/AppBundle/Resources/views/Index/terms.html.twig
  client/src/AppBundle/Resources/views/User/activateLinkSent.html.twig
  client/src/AppBundle/Resources/views/User/passwordSent.html.twig
Due: client

Be more cautious when checking if an error is a Guzzle error
  client/src/AppBundle/Service/DocumentSyncService.php
Due: client

DDPB-3584: Update checklist sync metadata (#428)
  .pre-commit-config.yaml
  api/src/AppBundle/Controller/Report/ReportController.php
  api/src/AppBundle/Entity/Repository/ReportRepository.php
  client/app/config/services.yml
  client/src/AppBundle/Command/ChecklistSyncCommand.php
  client/src/AppBundle/Entity/Report/Checklist.php
  client/src/AppBundle/Entity/Report/Report.php
  client/src/AppBundle/Model/Sirius/QueuedChecklistData.php
  client/src/AppBundle/Model/Sirius/SiriusChecklistPdfDocumentMetadata.php
  client/src/AppBundle/Model/Sirius/SiriusReportPdfDocumentMetadata.php
  client/src/AppBundle/Resources/views/Admin/Client/Report/Formatted/checklist_formatted_body.html.twig
  client/src/AppBundle/Service/ChecklistSyncService.php
  client/src/AppBundle/Service/SiriusApiErrorTranslator.php
  client/tests/phpunit/Command/ChecklistSyncCommandTest.php
  client/tests/phpunit/Entity/Report/ReportTest.php
  client/tests/phpunit/Helpers/SiriusHelpers.php
  client/tests/phpunit/Pact/SiriusApiGatewayClientTest.php
  client/tests/phpunit/Service/ChecklistSyncServiceTest.php
  client/tests/phpunit/Service/SiriusApiErrorTranslatorTest.php
  docker-compose.override.yml
Due: api, client

DDPB-3445: Implement PUT functionality for checklists (#395)
  .circleci/config.yml
  api/src/AppBundle/Controller/Report/ReportController.php
  client/src/AppBundle/Command/ChecklistSyncCommand.php
  client/src/AppBundle/Model/Sirius/QueuedChecklistData.php
  client/src/AppBundle/Service/ChecklistSyncService.php
  client/src/AppBundle/Service/Client/Sirius/SiriusApiGatewayClient.php
  client/src/AppBundle/Service/SiriusApiErrorTranslator.php
  client/tests/phpunit/Command/ChecklistSyncCommandTest.php
  client/tests/phpunit/Helpers/SiriusHelpers.php
  client/tests/phpunit/Pact/SiriusApiGatewayClientTest.php
  client/tests/phpunit/Service/ChecklistSyncServiceTest.php
Due: api, client

Try setting env to test again for CI
  api/scripts/reset_db_fixtures.sh
  api/scripts/reset_db_structure.sh
Due: none

Try adding missing folder
  api/Dockerfile
Due: none

Drop cache clear
  api/scripts/reset_db_fixtures.sh
Due: none

Use local db scripts locally
  Makefile
  api/Dockerfile
  api/scripts/reset_db_fixtures_local.sh
  api/scripts/reset_db_structure_local.sh
Due: none

Print DB host name
  api/Dockerfile
Due: none

Reinstate separate app volumes
  docker-compose.override.yml
Due: none

Queue documents on temp errors
  api/app/DoctrineMigrations/Version244.php
  api/src/AppBundle/Controller/Report/DocumentController.php
  api/src/AppBundle/Entity/Report/Document.php
  api/tests/AppBundle/Controller/DocumentControllerTest.php
Due: api

Reinstate separate app volumes (#447)
  docker-compose.override.yml
Due: none

Add ignore paths (#444)
  codecov.yml
Due: none

Fix merge conflicts mistakes
  Makefile
  client/tests/phpunit/Helpers/SiriusHelpers.php
  client/tests/phpunit/Service/DocumentSyncServiceTest.php
Due: none

Revert existing migration changes and break them into version244
  api/app/DoctrineMigrations/Version244.php
Due: none

Bump migration version number
  api/app/DoctrineMigrations/Version245.php
Due: none

Move appropriate docs to runbook folder
  docs/runbooks/MAINTENANCE-MODE.md
  docs/runbooks/ROLLBACK-PROCEDURE.md
Due: none

Move replication bucket to account level in development only
  environment/s3.tf
  shared/s3_replication.tf
Due: none

DDPB-3627 exclude missing sections from checklist pdf
  client/src/AppBundle/Resources/views/Admin/Client/Report/Formatted/checklist_formatted_body.html.twig
Due: client

Move replication bucket to account level in development only (#449)
  environment/s3.tf
  shared/s3_replication.tf
Due: none

Share replication bucket ARN between shared and envs
  environment/s3.tf
  shared/outputs.tf
Due: none

Lock replication bucket ARN to development provider
  environment/s3.tf
Due: none

Lock replication bucket ARN to development provider (#453)
  environment/s3.tf
Due: none

Add missing count to ev only resources [ci-skip]
  shared/s3_replication.tf
Due: none

Remove old links from readme [skip ci]
  README.md
Due: none

Add missing count to dev only resources (#454)
  README.md
  shared/s3_replication.tf
Due: none
