Repository ministryofjustice/opg-digideps: changes, and which Codecov flags are due for each by the changed paths.
All: api, client

codecov.yml:

coverage:
    status:
      project: off
      patch: off

ignore:
  - "api/src/DataFixtures/**/*"  # ignore folders and all its contents
  - "api/src/FixtureFactory/**/*"
  - "api/src/TestHelpers/**/*"
  - "api/src/v2/Fixture/**/*"
  - "client/src/Exception/**/*"
  - "client/src/Resources/**/*"

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null
flags:
  api:
    paths:
      - api/src
    carryforward: false
  client:
    paths:
      - client/src
    carryforward: false

refactored behat tests for non ndr report
  behat/tests/behat.yml
  behat/tests/bootstrap/v2/common/IShouldBeOnTrait.php
  behat/tests/bootstrap/v2/reporting/sections/VisitsCareSectionTrait.php
  behat/tests/features-v2/reporting/sections/visits-care/visits-care.feature
  client/templates/Report/VisitsCare/_answers.html.twig
Due: none

Added in ndr behat tests@
  behat/tests/bootstrap/v2/common/IShouldBeOnTrait.php
  behat/tests/bootstrap/v2/reporting/sections/ReportingSectionsFeatureContext.php
  behat/tests/bootstrap/v2/reporting/sections/VisitsAndCareSectionTrait.php
  behat/tests/bootstrap/v2/reporting/sections/VisitsCareSectionTrait.php
  behat/tests/features-v2/reporting/sections/visits-care/visits-care.ndr.feature
Due: none

Generalise some Mapper classes and fix api errors for User Research
  api/public/index.php
  api/src/Controller/UserResearchController.php
  api/src/EventListener/RestInputOuputFormatter.php
  api/src/FixtureFactory/UserFactory.php
  api/src/Repository/SatisfactionRepository.php
  api/src/Repository/UserResearchResponseRepository.php
  api/src/Service/Stats/StatsQueryParameters.php
  client/public/index.php
  client/src/Controller/Admin/StatsController.php
  client/src/Form/Admin/BaseFilterType.php
  client/src/Form/Admin/UserResearchResponseFilterType.php
  client/src/Mapper/DateRangeQuery.php
  client/src/Mapper/ReportSatisfaction/ReportSatisfactionSummaryMapper.php
  client/src/Mapper/ReportSubmission/ReportSubmissionSummaryMapper.php
  client/src/Mapper/ReportSubmission/ReportSubmissionSummaryQuery.php
  client/src/Mapper/UserResearchResponse/UserResearchResponseSummaryMapper.php
  client/src/Service/Client/Internal/UserResearchApi.php
  client/src/Service/Csv/UserResearchResponseCsvGenerator.php
  client/templates/Admin/Stats/metrics.html.twig
  client/templates/Admin/Stats/urResponses.html.twig
  client/tests/phpunit/Mapper/ReportSatisfaction/ReportSatisfactionSummaryMapperTest.php
  client/translations/admin-metrics.en.yml
  client/translations/admin.en.yml
Due: api, client

Fixed issues with ndr tests
  behat/tests/bootstrap/v2/common/BaseFeatureContext.php
  behat/tests/bootstrap/v2/common/IShouldBeOnTrait.php
  behat/tests/bootstrap/v2/reporting/sections/VisitsCareSectionTrait.php
  behat/tests/features-v2/reporting/sections/visits-care/visits-care.ndr.feature
Due: none

Fixing some spelling issues
  behat/tests/bootstrap/v2/reporting/sections/ActionsSectionTrait.php
Due: none

Fix invalid JMS types
  api/src/Controller/SatisfactionController.php
  api/src/Controller/UserResearchController.php
  api/src/Entity/Report/Report.php
  api/src/Entity/Satisfaction.php
  api/src/Entity/UserResearch/ResearchType.php
  api/src/Entity/UserResearch/UserResearchResponse.php
  api/src/Migrations/Version251.php
  api/src/Repository/UserResearchResponseRepository.php
  client/src/Controller/Report/ReportController.php
  client/src/Entity/Report/Satisfaction.php
  client/src/Entity/UserResearch/ResearchType.php
  client/src/Entity/UserResearch/UserResearchResponse.php
  client/src/Service/Client/Internal/SatisfactionApi.php
  client/src/Service/Client/Internal/UserResearchApi.php
  client/src/Service/Client/RestClient.php
  client/src/Service/Csv/UserResearchResponseCsvGenerator.php
  client/src/TestHelpers/UserResearchResponseHelper.php
  client/tests/phpunit/Service/Csv/UserResearchResponseCsvGeneratorTest.php
  docker-compose.override.yml
Due: api, client

Test fixes
  api/tests/App/Controller/SatisfactionControllerTest.php
  api/tests/App/Controller/UserResearchControllerTest.php
  api/tests/Fixtures.php
  client/tests/phpunit/Mapper/ReportSatisfaction/ReportSatisfactionSummaryMapperTest.php
  client/tests/phpunit/Mapper/ReportSubmission/ReportSubmissionSummaryMapperTest.php
  client/tests/phpunit/Service/Client/Internal/SatisfactionApiTest.php
Due: none

Revert renaming named deputy helper
  client/src/TestHelpers/NamedDeputyHelper.php
  client/tests/phpunit/EventSubscriber/ClientDeletedSubscriberTest.php
Due: client

Add comments about broken debug mode
  api/public/index.php
  client/public/index.php
Due: none

Add NDR to user research creation
  api/src/Controller/SatisfactionController.php
  api/src/Entity/Ndr/Ndr.php
  api/src/Entity/Satisfaction.php
  api/src/Migrations/Version251.php
  client/src/Controller/Ndr/NdrController.php
  client/src/Controller/Report/ReportController.php
  client/src/Entity/Report/Satisfaction.php
  client/src/EventDispatcher/ObservableEventDispatcher.php
  client/src/Service/Client/Internal/SatisfactionApi.php
Due: api, client

Fix dat file
  client/src/Controller/Admin/StatsController.php
  client/tests/phpunit/Mapper/ReportSubmission/ReportSubmissionSummaryMapperTest.php
Due: client

Test fix
  client/tests/phpunit/Service/Client/Internal/SatisfactionApiTest.php
Due: none

Remove whitespace between filename and extension during document upload
  client/src/Service/DocumentSyncService.php
  client/tests/phpunit/Service/DocumentSyncServiceTest.php
Due: client

Use preferred mimetype function as existing version was deprecated
  client/src/Service/DocumentSyncService.php
Due: client

Set perm error when file extension is missing
  client/src/Service/DocumentSyncService.php
  client/tests/phpunit/Service/DocumentSyncServiceTest.php
Due: client

Drop behat from api compose
  api/composer.json
Due: none

Drop behat namespace from api compsoer
  api/composer.json
Due: none

Updated tests steps to describe behaviour, condensed some iShouldBeOn steps
  behat/tests/bootstrap/v2/common/IShouldBeOnTrait.php
  behat/tests/bootstrap/v2/reporting/sections/VisitsCareSectionTrait.php
  behat/tests/features-v2/reporting/sections/visits-care/visits-care.feature
  behat/tests/features-v2/reporting/sections/visits-care/visits-care.ndr.feature
Due: none

Move duplicating client from controller to helper
  api/behat/tests/bootstrap/v2/Common/FixturesTrait.php
  api/behat/tests/bootstrap/v2/Common/IVisitTrait.php
  api/behat/tests/bootstrap/v2/Common/PageUrlsTrait.php
  api/behat/tests/bootstrap/v2/Helpers/FixtureHelper.php
  client/src/Controller/Admin/FixtureController.php
Due: client

Behat test fixes
  api/behat/tests/bootstrap/v2/Common/AssertTrait.php
  api/behat/tests/bootstrap/v2/Common/AuthTrait.php
  api/behat/tests/bootstrap/v2/Common/BaseFeatureContext.php
  api/behat/tests/bootstrap/v2/Helpers/FixtureHelper.php
  api/src/TestHelpers/BehatFixtures.php
Due: none

Drop BehatFixtures now tis part of FixturesHelper
  api/src/TestHelpers/BehatFixtures.php
  api/src/v2/Fixture/Controller/FixtureController.php
Due: none

Fix tests
  Makefile
  api/behat/tests/bootstrap/v2/Common/FixturesTrait.php
  api/behat/tests/bootstrap/v2/Common/PageUrlsTrait.php
  api/behat/tests/features-v2/acl/admin/super-admin-only.feature
  client/src/Controller/Admin/FixtureController.php
Due: client

Fix old behat db state saving and loading
  api/behat/tests/bootstrap/DbTrait.php
Due: none

More test fixes and update pipeline to use api image rather than test
  Makefile
  api/Dockerfile
  api/behat/run-smoke-tests.sh
  api/behat/run-tests.sh
  environment/ecr.tf
  environment/integration_test.tf
  environment/smoke_test.tf
Due: none

Fix old reference to test image
  environment/smoke_test.tf
Due: none

Drop test from ci docker-compose
  docker-compose.ci.yml
Due: none

Fix composer
  docker-compose.dev.yml
Due: none

Temp rename clientManagement
  api/behat/tests/bootstrap/v2/asfafdas/ClientManagementFeatureContext.php
  api/behat/tests/bootstrap/v2/asfafdas/ClientManagementTrait.php
Due: none

Revert ClientManagement folder name
  api/behat/tests/bootstrap/v2/ClientManagement/ClientManagementFeatureContext.php
  api/behat/tests/bootstrap/v2/ClientManagement/ClientManagementTrait.php
Due: none

Temp change directory name
  api/behat/tests/bootstrap/v2/Changed/ClientManagementFeatureContext.php
  api/behat/tests/bootstrap/v2/Changed/ClientManagementTrait.php
Due: none

Revert to correct directory name
  api/behat/tests/bootstrap/v2/ClientManagement/ClientManagementFeatureContext.php
  api/behat/tests/bootstrap/v2/ClientManagement/ClientManagementTrait.php
Due: none

DDPB-3962: Remove whitespace between filename and extension during document syncing (#632)
  client/src/Service/DocumentSyncService.php
  client/tests/phpunit/Service/DocumentSyncServiceTest.php
Due: client
