Repository ministryofjustice/opg-digideps: changes, and which Codecov flags are due for each by the changed paths.
All: api, client

codecov.yml:

coverage:
    status:
      project: off
      patch: off

ignore:
  - "api/src/DataFixtures/**/*"  # ignore folders and all its contents
  - "api/src/FixtureFactory/**/*"
  - "api/src/TestHelpers/**/*"
  - "api/src/v2/Fixture/**/*"
  - "client/src/Exception/**/*"
  - "client/src/Resources/**/*"

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null
flags:
  api:
    paths:
      - api/src
    carryforward: false
  client:
    paths:
      - client/src
    carryforward: false

created removeUnusualCharacters test
  client/src/Service/File/FileNameFixer.php
  client/tests/phpunit/Service/File/FileNameFixerTest.php
Due: client

Pass test for removing parenthsis
  client/src/Service/File/FileNameFixer.php
  client/tests/phpunit/Service/File/FileNameFixerTest.php
Due: client

passed all special characters removed test
  client/src/Service/File/FileNameFixer.php
  client/tests/phpunit/Service/File/FileNameFixerTest.php
Due: client

Transform all but last dot in filename to underscore
  client/src/Service/File/FileNameFixer.php
  client/tests/phpunit/Service/File/FileNameFixerTest.php
Due: client

Remove unusual characters on file upload
  client/src/Service/File/S3FileUploader.php
  client/tests/phpunit/Service/File/S3FileUploaderTest.php
Due: client

Drop console.logs
  client/assets/javascripts/__tests__/modules/ConditionalFieldRevealer.test.js
  client/assets/javascripts/modules/ConditionalFieldRevealer.js
Due: none

Drop debug tag
  api/tests/Behat/features-v2/reporting/sections/client-benefits-check/client-benefits-check.lay.feature
Due: none

Final deprectations
  api/scripts/apiunittest.sh
  api/src/FixtureFactory/UserFactory.php
  api/src/TestHelpers/ClientTestHelper.php
  api/src/TestHelpers/NamedDeputyTestHelper.php
  api/src/TestHelpers/UserTestHelper.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/ContactsSectionTrait.php
  api/tests/Unit/v2/Registration/TestHelpers/OrgDeputyshipDTOTestHelper.php
Due: none

Revert commenting out tests
  api/scripts/apiunittest.sh
Due: none

DDPB-4132: Update ClientBenefitsCheck validation errors with new content (#736)
  api/src/Entity/Report/ClientBenefitsCheck.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/ClientBenefitsCheckSectionTrait.php
  client/assets/javascripts/__tests__/modules/ConditionalFieldRevealer.test.js
  client/assets/javascripts/modules/ConditionalFieldRevealer.js
  client/assets/javascripts/modules/SessionTimeoutDialog.js
  client/assets/javascripts/pages/clientBenefitsCheckForm.js
  client/src/Controller/Report/ClientBenefitsCheckController.php
  client/src/Entity/Ndr/ClientBenefitsCheck.php
  client/src/Entity/Ndr/IncomeReceivedOnClientsBehalf.php
  client/src/Entity/Report/ClientBenefitsCheck.php
  client/src/Entity/Report/IncomeReceivedOnClientsBehalf.php
  client/src/Form/Report/ClientBenefitsCheckType.php
  client/src/Validator/Constraints/ClientBenefitsCheck/ClientBenefitsCheck.php
  client/src/Validator/Constraints/ClientBenefitsCheck/ClientBenefitsCheckValidator.php
  client/src/Validator/Constraints/ClientBenefitsCheck/IncomeReceivedOnClientsBehalf.php
  client/src/Validator/Constraints/ClientBenefitsCheck/IncomeReceivedOnClientsBehalfValidator.php
  client/templates/Report/ClientBenefitsCheck/step.html.twig
  client/tests/phpunit/Entity/Ndr/ClientBenefitsCheckTest.php
  client/tests/phpunit/Entity/Report/ClientBenefitsCheckTest.php
  client/tests/phpunit/Validator/Constraints/ClientBenefitsCheck/NdrClientBenefitsCheckValidatorTest.php
  client/tests/phpunit/Validator/Constraints/ClientBenefitsCheck/ReportClientBenefitsCheckValidatorTest.php
  client/translations/report-client-benefits-check.en.yml
  client/translations/validators.en.yml
  client/webpack.config.js
Due: api, client

Drop pact from main test suite
  client/tests/phpunit/phpunit.xml
Due: none

Bump liuggio/fastest to fix parallel test run errors
  api/composer.json
  api/composer.lock
Due: none

Changed test to only add one type from each category, instead of one of every type
  api/tests/Behat/bootstrap/v2/Reporting/Sections/MoneyOutSectionTrait.php
  api/tests/Behat/features-v2/reporting/sections/money-out/money-out.feature
Due: none

Exclude cross site scripting rule for now and add waf to all envs
  environment/terraform.tfvars.json
  shared/waf.tf
Due: none

DDPB-4211: Exclude cross site scripting rule for now and add waf to all envs (#755)
  environment/terraform.tfvars.json
  shared/waf.tf
Due: none

DDPB-4205: Fix API PHPUnit deprecations and warnings (#753)
  api/composer.json
  api/composer.lock
  api/config/packages/test/framework.yml
  api/src/Controller/Report/ReportController.php
  api/src/Controller/UserController.php
  api/src/Controller/UserResearchController.php
  api/src/Entity/CasRec.php
  api/src/FixtureFactory/ClientFactory.php
  api/src/FixtureFactory/UserFactory.php
  api/src/Service/ReportService.php
  api/src/Service/RestHandler/OrganisationRestHandler.php
  api/src/TestHelpers/ClientTestHelper.php
  api/src/TestHelpers/NamedDeputyTestHelper.php
  api/src/TestHelpers/UserTestHelper.php
  api/src/v2/Controller/ClientController.php
  api/src/v2/Fixture/Controller/FixtureController.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/ContactsSectionTrait.php
  api/tests/Unit/Controller-Ndr/AssetControllerTest.php
  api/tests/Unit/Controller/AuthControllerTest.php
  api/tests/Unit/Entity/Repository/DocumentRepositoryTest.php
  api/tests/Unit/Entity/Repository/OrganisationRepositoryTest.php
  api/tests/Unit/Factory/ClientBenefitsCheckFactoryTest.php
  api/tests/Unit/Security/ClientVoterTest.php
  api/tests/Unit/Security/OrganisationVoterTest.php
  api/tests/Unit/Security/UserVoterTest.php
  api/tests/Unit/Service/Auth/UserProviderTest.php
  api/tests/Unit/Service/CasrecVerificationServiceTest.php
  api/tests/Unit/Service/Formatter/RestFormatterTest.php
  api/tests/Unit/Service/OrganisationRestHandlerTest.php
  api/tests/Unit/Service/ReportServiceTest.php
  api/tests/Unit/Service/ReportStatusServiceTest.php
  api/tests/Unit/Service/ReportUtilsTest.php
  api/tests/Unit/v2/Registration/Assembler/CasRecToOrgDeputyshipDtoAssemblerTest.php
  api/tests/Unit/v2/Registration/TestHelpers/OrgDeputyshipDTOTestHelper.php
Due: api

[DDPB-4159] adding new content for deputy email address changes
  Makefile
  api/src/Controller/UserController.php
  client/.editorconfig
  client/src/Controller/SettingsController.php
  client/templates/Index/login.html.twig
  client/templates/Macros/macros.html.twig
  client/templates/Settings/emailEdit.html.twig
  client/templates/Settings/index.html.twig
Due: api, client

DDPB-3880: Filename sanitisation (#751)
  client/src/Service/File/FileNameFixer.php
  client/src/Service/File/S3FileUploader.php
  client/tests/phpunit/Service/File/FileNameFixerTest.php
  client/tests/phpunit/Service/File/S3FileUploaderTest.php
Due: client

Push some depedency and properties to FileUtility and create failing test suite for extension checking
  client/src/Service/File/FileNameFixer.php
  client/src/Service/File/FileUtility.php
  client/src/Service/File/MimeTypeAndExtensionChecker.php
  client/tests/phpunit/Service/File/MimeTypeAndExtensionCheckerTest.php
  client/tests/phpunit/TestData/jpeg-file.jpeg
  client/tests/phpunit/TestData/jpeg-file.pdf
  client/tests/phpunit/TestData/pdf-file.pdf
  client/tests/phpunit/TestData/pdf-file.png
  client/tests/phpunit/TestData/png-file.jpeg
  client/tests/phpunit/TestData/png-file.png
Due: client

[DDPB-3997] added some extra checks as lay's were seeing the same page as PA/Prof
  api/src/Controller/UserController.php
  client/src/Controller/SettingsController.php
  client/src/Form/ChangeEmailType.php
  client/templates/Index/login.html.twig
  client/templates/Settings/index.html.twig
  client/translations/signin.en.yml
Due: api, client

[DDPB-3997] reduce user settings to email address and password for PA and Prof deputy
  api/src/Controller/UserController.php
  client/src/Controller/SettingsController.php
  client/src/Entity/User.php
  client/src/Form/ChangeEmailType.php
  client/templates/Components/Form/_input.html.twig
  client/templates/Settings/emailEdit.html.twig
  client/templates/Settings/index.html.old.twig
  client/templates/Settings/index.html.twig
  client/translations/settings.en.yml
  client/translations/validators.en.yml
Due: api, client

[DDPB-3997] fixed formatting
  client/templates/Settings/index.html.twig
Due: none

[DDPB-3997] deleted old twig file no longer needed
  client/templates/Settings/index.html.old.twig
Due: none

[DDPB-3997] removed unused variable
  client/src/Controller/SettingsController.php
Due: client

[DDPB-3997] added some unit tests
  api/tests/Unit/Controller/UserControllerTest.php
Due: none

[DDPB-3997] fixed sign in message not being translated due to it being under the wrong section
  client/translations/signin.en.yml
Due: none

[DDPB-3997] updated makefile to add a make help command
  api/tests/Behat/features-v2/user-management/org/change-email.feature
Due: none

[DDPB-3997] removed some files
  api/tests/Behat/features-v2/user-management/org/change-email.feature
Due: none

[DDPB-3997] added check back in to see if user is active
  api/src/Controller/UserController.php
Due: api

[DDPB-3997] reduce user settings to email address and password for PA and Prof deputy
  client/src/Controller/SettingsController.php
  client/templates/Settings/index.html.old.twig
Due: client

[DDPB-4159] reverted mapped back to false
  client/src/Controller/SettingsController.php
Due: client

passed test
  client/src/Service/File/MimeTypeAndExtensionChecker.php
  client/tests/phpunit/Service/File/MimeTypeAndExtensionCheckerTest.php
  client/tests/phpunit/TestData/jpg-file.jpg
Due: client

[DDPB-4159] reverted back the loss work
  api/src/Controller/UserController.php
  client/templates/Index/login.html.twig
Due: api

[DDPB-4159] formatting issue
  client/src/Service/File/FileNameFixer.php
Due: client

[DDPB-4159] removed more files
  api/tests/Behat/features-v2/user-management/org/change-email.feature
Due: none

[DDPB-4159] removed old file
  client/templates/Settings/index.html.old.twig
Due: none

Changed test scenario to only add one type from each category, instead of one of every type (#754)
  api/tests/Behat/bootstrap/v2/Reporting/Sections/MoneyOutSectionTrait.php
  api/tests/Behat/features-v2/reporting/sections/money-out/money-out.feature
Due: none

created failing integration test
  api/tests/Behat/bootstrap/v2/Reporting/Sections/DocumentsSectionTrait.php
  api/tests/Behat/features-v2/reporting/sections/documents/documents.feature
  api/tests/Behat/fixtures/png-file.jpeg
  client/src/Service/File/MimeTypeAndExtensionChecker.php
Due: client
