Repository ministryofjustice/opg-digideps: changes, and which Codecov flags are due for each by the changed paths.
All: api, client

Drop BaseMailer
  client/app/config/services_mail.yml
Due: none

Test fixes
  api/tests/AppBundle/Controller/UserControllerTest.php
  client/tests/phpunit/Service/Client/Internal/NdrApiTest.php
Due: none

Remove unused RestClient token function
  client/src/AppBundle/EventSubscriber/ReportSubmittedSubscriber.php
  client/src/AppBundle/Service/Client/RestClient.php
Due: client

DDPB-3747: Show codeputy invite link when codeputies exist (#518)
  api/src/AppBundle/Controller/CasRecController.php
  api/src/AppBundle/FixtureFactory/CasRecFactory.php
  api/src/AppBundle/FixtureFactory/UserFactory.php
  api/src/AppBundle/v2/Fixture/Controller/FixtureController.php
  client/app/config/services.yml
  client/src/AppBundle/Controller/Admin/Client/ReportController.php
  client/src/AppBundle/Controller/Report/ReportController.php
  client/src/AppBundle/Resources/views/Report/Report/_codeputies.html.twig
  client/src/AppBundle/Resources/views/Report/Report/index.html.twig
  client/src/AppBundle/Service/Client/Internal/CasrecApi.php
Due: api, client

Reworked secrets
  environment/secrets.tf
  environment/terraform.tfvars.json
Due: none

DDPB-3675 - Implement Cross Browser Testing using BrowserStack + Behat (#530)
  environment/secrets.tf
  environment/terraform.tfvars.json
Due: none

Updated php.ini to set session cookies to secure
  client/docker/confd/templates/pool.conf.tmpl
Due: none

Updated php.ini to set session cookies to HTTPOnly
  client/docker/confd/templates/pool.conf.tmpl
Due: none

Update checklist submit confirmation message
  client/src/AppBundle/Resources/translations/admin-checklist.en.yml
  client/src/AppBundle/Resources/views/Admin/Client/Report/checklistSubmitted.html.twig
Due: none

Increase integration timeouts
  .circleci/config.yml
Due: none

Fix xdebug errors after PHP 7.4 update
  api/Dockerfile
  client/Dockerfile
Due: none

handle dates correctly and simplify csv generation
  api/src/AppBundle/Controller/SatisfactionController.php
  api/src/AppBundle/Entity/Satisfaction.php
  client/composer.json
  client/src/AppBundle/Controller/Admin/StatsController.php
  client/src/AppBundle/Mapper/ReportSatisfaction/ReportSatisfactionSummaryMapper.php
Due: api, client

DDPB-3714: Update checklist submit confirmation message to confirm checklist is in Sirius (#532)
  client/src/AppBundle/Resources/translations/admin-checklist.en.yml
  client/src/AppBundle/Resources/views/Admin/Client/Report/checklistSubmitted.html.twig
Due: none

DDPB-3557 - Confirm we use secure and http only cookies. (#531)
  client/docker/confd/templates/pool.conf.tmpl
Due: none

Add return type and make array readable
  api/src/AppBundle/Entity/User.php
  client/src/AppBundle/Controller/Org/TeamController.php
Due: api, client

Break out CSV building steps to CSV builder and encapsulate transaction CSV logic in service
  client/src/AppBundle/Controller/Report/ReportController.php
  client/src/AppBundle/Service/Csv/CsvBuilder.php
  client/src/AppBundle/Service/Csv/SatisfactionCsvGenerator.php
  client/src/AppBundle/Service/Csv/TransactionsCsvGenerator.php
  client/src/AppBundle/Service/CsvGeneratorService.php
  client/src/AppBundle/Service/ReportSubmissionService.php
  client/tests/phpunit/Service/Csv/CsvBuilderTest.php
  client/tests/phpunit/Service/Csv/TransactionCsvGeneratorTest.php
  client/tests/phpunit/Service/ReportSubmissionServiceTest.php
Due: client

Rework StatsController to use CsvBuilder
  client/src/AppBundle/Controller/Admin/StatsController.php
  client/src/AppBundle/Entity/Report/Satisfaction.php
  client/src/AppBundle/Mapper/ReportSatisfaction/ReportSatisfactionSummaryMapper.php
  client/src/AppBundle/Mapper/ReportSatisfaction/ReportSatisfactionSummaryQuery.php
  client/src/AppBundle/Service/Csv/SatisfactionCsvGenerator.php
  client/tests/phpunit/Controller/StatsControllerTest.php
  client/tests/phpunit/Mapper/ReportSatisfaction/ReportSatisfactionSummaryMapperTest.php
  client/tests/phpunit/Service/Csv/SatisfactionCsvGeneratorTest.php
Due: client

DDPB-3715 add initial selection of button despammers
  client/src/AppBundle/Resources/views/Feedback/index.html.twig
  client/src/AppBundle/Resources/views/Macros/macros.html.twig
  client/src/AppBundle/Resources/views/Report/Document/step2.html.twig
  client/src/AppBundle/Resources/views/Report/Report/declaration.html.twig
Due: none

Remove direct container access from ReportController
  client/src/AppBundle/Controller/Report/ReportController.php
Due: client

Remove direct container access from TeamController
  client/src/AppBundle/Controller/Org/TeamController.php
Due: client

Remove direct container access from IncomeBenefitController
  client/src/AppBundle/Controller/Ndr/IncomeBenefitController.php
Due: client

Remove direct container access from AuthController
  api/src/AppBundle/Controller/AuthController.php
Due: api

Remove direct container access from IndexController
  client/src/AppBundle/Controller/Admin/IndexController.php
Due: client

Remove direct container access from ClientContactController
  client/src/AppBundle/Controller/Org/ClientContactController.php
Due: client

Remove direct container access from NoteController
  client/src/AppBundle/Controller/Org/NoteController.php
Due: client

Remove direct container access from OrganisationController
  client/src/AppBundle/Controller/Admin/OrganisationController.php
Due: client

Remove direct container access from AjaxController
  client/src/AppBundle/Controller/Admin/AjaxController.php
Due: client

Remove direct container access from MoneyInController
  client/src/AppBundle/Controller/Report/MoneyInController.php
Due: client

Remove direct container access from ClientContactController
  api/src/AppBundle/Controller/ClientContactController.php
Due: api

Remove direct container access from DocumentController
  client/src/AppBundle/Controller/Report/DocumentController.php
Due: client

Remove direct container access from IndexController
  client/src/AppBundle/Controller/Org/IndexController.php
Due: client

Remove direct container access from CoDeputyController
  api/src/AppBundle/Controller/CoDeputyController.php
Due: api

Remove direct container access from ManageController
  api/app/config/services/defaults.yml
  api/src/AppBundle/Controller/ManageController.php
Due: api

Replace getEntityManager() with constructors
  api/src/AppBundle/Controller/AuthController.php
  api/src/AppBundle/Controller/ClientContactController.php
  api/src/AppBundle/Controller/ClientController.php
  api/src/AppBundle/Controller/CoDeputyController.php
  api/src/AppBundle/Controller/ManageController.php
  api/src/AppBundle/Controller/Ndr/AccountController.php
  api/src/AppBundle/Controller/Ndr/AssetController.php
  api/src/AppBundle/Controller/Ndr/ExpenseController.php
  api/src/AppBundle/Controller/Ndr/NdrController.php
  api/src/AppBundle/Controller/Ndr/VisitsCareController.php
  api/src/AppBundle/Controller/NoteController.php
  api/src/AppBundle/Controller/Report/AccountController.php
  api/src/AppBundle/Controller/Report/ActionController.php
  api/src/AppBundle/Controller/Report/AssetController.php
  api/src/AppBundle/Controller/Report/ContactController.php
  api/src/AppBundle/Controller/Report/DecisionController.php
  api/src/AppBundle/Controller/Report/DocumentController.php
  api/src/AppBundle/Controller/Report/ExpenseController.php
  api/src/AppBundle/Controller/Report/GiftController.php
  api/src/AppBundle/Controller/Report/LifestyleController.php
  api/src/AppBundle/Controller/Report/MentalCapacityController.php
  api/src/AppBundle/Controller/Report/MoneyTransactionController.php
  api/src/AppBundle/Controller/Report/MoneyTransactionShortController.php
  api/src/AppBundle/Controller/Report/MoneyTransferController.php
  api/src/AppBundle/Controller/Report/ProfDeputyPrevCostController.php
  api/src/AppBundle/Controller/Report/ProfServiceFeeController.php
  api/src/AppBundle/Controller/Report/ReportController.php
  api/src/AppBundle/Controller/Report/ReportSubmissionController.php
  api/src/AppBundle/Controller/Report/VisitsCareController.php
  api/src/AppBundle/Controller/RestController.php
  api/src/AppBundle/Controller/SelfRegisterController.php
  api/src/AppBundle/Controller/SettingController.php
  api/src/AppBundle/Controller/UserController.php
Due: api

Test impact of session delete over logout
  behat/tests/bootstrap/Common/AuthenticationTrait.php
Due: none

Remove remaining direct container access from classes
  api/src/AppBundle/Controller/ChecklistController.php
  api/src/AppBundle/Controller/ClientContactController.php
  api/src/AppBundle/Controller/Ndr/AccountController.php
  api/src/AppBundle/Controller/Ndr/ExpenseController.php
  api/src/AppBundle/Controller/Ndr/VisitsCareController.php
  api/src/AppBundle/Controller/NoteController.php
  api/src/AppBundle/Controller/Report/AccountController.php
  api/src/AppBundle/Controller/Report/ContactController.php
  api/src/AppBundle/Controller/Report/DecisionController.php
  api/src/AppBundle/Controller/Report/DocumentController.php
  api/src/AppBundle/Controller/Report/ExpenseController.php
  api/src/AppBundle/Controller/Report/GiftController.php
  api/src/AppBundle/Controller/Report/MoneyTransactionController.php
  api/src/AppBundle/Controller/Report/MoneyTransactionShortController.php
  api/src/AppBundle/Controller/Report/MoneyTransferController.php
  api/src/AppBundle/Controller/Report/ProfDeputyPrevCostController.php
  api/src/AppBundle/Controller/Report/ProfServiceFeeController.php
  api/src/AppBundle/Controller/Report/ReportController.php
  api/src/AppBundle/Controller/RestController.php
  api/src/AppBundle/Controller/SatisfactionController.php
  client/app/config/services/defaults.yml
  client/src/AppBundle/Controller/ClientController.php
  client/src/AppBundle/Controller/CoDeputyController.php
  client/src/AppBundle/Controller/IndexController.php
  client/src/AppBundle/Controller/ManageController.php
  client/src/AppBundle/Controller/Ndr/VisitsCareController.php
  client/src/AppBundle/Controller/Org/OrganisationController.php
  client/src/AppBundle/Controller/Report/ActionController.php
  client/src/AppBundle/Controller/Report/BankAccountController.php
  client/src/AppBundle/Controller/Report/MoneyOutController.php
  client/src/AppBundle/Controller/Report/VisitsCareController.php
  client/src/AppBundle/Controller/UserController.php
Due: api, client

Remove public flags from services and drop references to RestformatterTrait
  api/app/config/security.yml
  api/app/config/services.yml
  api/app/config/services/controllers.yml
  api/app/config/services/event_listeners.yml
  api/app/config/services/factories.yml
  api/src/AppBundle/Controller/AuthController.php
  api/src/AppBundle/Controller/ClientController.php
  api/src/AppBundle/Controller/Report/AccountController.php
  api/src/AppBundle/Controller/Report/ActionController.php
  api/src/AppBundle/Controller/Report/AssetController.php
  api/src/AppBundle/Controller/Report/ContactController.php
  api/src/AppBundle/Controller/Report/DecisionController.php
  api/src/AppBundle/Controller/Report/DocumentController.php
  api/src/AppBundle/Controller/Report/ExpenseController.php
  api/src/AppBundle/Controller/Report/GiftController.php
  api/src/AppBundle/Controller/TeamController.php
  client/app/config/services.yml
  client/app/config/services/file_uploads.yml
  client/app/config/services_api.yml
  client/app/config/services_mail.yml
Due: api

Path conditions:
  api: any of: api/src/AppBundle, but not: api/src/AppBundle/DataFixtures/**/*, api/src/AppBundle/FixtureFactory/**/*, api/src/AppBundle/TestHelpers/**/*, api/src/AppBundle/v2/Fixture/**/*, client/src/AppBundle/Exception/**/*, client/src/AppBundle/Resources/**/*
  client: any of: client/src/AppBundle, but not: api/src/AppBundle/DataFixtures/**/*, api/src/AppBundle/FixtureFactory/**/*, api/src/AppBundle/TestHelpers/**/*, api/src/AppBundle/v2/Fixture/**/*, client/src/AppBundle/Exception/**/*, client/src/AppBundle/Resources/**/*
