Repository ministryofjustice/opg-digideps: changes, and which Codecov flags are due for each by the changed paths.
All: api, client

codecov.yml:

coverage:
    status:
      project: off
      patch: off

ignore:
  - "api/src/DataFixtures/**/*"  # ignore folders and all its contents
  - "api/src/FixtureFactory/**/*"
  - "api/src/TestHelpers/**/*"
  - "api/src/v2/Fixture/**/*"
  - "client/src/Exception/**/*"
  - "client/src/Resources/**/*"

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null
flags:
  api:
    paths:
      - api/src
    carryforward: false
  client:
    paths:
      - client/src
    carryforward: false

Cover money-out in new formfilling and summary assertion
  api/src/TestHelpers/ReportTestHelper.php
  api/tests/Behat/bootstrap/v2/Common/AlertsTrait.php
  api/tests/Behat/bootstrap/v2/Common/FormFillingTrait.php
  api/tests/Behat/bootstrap/v2/Common/UserDetails.php
  api/tests/Behat/bootstrap/v2/Helpers/FixtureHelper.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/MoneyOutSectionTrait.php
  api/tests/Behat/features-v2/reporting/sections/money-out/money-out.feature
Due: none

Cover money out short in new form filling and summary assertion
  api/tests/Behat/bootstrap/v2/Common/FormFillingTrait.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/MoneyOutShortSectionTrait.php
  api/tests/Behat/features-v2/reporting/sections/money-out/money-out-short.feature
  api/tests/Behat/features-v2/reporting/sections/money-out/money-out.feature
Due: none

Cover property assets in new form filling and summary assertion code
  api/tests/Behat/bootstrap/v2/Common/ExpectedResultsTrait.php
  api/tests/Behat/bootstrap/v2/Common/FormFillingTrait.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/AssetsSectionTrait.php
  api/tests/Behat/features-v2/reporting/sections/assets/assets.feature
  api/tests/Behat/features-v2/reporting/sections/money-out/money-out-short.feature
Due: none

Cover rest of assets in form filling and assertion code
  api/tests/Behat/bootstrap/v2/Reporting/Sections/AssetsSectionTrait.php
  api/tests/Behat/features-v2/reporting/sections/assets/assets.feature
Due: none

Remove old summary assertion code
  api/tests/Behat/bootstrap/v2/Common/ExpectedResultsTrait.php
Due: none

DDPB-4044 use weasyprint for pdf generation
  .circleci/config.yml
  WEASYTESTING/jimmy.html
  WEASYTESTING/jimmy.pdf
  api/tests/Behat/features/deputy/01-registration-steps/00-prechecks.feature
  client/config/parameters.yml.dist
  client/config/services.yml
  client/docker/confd/conf.d/parameters.hml.toml
  client/docker/confd/templates/parameters.yml.tmpl
  client/src/Controller/ManageController.php
  client/src/Controller/Ndr/NdrController.php
  client/src/Service/Availability/HtmlToPdfAvailability.php
  client/src/Service/Availability/WkHtmlToPdfAvailability.php
  client/src/Service/ChecklistPdfGenerator.php
  client/src/Service/HtmlToPdfGenerator.php
  client/src/Service/ReportSubmissionService.php
  client/tests/phpunit/Service/ChecklistPdfGeneratorTest.php
  client/tests/phpunit/Service/ReportSubmissionServiceTest.php
  docker-compose.ci.test.yml
  docker-compose.ci.yml
  docker-compose.override.yml
  docker-compose.yml
  environment/admin_service.tf
  environment/admin_sg.tf
  environment/checklist_sync.tf
  environment/dashboard.tf
  environment/ecr.tf
  environment/front_service.tf
  environment/front_sg.tf
  environment/htmltopdf.tf
  environment/htmltopdf_sg.tf
  environment/outputs.tf
  htmltopdf/Dockerfile
  htmltopdf/app.py
  htmltopdf/clean-tmp
  htmltopdf/docker-entrypoint.sh
Due: client

Test fixes
  api/src/TestHelpers/ReportTestHelper.php
  api/tests/Behat/bootstrap/v2/Common/ExpectedResultsTrait.php
  api/tests/Behat/bootstrap/v2/Common/FormFillingTrait.php
  api/tests/Behat/bootstrap/v2/Helpers/FixtureHelper.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/AccountsSectionTrait.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/DeputyExpensesSectionTrait.php
  api/tests/Behat/features-v2/reporting/sections/accounts/accounts.feature
  api/tests/Behat/features-v2/reporting/sections/accounts/accounts.ndr.feature
  api/tests/Behat/features-v2/reporting/sections/assets/assets.feature
  client/templates/Ndr/BankAccount/_list.html.twig
Due: none

Move contact-details into v2 and remove useless preview tests
  api/tests/Behat/behat.yml
  api/tests/Behat/bootstrap/ContactDetails/ContactDetailsFeatureContext.php
  api/tests/Behat/bootstrap/v2/ContactDetails/ContactDetailsFeatureContext.php
  api/tests/Behat/bootstrap/v2/ContactDetails/ContactDetailsTrait.php
  api/tests/Behat/features-v2/contact-details/contact-details.feature
  api/tests/Behat/features-v2/reporting/preview/preview-report.feature
Due: none

Replace throwContextualException with new BehatException
  api/tests/Behat/bootstrap/v2/ACL/ACLTrait.php
  api/tests/Behat/bootstrap/v2/AdminManagement/AdminManagementTrait.php
  api/tests/Behat/bootstrap/v2/Analytics/AnalyticsTrait.php
  api/tests/Behat/bootstrap/v2/ClientManagement/ClientManagementTrait.php
  api/tests/Behat/bootstrap/v2/Common/AlertsTrait.php
  api/tests/Behat/bootstrap/v2/Common/BaseFeatureContext.php
  api/tests/Behat/bootstrap/v2/Common/ElementSelectionTrait.php
  api/tests/Behat/bootstrap/v2/Common/ErrorsTrait.php
  api/tests/Behat/bootstrap/v2/Common/FixturesTrait.php
  api/tests/Behat/bootstrap/v2/Common/IShouldBeOnFrontendTrait.php
  api/tests/Behat/bootstrap/v2/Common/IVisitAdminTrait.php
  api/tests/Behat/bootstrap/v2/Common/IVisitFrontendTrait.php
  api/tests/Behat/bootstrap/v2/Common/ReportTrait.php
  api/tests/Behat/bootstrap/v2/Feedback/FeedbackTrait.php
  api/tests/Behat/bootstrap/v2/OrganisationManagement/OrganisationManagementTrait.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/AdditionalInformationSectionTrait.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/ContactsSectionTrait.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/DeputyExpensesSectionTrait.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/DocumentsSectionTrait.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/ReportingSectionsFeatureContext.php
Due: none

webpack5
  client/package-lock.json
  client/package.json
Due: none

Cover all section navigation links in behat
  api/tests/Behat/behat.yml
  api/tests/Behat/bootstrap/v2/Common/IVisitFrontendTrait.php
  api/tests/Behat/bootstrap/v2/Common/PageUrlsTrait.php
  api/tests/Behat/bootstrap/v2/Common/ReportTrait.php
  api/tests/Behat/bootstrap/v2/ReportSectionNavigation/ReportSectionNavigationFeatureContext.php
  api/tests/Behat/bootstrap/v2/ReportSectionNavigation/ReportSectionNavigationTrait.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/ReportingSectionsFeatureContext.php
  api/tests/Behat/features-v2/contact-details/contact-details.feature
  api/tests/Behat/features-v2/reporting/section-navigation/section-navigation.lay.combined.feature
  api/tests/Behat/features-v2/reporting/section-navigation/section-navigation.lay.hw.feature
  api/tests/Behat/features-v2/reporting/section-navigation/section-navigation.pa.feature
  api/tests/Behat/features-v2/reporting/section-navigation/section-navigation.prof.feature
  api/tests/Behat/features-v2/reporting/sections/actions/actions.feature
  api/tests/Behat/features-v2/reporting/sections/additional-information/additional-information.feature
  api/tests/Behat/features-v2/reporting/sections/contacts/contacts.feature
Due: none

Add further report sections for navigation
  api/tests/Behat/bootstrap/v2/Common/BaseFeatureContext.php
  api/tests/Behat/bootstrap/v2/Common/IVisitFrontendTrait.php
  api/tests/Behat/bootstrap/v2/Common/PageUrlsTrait.php
  api/tests/Behat/bootstrap/v2/Common/ReportTrait.php
  api/tests/Behat/bootstrap/v2/Helpers/FixtureHelper.php
  api/tests/Behat/features-v2/reporting/section-navigation/section-navigation.lay.combined.feature
  api/tests/Behat/features-v2/reporting/section-navigation/section-navigation.lay.hw.feature
  api/tests/Behat/features-v2/reporting/section-navigation/section-navigation.pa.feature
  api/tests/Behat/features-v2/reporting/section-navigation/section-navigation.prof.feature
Due: none

webpack5 stuff
  api/tests/Behat/behat.yml
  api/tests/Behat/bootstrap/v2/Reporting/Sections/VisitsCareSectionTrait.php
  api/tests/Behat/features-v2/reporting/sections/visits-care/js-basic-test.feature
  client/package-lock.json
  client/package.json
  client/webpack.config.js
Due: none

Update contact details to use fixture tags
  api/tests/Behat/bootstrap/v2/Common/IVisitAdminTrait.php
  api/tests/Behat/bootstrap/v2/Common/IVisitFrontendTrait.php
  api/tests/Behat/bootstrap/v2/ContactDetails/ContactDetailsTrait.php
  api/tests/Behat/features-v2/contact-details/contact-details.feature
Due: none

Only discharge deputies when case number has changed OR case number is same but made date has changed
  api/src/TestHelpers/ClientTestHelper.php
  api/src/v2/Registration/Uploader/OrgDeputyshipUploader.php
  api/tests/Behat/bootstrap/v2/Registration/IngestTrait.php
  api/tests/Behat/features-v2/registration/ingest.org.casrec.feature
  api/tests/Behat/fixtures/casrec-csvs/org-1-updated-row-existing-case-number-new-made-date.csv
Due: api

webpack5 stuff
  api/tests/Behat/behat.yml
  api/tests/Behat/features-v2/reporting/sections/visits-care/js-basic-test.feature
  client/package-lock.json
  client/package.json
  client/webpack.config.js
Due: none

[DDPB-3951] behat rewrite for admin app notifications (#680)
  api/tests/Behat/behat.yml
  api/tests/Behat/bootstrap/v2/AppNotification/AppNotificationFeatureContext.php
  api/tests/Behat/bootstrap/v2/AppNotification/AppNotificationTrait.php
  api/tests/Behat/bootstrap/v2/Common/IShouldBeOnAdminTrait.php
  api/tests/Behat/bootstrap/v2/Common/IShouldBeOnFrontendTrait.php
  api/tests/Behat/bootstrap/v2/Common/IVisitAdminTrait.php
  api/tests/Behat/bootstrap/v2/Common/IVisitFrontendTrait.php
  api/tests/Behat/bootstrap/v2/Common/PageUrlsTrait.php
  api/tests/Behat/features-v2/app-notification/app-notification.feature
  api/tests/Behat/features-v2/reporting/sections/gifts/gifts.feature
Due: none

Drop running old behat tests in pipeline
  .circleci/config.yml
Due: none

DDPB-4044 fixed comments
  client/src/Service/Availability/HtmlToPdfAvailability.php
  htmltopdf/app.py
Due: client

Removing feature flag from api
  api/scripts/localstack-init.php
Due: none

Prefer more recent version of edit-users
  api/tests/Behat/features-v2/deputy-management/admin/edit-user.feature
  api/tests/Behat/features-v2/user-management/admin/edit-user.feature
Due: none

Stop requiring clients to have switched firms to check if court order has changed
  api/src/v2/Registration/Uploader/OrgDeputyshipUploader.php
  api/tests/Behat/bootstrap/v2/Registration/IngestTrait.php
  api/tests/Behat/fixtures/casrec-csvs/org-1-updated-row-new-named-deputy.csv
  api/tests/Unit/v2/Registration/TestHelpers/OrgDeputyshipDTOTestHelper.php
  api/tests/Unit/v2/Registration/Uploader/OrgDeputyshipUploaderTest.php
Due: api

DDPB-4044 pdfs are smaller so change char count expected
  client/src/Service/HtmlToPdfGenerator.php
Due: client

Added date feature flag for additional benefits questions (#678)
  api/scripts/localstack-init.php
  client/scripts/localstack-init.php
  client/src/Controller/Ndr/NdrController.php
  client/src/Controller/Report/ReportController.php
  client/src/Service/ParameterStoreService.php
  environment/front.tf
  environment/parameters.tf
Due: client

DDPB-4075 update alpine version
  api/Dockerfile
  client/Dockerfile
Due: none

DDPB-4075 update alpine version (#684)
  api/Dockerfile
  client/Dockerfile
Due: none

Ddpb 4067 webpack5
  client/package-lock.json
  client/package.json
  client/webpack.config.js
Due: none

DDPB-4076 add some extra logging for manage availability
  client/src/Controller/ManageController.php
Due: client

fix sec vulnerability
  client/package-lock.json
Due: none

DDPB-4047 initial commit
  api/tests/Behat/run-tests-parallel.sh
Due: none

Ddpb 4076 add extra logging to availability and update a dependency
  client/package-lock.json
  client/src/Controller/ManageController.php
Due: client

try out scaling config
  .circleci/config.yml
  aws_config
  environment/ecs_autoscaling/main.tf
  environment/terraform.tfvars.json
Due: none

try splitting out reporting
  .circleci/config.yml
  api/Dockerfile
  api/tests/Behat/features-v2/reporting/report-overview/report-overview.feature
  api/tests/Behat/features-v2/reporting/section-navigation/section-navigation.lay.combined.feature
  api/tests/Behat/features-v2/reporting/section-navigation/section-navigation.pa.feature
  api/tests/Behat/features-v2/reporting/section-navigation/section-navigation.prof.feature
  api/tests/Behat/features-v2/reporting/sections/accounts/accounts.feature
  api/tests/Behat/features-v2/reporting/sections/actions/actions.feature
  api/tests/Behat/features-v2/reporting/sections/additional-information/additional-information.feature
  api/tests/Behat/features-v2/reporting/sections/assets/assets.feature
  api/tests/Behat/features-v2/reporting/sections/debts/debts.feature
  api/tests/Behat/features-v2/reporting/sections/deputy-costs-estimate/deputy-costs-estimate.feature
  api/tests/Behat/features-v2/reporting/sections/deputy-costs/deputy-costs.org.feature
  api/tests/Behat/features-v2/reporting/sections/deputy-expenses/deputy-expenses.feature
  api/tests/Behat/features-v2/reporting/sections/documents/documents.feature
  api/tests/Behat/features-v2/reporting/sections/documents/documents.org.feature
  api/tests/Behat/features-v2/reporting/sections/health-lifestyle/health-lifestyle.feature
  api/tests/Behat/features-v2/reporting/sections/money-in/money-in.high-assets.feature
  api/tests/Behat/features-v2/reporting/sections/money-in/money-in.low-assets.feature
  api/tests/Behat/features-v2/reporting/sections/money-out/money-out-short.feature
  api/tests/Behat/features-v2/reporting/sections/money-out/money-out.feature
  api/tests/Behat/features-v2/reporting/sections/visits-care/visits-care.feature
  api/tests/Behat/features-v2/reporting/sections/visits-care/visits-care.ndr.feature
  ecs_helper/cmd/runner/main.go
  environment/ecs_autoscaling/main.tf
  environment/terraform.tfvars.json
Due: none

Ddpb 4044 switch pdf generation to weasyprint
  .circleci/config.yml
  api/tests/Behat/features/deputy/01-registration-steps/00-prechecks.feature
  client/config/parameters.yml.dist
  client/config/services.yml
  client/docker/confd/conf.d/parameters.hml.toml
  client/docker/confd/templates/parameters.yml.tmpl
  client/src/Controller/ManageController.php
  client/src/Controller/Ndr/NdrController.php
  client/src/Service/Availability/HtmlToPdfAvailability.php
  client/src/Service/Availability/WkHtmlToPdfAvailability.php
  client/src/Service/ChecklistPdfGenerator.php
  client/src/Service/HtmlToPdfGenerator.php
  client/src/Service/ReportSubmissionService.php
  client/tests/phpunit/Service/ChecklistPdfGeneratorTest.php
  client/tests/phpunit/Service/ReportSubmissionServiceTest.php
  docker-compose.ci.test.yml
  docker-compose.ci.yml
  docker-compose.override.yml
  docker-compose.yml
  environment/admin_service.tf
  environment/admin_sg.tf
  environment/checklist_sync.tf
  environment/dashboard.tf
  environment/ecr.tf
  environment/front_service.tf
  environment/front_sg.tf
  environment/htmltopdf.tf
  environment/htmltopdf_sg.tf
  environment/outputs.tf
  htmltopdf/Dockerfile
  htmltopdf/app.py
  htmltopdf/clean-tmp
  htmltopdf/docker-entrypoint.sh
  wkhtmltopdf/Dockerfile
Due: client

Update analytics behat to run in parallel and drop standalone parallel tests from pipeline
  .circleci/config.yml
  Makefile
  api/tests/Behat/bootstrap/v2/Analytics/AnalyticsTrait.php
  api/tests/Behat/bootstrap/v2/Common/BaseFeatureContext.php
  api/tests/Behat/features-v2/analytics/analytics.feature
  api/tests/Behat/run-tests-parallel.sh
Due: none

Run plans at same time as tests
  .circleci/config.yml
Due: none
