Repository ministryofjustice/opg-digideps: changes, and which Codecov flags are due for each by the changed paths.
All: api, client

API unit test fixes
  api/tests/Unit/v2/Registration/Uploader/OrgDeputyshipUploaderTest.php
Due: none

fix up comments
  Makefile
  api/Dockerfile
  api/tests/Behat/bootstrap/v2/Analytics/AnalyticsTrait.php
  api/tests/Behat/bootstrap/v2/Helpers/FixtureHelper.php
  api/tests/Behat/features-v2/analytics/analytics.feature
  api/tests/Behat/run-tests-parallel.sh
  environment/integration_test_v2.tf
Due: none

DDPB-3952 add analytics v2 tests (#674)
  Makefile
  api/Dockerfile
  api/src/Service/Stats/Query/Query.php
  api/src/TestHelpers/ReportTestHelper.php
  api/tests/Behat/behat.yml
  api/tests/Behat/bootstrap/v2/Analytics/AnalyticsFeatureContext.php
  api/tests/Behat/bootstrap/v2/Analytics/AnalyticsTrait.php
  api/tests/Behat/bootstrap/v2/Common/BaseFeatureContext.php
  api/tests/Behat/bootstrap/v2/Common/IShouldBeOnAdminTrait.php
  api/tests/Behat/bootstrap/v2/Helpers/FixtureHelper.php
  api/tests/Behat/features-v2/analytics/analytics.feature
  api/tests/Behat/run-tests-parallel.sh
  api/tests/Behat/run-tests.sh
  docker-compose.dev.yml
  environment/integration_test_v2.tf
Due: api

Remove duplicate ids
  api/src/v2/Registration/Uploader/OrgDeputyshipUploader.php
Due: api

Concat dep no and address no to account for deputy numbers associated with multiple addresses
  api/src/Entity/NamedDeputy.php
  api/src/Migrations/Version255.php
  api/src/v2/Assembler/NamedDeputyAssembler.php
  api/src/v2/Registration/Assembler/CasRecToOrgDeputyshipDtoAssembler.php
  api/src/v2/Registration/Uploader/OrgDeputyshipUploader.php
  api/tests/Behat/bootstrap/v2/Registration/IngestTrait.php
  api/tests/Behat/fixtures/casrec-csvs/org-1-row-existing-named-deputy-and-client-new-org-and-street-address.csv
  api/tests/Unit/v2/Registration/Assembler/CasRecToOrgDeputyshipDtoAssemblerTest.php
  api/tests/Unit/v2/Registration/TestHelpers/OrgDeputyshipDTOTestHelper.php
  client/src/Controller/Admin/IndexController.php
Due: api, client

Covers named deputies with different addresses
  api/tests/Behat/bootstrap/v2/Registration/IngestTrait.php
  api/tests/Behat/features-v2/organisation-management/admin/edit-organisation.feature
  api/tests/Behat/features-v2/registration/ingest.org.casrec.feature
  api/tests/Behat/fixtures/casrec-csvs/org-2-rows-1-named-deputy-with-different-addresses.csv
Due: none

Fix argument spacing
  api/tests/Behat/bootstrap/v2/Helpers/FixtureHelper.php
Due: none

[DDPB-3948] reporting checklist admin behat tests
  api/tests/Behat/behat.yml
  api/tests/Behat/bootstrap/v2/Common/BaseFeatureContext.php
  api/tests/Behat/bootstrap/v2/Common/INavigateToAdminTrait.php
  api/tests/Behat/bootstrap/v2/Common/IShouldBeOnAdminTrait.php
  api/tests/Behat/bootstrap/v2/Common/UserDetails.php
  api/tests/Behat/bootstrap/v2/Reporting/Admin/ReportingAdminFeatureContext.php
  api/tests/Behat/bootstrap/v2/Reporting/Admin/ReportingChecklistTrait.php
  api/tests/Behat/features-v2/reporting/admin/checklist/checklist.feature
Due: none

[DDPB-3948] added extra tests
  api/tests/Behat/bootstrap/v2/Common/BaseFeatureContext.php
  api/tests/Behat/bootstrap/v2/Reporting/Admin/ReportingChecklistTrait.php
  api/tests/Behat/features-v2/reporting/admin/checklist/checklist.feature
Due: none

[DDPB-3948] fixed minor issue
  api/tests/Behat/bootstrap/v2/Helpers/FixtureHelper.php
Due: none

[DDPB-3948] fixed sentence
  api/tests/Behat/bootstrap/v2/Reporting/Admin/ReportingChecklistTrait.php
  api/tests/Behat/features-v2/reporting/admin/checklist/checklist.feature
Due: none

[DDPB-3948] adding extra reporting scenarios and also added extra fixtures
  api/tests/Behat/bootstrap/v2/Common/BaseFeatureContext.php
  api/tests/Behat/bootstrap/v2/Helpers/FixtureHelper.php
  api/tests/Behat/bootstrap/v2/Reporting/Admin/ReportingChecklistTrait.php
  api/tests/Behat/features-v2/reporting/admin/checklist/checklist.feature
Due: none

[DDPB-3948] adding extra behat fixtures and other good stuff
  api/tests/Behat/bootstrap/v2/Common/BaseFeatureContext.php
  api/tests/Behat/bootstrap/v2/Helpers/FixtureHelper.php
  api/tests/Behat/bootstrap/v2/Reporting/Admin/ReportingChecklistTrait.php
  api/tests/Behat/features-v2/reporting/admin/checklist/checklist.feature
Due: none

test fixes
  api/tests/Behat/bootstrap/v2/Common/BaseFeatureContext.php
  api/tests/Behat/bootstrap/v2/Helpers/FixtureHelper.php
Due: none

[DDPB-3948] fixed conflicts
  api/tests/Behat/bootstrap/v2/Common/BaseFeatureContext.php
  api/tests/Behat/bootstrap/v2/Helpers/FixtureHelper.php
  api/tests/Behat/features-v2/reporting/admin/checklist/checklist.feature
Due: none

[DDPB-3948] updated scenario wording
  api/tests/Behat/bootstrap/v2/Reporting/Admin/ReportingChecklistTrait.php
  api/tests/Behat/features-v2/reporting/admin/checklist/checklist.feature
Due: none

[DDPB-3948] addressed last feedback comment
  api/tests/Behat/bootstrap/v2/Reporting/Admin/ReportingChecklistTrait.php
  api/tests/Behat/features-v2/reporting/admin/checklist/checklist.feature
Due: none

[DDPB-3948] reporting checklist admin behat tests (#668)
  api/tests/Behat/behat.yml
  api/tests/Behat/bootstrap/v2/Common/BaseFeatureContext.php
  api/tests/Behat/bootstrap/v2/Common/INavigateToAdminTrait.php
  api/tests/Behat/bootstrap/v2/Common/IShouldBeOnAdminTrait.php
  api/tests/Behat/bootstrap/v2/Common/UserDetails.php
  api/tests/Behat/bootstrap/v2/Helpers/FixtureHelper.php
  api/tests/Behat/bootstrap/v2/Reporting/Admin/ReportingAdminFeatureContext.php
  api/tests/Behat/bootstrap/v2/Reporting/Admin/ReportingChecklistTrait.php
  api/tests/Behat/features-v2/reporting/admin/checklist/checklist.feature
Due: none

Cover first report maagement feature
  api/tests/Behat/behat.yml
  api/tests/Behat/bootstrap/v2/Common/BaseFeatureContext.php
  api/tests/Behat/bootstrap/v2/Common/FixturesTrait.php
  api/tests/Behat/bootstrap/v2/Common/IShouldBeOnAdminTrait.php
  api/tests/Behat/bootstrap/v2/Common/IVisitAdminTrait.php
  api/tests/Behat/bootstrap/v2/Common/ReportTrait.php
  api/tests/Behat/bootstrap/v2/Common/UserDetails.php
  api/tests/Behat/bootstrap/v2/Helpers/FixtureHelper.php
  api/tests/Behat/bootstrap/v2/ReportManagement/ReportManagementFeatureContext.php
  api/tests/Behat/bootstrap/v2/ReportManagement/ReportManagementTrait.php
  api/tests/Behat/features-v2/report-management/report-management.feature
  client/templates/Admin/Client/Client/details.html.twig
Due: none

Cover submitted report
  api/tests/Behat/bootstrap/v2/ClientManagement/ClientManagementTrait.php
  api/tests/Behat/bootstrap/v2/Common/AuthTrait.php
  api/tests/Behat/bootstrap/v2/Common/BaseFeatureContext.php
  api/tests/Behat/bootstrap/v2/Common/FormFillingTrait.php
  api/tests/Behat/bootstrap/v2/Common/ReportTrait.php
  api/tests/Behat/bootstrap/v2/Common/UserDetails.php
  api/tests/Behat/bootstrap/v2/Helpers/FixtureHelper.php
  api/tests/Behat/bootstrap/v2/ReportManagement/ReportManagementTrait.php
  api/tests/Behat/features-v2/report-management/report-management.feature
Due: none

Cover remaining sections in behat
  api/tests/Behat/bootstrap/v2/ClientManagement/ClientManagementTrait.php
  api/tests/Behat/bootstrap/v2/Common/BaseFeatureContext.php
  api/tests/Behat/bootstrap/v2/Common/IShouldBeOnAdminTrait.php
  api/tests/Behat/bootstrap/v2/Common/IVisitAdminTrait.php
  api/tests/Behat/bootstrap/v2/Common/ReportTrait.php
  api/tests/Behat/bootstrap/v2/Helpers/FixtureHelper.php
  api/tests/Behat/bootstrap/v2/ReportManagement/ReportManagementTrait.php
  api/tests/Behat/features-v2/report-management/report-management.feature
Due: none

DDPB-3943 behat tests for user administration
  api/tests/Behat/behat.yml
  api/tests/Behat/bootstrap/v2/Common/AlertsTrait.php
  api/tests/Behat/bootstrap/v2/Common/AssertTrait.php
  api/tests/Behat/bootstrap/v2/Common/BaseFeatureContext.php
  api/tests/Behat/bootstrap/v2/Common/ElementSelectionTrait.php
  api/tests/Behat/bootstrap/v2/Common/IShouldBeOnAdminTrait.php
  api/tests/Behat/bootstrap/v2/Common/IVisitAdminTrait.php
  api/tests/Behat/bootstrap/v2/Common/PageUrlsTrait.php
  api/tests/Behat/bootstrap/v2/Helpers/FixtureHelper.php
  api/tests/Behat/bootstrap/v2/UserManagement/UserManagementFeatureContext.php
  api/tests/Behat/bootstrap/v2/UserManagement/UserManagementTrait.php
  api/tests/Behat/features-v2/user-management/create-user.feature
  api/tests/Behat/features-v2/user-management/edit-user.feature
  api/tests/Behat/features-v2/user-management/search-user.feature
  client/src/Entity/User.php
  client/src/Form/Admin/SearchType.php
  client/templates/Admin/Index/index.html.twig
  client/translations/admin-clients.en.yml
Due: client

Test fixes
  api/tests/Behat/bootstrap/v2/ReportManagement/ReportManagementTrait.php
  api/tests/Behat/features-v2/report-management/report-management.feature
Due: none

fix based on comments
  api/tests/Behat/bootstrap/v2/Common/AlertsTrait.php
  api/tests/Behat/bootstrap/v2/Common/AssertTrait.php
  api/tests/Behat/bootstrap/v2/UserManagement/UserManagementTrait.php
  api/tests/Behat/features-v2/user-management/create-user.feature
  api/tests/Behat/features-v2/user-management/search-user.feature
Due: none

Add PA specific sections to tests
  api/tests/Behat/bootstrap/v2/Helpers/FixtureHelper.php
  api/tests/Behat/bootstrap/v2/ReportManagement/ReportManagementTrait.php
  api/tests/Behat/features-v2/report-management/report-management.feature
Due: none

fixed last comment
  api/tests/Behat/bootstrap/v2/Common/ElementSelectionTrait.php
  api/tests/Behat/bootstrap/v2/Common/INavigateToAdminTrait.php
  api/tests/Behat/bootstrap/v2/UserManagement/UserManagementTrait.php
  api/tests/Behat/features/admin/08-deputy-search.feature
Due: none

DDPB-3947: Behat rewrite - report management (#676)
  api/tests/Behat/behat.yml
  api/tests/Behat/bootstrap/v2/ClientManagement/ClientManagementTrait.php
  api/tests/Behat/bootstrap/v2/Common/AuthTrait.php
  api/tests/Behat/bootstrap/v2/Common/BaseFeatureContext.php
  api/tests/Behat/bootstrap/v2/Common/FixturesTrait.php
  api/tests/Behat/bootstrap/v2/Common/FormFillingTrait.php
  api/tests/Behat/bootstrap/v2/Common/IShouldBeOnAdminTrait.php
  api/tests/Behat/bootstrap/v2/Common/IVisitAdminTrait.php
  api/tests/Behat/bootstrap/v2/Common/ReportTrait.php
  api/tests/Behat/bootstrap/v2/Common/UserDetails.php
  api/tests/Behat/bootstrap/v2/Helpers/FixtureHelper.php
  api/tests/Behat/bootstrap/v2/ReportManagement/ReportManagementFeatureContext.php
  api/tests/Behat/bootstrap/v2/ReportManagement/ReportManagementTrait.php
  api/tests/Behat/features-v2/report-management/report-management.feature
  client/templates/Admin/Client/Client/details.html.twig
Due: none

tweak to sirius request timeout
  client/src/Service/Client/Sirius/SiriusApiGatewayClient.php
Due: client

rebase
  client/tests/phpunit/Service/Client/Sirius/SiriusApiGatewayClientTest.php
Due: none

Added date feature flag for additional benefits questions
  client/src/Controller/Report/ReportController.php
  client/src/Service/ParameterStoreService.php
  environment/parameters.tf
Due: client

DDPB-3943 behat tests for user administration (#675)
  api/tests/Behat/behat.yml
  api/tests/Behat/bootstrap/v2/Common/AlertsTrait.php
  api/tests/Behat/bootstrap/v2/Common/AssertTrait.php
  api/tests/Behat/bootstrap/v2/Common/BaseFeatureContext.php
  api/tests/Behat/bootstrap/v2/Common/ElementSelectionTrait.php
  api/tests/Behat/bootstrap/v2/Common/INavigateToAdminTrait.php
  api/tests/Behat/bootstrap/v2/Common/IShouldBeOnAdminTrait.php
  api/tests/Behat/bootstrap/v2/Common/IVisitAdminTrait.php
  api/tests/Behat/bootstrap/v2/Common/PageUrlsTrait.php
  api/tests/Behat/bootstrap/v2/Helpers/FixtureHelper.php
  api/tests/Behat/bootstrap/v2/UserManagement/UserManagementFeatureContext.php
  api/tests/Behat/bootstrap/v2/UserManagement/UserManagementTrait.php
  api/tests/Behat/features-v2/user-management/create-user.feature
  api/tests/Behat/features-v2/user-management/edit-user.feature
  api/tests/Behat/features-v2/user-management/search-user.feature
  api/tests/Behat/features/admin/08-deputy-search.feature
  client/src/Entity/User.php
  client/src/Form/Admin/SearchType.php
  client/templates/Admin/Index/index.html.twig
  client/translations/admin-clients.en.yml
Due: client

tweak to sirius request timeout (#677)
  client/src/Service/Client/Sirius/SiriusApiGatewayClient.php
  client/tests/phpunit/Service/Client/Sirius/SiriusApiGatewayClientTest.php
Due: client

Fixing merge from main
  api/tests/Behat/bootstrap/v2/Helpers/FixtureHelper.php
Due: none

Cover initial submission paths
  api/src/TestHelpers/ReportTestHelper.php
  api/tests/Behat/behat.yml
  api/tests/Behat/bootstrap/Common/ReportTrait.php
  api/tests/Behat/bootstrap/DocumentSynchronisation/DocumentSynchronisationTrait.php
  api/tests/Behat/bootstrap/v2/Common/AuthTrait.php
  api/tests/Behat/bootstrap/v2/Common/BaseFeatureContext.php
  api/tests/Behat/bootstrap/v2/Common/IShouldBeOnFrontendTrait.php
  api/tests/Behat/bootstrap/v2/Common/IVisitAdminTrait.php
  api/tests/Behat/bootstrap/v2/Common/PageUrlsTrait.php
  api/tests/Behat/bootstrap/v2/Common/ReportTrait.php
  api/tests/Behat/bootstrap/v2/Helpers/FixtureHelper.php
  api/tests/Behat/bootstrap/v2/ReportSubmission/ReportSubmissionFeatureContext.php
  api/tests/Behat/bootstrap/v2/ReportSubmission/ReportSubmissionTrait.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/DocumentsSectionTrait.php
  api/tests/Behat/features-v2/client-management/admin/discharge.feature
  api/tests/Behat/features-v2/client-management/admin/search-client.feature
  api/tests/Behat/features-v2/client-management/admin/view-client.feature
  api/tests/Behat/features-v2/report-management/report-management.feature
  api/tests/Behat/features-v2/report-submission/document-synchronisation.feature
  api/tests/Behat/features-v2/report-submission/report-submission.feature
  api/tests/Behat/features-v2/report-syncing/document-synchronisation.feature
  api/tests/Behat/features-v2/reporting/sections/deputy-costs/deputy-costs.org.feature
  api/tests/Behat/features-v2/reporting/sections/documents/documents.org.feature
  client/templates/Admin/ReportSubmission/index.html.twig
Due: none

Drop old behat folder
  behat/tests/features-v2/deputy-management/admin/add-user.feature
Due: none

DDPB-4015 - Deputy details accordion to signpost deputy users to address change (#671)
  api/src/TestHelpers/NamedDeputyTestHelper.php
  api/src/v2/Fixture/Controller/FixtureController.php
  api/tests/Behat/behat.yml
  api/tests/Behat/bootstrap/v2/Common/BaseFeatureContext.php
  api/tests/Behat/bootstrap/v2/Common/ReportTrait.php
  api/tests/Behat/bootstrap/v2/Common/UserDetails.php
  api/tests/Behat/bootstrap/v2/Helpers/FixtureHelper.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/ReportOverviewTrait.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/ReportingSectionsFeatureContext.php
  api/tests/Behat/features-v2/reporting/report-overview/report-overview.feature
  client/src/Controller/Report/ReportController.php
  client/templates/Org/ClientProfile/_deputyDetails.html.twig
  client/templates/Org/ClientProfile/overview.html.twig
  client/translations/client-profile.en.yml
Due: client

Cover searching for users
  api/src/Repository/ReportSubmissionRepository.php
  api/src/TestHelpers/ReportTestHelper.php
  api/tests/Behat/bootstrap/v2/Common/BaseFeatureContext.php
  api/tests/Behat/bootstrap/v2/Common/FixturesTrait.php
  api/tests/Behat/bootstrap/v2/Common/INavigateToAdminTrait.php
  api/tests/Behat/bootstrap/v2/Helpers/FixtureHelper.php
  api/tests/Behat/bootstrap/v2/ReportSubmission/ReportSubmissionTrait.php
  api/tests/Behat/features-v2/report-submission/document-synchronisation.feature
  api/tests/Behat/features-v2/report-submission/report-submission.feature
Due: api

Cover manual sync
  api/tests/Behat/bootstrap/v2/Common/AuthTrait.php
  api/tests/Behat/bootstrap/v2/ReportSubmission/ReportSubmissionTrait.php
  api/tests/Behat/features-v2/report-submission/report-submission.feature
Due: none

Test fix
  Makefile
  api/Dockerfile
  api/tests/Behat/bootstrap/v2/ReportManagement/ReportManagementTrait.php
  api/tests/Behat/features-v2/report-management/report-management.feature
  client/Dockerfile
  docker-compose.yml
  docs/DEBUGGING.md
Due: none

Drop old tests
  api/tests/Behat/behat.yml
  api/tests/Behat/bootstrap/DocumentSynchronisation/DocumentSynchronisationFeatureContext.php
  api/tests/Behat/bootstrap/DocumentSynchronisation/DocumentSynchronisationTrait.php
Due: none

Path conditions:
  api: any of: api/src, but not: api/src/DataFixtures/**/*, api/src/FixtureFactory/**/*, api/src/TestHelpers/**/*, api/src/v2/Fixture/**/*, client/src/Exception/**/*, client/src/Resources/**/*
  client: any of: client/src, but not: api/src/DataFixtures/**/*, api/src/FixtureFactory/**/*, api/src/TestHelpers/**/*, api/src/v2/Fixture/**/*, client/src/Exception/**/*, client/src/Resources/**/*
