Repository ministryofjustice/opg-digideps: changes, and which Codecov flags are due for each by the changed paths.
All: api, client

ADd training to long expiry S3 list
  environment/s3.tf
Due: none

DDPB-3532 create development environment
  .circleci/config.yml
  client/Dockerfile-dev
  client/app/config/services.yml
  client/docker/env/frontend.env
  client/docker/extra/robots.txt
  client/src/AppBundle/Controller/IndexController.php
  client/src/AppBundle/Resources/views/Index/index.html.twig
  docker-compose.ci.dev.yml
  ecs_helper/cmd/circle_builds/cancel_redundant_builds.py
  environment/admin_service.tf
  environment/ecr.tf
  environment/front_service.tf
  environment/terraform.tfvars.json
Due: client

Start to break out tests
  client/src/AppBundle/Controller/SettingsController.php
  client/tests/phpunit/Service/AuditLoggingServiceTest.php
Due: client

Allow deputies to change their own emails
  client/src/AppBundle/Controller/SettingsController.php
  client/src/AppBundle/Form/Settings/ProfileType.php
  client/tests/phpunit/Controller/AbstractControllerTestCase.php
  client/tests/phpunit/Controller/SettingsControllerTest.php
Due: client

Add steps for pa11y report preview
  client/src/AppBundle/Resources/views/Org/ClientProfile/_reportDetail-Prof.html.twig
  pa11y/.pa11yci
Due: client

DDPB-3285: Fix typo in test
  api/tests/coverage/Command.cov
  api/tests/coverage/Controller-Ndr.cov
  api/tests/coverage/Controller.cov
  api/tests/coverage/ControllerReport.cov
  api/tests/coverage/Entity.cov
  api/tests/coverage/Factory.cov
  api/tests/coverage/Security.cov
  api/tests/coverage/Service.cov
  api/tests/coverage/merged.xml
  behat/tests/features/deputy/03-report/04-post-submit/00-report-download-admin.feature
Due: none

Remove opening hours and helpline (for now)
  behat/tests/features-v2/contact-details/contact-details.feature
  client/src/AppBundle/Resources/views/Layouts/_contact_details_dynamic.html.twig
  client/src/AppBundle/Resources/views/Layouts/_contact_details_pa.html.twig
  client/src/AppBundle/Resources/views/Layouts/_contact_details_prof.html.twig
Due: client

Refactor tests
  client/src/AppBundle/Controller/SettingsController.php
  client/tests/phpunit/Controller/SettingsControllerTest.php
  client/tests/phpunit/Service/AuditLoggingServiceTest.php
Due: client

Fix log error
  Makefile
  client/src/AppBundle/Controller/SettingsController.php
Due: client

Stop logging email changes when there was never an email to start with
  client/src/AppBundle/Controller/Org/IndexController.php
Due: client

DDPB-3501 persist the comments to DB
  api/app/DoctrineMigrations/Version243.php
  api/src/AppBundle/Controller/SatisfactionController.php
  api/src/AppBundle/Entity/Satisfaction.php
  client/src/AppBundle/Controller/FeedbackController.php
  client/src/AppBundle/Resources/views/Report/Report/submitConfirmation.html.twig
Due: api, client

fix prefix name as per comment request
  client/src/AppBundle/Resources/views/Client/edit.html.twig
  client/src/AppBundle/Resources/views/Macros/macros.html.twig
  client/src/AppBundle/Resources/views/Ndr/Asset/Property/step.html.twig
  client/src/AppBundle/Resources/views/Org/ClientProfile/addContact.html.twig
  client/src/AppBundle/Resources/views/Org/ClientProfile/editContact.html.twig
  client/src/AppBundle/Resources/views/Org/Index/clientEdit.html.twig
  client/src/AppBundle/Resources/views/Report/Asset/Property/step.html.twig
  client/src/AppBundle/Resources/views/Report/Contact/_form.html.twig
Due: client

DDPB-3309: Illogical tab order with helpline float (#406)
  Makefile
  api/src/AppBundle/v2/Fixture/Controller/FixtureController.php
  behat/tests/behat.yml
  behat/tests/bootstrap/ContactDetails/ContactDetailsFeatureContext.php
  behat/tests/bootstrap/ContactDetails/ContactDetailsTrait.php
  behat/tests/bootstrap/UserTrait.php
  behat/tests/features-v2/contact-details/contact-details.feature
  behat/tests/features/deputy/06-static-pages/01-helpline.feature
  client/src/AppBundle/Controller/Admin/FixtureController.php
  client/src/AppBundle/Resources/translations/common.en.yml
  client/src/AppBundle/Resources/views/Layouts/_contact_details_dynamic.html.twig
  client/src/AppBundle/Resources/views/Layouts/_contact_details_pa.html.twig
  client/src/AppBundle/Resources/views/Layouts/_contact_details_prof.html.twig
  client/src/AppBundle/Resources/views/Layouts/moj_template.html.twig
  client/src/AppBundle/Resources/views/Org/ClientProfile/_detailsBanner.html.twig
  client/src/AppBundle/Resources/views/User/agreeTermsUsePa.html.twig
  client/src/AppBundle/Resources/views/User/agreeTermsUseProf.html.twig
Due: api, client

Ignore code coverage files
  api/.gitignore
Due: none

Ignore code coverage files
  .gitignore
  api/.gitignore
Due: none

Ignore code coverage files
  api/tests/coverage/.gitignore
  api/tests/coverage/Command.cov
  api/tests/coverage/Controller-Ndr.cov
  api/tests/coverage/Controller.cov
  api/tests/coverage/ControllerReport.cov
  api/tests/coverage/Entity.cov
  api/tests/coverage/Factory.cov
  api/tests/coverage/Security.cov
  api/tests/coverage/Service.cov
  api/tests/coverage/merged.xml
Due: none

Further pa11y step changes
  client/src/AppBundle/Resources/views/Org/ClientProfile/_reportDetail-Prof.html.twig
  pa11y/.pa11yci
Due: client

DDPB-3501 add new comments functionality
  api/src/AppBundle/Controller/Report/ReportSubmissionController.php
  api/src/AppBundle/Entity/Repository/ReportSubmissionRepository.php
  behat/tests/bootstrap/FeatureContext.php
  client/src/AppBundle/Controller/Admin/StatsController.php
  client/src/AppBundle/Entity/Report/Satisfaction.php
  client/src/AppBundle/Form/Admin/SatisfactionFilterType.php
  client/src/AppBundle/Mapper/ReportSatisfaction/ReportSatisfactionSummaryMapper.php
  client/src/AppBundle/Mapper/ReportSatisfaction/ReportSatisfactionSummaryQuery.php
  client/src/AppBundle/Resources/translations/admin-metrics.en.yml
  client/src/AppBundle/Resources/translations/admin.en.yml
  client/src/AppBundle/Resources/views/Admin/Stats/metrics.html.twig
  client/src/AppBundle/Resources/views/Admin/Stats/satisfaction.html.twig
  client/src/AppBundle/Service/Client/RestClient.php
  docker-compose.override.yml
Due: api, client

DDPB-3312: Accessibility, update address fields
  behat/tests/features/admin/00-prechecks.feature
  client/src/AppBundle/Controller/Ndr/AssetController.php
  client/src/AppBundle/Resources/translations/client-contacts.en.yml
  client/src/AppBundle/Resources/translations/client.en.yml
  client/src/AppBundle/Resources/translations/co-deputy.en.yml
  client/src/AppBundle/Resources/translations/org-client-edit.en.yml
  client/src/AppBundle/Resources/translations/registration.en.yml
  client/src/AppBundle/Resources/translations/report-assets.en.yml
  client/src/AppBundle/Resources/translations/report-contacts.en.yml
  client/src/AppBundle/Resources/translations/settings.en.yml
  client/src/AppBundle/Resources/views/Client/add.html.twig
  client/src/AppBundle/Resources/views/Client/edit.html.twig
  client/src/AppBundle/Resources/views/Macros/macros.html.twig
  client/src/AppBundle/Resources/views/Ndr/Asset/Property/step.html.twig
  client/src/AppBundle/Resources/views/Org/ClientProfile/addContact.html.twig
  client/src/AppBundle/Resources/views/Org/ClientProfile/editContact.html.twig
  client/src/AppBundle/Resources/views/Org/Index/clientEdit.html.twig
  client/src/AppBundle/Resources/views/Report/Asset/Property/step.html.twig
  client/src/AppBundle/Resources/views/Report/Contact/_form.html.twig
  client/src/AppBundle/Resources/views/Report/Contact/add.html.twig
  client/src/AppBundle/Resources/views/User/_form_fields.html.twig
  client/src/AppBundle/Twig/FormFieldsExtension.php
  environment/checklist_sync.tf
  environment/cleanup.tf
  environment/document_sync.tf
  lambda_functions/functions/monitoring/monitoring.py
Due: client

Stop capitalizing prof deputy costs more information (#420)
  client/src/AppBundle/Resources/views/Report/Formatted/_prof_deputy_costs_estimate.html.twig
  client/src/AppBundle/Resources/views/Report/ProfDeputyCostsEstimate/_answers.html.twig
Due: client

DDPB-3332: Add deputy deleted event and add logging to delete deputy action (#418)
  client/src/AppBundle/Controller/Admin/IndexController.php
  client/src/AppBundle/Service/Audit/AuditEvents.php
  client/src/AppBundle/Service/Logger.php
  client/tests/phpunit/Controller/AdminIndexControllerTest.php
  client/tests/phpunit/Service/Audit/AuditEventsTest.php
Due: client

Fix class name
  pa11y/.pa11yci
Due: none

Bring in error translator changes from DDPB-3508
  client/src/AppBundle/Service/SiriusApiErrorTranslator.php
  client/tests/phpunit/Service/SiriusApiErrorTranslatorTest.php
Due: client

Add logging
  client/src/AppBundle/Service/Client/Sirius/SiriusApiGatewayClient.php
Due: client

DDPB-3285: Reinstate report download button for super admin (#407)
  .gitignore
  api/tests/coverage/.gitignore
  behat/tests/features/deputy/03-report/04-post-submit/00-report-download-admin.feature
  client/src/AppBundle/Resources/views/Admin/Client/Client/details.html.twig
Due: client

Fix lay review pa11y steps
  pa11y/.pa11yci
Due: none

Remove duplicate lines from migration
  api/app/DoctrineMigrations/Version243.php
Due: none

DDPB-3501 add and fix tests
  api/src/AppBundle/Controller/Report/ReportSubmissionController.php
  api/src/AppBundle/Entity/Repository/ReportSubmissionRepository.php
  api/src/AppBundle/Entity/Satisfaction.php
  api/tests/AppBundle/Controller/SatisfactionControllerTest.php
  behat/tests/bootstrap/FeatureContext.php
  client/Dockerfile
  client/composer.json
  client/composer.lock
  client/src/AppBundle/Controller/Admin/StatsController.php
  client/src/AppBundle/Controller/FeedbackController.php
  client/src/AppBundle/Entity/Report/Satisfaction.php
  client/src/AppBundle/Mapper/ReportSatisfaction/ReportSatisfactionSummaryMapper.php
  client/src/AppBundle/Resources/translations/admin-metrics.en.yml
  client/src/AppBundle/Resources/views/Admin/Stats/metrics.html.twig
  client/src/AppBundle/Service/Client/RestClient.php
  client/tests/phpunit/Controller/StatsControllerTest.php
  client/tests/phpunit/Mapper/ReportSatisfaction/ReportSatisfactionSummaryMapperTest.php
  composer.json
  composer.lock
  docker-compose.override.yml
Due: api, client

test
  .gitignore
  .pre-commit-config.yaml
Due: none

test
  .pre-commit-config.yaml
Due: none

Add strict types hook
  .pre-commit-config.yaml
Due: none

Point to installing pre-commit in readme
  .pre-commit-config.yaml
  README.md
Due: none

Enable email edit for org users
  behat/tests/behat.yml
  behat/tests/bootstrap/CourtOrderManagement/CourtOrderManagementFeatureContext.php
  behat/tests/bootstrap/DeputyManagement/DeputyManagementFeatureContext.php
  behat/tests/bootstrap/DeputyManagement/DeputyManagementTrait.php
  behat/tests/features-v2/deputy-management/deputy/edit-myself.feature
  behat/tests/features/deputy/04-user/04-user-edit.feature
  behat/tests/features/v2/userManagement/editingUserDetails.feature
  client/src/AppBundle/Form/Settings/ProfileType.php
Due: client

Move password changing to edit-myself feature
  behat/tests/bootstrap/DeputyManagement/DeputyManagementTrait.php
  behat/tests/bootstrap/UserManagement/UserManagementFeatureContext.php
  behat/tests/features-v2/deputy-management/deputy/edit-myself.feature
Due: none

Reinstate UserManagementTrait
  behat/tests/bootstrap/CourtOrderManagement/CourtOrderManagementFeatureContext.php
Due: none

Account for logging out after email change
  behat/tests/features-v2/deputy-management/deputy/edit-myself.feature
Due: none

Update Pact test with new metadata for checklist
  client/src/AppBundle/Model/Sirius/SiriusChecklistPdfDocumentMetadata.php
  client/tests/phpunit/Helpers/SiriusHelpers.php
  client/tests/phpunit/Pact/SiriusApiGatewayClientTest.php
Due: client

fixes as per comments
  api/src/AppBundle/Controller/Report/ReportSubmissionController.php
  api/src/AppBundle/Controller/SatisfactionController.php
  api/src/AppBundle/Entity/Repository/ReportRepository.php
  api/src/AppBundle/Entity/Repository/ReportSubmissionRepository.php
  api/src/AppBundle/Entity/Repository/SatisfactionRepository.php
  api/src/AppBundle/Entity/Satisfaction.php
  api/tests/AppBundle/Entity/Repository/DocumentRepositoryTest.php
  client/Dockerfile
  client/src/AppBundle/Controller/FeedbackController.php
  client/src/AppBundle/Controller/Ndr/NdrController.php
  client/src/AppBundle/Controller/Report/ReportController.php
  client/src/AppBundle/Entity/Report/Traits/ReportUnsubmittedSections.php
  client/src/AppBundle/Form/Admin/SatisfactionFilterType.php
  client/src/AppBundle/Mapper/ReportSatisfaction/ReportSatisfactionSummaryMapper.php
  client/src/AppBundle/Mapper/ReportSatisfaction/ReportSatisfactionSummaryQuery.php
  client/src/AppBundle/Resources/views/Admin/Stats/satisfaction.html.twig
  client/src/AppBundle/Service/Client/RestClient.php
  client/tests/phpunit/Controller/StatsControllerTest.php
  client/tests/phpunit/Mapper/ReportSatisfaction/ReportSatisfactionSummaryMapperTest.php
  composer.json
  composer.lock
  docker-compose.override.yml
Due: api, client

Add attributes
  client/tests/phpunit/Service/ChecklistSyncServiceTest.php
Due: none

Test fix
  behat/tests/features-v2/deputy-management/deputy/edit-myself.feature
Due: none

Path conditions:
  api: any of: api/src/AppBundle
  client: any of: client/src/AppBundle
