Repository ministryofjustice/opg-digideps: changes, and which Codecov flags are due for each by the changed paths.
All: api, client

codecov.yml:

coverage:
    status:
      project: off
      patch: off

ignore:
  - "api/src/DataFixtures/**/*"  # ignore folders and all its contents
  - "api/src/FixtureFactory/**/*"
  - "api/src/TestHelpers/**/*"
  - "api/src/v2/Fixture/**/*"
  - "client/src/Exception/**/*"
  - "client/src/Resources/**/*"

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null
flags:
  api:
    paths:
      - api/src
    carryforward: false
  client:
    paths:
      - client/src
    carryforward: false

Throw specific error on file extension and mimetype not matching during document upload
  api/tests/Behat/features-v2/reporting/sections/documents/documents.feature
  client/src/Controller/Report/DocumentController.php
  client/src/Exception/MimeTypeAndFileExtensionDoNotMatchException.php
  client/src/Service/File/S3FileUploader.php
  client/tests/phpunit/Service/File/S3FileUploaderTest.php
Due: client

Drop full stop
  api/tests/Behat/bootstrap/v2/Reporting/Sections/DocumentsSectionTrait.php
  client/src/Service/File/S3FileUploader.php
Due: client

Drop another full stop
  client/src/Controller/Report/DocumentController.php
Due: client

Update JS dep versions and remove unused packages
  client/package-lock.json
  client/package.json
Due: none

Reinstate del and fix css-loader config
  client/package.json
  client/webpack.config.js
Due: none

Fix sec vuln (#759)
  client/package-lock.json
  client/package.json
  client/webpack.config.js
Due: none

[DDPB-4159] adding new content for deputy email address changes (#757)
  api/src/Controller/UserController.php
  client/src/Service/File/FileNameFixer.php
  client/templates/Index/login.html.twig
Due: api, client

Start persisting Deputy Address Number
  api/src/v2/Assembler/NamedDeputyAssembler.php
  api/src/v2/Registration/Uploader/OrgDeputyshipUploader.php
Due: api

Protect against empty dep adr numbers
  api/src/v2/Assembler/NamedDeputyAssembler.php
  api/src/v2/Registration/Uploader/OrgDeputyshipUploader.php
Due: api

DDPB-4212: Start persisting Deputy Address Number (#760)
  api/src/v2/Assembler/NamedDeputyAssembler.php
  api/src/v2/Registration/Uploader/OrgDeputyshipUploader.php
Due: api

Initial api_v2
  api_v2/Dockerfile
  api_v2/go.mod
  api_v2/main.go
  docker-compose.yml
Due: none

[DDPB-3997] fixed styling issue
  client/templates/Components/Form/_input.html.twig
Due: none

[DDPB-3997] Reduce user settings to email address and password changes for PA and Professional deputy app users (#709)
  api/src/Controller/UserController.php
  api/tests/Unit/Controller/UserControllerTest.php
  client/src/Controller/SettingsController.php
  client/src/Entity/User.php
  client/src/Form/ChangeEmailType.php
  client/src/Service/File/FileNameFixer.php
  client/templates/Index/login.html.twig
  client/templates/Settings/emailEdit.html.twig
  client/templates/Settings/index.html.twig
  client/translations/settings.en.yml
  client/translations/signin.en.yml
  client/translations/validators.en.yml
Due: api, client

Add macro for edit remove links on summary pages
  client/templates/Macros/macros.html.twig
  client/templates/Report/ClientBenefitsCheck/_answers.html.twig
Due: none

Stop status tags from wrapping to two lines
  client/assets/scss/digideps/_sections.scss
  client/assets/scss/digideps/_tags.scss
Due: none

Enforce TLSv1.2 as a minimum
  api/docker/confd/templates/app.conf.tmpl
Due: none

Narrow to TLS2
  api/docker/confd/templates/app.conf.tmpl
Due: none

try http2 and allow TLS3 alongside TLS2
  api/docker/confd/templates/app.conf.tmpl
Due: none

Define ciphers for TLS1.2 (1.3 automatically sets theses)
  api/docker/confd/templates/app.conf.tmpl
Due: none

Created Bank Holiday API service, fixed an issue with Org CSV logging, added initial skeleton work for CSV Uploaded command
  client/config/services.yml
  client/src/Command/CheckCSVUploadedCommand.php
  client/src/Service/Audit/AwsAuditLogHandler.php
  client/src/Service/Client/GovUK/BankHolidaysAPIClient.php
  client/src/Service/OrgService.php
  client/tests/phpunit/Service/Audit/AwsAuditLogHandlerTest.php
Due: client

Expand test case to test multiple events
  client/src/Service/Audit/AwsAuditLogHandler.php
  client/tests/phpunit/Service/Audit/AwsAuditLogHandlerTest.php
Due: client

Added test case for stream name
  client/src/Service/Audit/AwsAuditLogHandler.php
  client/tests/phpunit/Service/Audit/AwsAuditLogHandlerTest.php
Due: client

Failing passing start and end times
  client/src/Service/Audit/AwsAuditLogHandler.php
  client/tests/phpunit/Service/Audit/AwsAuditLogHandlerTest.php
Due: client

DDPB-4138: Enforce TLSv1.2 as a minimum (#762)
  api/docker/confd/templates/app.conf.tmpl
Due: none

Add nginx reverse proxy and dummy endpoint in go app
  api_v2/Dockerfile
  api_v2/main.go
  api_v2/nginx/Dockerfile
  api_v2/nginx/nginx.conf
  docker-compose.yml
Due: none

Hook up new service api to frontend controller
  api_v2/go.mod
  client/config/packages/framework.yml
  client/config/packages/security.yml
  client/config/services.yml
  client/src/Controller/IndexController.php
  client/src/Service/Client/Internal/RegistrationApi.php
  docker-compose.yml
  registration_service/Dockerfile
  registration_service/go.mod
  registration_service/main.go
  registration_service/nginx/Dockerfile
  registration_service/nginx/nginx.conf
Due: client

Created SecretManager Service, included slack php integration, and updated tests
  client/composer.json
  client/composer.lock
  client/config/parameters.yml.dist
  client/config/services.yml
  client/docker/confd/conf.d/parameters.hml.toml
  client/docker/confd/templates/parameters.yml.tmpl
  client/frontend.env
  client/src/Command/CheckCSVUploadedCommand.php
  client/src/Service/Audit/AwsAuditLogHandler.php
  client/src/Service/Client/GovUK/BankHolidaysAPIClient.php
  client/src/Service/SecretManagerService.php
  client/tests/phpunit/Command/CheckCSVUploadedCommandTest.php
  docker-compose.yml
  docker/localstack-init.sh
Due: client

Pass test for when slack message is not required
  client/config/services.yml
  client/src/Command/CheckCSVUploadedCommand.php
  client/src/Service/SecretManagerService.php
  client/tests/phpunit/Command/CheckCSVUploadedCommandTest.php
  docker/localstack-init.sh
Due: client

Pass test for sending slack message
  client/src/Command/CheckCSVUploadedCommand.php
  client/src/Service/Client/Slack/ClientFactory.php
  client/tests/phpunit/Command/CheckCSVUploadedCommandTest.php
Due: client

[poc-go-app] added Go api endpoint with a JSON reponse
  Makefile
  registration_service/Dockerfile
  registration_service/main.go
Due: none

Add message const for posting to slack and refactor bankholiday test step
  client/src/Command/CheckCSVUploadedCommand.php
  client/tests/phpunit/Command/CheckCSVUploadedCommandTest.php
Due: client

Test stubs for next test cases
  client/src/Command/CheckCSVUploadedCommand.php
  client/tests/phpunit/Command/CheckCSVUploadedCommandTest.php
Due: client

Add assertion comments for existing tests
  client/tests/phpunit/Command/CheckCSVUploadedCommandTest.php
Due: none

Remove incorrect service wiring, updated tests to assert result value of command
  client/config/services.yml
  client/tests/phpunit/Command/CheckCSVUploadedCommandTest.php
Due: none

DDPB-4188, DDPB-4207: New client benefits section markup fixes (#761)
  client/assets/scss/digideps/_sections.scss
  client/assets/scss/digideps/_tags.scss
  client/templates/Macros/macros.html.twig
  client/templates/Report/ClientBenefitsCheck/_answers.html.twig
Due: none

DDPB-3879: Reject uploaded supporting documents where extension and mimetype are mismatched (#758)
  api/tests/Behat/bootstrap/v2/Reporting/Sections/DocumentsSectionTrait.php
  api/tests/Behat/features-v2/reporting/sections/documents/documents.feature
  api/tests/Behat/fixtures/png-file.jpeg
  client/src/Controller/Report/DocumentController.php
  client/src/Exception/MimeTypeAndFileExtensionDoNotMatchException.php
  client/src/Service/File/FileNameFixer.php
  client/src/Service/File/FileUtility.php
  client/src/Service/File/MimeTypeAndExtensionChecker.php
  client/src/Service/File/S3FileUploader.php
  client/tests/phpunit/Service/File/MimeTypeAndExtensionCheckerTest.php
  client/tests/phpunit/Service/File/S3FileUploaderTest.php
  client/tests/phpunit/TestData/jpeg-file.jpeg
  client/tests/phpunit/TestData/jpeg-file.pdf
  client/tests/phpunit/TestData/jpg-file.jpg
  client/tests/phpunit/TestData/pdf-file.pdf
  client/tests/phpunit/TestData/pdf-file.png
  client/tests/phpunit/TestData/png-file.jpeg
  client/tests/phpunit/TestData/png-file.png
Due: client

Add lexik jwt bundle
  api/.gitignore
  api/api.env
  api/composer.json
  api/composer.lock
  api/config/bundles.php
  api/config/packages/lexik_jwt_authentication.yml
  api/src/Controller/JWTController.php
Due: api

Updated command to alert for currently supported CSV types. Updated tests to test for new functionality
  client/src/Command/CheckCSVUploadedCommand.php
  client/src/Service/Audit/AwsAuditLogHandler.php
  client/tests/phpunit/Command/CheckCSVUploadedCommandTest.php
Due: client

front end changes made to submittable deputy report
  api/tests/Behat/bootstrap/v2/Common/IShouldBeOnFrontendTrait.php
  api/tests/Behat/bootstrap/v2/Common/ReportTrait.php
  api/tests/Behat/features-v2/report-submission/submitting-a-report.feature
  api/tests/Behat/features-v2/report-submission/submitting-a-report.ndr.feature
  client/assets/scss/digideps/formatted_report/_main.scss
  client/templates/Macros/macros.html.twig
  client/templates/Ndr/Ndr/_header.html.twig
  client/templates/Ndr/Ndr/declaration.html.twig
  client/templates/Ndr/Ndr/overview.html.twig
  client/templates/Ndr/Ndr/review.html.twig
  client/templates/Report/Report/declaration.html.twig
  client/templates/Report/Report/review.html.twig
  client/translations/common.en.yml
  client/translations/ndr-overview.en.yml
  client/translations/report-display.en.yml
Due: none

refactored code
  api/tests/Behat/bootstrap/v2/Common/IShouldBeOnFrontendTrait.php
  api/tests/Behat/bootstrap/v2/Common/ReportTrait.php
  client/templates/Ndr/Ndr/_pdf_download_link.html.twig
  client/templates/Ndr/Ndr/_review_buttons.html.twig
  client/templates/Ndr/Ndr/review.html.twig
Due: none
