Repository ministryofjustice/opg-digideps: changes, and which Codecov flags are due for each by the changed paths.
All: api, client

code review feedback applied
  api/src/Command/UserRetentionPolicyCommand.php
  api/tests/Unit/Entity/Repository/UserRepositoryTest.php
Due: api

return value updated in tests
  api/tests/Unit/Command/UserRetentionPolicyCommandTest.php
Due: none

DDPB-3881 improve CSP posture
  client/assets/javascripts/common.js
  client/assets/javascripts/modules_new/EnableJavascript.js
  client/assets/javascripts/modules_new/GoogleAnalyticsGtag.js
  client/assets/javascripts/modules_new/GoogleAnalyticsObject.js
  client/docker/confd/templates/app.conf.tmpl
  client/templates/Layouts/_google_analytics_events_gtag.html.twig
  client/templates/Layouts/moj_template.html.twig
Due: none

DDPB-4757 - add .editorconfig file (#1344)
  .editorconfig
Due: none

Updated inactive admin reports to accept number of months of inactivity as an input
  api/src/Controller/StatsController.php
  api/tests/Unit/Controller/StatsControllerTest.php
  client/src/Controller/Admin/StatsController.php
  client/src/Form/Admin/InactiveAdminReportFilterType.php
  client/src/Service/Client/Internal/StatsApi.php
  client/templates/Admin/Stats/inactiveAdminUsersReport.html.twig
  client/templates/Admin/Stats/reports.html.twig
  client/translations/admin-metrics.en.yml
Due: api, client

translation file updated
  client/translations/admin-checklist.en.yml
Due: none

temporarily increase limit to pass integration tests
  api/tests/Behat/run-tests-parallel.sh
Due: none

translation file updated (#1347)
  client/translations/admin-checklist.en.yml
Due: none

DDPB-4731: Remove all accounts that have a 2 year inactivity period (#1342)
  api/src/Command/UserRetentionPolicyCommand.php
  api/src/Controller/UserController.php
  api/src/Event/UserRetentionPolicyCommandEvent.php
  api/src/EventSubscriber/UserRetentionPolicyCommandSubscriber.php
  api/src/Repository/UserRepository.php
  api/src/Service/Audit/AuditEvents.php
  api/tests/Behat/run-tests-parallel.sh
  api/tests/Unit/Command/UserRetentionPolicyCommandTest.php
  api/tests/Unit/Entity/Repository/UserRepositoryTest.php
  api/tests/Unit/Event/UserRetentionPolicyCommandEventTest.php
  api/tests/Unit/EventSubscriber/UserRetentionPolicyCommandSubscriberTest.php
  client/tests/phpunit/EventSubscriber/DeputyChangedOrgSubscriberTest.php
Due: api

DDPB-4085 convert monitoring lambda to command logging
  .github/workflows/_run-terraform.yml
  .github/workflows/_unit-tests-client.yml
  .github/workflows/_unit-tests-monitoring-lambda.yml
  .github/workflows/workflow-path-to-live.yml
  .github/workflows/workflow-pull-request-path.yml
  api/src/Controller/Report/DocumentController.php
  api/src/Repository/DocumentRepository.php
  environment/alarms.tf
  environment/api_sg.tf
  environment/logging.tf
  environment/monitoring_lambda.tf
  environment/monitoring_lambda_event.tf
  environment/monitoring_lambda_iam.tf
  environment/monitoring_lambda_sg.tf
  lambdas/functions/monitoring/monitoring.py
  lambdas/tests/test_queued_docs.py
Due: api

DDPB-3881 improve CSP posture (#1345)
  .github/workflows/_unit-tests-client.yml
  client/assets/javascripts/common.js
  client/assets/javascripts/modules_new/EnableJavascript.js
  client/assets/javascripts/modules_new/GoogleAnalyticsGtag.js
  client/assets/javascripts/modules_new/GoogleAnalyticsObject.js
  client/assets/scss/_digideps.scss
  client/assets/scss/digideps/_email.scss
  client/assets/scss/digideps/_forms.scss
  client/assets/scss/digideps/_helpers.scss
  client/assets/scss/digideps/_report-formatted.scss
  client/docker/confd/templates/app.conf.tmpl
  client/templates/Admin/Ad/index.html.twig
  client/templates/Behat/emails.html.twig
  client/templates/Feedback/index.html.twig
  client/templates/Health/availability.html.twig
  client/templates/Layouts/_google_analytics_events_gtag.html.twig
  client/templates/Layouts/moj_template.html.twig
  client/templates/Macros/macros.html.twig
  client/templates/Report/Document/step2.html.twig
  client/templates/Report/Formatted/_client_benefits_check.html.twig
  client/templates/Report/Report/declaration.html.twig
  client/templates/Settings/emailEdit.html.twig
  client/templates/Settings/passwordEdit.html.twig
  client/templates/User/activate.html.twig
  client/templates/User/passwordReset.html.twig
Due: none

Updated report to include super admin and admin managers, updated tests to reflect changes
  api/src/Repository/UserRepository.php
  api/tests/Unit/Entity/Repository/UserRepositoryTest.php
Due: api

DDPB-4772 swap ga keys around to agreed envs
  environment/scripts/cycle_secrets/cycle_secrets.py
  environment/terraform.tfvars.json
Due: none

add tests
  .github/workflows/scheduled-cycle-secrets.yml
  .github/workflows/scheduled-workspace-cleanup.yml
  .github/workflows/workflow-pull-request-dependabot-pip.yml
  .github/workflows/workflow-pull-request-dependabot-terraform.yml
  api/src/Repository/DocumentRepository.php
  api/tests/Unit/Entity/Repository/DocumentRepositoryTest.php
Due: api

Updated naming of services and methods to be consistent
  client/src/Controller/Admin/StatsController.php
  client/src/Service/Csv/InactiveAdminUsersCsvGenerator.php
Due: client

Removing unused method
  api/src/Repository/UserRepository.php
  api/tests/Unit/Entity/Repository/UserRepositoryTest.php
Due: api

Updating behat test links and method names to reflect changes
  api/tests/Behat/bootstrap/v2/ACL/ACLTrait.php
  api/tests/Behat/bootstrap/v2/Common/IVisitAdminTrait.php
  api/tests/Behat/bootstrap/v2/Common/PageUrlsTrait.php
  api/tests/Behat/features-v2/acl/admin/super-admin-only.feature
Due: none

DDPB-4729: Allow users to change the inactivity period for the inactive admin users report (#1346)
  api/src/Controller/StatsController.php
  api/src/Repository/UserRepository.php
  api/tests/Behat/bootstrap/v2/ACL/ACLTrait.php
  api/tests/Behat/bootstrap/v2/Common/IVisitAdminTrait.php
  api/tests/Behat/bootstrap/v2/Common/PageUrlsTrait.php
  api/tests/Behat/features-v2/acl/admin/super-admin-only.feature
  api/tests/Unit/Controller/StatsControllerTest.php
  api/tests/Unit/Entity/Repository/UserRepositoryTest.php
  client/src/Controller/Admin/StatsController.php
  client/src/Form/Admin/InactiveAdminReportFilterType.php
  client/src/Service/Client/Internal/StatsApi.php
  client/src/Service/Csv/InactiveAdminUsersCsvGenerator.php
  client/templates/Admin/Stats/inactiveAdminUsersReport.html.twig
  client/templates/Admin/Stats/reports.html.twig
  client/translations/admin-metrics.en.yml
Due: api, client

add delete sql query
  api/src/Repository/UserRepository.php
Due: api

create command and call delete query
  api/src/Command/StaffUserDeletionCommand.php
Due: api

DDPB-4085 remove monitoring lambda (#1348)
  .github/workflows/_run-terraform.yml
  .github/workflows/_unit-tests-monitoring-lambda.yml
  .github/workflows/scheduled-cycle-secrets.yml
  .github/workflows/scheduled-workspace-cleanup.yml
  .github/workflows/workflow-path-to-live.yml
  .github/workflows/workflow-pull-request-dependabot-pip.yml
  .github/workflows/workflow-pull-request-dependabot-terraform.yml
  .github/workflows/workflow-pull-request-path.yml
  api/src/Controller/Report/DocumentController.php
  api/src/Repository/DocumentRepository.php
  api/tests/Unit/Entity/Repository/DocumentRepositoryTest.php
  environment/alarms.tf
  environment/api_sg.tf
  environment/logging.tf
  environment/monitoring_lambda.tf
  environment/monitoring_lambda_event.tf
  environment/monitoring_lambda_iam.tf
  environment/monitoring_lambda_sg.tf
  lambdas/functions/monitoring/monitoring.py
  lambdas/tests/test_queued_docs.py
Due: api

DDPB-4772 swap ga keys around to agreed envs (#1349)
  environment/scripts/cycle_secrets/cycle_secrets.py
  environment/terraform.tfvars.json
Due: none

DDPB-4756 - remove terrform lock files from modules
  environment/modules/aurora/.terraform.lock.hcl
  environment/modules/disaster_recovery/.terraform.lock.hcl
  environment/modules/ecs_autoscaling/.terraform.lock.hcl
  environment/modules/lambda/.terraform.lock.hcl
  environment/modules/s3_bucket/.terraform.lock.hcl
  environment/modules/security_group/.terraform.lock.hcl
  environment/modules/task/.terraform.lock.hcl
Due: none

DDPB-4756 - move shared modules into modules folder
  .gitignore
  shared/.terraform.lock.hcl
  shared/modules/environment_secrets/main.tf
  shared/modules/environment_secrets/variables.tf
  shared/secrets.tf
Due: none

DDPB-4761 jsonencode services
  environment/admin_service.tf
  environment/api_service.tf
  environment/backup.tf
  environment/check_csv_uploaded.tf
  environment/document_sync.tf
  environment/restore_from_production.tf
  environment/scan_service.tf
  environment/scheduler.tf
  shared/.terraform.lock.hcl
  shared/workspace_cleanup.tf
Due: none

DDPB-4761 jsonencode services (#1355)
  .github/workflows/workflow-path-to-live.yml
  environment/admin_service.tf
  environment/api_service.tf
  environment/backup.tf
  environment/check_csv_uploaded.tf
  environment/checklist_sync.tf
  environment/document_sync.tf
  environment/front_service.tf
  environment/htmltopdf_service.tf
  environment/integration_test_v2.tf
  environment/mock_sirius_integration_service.tf
  environment/modules/task/.terraform.lock.hcl
  environment/reset_database.tf
  environment/restore.tf
  environment/restore_from_production.tf
  environment/scan_service.tf
  environment/scheduler.tf
  environment/smoke_test.tf
  shared/workspace_cleanup.tf
Due: none

DDPB-4779 add environments to SG names
  .gitignore
  environment/admin_sg.tf
  environment/api_elasticache.tf
  environment/api_sg.tf
  environment/backup.tf
  environment/check_csv_uploaded.tf
  environment/checklist_sync.tf
  environment/document_sync.tf
  environment/front_sg.tf
  environment/frontend_shared_elasticache.tf
  environment/htmltopdf_sg.tf
  environment/integration_test_v2.tf
  environment/mock_sirius_integration_sg.tf
  environment/modules/aurora/.terraform.lock.hcl
  environment/modules/disaster_recovery/.terraform.lock.hcl
  environment/modules/disaster_recovery/ecs_sg.tf
  environment/modules/ecs_autoscaling/.terraform.lock.hcl
  environment/modules/lambda/.terraform.lock.hcl
  environment/modules/s3_bucket/.terraform.lock.hcl
  environment/modules/security_group/.terraform.lock.hcl
  environment/modules/security_group/main.tf
  environment/modules/security_group/variables.tf
  environment/modules/task/.terraform.lock.hcl
  environment/reset_database.tf
  environment/restore.tf
  environment/restore_from_production.tf
  environment/scan_sg.tf
  environment/smoke_test.tf
Due: none

fix deprecations
  shared/vpc.tf
  shared/waf.tf
Due: none

Renovate Update dependency url-loader to v4 (#1358)
  client/package-lock.json
  client/package.json
Due: none

DDPB-4756 - move shared modules to modules folder (#1354)
  .gitignore
  environment/modules/aurora/.terraform.lock.hcl
  environment/modules/disaster_recovery/.terraform.lock.hcl
  environment/modules/ecs_autoscaling/.terraform.lock.hcl
  environment/modules/lambda/.terraform.lock.hcl
  environment/modules/s3_bucket/.terraform.lock.hcl
  environment/modules/security_group/.terraform.lock.hcl
  shared/.terraform.lock.hcl
  shared/modules/environment_secrets/main.tf
  shared/modules/environment_secrets/variables.tf
  shared/secrets.tf
Due: none

DDPB-4782 throw error if no user or password entered
  client/src/Security/LoginFormAuthenticator.php
Due: client

DDPB-4782 stop constructor of UserBadge failure
  client/src/Security/LoginFormAuthenticator.php
Due: client

set password reset expiration to an hour
  api/src/Entity/User.php
  client/src/Controller/UserController.php
  client/src/Entity/User.php
  client/translations/password-reset-expired.en.yml
Due: api, client

DDPB-4742 - Adds generic console runner & sets up job for cleanup
  api/scripts/task_run_console_command.sh
  environment/task_admin_account_cleanup.tf
Due: none

Renovate Update Terraform aws to v5 (#1359)
  environment/.terraform.lock.hcl
  environment/versions.tf
  shared/.terraform.lock.hcl
  shared/versions.tf
  shared/vpc.tf
  shared/waf.tf
Due: none

set password reset token limit to an hour (#1361)
  api/src/Entity/User.php
  client/src/Controller/UserController.php
  client/src/Entity/User.php
  client/translations/password-reset-expired.en.yml
Due: api, client

Path conditions:
  api: any of: api/src, but not: api/src/DataFixtures/**/*, api/src/FixtureFactory/**/*, api/src/TestHelpers/**/*, api/src/v2/Fixture/**/*, client/src/Exception/**/*, client/src/Resources/**/*
  client: any of: client/src, but not: api/src/DataFixtures/**/*, api/src/FixtureFactory/**/*, api/src/TestHelpers/**/*, api/src/v2/Fixture/**/*, client/src/Exception/**/*, client/src/Resources/**/*
