Repository ministryofjustice/opg-digideps: changes, and which Codecov flags are due for each by the changed paths.
All: api, client

codecov.yml:

coverage:
    status:
      project: off
      patch: off

ignore:
  - "api/src/DataFixtures/**/*"  # ignore folders and all its contents
  - "api/src/FixtureFactory/**/*"
  - "api/src/TestHelpers/**/*"
  - "api/src/v2/Fixture/**/*"
  - "client/src/Exception/**/*"
  - "client/src/Resources/**/*"

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null
flags:
  api:
    paths:
      - api/src
    carryforward: false
  client:
    paths:
      - client/src
    carryforward: false

Reverting after test finished
  README.md
Due: none

DDPB-4009 keep images updated
  .circleci/config.yml
  api/Dockerfile
  client/Dockerfile
  wkhtmltopdf/Dockerfile
Due: none

Cover validations
  api/src/TestHelpers/NamedDeputyTestHelper.php
  api/src/v2/Assembler/NamedDeputyAssembler.php
  api/src/v2/Registration/Assembler/CasRecToOrgDeputyshipDtoAssembler.php
  api/src/v2/Registration/Uploader/OrgDeputyshipUploader.php
  api/tests/Behat/bootstrap/v2/Common/BaseFeatureContext.php
  api/tests/Behat/bootstrap/v2/Helpers/FixtureHelper.php
  api/tests/Behat/bootstrap/v2/Registration/IngestTrait.php
  api/tests/Behat/features-v2/csv-data-ingestion/lay-csv.casrec.feature
  api/tests/Behat/features-v2/csv-data-ingestion/lay-csv.sirius.feature
  api/tests/Behat/features-v2/csv-data-ingestion/org-csv.casrec.feature
  api/tests/Behat/features-v2/registration/ingest.org.feature
  api/tests/Behat/fixtures/org-1-row-missing-all-required-columns.csv
  api/tests/Behat/fixtures/org-1-row-missing-last-report-date-1-valid-row.csv
  api/tests/Behat/fixtures/org-1-row-with-ndr-column.csv
  api/tests/Behat/fixtures/org-1-updated-row-made-date-and-named-deputy.csv
  api/tests/Behat/fixtures/org-1-updated-row-named-deputy-address.csv
  api/tests/Behat/fixtures/org-1-updated-row-report-type.csv
Due: api

Namespace ingest feature files to casrec
  api/tests/Behat/features-v2/registration/ingest.lay.casrec.feature
  api/tests/Behat/features-v2/registration/ingest.lay.feature
  api/tests/Behat/features-v2/registration/ingest.org.casrec.feature
Due: none

slim these fellas down
  api/Dockerfile
  client/Dockerfile
  wkhtmltopdf/Dockerfile
Due: none

DDPB-3949 - Behat Rewrite: Admin - Organisations (#663)
  api/tests/Behat/behat.yml
  api/tests/Behat/bootstrap/v2/Common/FixturesTrait.php
  api/tests/Behat/bootstrap/v2/Common/INavigateToAdminTrait.php
  api/tests/Behat/bootstrap/v2/Common/IShouldBeOnAdminTrait.php
  api/tests/Behat/bootstrap/v2/OrganisationManagement/OrganisationManagementFeatureContext.php
  api/tests/Behat/bootstrap/v2/OrganisationManagement/OrganisationManagementTrait.php
  api/tests/Behat/features-v2/organisation-management/admin/add-organisation.feature
  api/tests/Behat/features-v2/organisation-management/admin/add-user.feature
  api/tests/Behat/features-v2/organisation-management/admin/delete-organisation.feature
  api/tests/Behat/features-v2/organisation-management/admin/edit-organisation.feature
  api/tests/Behat/features-v2/organisation-management/admin/search-organisation.feature
Due: none

Add extra flash message for updated entities on CSV upload
  api/src/Entity/NamedDeputy.php
  api/src/v2/Registration/Uploader/OrgDeputyshipUploader.php
  api/tests/Unit/v2/Registration/TestHelpers/OrgDeputyshipDTOTestHelper.php
  api/tests/Unit/v2/Registration/Uploader/OrgDeputyshipUploaderTest.php
  client/src/Service/OrgService.php
Due: api, client

Update behat tests to use update named deputy addresses
  api/tests/Behat/behat.yml
  api/tests/Behat/features/pa/03-report/04-submit-report.feature
  api/tests/Behat/features/prof/03-report/07-submit-report.feature
  client/src/Entity/User.php
  client/templates/Macros/macros-review.html.twig
Due: client

sort cron
  .circleci/config.yml
  api/Dockerfile
  client/Dockerfile
  dr_backup/Dockerfile
  ecs_helper/check_ecr_scan_results/aws_ecr_scan_results.py
  wkhtmltopdf/Dockerfile
  wkhtmltopdf/docker-entrypoint.sh
Due: none

Test fix?
  .pre-commit-config.yaml
  api/src/v2/Registration/Uploader/OrgDeputyshipUploader.php
  api/tests/Behat/bootstrap/v2/Registration/IngestTrait.php
  api/tests/Behat/features-v2/registration/ingest.org.casrec.feature
  api/tests/Unit/v2/Registration/Uploader/OrgDeputyshipUploaderTest.php
  behat/tests/features-v2/deputy-management/admin/add-user.feature
  client/templates/Admin/Index/_uploadErrorAlert.html.twig
Due: api

Test fix?
  .pre-commit-config.yaml
  client/templates/Admin/Index/_uploadErrorAlert.html.twig
Due: none

Cover lay casrec in behat
  api/src/Repository/CasRecRepository.php
  api/src/v2/Registration/Assembler/CasRecToLayDeputyshipDtoAssembler.php
  api/tests/Behat/bootstrap/v2/Common/BaseFeatureContext.php
  api/tests/Behat/bootstrap/v2/Common/IShouldBeOnAdminTrait.php
  api/tests/Behat/bootstrap/v2/Common/IVisitAdminTrait.php
  api/tests/Behat/bootstrap/v2/Common/PageUrlsTrait.php
  api/tests/Behat/bootstrap/v2/Helpers/FixtureHelper.php
  api/tests/Behat/bootstrap/v2/Registration/IngestTrait.php
  api/tests/Behat/features-v2/registration/ingest.lay.casrec.feature
  api/tests/Behat/features-v2/registration/ingest.lay.sirius.feature
  api/tests/Behat/features-v2/registration/ingest.org.casrec.feature
  api/tests/Behat/fixtures/lay-1-row-missing-all-required-1-valid-row.csv
  api/tests/Behat/fixtures/lay-1-row-missing-all-required-columns.csv
  api/tests/Behat/fixtures/lay-1-row-updated-report-type.csv
  api/tests/Behat/fixtures/lay-3-valid-rows.csv
Due: api

Cover lay casrec and sirius CSV upload
  api/src/v2/Registration/Assembler/SiriusToLayDeputyshipDtoAssembler.php
  api/tests/Behat/bootstrap/v2/Registration/IngestTrait.php
  api/tests/Behat/features-v2/registration/ingest.lay.casrec.feature
  api/tests/Behat/features-v2/registration/ingest.lay.sirius.feature
  api/tests/Behat/features-v2/registration/ingest.org.casrec.feature
  api/tests/Behat/fixtures/casrec-csvs/lay-1-row-missing-all-required-1-valid-row.csv
  api/tests/Behat/fixtures/casrec-csvs/lay-1-row-missing-all-required-columns.csv
  api/tests/Behat/fixtures/casrec-csvs/lay-1-row-updated-report-type.csv
  api/tests/Behat/fixtures/casrec-csvs/lay-3-valid-rows.csv
  api/tests/Behat/fixtures/casrec-csvs/org-1-row-missing-all-required-columns.csv
  api/tests/Behat/fixtures/casrec-csvs/org-1-row-missing-last-report-date-1-valid-row.csv
  api/tests/Behat/fixtures/casrec-csvs/org-1-row-with-ndr-column.csv
  api/tests/Behat/fixtures/casrec-csvs/org-1-updated-row-made-date-and-named-deputy.csv
  api/tests/Behat/fixtures/casrec-csvs/org-1-updated-row-named-deputy-address.csv
  api/tests/Behat/fixtures/casrec-csvs/org-1-updated-row-report-type.csv
  api/tests/Behat/fixtures/casrec-csvs/org-3-valid-rows.csv
  api/tests/Behat/fixtures/sirius-csvs/lay-1-row-missing-all-required-1-valid-row.csv
  api/tests/Behat/fixtures/sirius-csvs/lay-1-row-missing-all-required-columns.csv
  api/tests/Behat/fixtures/sirius-csvs/lay-1-row-updated-report-type.csv
  api/tests/Behat/fixtures/sirius-csvs/lay-3-valid-rows.csv
Due: api

Test fix
  api/tests/Behat/bootstrap/v2/Registration/IngestTrait.php
Due: none

Drop unused test var
  api/tests/Behat/bootstrap/v2/Registration/IngestTrait.php
Due: none

Fix high sec vulnerability in meow/node-sass
  client/package-lock.json
  client/package.json
Due: none

Add named deputy details accordion to overview page for org users
  api/src/v2/Fixture/Controller/FixtureController.php
  client/src/Controller/Report/ReportController.php
  client/templates/Org/ClientProfile/_deputyDetails.html.twig
  client/templates/Org/ClientProfile/overview.html.twig
  client/translations/client-profile.en.yml
Due: client

Fix high sec vulnerability in meow/node-sass (#670)
  client/package-lock.json
  client/package.json
Due: none

Extract valuse from CSV to get entities from db
  api/tests/Behat/bootstrap/v2/Registration/IngestTrait.php
  api/tests/Behat/features-v2/registration/ingest.org.casrec.feature
  api/tests/Behat/fixtures/casrec-csvs/org-1-row-missing-last-report-date-1-valid-row.csv
  api/tests/Behat/fixtures/casrec-csvs/org-1-row-with-ndr-column.csv
  api/tests/Behat/fixtures/casrec-csvs/org-1-updated-row-made-date-and-named-deputy.csv
  api/tests/Behat/fixtures/casrec-csvs/org-1-updated-row-named-deputy-address.csv
  api/tests/Behat/fixtures/casrec-csvs/org-1-updated-row-report-type.csv
  api/tests/Behat/fixtures/casrec-csvs/org-3-valid-rows.csv
Due: none

Use new entity counting method in all ingest tests
  Makefile
  api/Dockerfile
  api/tests/Behat/bootstrap/v2/Registration/IngestTrait.php
  api/tests/Behat/features-v2/registration/ingest.lay.casrec.feature
  api/tests/Behat/features-v2/registration/ingest.org.casrec.feature
  api/tests/Behat/fixtures/casrec-csvs/org-1-row-missing-last-report-date-1-valid-row.csv
  client/Dockerfile
  docker-compose.yml
  docs/DEBUGGING.md
Due: none

Pass Scenario object to fixture function
  api/tests/Behat/bootstrap/v2/Common/BaseFeatureContext.php
  api/tests/Behat/bootstrap/v2/Registration/IngestTrait.php
Due: none

DDPB-3944: Behat Rewrite: Admin - Ingest Users (CSV Upload) (#669)
  Makefile
  api/Dockerfile
  api/src/Repository/CasRecRepository.php
  api/src/v2/Registration/Assembler/CasRecToLayDeputyshipDtoAssembler.php
  api/src/v2/Registration/Assembler/SiriusToLayDeputyshipDtoAssembler.php
  api/tests/Behat/bootstrap/v2/Common/BaseFeatureContext.php
  api/tests/Behat/bootstrap/v2/Common/IShouldBeOnAdminTrait.php
  api/tests/Behat/bootstrap/v2/Common/IVisitAdminTrait.php
  api/tests/Behat/bootstrap/v2/Common/PageUrlsTrait.php
  api/tests/Behat/bootstrap/v2/Helpers/FixtureHelper.php
  api/tests/Behat/bootstrap/v2/Registration/IngestTrait.php
  api/tests/Behat/features-v2/registration/ingest.lay.sirius.feature
  api/tests/Behat/features-v2/registration/ingest.org.casrec.feature
  api/tests/Behat/fixtures/casrec-csvs/lay-1-row-missing-all-required-1-valid-row.csv
  api/tests/Behat/fixtures/casrec-csvs/lay-1-row-missing-all-required-columns.csv
  api/tests/Behat/fixtures/casrec-csvs/lay-1-row-updated-report-type.csv
  api/tests/Behat/fixtures/casrec-csvs/lay-3-valid-rows.csv
  api/tests/Behat/fixtures/casrec-csvs/org-1-row-missing-all-required-columns.csv
  api/tests/Behat/fixtures/casrec-csvs/org-1-row-missing-last-report-date-1-valid-row.csv
  api/tests/Behat/fixtures/casrec-csvs/org-1-row-with-ndr-column.csv
  api/tests/Behat/fixtures/casrec-csvs/org-1-updated-row-made-date-and-named-deputy.csv
  api/tests/Behat/fixtures/casrec-csvs/org-1-updated-row-named-deputy-address.csv
  api/tests/Behat/fixtures/casrec-csvs/org-1-updated-row-report-type.csv
  api/tests/Behat/fixtures/casrec-csvs/org-3-valid-rows.csv
  api/tests/Behat/fixtures/org-1-row-missing-last-report-date-1-valid-row.csv
  api/tests/Behat/fixtures/org-3-valid-rows.csv
  api/tests/Behat/fixtures/sirius-csvs/lay-1-row-missing-all-required-1-valid-row.csv
  api/tests/Behat/fixtures/sirius-csvs/lay-1-row-missing-all-required-columns.csv
  api/tests/Behat/fixtures/sirius-csvs/lay-1-row-updated-report-type.csv
  api/tests/Behat/fixtures/sirius-csvs/lay-3-valid-rows.csv
  client/Dockerfile
  docker-compose.yml
  docs/DEBUGGING.md
Due: api

DDPB-4009 move images to alpine and update base images
  .circleci/config.yml
  api/Dockerfile
  client/Dockerfile
  dr_backup/Dockerfile
  ecs_helper/check_ecr_scan_results/aws_ecr_scan_results.py
  wkhtmltopdf/Dockerfile
  wkhtmltopdf/docker-entrypoint.sh
Due: none

revert wkhtml changes
  docker-compose.yml
  environment/scan.tf
  wkhtmltopdf/Dockerfile
Due: none

revert wkhtmltopdf changes - fix clam (#672)
  docker-compose.yml
  environment/scan.tf
  wkhtmltopdf/Dockerfile
Due: none

Temp changes for behat tests
  api/tests/Behat/bootstrap/v2/Reporting/Overview/ReportOverviewTrait.php
  api/tests/Behat/features-v2/reporting/report-overview/report-overview.feature
  client/templates/Org/ClientProfile/_deputyDetails.html.twig
Due: none

weasy changes
  wkhtmltopdf/Dockerfile
  wkhtmltopdf/app.py
Due: none

try something
  environment/scan.tf
Due: none

try another thing
  docker-compose.ci.yml
  docker-compose.yml
  environment/ecr.tf
  environment/scan.tf
  file_scanner/Dockerfile
  file_scanner/clamd.conf
Due: none

fix healthcheck
  docker-compose.ci.yml
  docker-compose.yml
  environment/ecr.tf
  environment/scan.tf
  file_scanner/Dockerfile
  file_scanner/clamd.conf
Due: none

Added intial tests for checking client and named deputy details
  api/tests/Behat/behat.yml
  api/tests/Behat/bootstrap/v2/Common/UserDetails.php
  api/tests/Behat/bootstrap/v2/Helpers/FixtureHelper.php
  api/tests/Behat/bootstrap/v2/Reporting/Overview/ReportOverviewTrait.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/ReportOverviewTrait.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/ReportingSectionsFeatureContext.php
  api/tests/Behat/features-v2/reporting/report-overview/report-overview.feature
Due: none

DDPB-4001 - rework (#673)
  environment/scan.tf
Due: none

Failing test for updating orgs and named deputies
  api/tests/Behat/bootstrap/v2/Common/AssertTrait.php
  api/tests/Behat/bootstrap/v2/Registration/IngestTrait.php
  api/tests/Behat/features-v2/registration/ingest.lay.casrec.feature
  api/tests/Behat/features-v2/registration/ingest.org.casrec.feature
  api/tests/Behat/fixtures/casrec-csvs/org-1-row-new-named-deputy-and-org-existing-client.csv
Due: none

Delete client and recreate on upload of row with new named deputy and org
  api/src/v2/Registration/Uploader/OrgDeputyshipUploader.php
  api/tests/Behat/bootstrap/v2/Registration/IngestTrait.php
Due: api

updated email link, updated tests to check for email link, added pa fixture methods
  api/tests/Behat/bootstrap/v2/Common/BaseFeatureContext.php
  api/tests/Behat/bootstrap/v2/Common/ReportTrait.php
  api/tests/Behat/bootstrap/v2/Helpers/FixtureHelper.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/ReportOverviewTrait.php
  api/tests/Behat/features-v2/reporting/report-overview/report-overview.feature
  client/templates/Org/ClientProfile/_deputyDetails.html.twig
Due: none

Updated email link to include client name + case number
  client/templates/Org/ClientProfile/_deputyDetails.html.twig
  client/templates/Org/ClientProfile/overview.html.twig
Due: none

DDPB-3952 add analytics v2 tests
  Makefile
  api/src/Service/Stats/Query/Query.php
  api/src/TestHelpers/ReportTestHelper.php
  api/tests/Behat/behat.yml
  api/tests/Behat/bootstrap/v2/Analytics/AnalyticsFeatureContext.php
  api/tests/Behat/bootstrap/v2/Analytics/AnalyticsTrait.php
  api/tests/Behat/bootstrap/v2/Common/BaseFeatureContext.php
  api/tests/Behat/bootstrap/v2/Common/IShouldBeOnAdminTrait.php
  api/tests/Behat/bootstrap/v2/Helpers/FixtureHelper.php
  api/tests/Behat/features-v2/analytics/analytics.feature
  api/tests/Behat/run-tests-v2.sh
  api/tests/Behat/run-tests.sh
  docker-compose.dev.yml
Due: api

Start assigning client to org and vice versa
  api/src/v2/Registration/Uploader/OrgDeputyshipUploader.php
  api/tests/Behat/bootstrap/v2/Registration/IngestTrait.php
  api/tests/Behat/features-v2/organisation-management/admin/edit-organisation.feature
  api/tests/Behat/features-v2/registration/ingest.org.casrec.feature
  api/tests/Behat/fixtures/casrec-csvs/org-1-row-existing-named-deputy-and-client-new-org-and-street-address.csv
Due: api

Drop old integration tests from pipeline
  .circleci/config.yml
Due: none

Updated tests, fixed issue with user details mapping, added phone number to named deputy fixture creator
  api/src/TestHelpers/NamedDeputyTestHelper.php
  api/tests/Behat/bootstrap/v2/Common/UserDetails.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/ReportOverviewTrait.php
  client/templates/Org/ClientProfile/_deputyDetails.html.twig
Due: none
