Repository ministryofjustice/opg-digideps: changes, and which Codecov flags are due for each by the changed paths.
All: api, client

Updating shell
  ecs_helper/cmd/get_secrets/get_secrets.sh
Due: none

Updating scripts to run in bash shells
  behat/docker-entrypoint.sh
  ecs_helper/cmd/get_secrets/get_secrets.sh
Due: none

Install bash in Dockerfile
  behat/Dockerfile
Due: none

Storing environment variables in .env file
  .circleci/config.yml
  ecs_helper/cmd/get_secrets/get_secrets.sh
Due: none

Updated paths in script and recreated file
  .circleci/config.yml
  ecs_helper/cmd/get_secrets/get_secrets.sh
Due: none

Revert API changes to remove audit logging
  api/app/config/config_dev.yml
  api/app/config/config_prod.yml
  api/app/config/config_test.yml
  api/app/config/services.yml
  api/app/config/services/event_listeners.yml
  api/app/config/services/log_handlers.yml
  api/src/AppBundle/EventListener/UserListener.php
Due: api

Remove controller tests for audit logging
  client/tests/phpunit/Controller/AdminIndexControllerTest.php
  client/tests/phpunit/Controller/ClientControllerTest.php
  client/tests/phpunit/Controller/OrganisationControllerTest.php
Due: none

Revert "Updating shell"
  .circleci/config.yml
  behat/Dockerfile
  behat/docker-entrypoint.sh
  ecs_helper/cmd/get_secrets/get_secrets.sh
Due: none

Cover remaining events and subscribers in unit tests
  api/tests/AppBundle/EventListener/UserListenerTest.php
  client/src/AppBundle/Entity/Client.php
  client/src/AppBundle/EventSubscriber/ClientDeletedSubscriber.php
  client/src/AppBundle/EventSubscriber/ClientUpdatedSubscriber.php
  client/src/AppBundle/EventSubscriber/UserDeletedSubscriber.php
  client/src/AppBundle/Service/Audit/AuditEvents.php
  client/src/AppBundle/TestHelpers/ClientHelpers.php
  client/src/AppBundle/TestHelpers/NamedDeputyHelper.php
  client/tests/phpunit/Event/ClientUpdatedEventTest.php
  client/tests/phpunit/Event/UserDeletedEventTest.php
  client/tests/phpunit/EventSubscriber/ClientDeletedSubscriberTest.php
  client/tests/phpunit/EventSubscriber/ClientUpdatedSubscriberTest.php
  client/tests/phpunit/EventSubscriber/UserDeletedSubscriberTest.php
  client/tests/phpunit/EventSubscriber/UserUpdatedSubscriberTest.php
Due: client

Fix UserDeleted event in UserAPI
  client/src/AppBundle/Service/Client/Internal/UserApi.php
Due: client

Attempting to copy required files in
  .circleci/config.yml
Due: none

ddpb3663b working egress
  client/Dockerfile
  client/src/AppBundle/Controller/Report/ReportController.php
  docker-compose.yml
  environment/egress_proxy.tf
  environment/front_service.tf
  environment/squid.tf
  environment/squid/output.tf
Due: client

ddpb3663b working egress
  client/docker/env/frontend.env
  environment/front_service.tf
Due: none

Added project name to docker commands
  .circleci/config.yml
Due: none

Tidy
  client/src/AppBundle/Controller/Admin/IndexController.php
  client/src/AppBundle/Service/Audit/AuditEvents.php
  client/tests/phpunit/Service/Audit/AuditEventsTest.php
Due: client

Test fixes
  api/src/AppBundle/Controller/ClientController.php
  api/src/AppBundle/Entity/Organisation.php
  client/src/AppBundle/Controller/Admin/Client/ClientController.php
  client/src/AppBundle/Controller/Org/OrganisationController.php
  client/src/AppBundle/Controller/SettingsController.php
  client/src/AppBundle/Event/UserUpdatedEvent.php
  client/src/AppBundle/EventSubscriber/UserDeletedSubscriber.php
  client/src/AppBundle/EventSubscriber/UserUpdatedSubscriber.php
  client/src/AppBundle/Service/Client/Internal/ClientApi.php
  client/src/AppBundle/Service/Client/Internal/UserApi.php
  client/tests/phpunit/EventSubscriber/UserDeletedSubscriberTest.php
Due: api, client

Log client email changes
  client/src/AppBundle/Controller/Org/IndexController.php
  client/src/AppBundle/EventSubscriber/ClientUpdatedSubscriber.php
  client/tests/phpunit/EventSubscriber/ClientUpdatedSubscriberTest.php
Due: client

Fix clietn events
  client/src/AppBundle/Service/Client/Internal/ClientApi.php
Due: client

Drop old org controller test
  client/tests/phpunit/Controller/Org/IndexControllerTest.php
Due: none

Moved volumes to override, fixed error in circle config
  .circleci/config.yml
  docker-compose.dev.yml
  docker-compose.override.yml
Due: none

Fix edit right
  client/src/AppBundle/Controller/SettingsController.php
Due: client

Use real log handler in dev
  client/app/config/config_dev.yml
Due: none

Cover new clientApi functions in tests
  client/src/AppBundle/Event/ClientDeletedEvent.php
  client/src/AppBundle/TestHelpers/ClientHelpers.php
  client/tests/phpunit/Service/Client/Internal/ClientApiTest.php
Due: client

Cover new UserApi functions in tests
  client/src/AppBundle/Controller/Org/OrganisationController.php
  client/src/AppBundle/Controller/SettingsController.php
  client/src/AppBundle/Service/Client/Internal/UserApi.php
  client/tests/phpunit/Service/Client/Internal/UserApiTestTest.php
Due: client

Use v2 endpoint for getting clients
  client/src/AppBundle/Resources/views/Admin/Client/Client/details.html.twig
  client/src/AppBundle/Service/Client/Internal/ClientApi.php
  client/src/AppBundle/Service/Client/Internal/ReportApi.php
  client/src/AppBundle/Service/Client/Internal/SatisfactionApi.php
  client/src/AppBundle/Service/Client/Internal/UserApi.php
Due: client

Test fix
  client/tests/phpunit/Service/Client/Internal/ClientApiTest.php
Due: none

Kick off pipeline
  api/src/AppBundle/v2/Controller/ClientController.php
Due: api

User correct audit event for client discharge
  client/src/AppBundle/Service/Audit/AuditEvents.php
  client/tests/phpunit/Service/Audit/AuditEventsTest.php
Due: client

Storing variables to .env file
  behat/Dockerfile
  behat/docker-entrypoint.sh
  ecs_helper/cmd/get_secrets/get_secrets.sh
Due: none

Show codeputies partial when codeputies exist rather than codeputies flag being ticked on user
  client/src/AppBundle/Controller/Report/ReportController.php
  client/src/AppBundle/Resources/views/Report/Report/_codeputies.html.twig
  client/src/AppBundle/Resources/views/Report/Report/index.html.twig
Due: client

Check for coDeputies using casrec rather than counting users
  api/src/AppBundle/Controller/CasRecController.php
  client/app/config/services.yml
  client/src/AppBundle/Controller/Report/ReportController.php
  client/src/AppBundle/Resources/views/Report/Report/index.html.twig
  client/src/AppBundle/Service/Client/Internal/CasrecApi.php
Due: api, client

Changed to a machine image from a docker image
  .circleci/config.yml
Due: none

Update fixtures to also create casrec entry when creating deputies
  api/src/AppBundle/FixtureFactory/CasRecFactory.php
  api/src/AppBundle/FixtureFactory/UserFactory.php
  api/src/AppBundle/v2/Fixture/Controller/FixtureController.php
  client/src/AppBundle/Resources/views/Report/Report/_codeputies.html.twig
Due: none

Added new docker-compose file for browserstack, added new steps to create certs
  .circleci/config.yml
  docker-compose.browserstack.yml
Due: none

Removed step to make directory
  .circleci/config.yml
Due: none

Fix client details page
  api/src/AppBundle/Controller/ClientController.php
  api/tests/AppBundle/Controller/ClientControllerTest.php
  client/src/AppBundle/Controller/Admin/Client/ClientController.php
  client/src/AppBundle/Service/Client/Internal/ClientApi.php
Due: api, client

Use last logged in date to show invite deputy link
  client/src/AppBundle/Resources/views/Report/Report/_codeputies.html.twig
Due: none

Expand fixtures to allow creating orgs with multiple clients and users
  api/src/AppBundle/FixtureFactory/ClientFactory.php
  api/src/AppBundle/FixtureFactory/UserFactory.php
  api/src/AppBundle/v2/Fixture/Controller/FixtureController.php
  client/src/AppBundle/Controller/Admin/FixtureController.php
  client/src/AppBundle/Form/Admin/Fixture/CourtOrderFixtureType.php
  client/src/AppBundle/Resources/translations/admin-fixtures.en.yml
  client/src/AppBundle/Resources/views/Admin/Fixtures/courtOrders.html.twig
Due: client

Granting permissions to generate certs
  .circleci/config.yml
Due: none

sudo generate scripts
  .circleci/config.yml
Due: none

Path conditions:
  api: any of: api/src/AppBundle, but not: api/src/AppBundle/DataFixtures/**/*, api/src/AppBundle/FixtureFactory/**/*, api/src/AppBundle/TestHelpers/**/*, api/src/AppBundle/v2/Fixture/**/*, client/src/AppBundle/Exception/**/*, client/src/AppBundle/Resources/**/*
  client: any of: client/src/AppBundle, but not: api/src/AppBundle/DataFixtures/**/*, api/src/AppBundle/FixtureFactory/**/*, api/src/AppBundle/TestHelpers/**/*, api/src/AppBundle/v2/Fixture/**/*, client/src/AppBundle/Exception/**/*, client/src/AppBundle/Resources/**/*
