Repository ministryofjustice/opg-digideps: changes, and which Codecov flags are due for each by the changed paths.
All: api, client

Create api and client user research entities, migrations and contorllers
  api/DoctrineMigrations/Version248.php
  api/src/Entity/UserResearch/UserResearchResponse.php
  client/src/Controller/Report/ReportController.php
  client/src/Controller/UserResearchController.php
  client/src/Entity/UserResearch/ResearchType.php
  client/src/Entity/UserResearch/UserResearchResponse.php
  client/src/Form/UserResearchSubmissionType.php
  client/src/Service/Client/Internal/UserResearchApi.php
  client/templates/Report/Report/postSubmissionUserResearch.html.twig
  client/templates/Report/Report/submitConfirmation.html.twig
  client/templates/UserResearch/_userResearchForm.html.twig
  client/templates/UserResearch/postSubmissionUserResearch.html.twig
  client/translations/report-post-submission-user-research.en.yml
Due: api, client

Use correct template
  client/src/Controller/UserResearchController.php
Due: client

[DDPB-3288] Fixed configuration for when the app starts
  api/config/packages/doctrine_migrations.yml
  api/config/services.yml
  api/config/services/event_listeners.yml
  api/config/services/repositories.yml
  api/config/services/rest_handlers.yml
  api/src/Migrations/Factory/MigrationFactoryDecorator.php
  api/src/Migrations/Version225.php
  client/config/services.yml
  client/config/services/defaults.yml
  client/config/services/file_uploads.yml
  client/config/services/log_handlers.yml
  client/config/services/twig.yml
  client/config/services_api.yml
  client/config/services_forms.yml
  client/config/services_listeners.yml
  client/config/services_login.yml
  client/config/services_mail.yml
  client/src/Service/File/Storage/S3Storage.php
Due: api, client

Finish markup for UR page and break out checkbox and radio groups to macros for sanity
  client/config/config_dev.yml
  client/src/Controller/Report/ReportController.php
  client/src/Controller/UserResearchController.php
  client/src/Entity/UserResearch/ResearchType.php
  client/src/Entity/UserResearch/UserResearchResponse.php
  client/src/Form/UserResearchResponseType.php
  client/templates/Macros/macros.html.twig
  client/templates/UserResearch/_userResearchForm.html.twig
  client/templates/UserResearch/postSubmissionUserResearch.html.twig
  client/translations/report-post-submission-user-research.en.yml
Due: client

Make pageurls into a trait and update user research steps
  behat/tests/bootstrap/v2/common/BaseFeatureContext.php
  behat/tests/bootstrap/v2/common/IShouldBeOnTrait.php
  behat/tests/bootstrap/v2/common/PageUrlsTrait.php
  behat/tests/bootstrap/v2/common/ReportTrait.php
  behat/tests/bootstrap/v2/feedback/FeedbackTrait.php
  behat/tests/bootstrap/v2/reporting/sections/ContactsSectionTrait.php
  behat/tests/features-v2/feedback/post-submission-feedback.feature
Due: none

Add UUID to app and use for UserResearchResponse and ResearchTyp[e
  api/DoctrineMigrations/Version248.php
  api/composer.json
  api/composer.lock
  api/config/config.yml
  api/config/services/repositories.yml
  api/src/Entity/UserResearch/ResearchType.php
  api/src/Entity/UserResearch/UserResearchResponse.php
  api/src/Factory/UserResearchResponseFactory.php
Due: api

Add maker bundle to client and api
  api/DoctrineMigrations/Version248.php
  api/composer.json
  api/composer.lock
  client/composer.json
  client/composer.lock
  client/translations/user-research-submitted.en.yml
Due: none

Update migration to include foreign key
  api/DoctrineMigrations/Version248.php
Due: none

Make ResearchType properties nullable to allow for selecting only some options
  api/src/Entity/UserResearch/ResearchType.php
Due: api

Update UserResearchResponse ORM notation to generate correct SQl
  api/src/Entity/UserResearch/UserResearchResponse.php
Due: api

Add submitted page
  api/src/Controller/UserResearchController.php
  api/src/Entity/Repository/UserResearchResponseRepository.php
  api/src/Factory/UserResearchResponseFactory.php
  behat/tests/bootstrap/v2/feedback/FeedbackTrait.php
  client/src/Controller/UserResearchController.php
  client/templates/UserResearch/postSubmissionUserResearch.html.twig
  client/templates/UserResearch/userResearchSubmitted.html.twig
  client/translations/user-research-submitted.en.yml
Due: api, client

Cover UserResearch Controller and Entities in unit tests
  api/src/Controller/UserResearchController.php
  api/src/Entity/UserResearch/ResearchType.php
  api/tests/App/Controller/UserResearchControllerTest.php
  api/tests/App/Entity/UserResearch/ResearchTypeTest.php
Due: api

[DDPB-3288] Chnaged repositories back to EntityRepository
  api/composer.json
  api/composer.lock
  api/config/services.yml
  api/src/EventListener/RestInputOuputFormatter.php
  api/src/Repository/AbstractEntityRepository.php
  api/src/Repository/CasRecRepository.php
  api/src/Repository/ClientContactRepository.php
  api/src/Repository/ClientRepository.php
  api/src/Repository/DocumentRepository.php
  api/src/Repository/NamedDeputyRepository.php
  api/src/Repository/NdrRepository.php
  api/src/Repository/NoteRepository.php
  api/src/Repository/OrganisationRepository.php
  api/src/Repository/ReportRepository.php
  api/src/Repository/ReportSubmissionRepository.php
  api/src/Repository/SatisfactionRepository.php
  api/src/Repository/UserRepository.php
  client/composer.json
  client/composer.lock
  client/config/config_prod.yml
  client/src/Controller/ManageController.php
  client/src/Controller/Report/ReportController.php
  client/src/Service/Client/RestClient.php
Due: api, client

Add user to UserResearchResponse so we can extract contact info
  api/DoctrineMigrations/Version248.php
  api/src/Controller/UserResearchController.php
  api/src/Entity/Repository/UserResearchResponseRepository.php
  api/src/Entity/User.php
  api/src/Entity/UserResearch/UserResearchResponse.php
Due: api

Add event tracking for clicking submit feedback
  client/templates/Report/Report/submitConfirmation.html.twig
  client/templates/Report/_report_form.html.twig
  client/templates/UserResearch/_userResearchForm.html.twig
Due: none

Added restrictions to deletions
  api/src/Entity/Repository/OrganisationRepository.php
  api/src/Service/RestHandler/OrganisationRestHandler.php
  api/src/v2/Controller/OrganisationController.php
Due: api

Fix API tests
  api/src/TestHelpers/ReportSubmissionHelper.php
Due: none

Behat fix
  behat/tests/features/deputy/03-report/01-102/21-check-and-submit.feature
Due: none

DDPB-3908: Set fixtures password env var in api service (#596)
  README.md
  api/config/services.yml
  api/docker/confd/templates/parameters.yml.tmpl
  environment/api_service.tf
Due: none

Update entity properties to use ArrayCollection rather than array
  api/src/Entity/Client.php
  api/src/Entity/Ndr/Ndr.php
  api/src/Entity/Ndr/Traits/ExpensesTrait.php
  api/src/Entity/Report/Checklist.php
  api/src/Entity/Report/Report.php
  api/src/Entity/Report/ReportSubmission.php
  api/src/Entity/Report/Traits/AssetTrait.php
  api/src/Entity/Report/Traits/BankAccountTrait.php
  api/src/Entity/Report/Traits/ContactTrait.php
  api/src/Entity/Report/Traits/DecisionTrait.php
  api/src/Entity/Report/Traits/FeeExpensesTrait.php
  api/src/Entity/Report/Traits/GiftsTrait.php
  api/src/Entity/Report/Traits/MoneyTransferTrait.php
  api/src/Entity/Report/Traits/ReportProfDeputyCostsEstimateTrait.php
  api/src/Entity/Report/Traits/ReportProfDeputyCostsTrait.php
  api/src/Entity/User.php
Due: api

Typo
  api/src/Entity/User.php
Due: api

Fix entity types
  api/src/Entity/Client.php
  api/src/Entity/User.php
Due: api

Re-enable softdelete
  api/config/packages/doctrine.yml
Due: none

[DDPB-3288] Added softdeletable back to the doctrine yml and fixed some repository stuff
  api/config/packages/doctrine.yml
  api/src/Repository/SatisfactionRepository.php
  client/src/Controller/ClientController.php
  client/src/Controller/CoDeputyController.php
  client/src/Controller/Org/ClientContactController.php
  client/src/Controller/Org/IndexController.php
  client/src/Controller/Org/NoteController.php
Due: api, client

Update Repositories to user ServiceEntityRepository
  api/config/services.yml
  api/src/Repository/CasRecRepository.php
  api/src/Repository/ClientContactRepository.php
  api/src/Repository/ClientRepository.php
  api/src/Repository/DocumentRepository.php
  api/src/Repository/NamedDeputyRepository.php
  api/src/Repository/NdrRepository.php
  api/src/Repository/NoteRepository.php
  api/src/Repository/OrganisationRepository.php
  api/src/Repository/ReportRepository.php
  api/src/Repository/ReportSubmissionRepository.php
  api/src/Repository/SatisfactionRepository.php
  api/src/Repository/UserRepository.php
Due: api

Update dbtrait with new migration table name
  behat/tests/bootstrap/DbTrait.php
Due: none

Force VisitCare#doesClientHaveACarePlan serialized name
  api/src/Entity/Report/VisitsCare.php
Due: api

Test differnt psql version for tests
  api/config/config.yml
Due: none

Update Webpack and Jest to fix elliptic vulnerability
  client/package-lock.json
  client/package.json
Due: none

Add initial API test cases
  api/src/Entity/User.php
  api/tests/App/Security/UserVoterTest.php
  client/src/Security/UserVoter.php
Due: api, client

Force new pipeline ruyn
  README.md
Due: none

Added testing around organisation repo
  api/src/TestHelpers/OrganisationTestHelper.php
  api/tests/App/Entity/Repository/OrganisationRepositoryTest.php
  api/tests/App/v2/Controller/OrganisationControllerTest.php
  api/tests/Fixtures.php
Due: none

Re-enable twig caching
  client/config/config_dev.yml
Due: none

Add edit permissions to Users in API
  api/src/Entity/User.php
  api/src/Security/UserVoter.php
  api/tests/App/Controller/AbstractTestController.php
  api/tests/App/Security/UserVoterTest.php
  client/src/Security/UserVoter.php
Due: api, client

Create edit and update add deputy frontend voter permissions
  client/config/security.yml
  client/src/Entity/User.php
  client/src/Security/UserVoter.php
  client/src/TestHelpers/UserHelpers.php
  client/tests/phpunit/Security/UserVoterTest.php
Due: client

Moved soft delete migration to a previous version. Updated org deletion restrictions.
  api/DoctrineMigrations/Version214.php
  api/DoctrineMigrations/Version248.php
  api/src/Entity/Repository/OrganisationRepository.php
  api/tests/App/Entity/Repository/OrganisationRepositoryTest.php
Due: api

Include Add User voter in api
  api/src/Security/UserVoter.php
  api/tests/App/Security/UserVoterTest.php
  client/templates/Report/Debt/edit.html.twig
  client/tests/phpunit/Security/UserVoterTest.php
Due: api

Path conditions:
  api: any of: api/src, but not: api/src/DataFixtures/**/*, api/src/FixtureFactory/**/*, api/src/TestHelpers/**/*, api/src/v2/Fixture/**/*, client/src/Exception/**/*, client/src/Resources/**/*
  client: any of: client/src, but not: api/src/DataFixtures/**/*, api/src/FixtureFactory/**/*, api/src/TestHelpers/**/*, api/src/v2/Fixture/**/*, client/src/Exception/**/*, client/src/Resources/**/*
