Repository ministryofjustice/opg-digideps: changes, and which Codecov flags are due for each by the changed paths.
All: api, client

Drop bundle entry
  api/config/bundles.php
Due: none

Fix document tests and ensure all tests run in CI
  api/tests/Behat/features-v2/contact-details/contact-details.feature
  api/tests/Behat/features-v2/report-submission/document-synchronisation.feature
  api/tests/Behat/features-v2/report-submission/report-submission.feature
  api/tests/Behat/features-v2/reporting/sections/gifts/gifts.feature
Due: none

Add hot reloading for golang app
  .gitignore
  docker-compose.yml
  registration_service/Dockerfile
Due: none

Apply constructor promotion where constructors have been touched
  api/src/Controller/AuthController.php
  api/src/Controller/JWTController.php
  api/src/Service/JWT/JWTService.php
  client/src/Controller/IndexController.php
  client/src/Controller/JWT/JWTController.php
  client/src/Service/Client/Internal/RegistrationApi.php
  client/src/Service/Client/RestClient.php
Due: api, client

Rename Income to Money and update refs
  api/src/Entity/MoneyReceivedOnClientsBehalfInterface.php
  api/src/Entity/Ndr/ClientBenefitsCheck.php
  api/src/Entity/Ndr/MoneyReceivedOnClientsBehalf.php
  api/src/Entity/Report/ClientBenefitsCheck.php
  api/src/Entity/Report/MoneyReceivedOnClientsBehalf.php
  api/src/Factory/ClientBenefitsCheckFactory.php
  api/src/Repository/IncomeReceivedOnClientsBehalfRepository.php
  api/src/Repository/NdrIncomeReceivedOnClientsBehalfRepository.php
  api/src/TestHelpers/ReportTestHelper.php
  api/src/v2/Fixture/ReportSection.php
  api/tests/Unit/Controller/ClientBenefitsCheckControllerTest.php
  api/tests/Unit/Controller/IncomeReceivedOnOthersBehalfControllerTest.php
  api/tests/Unit/Factory/ClientBenefitsCheckFactoryTest.php
  client/src/Controller/Report/ClientBenefitsCheckController.php
  client/src/Entity/Ndr/ClientBenefitsCheck.php
  client/src/Entity/Ndr/MoneyReceivedOnClientsBehalf.php
  client/src/Entity/Report/ClientBenefitsCheck.php
  client/src/Entity/Report/MoneyReceivedOnClientsBehalf.php
  client/src/Form/Report/ClientBenefitsCheckType.php
  client/src/Form/Report/IncomeReceivedOnClientsBehalfType.php
  client/src/Validator/Constraints/ClientBenefitsCheck/IncomeReceivedOnClientsBehalfValidator.php
  client/tests/phpunit/Entity/Ndr/ClientBenefitsCheckTest.php
  client/tests/phpunit/Entity/Ndr/IncomeReceivedOnClientsBehalfTest.php
  client/tests/phpunit/Entity/Report/ClientBenefitsCheckTest.php
  client/tests/phpunit/Entity/Report/IncomeReceivedOnClientsBehalfTest.php
  client/tests/phpunit/Service/NdrStatusServiceTest.php
  client/tests/phpunit/Validator/Constraints/ClientBenefitsCheck/NdrClientBenefitsCheckValidatorTest.php
  client/tests/phpunit/Validator/Constraints/ClientBenefitsCheck/ReportClientBenefitsCheckValidatorTest.php
Due: api, client

Rename classes to use money and update refs
  api/src/Controller/Report/MoneyReceivedOnClientsBehalfController.php
  api/src/Entity/Ndr/ClientBenefitsCheck.php
  api/src/Entity/Ndr/MoneyReceivedOnClientsBehalf.php
  api/src/Entity/Report/ClientBenefitsCheck.php
  api/src/Entity/Report/MoneyReceivedOnClientsBehalf.php
  api/src/Factory/ClientBenefitsCheckFactory.php
  api/src/Repository/MoneyReceivedOnClientsBehalfRepository.php
  api/src/Repository/NdrMoneyReceivedOnClientsBehalfRepository.php
  api/src/Service/ReportStatusService.php
  api/src/TestHelpers/ReportTestHelper.php
  api/src/v2/Fixture/ReportSection.php
  client/src/Controller/Report/ClientBenefitsCheckController.php
  client/src/Entity/MoneyReceivedOnClientsBehalfInterface.php
  client/src/Entity/Ndr/MoneyReceivedOnClientsBehalf.php
  client/src/Entity/Report/MoneyReceivedOnClientsBehalf.php
  client/src/Form/Report/ClientBenefitsCheckType.php
  client/src/Form/Report/MoneyReceivedOnClientsBehalfType.php
  client/src/Service/Client/Internal/MoneyReceivedOnClientsBehalfApi.php
  client/src/Service/NdrStatusService.php
  client/src/Validator/Constraints/ClientBenefitsCheck/ClientBenefitsCheckValidator.php
  client/src/Validator/Constraints/ClientBenefitsCheck/IncomeReceivedOnClientsBehalf.php
  client/src/Validator/Constraints/ClientBenefitsCheck/IncomeReceivedOnClientsBehalfValidator.php
  client/src/Validator/Constraints/ClientBenefitsCheck/MoneyReceivedOnClientsBehalf.php
  client/tests/phpunit/Entity/Ndr/IncomeReceivedOnClientsBehalfTest.php
  client/tests/phpunit/Entity/Report/IncomeReceivedOnClientsBehalfTest.php
  client/tests/phpunit/Validator/Constraints/ClientBenefitsCheck/NdrClientBenefitsCheckValidatorTest.php
  client/tests/phpunit/Validator/Constraints/ClientBenefitsCheck/ReportClientBenefitsCheckValidatorTest.php
Due: api, client

Update behat
  api/tests/Behat/bootstrap/v2/Reporting/Sections/ClientBenefitsCheckSectionTrait.php
  api/tests/Behat/features-v2/reporting/sections/client-benefits-check/client-benefit-check.ndr.feature
  api/tests/Behat/features-v2/reporting/sections/client-benefits-check/client-benefits-check.lay.feature
  api/tests/Unit/Controller/ClientBenefitsCheckControllerTest.php
  api/tests/Unit/Controller/IncomeReceivedOnOthersBehalfControllerTest.php
  api/tests/Unit/Factory/ClientBenefitsCheckFactoryTest.php
Due: none

Removed todo comments, removed uneccessary access from csv security group, fixed issues with creating csv event for orgs
  client/config/services.yml
  client/src/Command/CheckCSVUploadedCommand.php
  client/src/Service/Client/GovUK/BankHolidaysAPIClient.php
  client/src/Service/OrgService.php
  environment/check_csv_uploaded.tf
Due: client

Update remaining refs of income to money for new section
  .pre-commit-config.yaml
  api/src/Controller/Report/MoneyReceivedOnClientsBehalfController.php
  api/src/Entity/Ndr/ClientBenefitsCheck.php
  api/src/Entity/Report/ClientBenefitsCheck.php
  api/src/Factory/ClientBenefitsCheckFactory.php
  api/src/Service/ReportStatusService.php
  api/src/TestHelpers/ReportTestHelper.php
  api/src/v2/Fixture/ReportSection.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/ClientBenefitsCheckSectionTrait.php
  api/tests/Unit/Controller/ClientBenefitsCheckControllerTest.php
  api/tests/Unit/Controller/MoneyReceivedOnOthersBehalfControllerTest.php
  api/tests/Unit/Entity/Ndr/ClientBenefitsCheckTest.php
  api/tests/Unit/Entity/Report/ClientBenefitsCheckTest.php
  api/tests/Unit/Factory/ClientBenefitsCheckFactoryTest.php
  client/src/Controller/Report/ClientBenefitsCheckController.php
  client/src/Entity/ClientBenefitsCheckInterface.php
  client/src/Entity/Ndr/ClientBenefitsCheck.php
  client/src/Entity/Report/ClientBenefitsCheck.php
  client/src/Form/Report/ClientBenefitsCheckType.php
  client/src/Service/NdrStatusService.php
  client/src/Validator/Constraints/ClientBenefitsCheck/ClientBenefitsCheck.php
  client/src/Validator/Constraints/ClientBenefitsCheck/ClientBenefitsCheckValidator.php
  client/src/Validator/Constraints/ClientBenefitsCheck/MoneyReceivedOnClientsBehalfValidator.php
  client/templates/Report/ClientBenefitsCheck/_answers.html.twig
  client/templates/Report/ClientBenefitsCheck/step.html.twig
  client/templates/Report/Formatted/_client_benefits_check.html.twig
  client/tests/phpunit/Entity/Ndr/ClientBenefitsCheckTest.php
  client/tests/phpunit/Entity/Ndr/MoneyReceivedOnClientsBehalfTest.php
  client/tests/phpunit/Entity/Report/ClientBenefitsCheckTest.php
  client/tests/phpunit/Entity/Report/MoneyReceivedOnClientsBehalfTest.php
  client/tests/phpunit/Service/NdrStatusServiceTest.php
  client/tests/phpunit/Validator/Constraints/ClientBenefitsCheck/NdrClientBenefitsCheckValidatorTest.php
  client/tests/phpunit/Validator/Constraints/ClientBenefitsCheck/ReportClientBenefitsCheckValidatorTest.php
  client/translations/admin-checklist.en.yml
  client/translations/ndr-overview.en.yml
  client/translations/report-client-benefits-check.en.yml
  client/translations/report-overview.en.yml
Due: api, client

Using a valid http client
  client/config/services.yml
  client/src/Service/Client/GovUK/BankHolidaysAPIClient.php
Due: client

Renaming test case to be more clear and appropriate
  client/tests/phpunit/Command/CheckCSVUploadedCommandTest.php
Due: none

DDPB 4186 - Report for admin accounts (Joiners, Movers, Leavers) (#766)
  api/src/Controller/StatsController.php
  api/src/Repository/UserRepository.php
  api/tests/Behat/bootstrap/v2/ACL/ACLTrait.php
  api/tests/Behat/bootstrap/v2/Analytics/AnalyticsTrait.php
  api/tests/Behat/bootstrap/v2/Common/IShouldBeOnAdminTrait.php
  api/tests/Behat/bootstrap/v2/Common/IVisitAdminTrait.php
  api/tests/Behat/bootstrap/v2/Common/PageUrlsTrait.php
  api/tests/Behat/features-v2/acl/admin/super-admin-only.feature
  api/tests/Behat/features-v2/analytics/analytics.feature
  api/tests/Unit/Entity/Repository/UserRepositoryTest.php
  client/src/Controller/Admin/StatsController.php
  client/src/Service/Client/Internal/StatsApi.php
  client/templates/Admin/Stats/metrics.html.twig
  client/templates/Admin/Stats/reports.html.twig
  client/templates/Admin/Stats/userAccountReports.html.twig
  client/translations/admin-metrics.en.yml
Due: api, client

Final code, translation and template updates income -> money
  api/src/Entity/ClientBenefitsCheckInterface.php
  api/src/Entity/Ndr/MoneyReceivedOnClientsBehalf.php
  api/src/Entity/Report/MoneyReceivedOnClientsBehalf.php
  api/src/Factory/ClientBenefitsCheckFactory.php
  api/tests/Behat/features-v2/reporting/sections/client-benefits-check/client-benefit-check.ndr.feature
  api/tests/Behat/features-v2/reporting/sections/client-benefits-check/client-benefits-check.lay.feature
  client/src/Controller/Report/ClientBenefitsCheckController.php
  client/src/Service/Client/Internal/MoneyReceivedOnClientsBehalfApi.php
  client/src/Validator/Constraints/ClientBenefitsCheck/MoneyReceivedOnClientsBehalf.php
Due: api, client

Add new field to MoneyReceivedOnClientsBehalf with validation and test updates
  api/src/Entity/Ndr/MoneyReceivedOnClientsBehalf.php
  api/src/Entity/Report/MoneyReceivedOnClientsBehalf.php
  api/src/Factory/ClientBenefitsCheckFactory.php
  api/src/Migrations/Version261.php
  api/src/TestHelpers/ReportTestHelper.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/ClientBenefitsCheckSectionTrait.php
  api/tests/Behat/features-v2/reporting/sections/client-benefits-check/client-benefits-check.lay.feature
  client/src/Entity/Ndr/MoneyReceivedOnClientsBehalf.php
  client/src/Entity/Report/MoneyReceivedOnClientsBehalf.php
  client/src/Form/Report/MoneyReceivedOnClientsBehalfType.php
  client/src/Validator/Constraints/ClientBenefitsCheck/MoneyReceivedOnClientsBehalf.php
  client/src/Validator/Constraints/ClientBenefitsCheck/MoneyReceivedOnClientsBehalfValidator.php
  client/templates/Report/ClientBenefitsCheck/_answers.html.twig
  client/templates/Report/ClientBenefitsCheck/step.html.twig
  client/translations/report-client-benefits-check.en.yml
Due: api, client

Drop debug tag
  api/tests/Behat/features-v2/reporting/sections/client-benefits-check/client-benefits-check.lay.feature
Due: none

DDPB-3832: Format the report review page to make it easier to submit a report (#763)
  api/tests/Behat/bootstrap/v2/Common/IShouldBeOnFrontendTrait.php
  api/tests/Behat/bootstrap/v2/Common/ReportTrait.php
  api/tests/Behat/features-v2/report-submission/submitting-a-report.feature
  api/tests/Behat/features-v2/report-submission/submitting-a-report.ndr.feature
  client/assets/scss/digideps/formatted_report/_main.scss
  client/templates/Macros/macros.html.twig
  client/templates/Ndr/Ndr/_header.html.twig
  client/templates/Ndr/Ndr/_pdf_download_link.html.twig
  client/templates/Ndr/Ndr/_review_buttons.html.twig
  client/templates/Ndr/Ndr/declaration.html.twig
  client/templates/Ndr/Ndr/overview.html.twig
  client/templates/Ndr/Ndr/review.html.twig
  client/templates/Report/Report/_pdf_download_link.html.twig
  client/templates/Report/Report/_review_buttons.html.twig
  client/templates/Report/Report/declaration.html.twig
  client/templates/Report/Report/review.html.twig
  client/translations/common.en.yml
  client/translations/ndr-overview.en.yml
  client/translations/report-display.en.yml
Due: none

Implement new markup design and add new translations
  client/src/Controller/Report/ClientBenefitsCheckController.php
  client/src/Form/Report/ClientBenefitsCheckType.php
  client/src/Form/Report/MoneyReceivedOnClientsBehalfType.php
  client/src/Twig/FormFieldsExtension.php
  client/src/Validator/Constraints/ClientBenefitsCheck/MoneyReceivedOnClientsBehalfValidator.php
  client/templates/Components/Form/_known-date.html.twig
  client/templates/Report/ClientBenefitsCheck/_answers.html.twig
  client/templates/Report/ClientBenefitsCheck/start.html.twig
  client/templates/Report/ClientBenefitsCheck/step.html.twig
  client/templates/Report/ClientBenefitsCheck/summary.html.twig
  client/translations/ndr-overview.en.yml
  client/translations/report-client-benefits-check.en.yml
  client/translations/report-overview.en.yml
Due: client

Fix tests
  api/tests/Behat/bootstrap/v2/Reporting/Sections/ClientBenefitsCheckSectionTrait.php
  client/translations/report-client-benefits-check.en.yml
Due: none

Test fixes
  api/src/Factory/ClientBenefitsCheckFactory.php
  api/tests/Unit/Controller/ClientBenefitsCheckControllerTest.php
  api/tests/Unit/Controller/MoneyReceivedOnOthersBehalfControllerTest.php
  api/tests/Unit/Factory/ClientBenefitsCheckFactoryTest.php
  client/src/Entity/Ndr/MoneyReceivedOnClientsBehalf.php
  client/src/Entity/Report/MoneyReceivedOnClientsBehalf.php
  client/src/Twig/FormFieldsExtension.php
  client/tests/phpunit/Entity/Ndr/ClientBenefitsCheckTest.php
  client/tests/phpunit/Entity/Ndr/MoneyReceivedOnClientsBehalfTest.php
  client/tests/phpunit/Entity/Report/ClientBenefitsCheckTest.php
  client/tests/phpunit/Entity/Report/MoneyReceivedOnClientsBehalfTest.php
Due: api, client

Fix document tests and ensure all tests run in CI (#773)
  api/tests/Behat/features-v2/contact-details/contact-details.feature
  api/tests/Behat/features-v2/report-submission/document-synchronisation.feature
  api/tests/Behat/features-v2/report-submission/report-submission.feature
  api/tests/Behat/features-v2/reporting/sections/gifts/gifts.feature
Due: none

Final content updates
  api/tests/Behat/bootstrap/v2/Reporting/Sections/ClientBenefitsCheckSectionTrait.php
  client/templates/Report/ClientBenefitsCheck/start.html.twig
  client/templates/Report/ClientBenefitsCheck/summary.html.twig
  client/translations/report-client-benefits-check.en.yml
Due: none

DDPB-4169 - Alert when a data ingestion CSV has not been uploaded within the last 24 hours (#770)
  client/composer.json
  client/composer.lock
  client/config/parameters.yml.dist
  client/config/services.yml
  client/docker/confd/conf.d/parameters.hml.toml
  client/docker/confd/templates/parameters.yml.tmpl
  client/frontend.env
  client/scripts/check-csv-uploaded.sh
  client/src/Command/CheckCSVUploadedCommand.php
  client/src/Service/Audit/AwsAuditLogHandler.php
  client/src/Service/Client/GovUK/BankHolidaysAPIClient.php
  client/src/Service/Client/Slack/ClientFactory.php
  client/src/Service/OrgService.php
  client/src/Service/SecretManagerService.php
  client/tests/phpunit/Command/CheckCSVUploadedCommandTest.php
  client/tests/phpunit/Service/Audit/AwsAuditLogHandlerTest.php
  docker-compose.yml
  docker/localstack-init.sh
  environment/check_csv_uploaded.tf
Due: client

Return JSON for report rather than whole objects, fix CSV download
  api/src/Controller/UserResearchController.php
  api/src/Entity/User.php
  api/src/Repository/UserResearchResponseRepository.php
  api/tests/Unit/Entity/Repository/UserResearchResponseRepositoryTest.php
  api/tests/Unit/Fixtures.php
  client/src/Controller/Admin/StatsController.php
  client/src/Service/Client/Internal/UserResearchApi.php
  client/src/Service/Csv/UserResearchResponseCsvGenerator.php
Due: api, client

autocomplete disabled for repeated password fields
  client/src/Form/ChangePasswordType.php
  client/src/Form/ResetPasswordType.php
  client/src/Form/SetPasswordType.php
Due: client

Added S3 back to CSV uploaded security command
  environment/check_csv_uploaded.tf
Due: none

Added S3 permission back to CSV uploaded security group (#776)
  environment/check_csv_uploaded.tf
Due: none

Fix client unit tests
  client/tests/phpunit/Service/Csv/UserResearchResponseCsvGeneratorTest.php
  client/translations/admin-metrics.en.yml
Due: none

Added environment variables to container
  environment/check_csv_uploaded.tf
Due: none

Added environment variables to CSV Upload Check container (#778)
  environment/check_csv_uploaded.tf
Due: none

Run document tests in sequence as paralell running makes flaky tests
  .circleci/config.yml
  api/tests/Behat/features-v2/report-submission/document-synchronisation.feature
  api/tests/Behat/features-v2/reporting/sections/documents/documents.feature
Due: none

Add sequential tests to other workflows
  .circleci/config.yml
Due: none

Set pull_request sequential tests to run on non main branches
  .circleci/config.yml
Due: none

Comma
  .circleci/config.yml
Due: none

Scope to correct profile
  .circleci/config.yml
Due: none

Adding in missing info for type of income for fixture creation
  api/src/v2/Fixture/ReportSection.php
Due: none

DDPB-4233: Stop updating archived clients details during CSV upload (#771)
  api/src/Entity/Client.php
  api/src/Exception/ClientIsArchivedException.php
  api/src/v2/Registration/Uploader/OrgDeputyshipUploader.php
  api/tests/Unit/v2/Registration/Uploader/OrgDeputyshipUploaderTest.php
  client/src/Service/OrgService.php
Due: api, client

Rewording content for benefits section
  client/translations/report-client-benefits-check.en.yml
Due: none

[dependabot-node-fetch] fixed package vulnerabilities
  client/package-lock.json
  client/package.json
Due: none

[dependabot-node-fetch] fixed package vulnerabilities (#780)
  client/package-lock.json
  client/package.json
Due: none

Path conditions:
  api: any of: api/src, but not: api/src/DataFixtures/**/*, api/src/FixtureFactory/**/*, api/src/TestHelpers/**/*, api/src/v2/Fixture/**/*, client/src/Exception/**/*, client/src/Resources/**/*
  client: any of: client/src, but not: api/src/DataFixtures/**/*, api/src/FixtureFactory/**/*, api/src/TestHelpers/**/*, api/src/v2/Fixture/**/*, client/src/Exception/**/*, client/src/Resources/**/*
