Repository ministryofjustice/opg-digideps: changes, and which Codecov flags are due for each by the changed paths.
All: api, client

codecov.yml:

coverage:
    status:
      project: off
      patch: off

ignore:
  - "api/src/AppBundle/DataFixtures/**/*"  # ignore folders and all its contents
  - "api/src/AppBundle/FixtureFactory/**/*"
  - "api/src/AppBundle/TestHelpers/**/*"
  - "api/src/AppBundle/v2/Fixture/**/*"
  - "client/src/AppBundle/Exception/**/*"
  - "client/src/AppBundle/Resources/**/*"

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null
flags:
  api:
    paths:
      - api/src/AppBundle
    carryforward: false
  client:
    paths:
      - client/src/AppBundle
    carryforward: false

Allow blank firstname for NamedDeputies
  api/src/AppBundle/v2/Registration/DTO/OrgDeputyshipDto.php
  api/src/AppBundle/v2/Registration/Uploader/OrgDeputyshipUploader.php
Due: api

Fix and make error test less brittle
  api/src/AppBundle/v2/Registration/Uploader/OrgDeputyshipUploader.php
  api/tests/AppBundle/v2/Registration/Uploader/OrgDeputyshipUploaderTest.php
Due: api

DDPB-3242 - Enable PreProduction in Aurora (#513)
  environment/terraform.tfvars.json
Due: none

Return null rather than false when dates dont parse (#514)
  api/src/AppBundle/Service/ReportUtils.php
  api/src/AppBundle/v2/Registration/Assembler/CasRecToOrgDeputyshipDtoAssembler.php
  api/src/AppBundle/v2/Registration/DTO/OrgDeputyshipDto.php
  api/src/AppBundle/v2/Registration/Uploader/OrgDeputyshipUploader.php
  api/tests/AppBundle/v2/Registration/Uploader/OrgDeputyshipUploaderTest.php
Due: api

Remove metrics pipeline step (#512)
  .circleci/config.yml
Due: none

Added initial circle ci job
  shared/secrets.tf
Due: none

Adding missing files from previous commit
  .circleci/config.yml
  environment/integration_test.tf
  environment/secrets.tf
Due: none

Fixed name of jobs in cicle.ci
  .circleci/config.yml
Due: none

Retrieved and set secrets in Circle
  .circleci/config.yml
  ecs_helper/cmd/get_secrets/get_secrets.sh
  shared/secrets.tf
Due: none

Using an image with python
  .circleci/config.yml
Due: none

Updated build command to not use override file
  .circleci/config.yml
Due: none

Moved working directory command
  .circleci/config.yml
Due: none

Added working directory for running tests
  .circleci/config.yml
Due: none

Create UserUpdatedListener to handle user update logs and emaisl
  client/src/AppBundle/Event/UserUpdatedEvent.php
  client/src/AppBundle/EventListener/UserUpdatedListener.php
  client/src/AppBundle/Service/Audit/AuditEvents.php
  client/src/AppBundle/TestHelpers/UserHelpers.php
  client/tests/phpunit/EventListener/UserUpdatedListenerTest.php
Due: client

Updating paths
  .circleci/config.yml
Due: none

Fire UserUpdatedEvent in SettingsController
  api/src/AppBundle/Service/Audit/AuditEvents.php
  client/src/AppBundle/Controller/SettingsController.php
Due: api, client

Fix broken UserAPI endpoint
  client/src/AppBundle/Service/Client/Internal/UserApi.php
Due: client

Move UserUpdated to event subscribers
  client/src/AppBundle/Controller/SettingsController.php
  client/src/AppBundle/EventSubscriber/UserUpdatedSubscriber.php
  client/tests/phpunit/EventListener/UserUpdatedListenerTest.php
Due: client

Drop SettingsControllerTest now logic is tested in eventsubscriber
  client/tests/phpunit/Controller/SettingsControllerTest.php
Due: none

Revert API changes
  api/app/config/services/event_listeners.yml
  api/src/AppBundle/EventListener/ClientListener.php
  api/src/AppBundle/EventListener/UserListener.php
  api/src/AppBundle/Service/Audit/AuditEvents.php
  api/tests/AppBundle/EventListener/ClientListenerTest.php
  api/tests/AppBundle/EventListener/UserListenerTest.php
  client/app/config/services.yml
Due: api

Log clientDischarged event via event subscriber
  client/src/AppBundle/Controller/Admin/Client/ClientController.php
  client/src/AppBundle/Controller/Admin/FixtureController.php
  client/src/AppBundle/Event/ClientDeletedEvent.php
  client/src/AppBundle/Event/UserUpdatedEvent.php
  client/src/AppBundle/EventSubscriber/ClientDeletedSubscriber.php
  client/src/AppBundle/Service/Audit/AuditEvents.php
  client/src/AppBundle/Service/Client/Internal/ClientApi.php
  client/src/AppBundle/TestHelpers/ClientHelpers.php
  client/src/AppBundle/TestHelpers/UserHelpers.php
  client/tests/phpunit/Event/ClientDeletedEventTest.php
  client/tests/phpunit/Event/UserUpdatedEventTest.php
  client/tests/phpunit/EventSubscriber/ClientDeletedSubscriberTest.php
Due: client

Undoing recent changes:
  .circleci/config.yml
Due: none

Update circle ci config, updated get secrets script
  .circleci/config.yml
  ecs_helper/cmd/get_secrets/get_secrets.sh
Due: none

Updated paths in circle ci config
  .circleci/config.yml
Due: none

restarting postgres in circle job
  .circleci/config.yml
Due: none

Update secret ids
  ecs_helper/cmd/get_secrets/get_secrets.sh
Due: none

Peristing environment variable after script
  .circleci/config.yml
Due: none

Did some stuff
  .circleci/config.yml
  behat/docker-entrypoint.sh
  behat/test.env
Due: none

Removed command resulting in exit code 2
  behat/docker-entrypoint.sh
Due: none

Simplify UserUpdatedEvent and apply to settings and org controllers
  client/src/AppBundle/Controller/Org/OrganisationController.php
  client/src/AppBundle/Controller/SettingsController.php
  client/src/AppBundle/Event/UserUpdatedEvent.php
  client/src/AppBundle/EventSubscriber/UserUpdatedSubscriber.php
  client/tests/phpunit/EventSubscriber/UserUpdatedSubscriberTest.php
Due: client

Drop duplicated AuditEvent code from API
  api/src/AppBundle/Service/Audit/AbstractAuditLogHandler.php
  api/src/AppBundle/Service/Audit/AuditEvents.php
  api/src/AppBundle/Service/Audit/AwsAuditLogHandler.php
  api/src/AppBundle/Service/Audit/LocalAuditLogHandler.php
Due: api

Add ClientDeleted event and subscriber and simplify ClientController
  client/src/AppBundle/Controller/Admin/Client/ClientController.php
  client/src/AppBundle/Entity/Client.php
  client/src/AppBundle/Event/ClientDeletedEvent.php
  client/src/AppBundle/EventSubscriber/ClientDeletedSubscriber.php
  client/src/AppBundle/Service/Client/Internal/ClientApi.php
Due: client

Add ClientUpdated event and subscriber
  client/src/AppBundle/Event/ClientUpdatedEvent.php
  client/src/AppBundle/EventSubscriber/ClientUpdatedSubscriber.php
Due: client

Add UserDeleted event and subscriber and implement in controller
  client/src/AppBundle/Controller/SettingsController.php
  client/src/AppBundle/Event/UserDeletedEvent.php
  client/src/AppBundle/EventSubscriber/UserDeletedSubscriber.php
  client/src/AppBundle/Service/Client/Internal/UserApi.php
  client/src/AppBundle/Service/Logger.php
Due: client

Flesh out UserDeleted event and subscriber
  client/src/AppBundle/Controller/Admin/IndexController.php
  client/src/AppBundle/Event/UserDeletedEvent.php
  client/src/AppBundle/EventSubscriber/UserDeletedSubscriber.php
  client/src/AppBundle/Service/Client/Internal/UserApi.php
Due: client

Drop UserApiMock as not being used in unit tests now
  client/src/AppBundle/Service/Client/Internal/UserApiMock.php
Due: client

Formatting fixes
  client/src/AppBundle/Event/ClientUpdatedEvent.php
  client/src/AppBundle/EventSubscriber/UserUpdatedSubscriber.php
Due: client
