Repository ministryofjustice/opg-digideps: changes, and which Codecov flags are due for each by the changed paths.
All: api, client

codecov.yml:

coverage:
    status:
      project: off
      patch: off

ignore:
  - "api/src/DataFixtures/**/*"  # ignore folders and all its contents
  - "api/src/FixtureFactory/**/*"
  - "api/src/TestHelpers/**/*"
  - "api/src/v2/Fixture/**/*"
  - "client/src/Exception/**/*"
  - "client/src/Resources/**/*"

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null
flags:
  api:
    paths:
      - api/src
    carryforward: false
  client:
    paths:
      - client/src
    carryforward: false

move jwt validation
  api/config/packages/security.yml
  api/src/Controller/JWTController.php
  api/src/Controller/Report/DocumentController.php
  api/src/Controller/Report/ReportController.php
  api/src/v2/Registration/Controller/LayDeputyshipUploadController.php
  api/tests/Unit/Controller/DocumentControllerTest.php
  api/tests/Unit/ControllerReport/ReportControllerTest.php
  client/src/Controller/Synchronisation/SynchronisationController.php
  client/src/Service/Client/Internal/ReportApi.php
  lambda_functions/functions/synchronisation/Dockerfile
  lambda_functions/functions/synchronisation/go.mod
  lambda_functions/functions/synchronisation/go.sum
Due: api, client

duplicate endpoints for now
  api/config/packages/security.yml
  api/src/Controller/Report/DocumentController.php
  api/src/Controller/Report/ReportController.php
  api/tests/Unit/Controller/DocumentControllerTest.php
  api/tests/Unit/ControllerReport/ReportControllerTest.php
  client/src/Controller/Synchronisation/SynchronisationController.php
  client/src/Service/Client/Internal/ReportApi.php
Due: api, client

DDPB-4035 do weekly dependency upgrades
  .circleci/config.yml
  .github/dependabot.yml
  docker-compose.behat.yml
  docker-compose.dev.yml
  docker-compose.override.yml
  docker-compose.yml
Due: none

get rid of integration tests
  .circleci/config.yml
  docker-compose.behat.yml
Due: none

DDPB-4471 change log levels to be more generic
  api/config/packages/dev/monolog.yml
  api/config/packages/monolog.yml
  api/config/packages/prod/monolog.yml
  api/config/packages/test/monolog.yml
  api/config/parameters.yml.dist
  api/docker/confd/templates/parameters.yml.tmpl
  api/src/v2/Registration/Controller/LayDeputyshipUploadController.php
  api/src/v2/Registration/Uploader/LayDeputyshipUploader.php
  client/config/packages/dev/monolog.yml
  client/config/packages/prod/monolog.yml
  client/config/parameters.yml.dist
  client/docker/confd/templates/parameters.yml.tmpl
  client/src/Controller/Admin/AjaxController.php
  client/src/Controller/Synchronisation/SynchronisationController.php
Due: api, client

Adding in automated step to change named deputy when the organisation is the same
  api/src/v2/Registration/Uploader/OrgDeputyshipUploader.php
Due: api

Updated tests to ensure named deputies associations are updated within same org, but not updated when changing in a different org
  api/tests/Behat/bootstrap/v2/Registration/IngestTrait.php
  api/tests/Behat/features-v2/registration/ingest.org.sirius.feature
  api/tests/Unit/v2/Registration/Uploader/OrgDeputyshipUploaderTest.php
Due: none

Commenting reasoning behind temporary tests
  api/tests/Behat/features-v2/registration/ingest.org.sirius.feature
  api/tests/Unit/v2/Registration/Uploader/OrgDeputyshipUploaderTest.php
Due: none

DDPB-4471 change log levels to be more generic (#905)
  api/config/packages/dev/monolog.yml
  api/config/packages/monolog.yml
  api/config/packages/prod/monolog.yml
  api/config/packages/test/monolog.yml
  api/config/parameters.yml.dist
  api/docker/confd/templates/parameters.yml.tmpl
  api/src/v2/Registration/Controller/LayDeputyshipUploadController.php
  api/src/v2/Registration/Uploader/LayDeputyshipUploader.php
  client/config/packages/dev/monolog.yml
  client/config/packages/prod/monolog.yml
  client/config/parameters.yml.dist
  client/docker/confd/templates/parameters.yml.tmpl
  client/src/Controller/Admin/AjaxController.php
  client/src/Controller/Synchronisation/SynchronisationController.php
Due: api, client

DDPB-4451 - Pull through deputy data from the report (#906)
  api/src/v2/Registration/Uploader/OrgDeputyshipUploader.php
  api/tests/Behat/bootstrap/v2/Registration/IngestTrait.php
  api/tests/Behat/features-v2/registration/ingest.org.sirius.feature
  api/tests/Unit/v2/Registration/Uploader/OrgDeputyshipUploaderTest.php
Due: api

test
  client/src/Command/DocumentSyncCommand.php
Due: client

Adding in automated step to change organisation when org has changed but named deputy remains the same
  api/src/v2/Registration/Uploader/OrgDeputyshipUploader.php
  api/tests/Behat/features-v2/registration/ingest.org.sirius.feature
  api/tests/Unit/v2/Registration/Uploader/OrgDeputyshipUploaderTest.php
Due: api

Log sending and not sending emails
  client/src/Service/Audit/AuditEvents.php
  client/src/Service/Mailer/MailSender.php
Due: client

Cover in tests
  client/src/Service/Audit/AuditEvents.php
  client/src/Service/Mailer/MailSender.php
  client/tests/phpunit/Service/Audit/AuditEventsTest.php
  client/tests/phpunit/Service/Mailer/MailSenderTest.php
Due: client

Add extra logging
  client/src/Service/Audit/AwsAuditLogHandler.php
Due: client

Guard against user not logged in
  client/src/Service/Audit/AuditEvents.php
Due: client

Add other properties required to re-send emails in the future
  client/src/Service/Audit/AuditEvents.php
  client/tests/phpunit/Service/Audit/AuditEventsTest.php
Due: client

Use click link rather than custom func
  api/tests/Behat/bootstrap/v2/Common/INavigateToAdminTrait.php
Due: none

Bump aurora version
  environment/terraform.tfvars.json
Due: none

Make sure we set initialized based on logStream
  client/src/Service/Audit/AwsAuditLogHandler.php
  client/src/Service/Mailer/MailSender.php
  client/tests/phpunit/Service/Audit/AwsAuditLogHandlerTest.php
Due: client

Drop down one minor version for postgress serverless
  environment/terraform.tfvars.json
Due: none

Temp comment out AWSAuditLoggerTest
  client/src/Service/Audit/AwsAuditLogHandler.php
  client/tests/phpunit/Service/Audit/AwsAuditLogHandlerTest.php
Due: client

Just use v10
  environment/terraform.tfvars.json
Due: none

Simplify getting next token
  client/src/Service/Audit/AwsAuditLogHandler.php
Due: client

Try to ensure we have the right token
  client/src/Service/Audit/AwsAuditLogHandler.php
Due: client

Try fixing token
  client/src/Service/Audit/AwsAuditLogHandler.php
Due: client

Drop prop
  client/src/Service/Audit/AwsAuditLogHandler.php
Due: client

More token fixes
  client/src/Service/Audit/AwsAuditLogHandler.php
Due: client

return statement added to fix sendsLogMessageWithoutSequenceTokenToNewLogStreamIfStreamDoesNotExistOnAws test
  client/src/Service/Audit/AwsAuditLogHandler.php
Due: client

Test fix
  client/tests/phpunit/Service/Mailer/MailSenderTest.php
Due: none

return statement added
  client/src/Service/Audit/AwsAuditLogHandler.php
Due: client

return sequence token to pass failing test
  client/src/Service/Audit/AwsAuditLogHandler.php
Due: client

Use token from exception code
  client/src/Service/Audit/AwsAuditLogHandler.php
Due: client

Drop extra logging line
  client/src/Service/Audit/AwsAuditLogHandler.php
Due: client

Stop using class properites
  client/src/Service/Audit/AwsAuditLogHandler.php
Due: client

Ensure we always initialise
  client/src/Service/Audit/AwsAuditLogHandler.php
Due: client

ternary operator added for logged in user email
  client/src/Service/Audit/AuditEvents.php
Due: client

Adding in volume mount for sync container into dev docker compose
  docker-compose.dev.yml
Due: none

DDPB-4374: Log sending and not sending emails (#885)
  api/tests/Behat/bootstrap/v2/Common/INavigateToAdminTrait.php
  client/src/Service/Audit/AuditEvents.php
  client/src/Service/Audit/AwsAuditLogHandler.php
  client/src/Service/Mailer/MailSender.php
  client/tests/phpunit/Service/Audit/AuditEventsTest.php
  client/tests/phpunit/Service/Audit/AwsAuditLogHandlerTest.php
  client/tests/phpunit/Service/Mailer/MailSenderTest.php
Due: client
