Repository ministryofjustice/opg-digideps: changes, and which Codecov flags are due for each by the changed paths.
All: api, client

DDPB-3130 add logging bucket
  environment/s3.tf
Due: none

wip
  api/scripts/apiunittest.sh
  api/tests/AppBundle/Controller/CasRecControllerTest.php
  behat/tests/features/admin/01-admin.feature
Due: none

up this as seems to be triggering on behat tests
  environment/ecs_autoscaling/main.tf
Due: none

DDPB-3818: Respect the to date when choosing a date period for DAT reports
  api/src/AppBundle/Service/Stats/Query/Query.php
  api/src/AppBundle/Service/Stats/StatsQueryParameters.php
  client/src/AppBundle/Form/Admin/ReportSubmissionDownloadFilterType.php
Due: api, client

DDPB-3818: fixed failing api unit test
  api/tests/AppBundle/ControllerReport/ReportSubmissionControllerTest.php
Due: none

DDPB-3818: revert some code changes from previous commit as they were incorrect
  api/src/AppBundle/Controller/Report/ReportSubmissionController.php
  api/src/AppBundle/Service/Stats/Query/Query.php
  client/src/AppBundle/Form/Admin/ReportSubmissionDownloadFilterType.php
Due: api, client

DDPB-3818: Rebase off main for folder structure change
  api/app/config/parameters.yml
  client/app/config/parameters.yml
Due: none

DDPB-3818: potential fix for setTime member function null
  api/src/AppBundle/Controller/Report/ReportSubmissionController.php
Due: api

DDPB-3818: fixed failing unit test
  api/src/AppBundle/Controller/Report/ReportSubmissionController.php
  api/tests/AppBundle/ControllerReport/ReportSubmissionControllerTest.php
Due: api

DDPB-3818: Respect the to date when choosing a date period for DAT reports (#551)
  api/app/config/parameters.yml
  api/src/AppBundle/Controller/Report/ReportSubmissionController.php
  api/src/AppBundle/Service/Stats/StatsQueryParameters.php
  api/tests/AppBundle/ControllerReport/ReportSubmissionControllerTest.php
  client/app/config/parameters.yml
  client/src/AppBundle/Form/Admin/ReportSubmissionDownloadFilterType.php
Due: api, client

Fix assets path for docker and webpack
  client/Dockerfile
  client/config/config.yml
  client/config/config_dev.yml
  client/webpack.config.js
Due: none

Fix form template
  client/config/config.yml
Due: none

Set APP_ENV to test for api unit tests
  .circleci/config.yml
  Makefile
Due: none

Fix client unit tests
  client/tests/phpunit/Service/DocumentServiceTest.php
  client/tests/phpunit/templates/Components/PaginatorTest.php
  client/tests/phpunit/templates/Ndr/NdrFormattedTest.php
  client/tests/phpunit/templates/Report/FormattedTest.php
Due: none

Fix api tests
  api/tests/App/v2/Controller/OrganisationControllerTest.php
  api/tests/bootstrap.php
Due: none

Reset db before tests run
  .circleci/config.yml
Due: none

Fix pipeline steps
  .circleci/config.yml
Due: none

DDPB-3836 move the multi deputy functionality
  Makefile
  api/scripts/apiunittest.sh
  api/src/AppBundle/Controller/CasRecController.php
  api/src/AppBundle/Service/UserRegistrationService.php
  api/tests/AppBundle/Controller/CasRecControllerTest.php
  behat/tests/features/admin/01-admin.feature
  docker-compose.yml
Due: api

DDPB-3833 use bespoke step scaling to avoid pointless alarms
  docs/scripts/SCRIPTS.md
  docs/scripts/stress_service.go
  environment/ecs_autoscaling/main.tf
Due: none

Delete all Teams src code and fix tests
  api/config/services/repositories.yml
  api/src/Controller/TeamController.php
  api/src/Controller/UserController.php
  api/src/DataFixtures/PATestUserFixtures.php
  api/src/DataFixtures/ProfTestUserFixtures.php
  api/src/DataFixtures/TeamFixtures.php
  api/src/Entity/Repository/ClientRepository.php
  api/src/Entity/Repository/TeamRepository.php
  api/src/Entity/Team.php
  api/src/Entity/User.php
  api/src/Service/OrgService.php
  api/src/Service/UserService.php
  api/tests/ApiBaseTestCase.php
  api/tests/App/Controller/TeamControllerTest.php
  api/tests/App/Controller/UserControllerTest.php
  api/tests/App/Entity/Repository/ReportRepositoryTest.php
  api/tests/App/Entity/TeamTest.php
  api/tests/App/Entity/UserTest.php
  api/tests/phpunit.xml
  client/src/Controller/Org/OrganisationController.php
  client/src/Controller/Org/TeamController.php
  client/src/Entity/Team.php
  client/src/Entity/User.php
  client/src/Form/Org/TeamMemberAccountType.php
  client/src/Service/Client/Internal/UserApi.php
Due: none

Fix pingdom healthcheck template reference
  client/src/Controller/ManageController.php
Due: none

Add dev workflow and update path to live
  docs/Digideps dev flow.png
  docs/Digideps dev flow.xml
  docs/Path to live.png
Due: none

Add dev workflow and update path to live (#566)
  docs/Digideps dev flow.png
  docs/Digideps dev flow.xml
  docs/Path to live.png
Due: none

Composer update - lets see what breaks (#561)
  api/composer.lock
  client/composer.lock
Due: none

Delete teams step
  behat/tests/features/admin/08-deputy-search.feature
  behat/tests/features/pa/02-team/01-team-setup.feature
  behat/tests/features/pa/03-report/01-report-edit-period.feature
Due: none

Expand fixtures
  api/src/FixtureFactory/UserFactory.php
  api/src/v2/Fixture/Controller/FixtureController.php
  behat/tests/bootstrap/FeatureContext.php
  behat/tests/bootstrap/UserManagement/UserManagementTrait.php
  behat/tests/bootstrap/UserTrait.php
  client/src/Controller/Admin/FixtureController.php
Due: none

rebase
  api/src/AppBundle/Controller/CasRecController.php
  api/tests/AppBundle/Controller/CasRecControllerTest.php
  docker-compose.yml
Due: api

rebase
  api/scripts/apiunittest.sh
  api/tests/AppBundle/Controller/CasRecControllerTest.php
  behat/tests/features/admin/01-admin.feature
Due: none

DDPB-3836 move the multi deputy functionality
  Makefile
  api/scripts/apiunittest.sh
  api/src/AppBundle/Controller/CasRecController.php
  api/src/AppBundle/Service/UserRegistrationService.php
  behat/tests/features/admin/01-admin.feature
  docker-compose.yml
Due: api

rebase
  api/scripts/apiunittest.sh
  api/src/AppBundle/Controller/CasRecController.php
  api/src/AppBundle/Service/UserRegistrationService.php
  api/src/Controller/CasRecController.php
  api/src/Service/UserRegistrationService.php
  api/tests/App/Controller/CasRecControllerTest.php
  api/tests/AppBundle/Controller/CasRecControllerTest.php
  behat/tests/features/admin/01-admin.feature
Due: api

DDPB-3843 update ip whitelist for BSI audit
  environment/terraform.tfvars.json
  environment/variables.tf
Due: none

Fix pingdom healthcheck template reference (#565)
  client/src/Controller/ManageController.php
Due: none

DDPB-3848 trial bsi access from kali
  environment/admin_sg.tf
  environment/variables.tf
Due: none

Add a new config setting to check in templating which will enable debug to output cache grind files to directory
  client/docker/confd/conf.d/xdebug.ini.toml
  client/docker/confd/templates/xdebug.ini.tmpl
Due: none

Skel folders for cache grind local storage
  client/cachegrind/admin/.gitkeep
  client/cachegrind/frontend/.gitkeep
Due: none

additional docker compose file to mount cache grind directory for admin & frontend
  docker-compose.cachegrind.yml
Due: none

Add the env var for cache grind and set them to false by default
  client/admin.env
  client/frontend.env
Due: none

Path conditions:
  api: any of: api/src/AppBundle, but not: api/src/AppBundle/DataFixtures/**/*, api/src/AppBundle/FixtureFactory/**/*, api/src/AppBundle/TestHelpers/**/*, api/src/AppBundle/v2/Fixture/**/*, client/src/AppBundle/Exception/**/*, client/src/AppBundle/Resources/**/*
  client: any of: client/src/AppBundle, but not: api/src/AppBundle/DataFixtures/**/*, api/src/AppBundle/FixtureFactory/**/*, api/src/AppBundle/TestHelpers/**/*, api/src/AppBundle/v2/Fixture/**/*, client/src/AppBundle/Exception/**/*, client/src/AppBundle/Resources/**/*
