Repository ministryofjustice/opg-digideps: changes, and which Codecov flags are due for each by the changed paths.
All: api, client

DDPB-4477 - allow for sirius dev env name
  environment/admin_service.tf
  environment/variables.tf
Due: none

[DDPB-4477] added layCSV command
  client/src/Command/ProcessLayCSVCommand.php
  client/src/Command/ProcessOrgCSVCommand.php
  client/src/Controller/Admin/IndexController.php
  client/src/Service/Mailer/MailFactory.php
  client/src/Service/Mailer/Mailer.php
Due: client

[DDPB-4477] added background process for running the command
  Makefile
  client/src/Command/ProcessOrgCSVCommand.php
  client/src/Controller/Admin/IndexController.php
  client/src/Service/Mailer/MailFactory.php
  client/src/Service/Mailer/Mailer.php
Due: client

[DDPB-4477] command to process lay csv now works
  client/src/Command/ProcessLayCSVCommand.php
  client/src/Command/ProcessOrgCSVCommand.php
  client/src/Controller/Admin/IndexController.php
  environment/admin_service.tf
Due: client

[DDPB-4477] house keeping on some files. Also started fixing up the lay process form
  client/src/Command/ProcessLayCSVCommand.php
  client/src/Command/ProcessOrgCSVCommand.php
  client/src/Controller/Admin/IndexController.php
  client/src/Form/ProcessCSVType.php
  client/src/Service/CsvUploader.php
  client/templates/Admin/Index/uploadUsers.html.twig
Due: client

Try switching from goutte to browserkit
  .circleci/config.yml
  Makefile
  api/composer.json
  api/composer.lock
  api/tests/Behat/behat.yml
  api/tests/Behat/bootstrap/v2/Common/BaseFeatureContext.php
  api/tests/Behat/run-tests-parallel.sh
  api/tests/Behat/run-tests.sh
Due: none

Add symfony/mime
  api/composer.json
  api/composer.lock
Due: none

Test PHP 8.1 Upgrade
  Makefile
  api/Dockerfile
  api/composer.json
  api/composer.lock
  client/Dockerfile
  client/composer.json
  client/composer.lock
  docker-compose.yml
Due: none

HACK - Increase php memory_limit just prior to large upload
  api/tests/Behat/bootstrap/v2/Reporting/Sections/DocumentsSectionTrait.php
Due: none

HACK - Up memory on Circle containers to 4GB
  .circleci/config.yml
Due: none

[DDPB-4477] add button to process Lay and Org CSVs in Digideps via a background task
  Makefile
  client/.editorconfig
  client/config/parameters.yml.dist
  client/config/services.yml
  client/docker/confd/conf.d/parameters.hml.toml
  client/docker/confd/templates/parameters.yml.tmpl
  client/frontend.env
  client/src/Command/ProcessLayCSVCommand.php
  client/src/Command/ProcessOrgCSVCommand.php
  client/src/Controller/Admin/IndexController.php
  client/src/Form/ProcessCSVType.php
  client/src/Service/CsvUploader.php
  client/src/Service/DataImporter/CsvToArray.php
  client/src/Service/File/Storage/S3Storage.php
  client/src/Service/Mailer/MailFactory.php
  client/src/Service/Mailer/Mailer.php
  client/src/Service/OrgService.php
  client/templates/Admin/Index/uploadOrgUsers.html.twig
  client/templates/Admin/Index/uploadUsers.html.twig
  client/tests/csv/layDeputyReport.csv
  client/tests/csv/paProDeputyReport.csv
  client/tests/phpunit/Service/File/Storage/S3StorageTest.php
  client/translations/admin.en.yml
  docker/localstack-init.sh
  environment/admin_service.tf
  environment/variables.tf
  localstack.Dockerfile
Due: client

[DDPB-3337] updated readme
  README.md
Due: none

pairing
  api/src/v2/Registration/Uploader/OrgDeputyshipUploader.php
  client/src/Event/DeputyChangedOrgEvent.php
  client/src/EventSubscriber/DeputyChangedOrgSubscriber.php
  client/src/Service/Audit/AuditEvents.php
  client/src/Service/OrgService.php
  client/tests/phpunit/Event/DeputyChangedOrgEventTest.php
  client/tests/phpunit/EventSubscriber/DeputyChangedOrgSubscriberTest.php
Due: api, client

commit before merging in main
  api/src/v2/Registration/Uploader/OrgDeputyshipUploader.php
  client/src/Event/DeputyChangedOrgEvent.php
  client/src/EventSubscriber/DeputyChangedOrgSubscriber.php
  client/src/Service/Audit/AuditEvents.php
  client/src/Service/OrgService.php
  client/tests/phpunit/Event/DeputyChangedOrgEventTest.php
  client/tests/phpunit/EventSubscriber/DeputyChangedOrgSubscriberTest.php
Due: api, client

event updated with new properties and functions
  client/src/Event/DeputyChangedOrgEvent.php
Due: client

Subscriber passing test
  client/tests/phpunit/EventSubscriber/DeputyChangedOrgSubscriberTest.php
Due: none

client ids pushed to seperate array and iterated through in OrgService
  api/src/v2/Registration/Uploader/OrgDeputyshipUploader.php
  client/src/Event/DeputyChangedOrgEvent.php
  client/src/EventSubscriber/DeputyChangedOrgSubscriber.php
  client/src/Service/OrgService.php
Due: api, client

function names, paramters and variables updated for logging
  api/src/v2/Registration/Uploader/OrgDeputyshipUploader.php
  client/src/Event/DeputyChangedOrgEvent.php
  client/src/EventSubscriber/DeputyChangedOrgSubscriber.php
  client/src/Service/Audit/AuditEvents.php
  client/src/Service/OrgService.php
  client/tests/phpunit/Event/DeputyChangedOrgEventTest.php
Due: api, client

DDPB-4477 - use correct prod env for sirius
  environment/variables.tf
Due: none

DDPB-4477 - use map for sirius env
  environment/variables.tf
Due: none

[DDPB-4477] added if check for S3 bucket
  client/src/Controller/Admin/IndexController.php
  client/templates/Admin/Index/uploadOrgUsers.html.twig
  client/templates/Admin/Index/uploadUsers.html.twig
Due: client

[DDPB-4477] removed commented out code
  client/src/Controller/Admin/IndexController.php
Due: client

DDPB-4477 - move sirus env name into vars
  environment/admin_service.tf
  environment/terraform.tfvars.json
  environment/variables.tf
Due: none

key value pairs now pushed into empty array and looped through in OrgService
  api/src/v2/Registration/Uploader/OrgDeputyshipUploader.php
  client/src/Event/DeputyChangedOrgEvent.php
  client/src/EventSubscriber/DeputyChangedOrgSubscriber.php
  client/src/Service/Audit/AuditEvents.php
  client/src/Service/OrgService.php
  client/tests/phpunit/EventSubscriber/DeputyChangedOrgSubscriberTest.php
Due: api, client

Revert "Using a wrapper to retrieve files from S3"
  client/src/Service/File/Storage/S3Storage.php
Due: client

[DDPB-4477] fixed failing integration tests
  api/tests/Behat/bootstrap/v2/Registration/IngestTrait.php
  client/src/Controller/Admin/IndexController.php
  client/src/Form/ProcessCSVType.php
  client/src/Form/UploadCsvType.php
  client/templates/Admin/Index/uploadOrgUsers.html.twig
  client/templates/Admin/Index/uploadUsers.html.twig
  environment/admin.tf
Due: client

DDPB-3337: Add audit log for a deputy changing organisation - retains existing report data (#995)
  README.md
  api/src/v2/Registration/Uploader/OrgDeputyshipUploader.php
  client/src/Event/DeputyChangedOrgEvent.php
  client/src/EventSubscriber/DeputyChangedOrgSubscriber.php
  client/src/Service/Audit/AuditEvents.php
  client/src/Service/OrgService.php
  client/tests/phpunit/EventSubscriber/DeputyChangedOrgSubscriberTest.php
Due: api, client

DDPB-4553 update dependabot and fix sec issues
  .github/dependabot.yml
  client/package-lock.json
  disaster_recovery/backup/Dockerfile
  disaster_recovery/backup/requirements.txt
  disaster_recovery/restore/Dockerfile
  disaster_recovery/restore/requirements.txt
Due: none

Fixed client unit tests to now mock a stream instead of a string
  client/tests/phpunit/Service/File/Storage/S3StorageTest.php
Due: none

[DDPB-4477] amended code based on pr review
  client/config/parameters.yml.dist
  client/docker/confd/conf.d/parameters.hml.toml
  client/docker/confd/templates/parameters.yml.tmpl
  client/frontend.env
  client/src/Command/ProcessLayCSVCommand.php
  client/src/Command/ProcessOrgCSVCommand.php
  client/src/Controller/Admin/IndexController.php
  environment/admin_service.tf
Due: client

[DDPB-4477] add button to process Lay and Org CSVs in Digideps via a background task (#1001)
  Makefile
  api/tests/Behat/bootstrap/v2/Registration/IngestTrait.php
  client/.editorconfig
  client/config/parameters.yml.dist
  client/config/services.yml
  client/docker/confd/conf.d/parameters.hml.toml
  client/docker/confd/templates/parameters.yml.tmpl
  client/frontend.env
  client/src/Command/ProcessLayCSVCommand.php
  client/src/Command/ProcessOrgCSVCommand.php
  client/src/Controller/Admin/IndexController.php
  client/src/Form/ProcessCSVType.php
  client/src/Service/CsvUploader.php
  client/src/Service/DataImporter/CsvToArray.php
  client/src/Service/File/Storage/S3Storage.php
  client/src/Service/Mailer/MailFactory.php
  client/src/Service/Mailer/Mailer.php
  client/src/Service/OrgService.php
  client/templates/Admin/Index/uploadOrgUsers.html.twig
  client/templates/Admin/Index/uploadUsers.html.twig
  client/tests/csv/layDeputyReport.csv
  client/tests/csv/paProDeputyReport.csv
  client/tests/phpunit/Service/File/Storage/S3StorageTest.php
  client/translations/admin.en.yml
  docker/localstack-init.sh
  environment/admin.tf
  environment/admin_service.tf
  environment/terraform.tfvars.json
  environment/variables.tf
  localstack.Dockerfile
Due: client

DDPB-4513 create our own file scanner
  .circleci/config.yml
  client/src/Service/Availability/ClamAvAvailability.php
  client/src/Service/File/Scanner/ClamFileScanner.php
  docker-compose.ci.yml
  docker-compose.yml
  environment/ecr.tf
  environment/scan.tf
  file_scanning/Dockerfile
  file_scanning/README.md
  file_scanning/clamd/clamd.go
  file_scanning/clamd/clamd_test.go
  file_scanning/clamd/conn.go
  file_scanning/eicar.com.txt
  file_scanning/eicar.test
  file_scanning/entrypoint.sh
  file_scanning/go.mod
  file_scanning/goodfile.txt
  file_scanning/main.go
  file_scanning/main_test.go
  lambda_functions/functions/synchronisation/main.go
Due: client

DDPB-4260 create metrics and alrms for s3 bucket events that fail to replicate
  environment/s3.tf
  environment/s3_bucket/replication.tf
Due: none

DDPB-4553 update dependabot and fix sec issues (#1007)
  .github/dependabot.yml
  client/package-lock.json
  disaster_recovery/backup/Dockerfile
  disaster_recovery/backup/requirements.txt
  disaster_recovery/restore/Dockerfile
  disaster_recovery/restore/requirements.txt
Due: none

DDPB-4547: Documents unaccessible on DigiDeps Submissions - API error (#999)
  client/src/Service/File/Storage/S3Storage.php
  client/tests/phpunit/Service/File/Storage/S3StorageTest.php
Due: client

new hybrid field added to pre-reg table
  api/src/Entity/PreRegistration.php
  api/src/Migrations/Version266.php
Due: api

lay and org dto objects updated
  api/src/v2/Registration/Assembler/SiriusToOrgDeputyshipDtoAssembler.php
  api/src/v2/Registration/DTO/LayDeputyshipDto.php
  api/src/v2/Registration/DTO/OrgDeputyshipDto.php
  api/src/v2/Registration/SelfRegistration/Factory/PreRegistrationFactory.php
  client/src/Controller/Admin/IndexController.php
Due: api, client

hybrid property set in PreReg Factory
  api/src/Entity/PreRegistration.php
  api/src/FixtureFactory/PreRegistrationFactory.php
  api/src/v2/Registration/Assembler/SiriusToLayDeputyshipDtoAssembler.php
Due: api

test cvs updated with hybrid column and data
  client/tests/csv/layDeputyReport.csv
  client/tests/csv/paProDeputyReport.csv
Due: none

Path conditions:
  api: any of: api/src, but not: api/src/DataFixtures/**/*, api/src/FixtureFactory/**/*, api/src/TestHelpers/**/*, api/src/v2/Fixture/**/*, client/src/Exception/**/*, client/src/Resources/**/*
  client: any of: client/src, but not: api/src/DataFixtures/**/*, api/src/FixtureFactory/**/*, api/src/TestHelpers/**/*, api/src/v2/Fixture/**/*, client/src/Exception/**/*, client/src/Resources/**/*
