Repository ministryofjustice/opg-digideps: changes, and which Codecov flags are due for each by the changed paths.
All: api, client

audit log test passes for admin manager deletion
  api/src/Controller/UserController.php
  client/src/Controller/Admin/IndexController.php
  client/src/Event/AdminManagerDeletedEvent.php
  client/src/EventSubscriber/AdminUserLifeCycleSubscriber.php
  client/src/Service/Audit/AuditEvents.php
  client/tests/phpunit/EventSubscriber/AdminUserLifeCycleSubscriberTest.php
Due: api, client

Fix behat
  api/tests/Behat/behat.yml
  api/tests/Behat/bootstrap/v2/ReportSubmission/ReportSubmissionTrait.php
  client/src/Service/File/ImageConvertor.php
Due: client

admin manager creation and deletion tests pass in AuditEventsTest
  client/tests/phpunit/Service/Audit/AuditEventsTest.php
Due: none

Revert packages
  api/composer.json
  api/composer.lock
  client/composer.json
Due: none

logged in user email added to logs
  api/src/Service/DateTimeProvider.php
  client/src/Controller/Admin/IndexController.php
  client/src/EventSubscriber/AdminUserLifeCycleSubscriber.php
  client/src/Service/Audit/AuditEvents.php
  client/tests/phpunit/EventSubscriber/AdminUserLifeCycleSubscriberTest.php
  client/tests/phpunit/Service/Audit/AuditEventsTest.php
Due: api, client

dispatch for admin manager deletion moved into the deleteAction function
  client/src/Controller/Admin/IndexController.php
Due: client

unit test fixed in pipeline
  client/tests/phpunit/EventSubscriber/AdminUserLifeCycleSubscriberTest.php
Due: none

Sets up steps for future ticket work
  api/tests/Behat/bootstrap/v2/Common/BaseFeatureContext.php
  api/tests/Behat/bootstrap/v2/ReportSubmission/ReportSubmissionTrait.php
  api/tests/Behat/features-v2/report-submission/attaching-further-documents.feature
  api/tests/Behat/features-v2/report-submission/document-synchronisation.feature
  client/src/Controller/Admin/BehatController.php
Due: client

DDPB-4343: Add test for case manager user activation flow (#839)
  api/composer.json
  api/composer.lock
  api/tests/Behat/bootstrap/v2/Common/DebugTrait.php
  api/tests/Behat/bootstrap/v2/Common/IVisitFrontendTrait.php
  api/tests/Behat/bootstrap/v2/Common/PageUrlsTrait.php
  api/tests/Behat/bootstrap/v2/Registration/IngestTrait.php
  api/tests/Behat/bootstrap/v2/Registration/RegistrationFeatureContext.php
  api/tests/Behat/bootstrap/v2/Registration/SelfRegistrationTrait.php
  api/tests/Behat/features-v2/registration/ingest.lay.sirius.feature
  api/tests/Behat/features-v2/registration/ingest.org.sirius.feature
  api/tests/Behat/features-v2/registration/self-register.feature
  api/tests/Behat/features-v2/reporting/section-navigation/section-navigation.lay.combined.feature
  api/tests/Behat/features-v2/reporting/sections/deputy-costs-estimate/deputy-costs-estimate.feature
  client/src/Controller/ClientController.php
Due: client

Align with main composer.lock
  api/composer.lock
Due: none

Composer lock updates
  api/composer.lock
Due: none

DDPB 3914 : Logging around admin managers (#841)
  api/src/Service/DateTimeProvider.php
  client/src/Controller/Admin/IndexController.php
  client/src/Event/AdminManagerCreatedEvent.php
  client/src/Event/AdminManagerDeletedEvent.php
  client/src/EventSubscriber/AdminUserCreatedSubscriber.php
  client/src/EventSubscriber/AdminUserLifeCycleSubscriber.php
  client/src/Service/Audit/AuditEvents.php
  client/src/Service/Client/Internal/UserApi.php
  client/tests/phpunit/EventSubscriber/AdminUserCreatedSubscriberTest.php
  client/tests/phpunit/EventSubscriber/AdminUserLifeCycleSubscriberTest.php
  client/tests/phpunit/Service/Audit/AuditEventsTest.php
  client/tests/phpunit/Service/Client/Internal/UserApiTest.php
Due: api, client

Reverted bundle changes
  api/composer.json
  api/composer.lock
  api/config/packages/messenger.yaml
Due: none

Add SQSTransport
  Makefile
  api/composer.json
  api/composer.lock
  api/config/packages/messenger.yaml
  api/config/services.yml
  api/src/MessageHandler/Command/UploadCsvHandler.php
  api/src/Messenger/Transport/SqsTransport.php
  api/src/Messenger/Transport/SqsTransportFactory.php
Due: api

draft behat tests written
  api/tests/Behat/features-v2/app-notification/super-admin-banner-visibility.feature
Due: none

notification banner created for admin moj twig template
  client/templates/Layouts/admin_moj_template.html.twig
Due: none

Disable auto discharge for Org CSV upload
  api/src/v2/Registration/Uploader/OrgDeputyshipUploader.php
  api/tests/Behat/features-v2/registration/ingest.org.sirius.feature
  api/tests/Unit/v2/Registration/Uploader/OrgDeputyshipUploaderTest.php
Due: api

DDPB-4350: Disable auto discharge for Org CSV upload (#845)
  api/src/v2/Registration/Uploader/OrgDeputyshipUploader.php
  api/tests/Behat/features-v2/registration/ingest.org.sirius.feature
  api/tests/Unit/v2/Registration/Uploader/OrgDeputyshipUploaderTest.php
Due: api

Bump deps
  shared/go_redeployer/go.mod
  shared/go_redeployer/go.sum
Due: none

behat test pass
  api/tests/Behat/features-v2/app-notification/super-admin-banner-visibility.feature
Due: none

new global environment created and twig template updated
  api/tests/Behat/bootstrap/v2/AppNotification/AppNotificationTrait.php
  client/config/packages/twig.yml
  client/templates/Layouts/admin_moj_template.html.twig
  client/templates/Layouts/moj_template.html.twig
Due: none

user story tweaked
  api/tests/Behat/features-v2/app-notification/super-admin-banner-visibility.feature
Due: none

first behat test amended
  api/tests/Behat/bootstrap/v2/AppNotification/AppNotificationTrait.php
  api/tests/Behat/features-v2/app-notification/super-admin-banner-visibility.feature
Due: none

DDPB-4352 bump terraform version
  .circleci/config.yml
Due: none

Drop comment
  client/templates/Report/Document/step2.html.twig
Due: none

format
  .gitignore
  environment/.terraform.lock.hcl
  environment/api_elasticache.tf
  environment/frontend_shared_elasticache.tf
  environment/s3_access_logs.tf
  environment/versions.tf
Due: none

shared changes
  .gitignore
  shared/.terraform.lock.hcl
  shared/s3_replication.tf
  shared/sns.tf
  shared/versions.tf
Due: none

attempt at passing integration test
  api/tests/Behat/bootstrap/v2/AppNotification/AppNotificationTrait.php
  api/tests/Behat/features-v2/app-notification/super-admin-banner-visibility.feature
Due: none

DDPB-4350: Disable auto discharge for Org CSV upload (#845)
  api/src/v2/Registration/Uploader/OrgDeputyshipUploader.php
  api/tests/Behat/features-v2/registration/ingest.org.sirius.feature
  api/tests/Unit/v2/Registration/Uploader/OrgDeputyshipUploaderTest.php
  environment/terraform.tfvars.json
Due: api

fixed failing integration test and added exposed env variable to the front end
  api/tests/Behat/bootstrap/v2/AppNotification/AppNotificationTrait.php
  api/tests/Behat/bootstrap/v2/Common/IVisitFrontendTrait.php
  api/tests/Behat/bootstrap/v2/Common/PageUrlsTrait.php
  api/tests/Behat/features-v2/app-notification/super-admin-banner-visibility.feature
  client/config/services.yml
  client/src/Controller/ManageController.php
  client/templates/Manage/availability.html.twig
Due: client

add restore script
  README.md
  disaster_recovery/backup/.envrc
  disaster_recovery/backup/Dockerfile
  disaster_recovery/backup/dr_backup.py
  disaster_recovery/restore/Dockerfile
  disaster_recovery/restore/disaster_recovery.py
  docker-compose.ci.yml
  docker-compose.commands.yml
  docs/DISASTER_RECOVERY.md
  environment/disaster_recovery/kms.tf
Due: none

tag removed
  api/tests/Behat/features-v2/app-notification/super-admin-banner-visibility.feature
Due: none

update the local docker files as well!
  docker-compose.yml
  docs/DATABASE.md
  lambda_functions/docker-compose.yml
Due: none

DDPB-4352 bump terraform version and provider versions (specifically AWS) (#848)
  .circleci/config.yml
  .gitignore
  environment/.terraform.lock.hcl
  environment/api_elasticache.tf
  environment/frontend_shared_elasticache.tf
  environment/s3_access_logs.tf
  environment/versions.tf
  shared/.terraform.lock.hcl
  shared/s3_replication.tf
  shared/sns.tf
  shared/versions.tf
Due: none

add in docker changes
  docker-compose.yml
  docs/DATABASE.md
  lambda_functions/docker-compose.yml
Due: none

DDPB-4341 allow us to recover from disasters in automated fashion (#837)
  disaster_recovery/backup/.envrc
  disaster_recovery/backup/Dockerfile
  disaster_recovery/backup/dr_backup.py
  disaster_recovery/restore/Dockerfile
  disaster_recovery/restore/disaster_recovery.py
  docker-compose.ci.yml
  docker-compose.commands.yml
  docs/DISASTER_RECOVERY.md
  environment/disaster_recovery/kms.tf
Due: none

Ensure we log CSV_UPLOADED event when ajax CSV upload is used
  api/src/v2/Registration/Controller/LayDeputyshipUploadController.php
  client/assets/javascripts/modules/uploadProgress.js
  client/src/Controller/Admin/AjaxController.php
  client/src/Controller/Admin/IndexController.php
  client/src/Service/Client/Internal/LayDeputyshipApi.php
Due: api, client

Fix org CSV upload checks following change from PA and PROF -> ORG
  client/src/Command/CheckCSVUploadedCommand.php
  client/tests/phpunit/Command/CheckCSVUploadedCommandTest.php
Due: client

DDPB:4333 - Add banner to show super admin users which version of the app they are using (#847)
  api/tests/Behat/bootstrap/v2/AppNotification/AppNotificationTrait.php
  api/tests/Behat/bootstrap/v2/Common/IVisitFrontendTrait.php
  api/tests/Behat/bootstrap/v2/Common/PageUrlsTrait.php
  api/tests/Behat/features-v2/app-notification/super-admin-banner-visibility.feature
  client/config/packages/twig.yml
  client/config/services.yml
  client/src/Controller/ManageController.php
  client/templates/Layouts/admin_moj_template.html.twig
  client/templates/Layouts/moj_template.html.twig
  client/templates/Manage/availability.html.twig
Due: client

Path conditions:
  api: any of: api/src, but not: api/src/DataFixtures/**/*, api/src/FixtureFactory/**/*, api/src/TestHelpers/**/*, api/src/v2/Fixture/**/*, client/src/Exception/**/*, client/src/Resources/**/*
  client: any of: client/src, but not: api/src/DataFixtures/**/*, api/src/FixtureFactory/**/*, api/src/TestHelpers/**/*, api/src/v2/Fixture/**/*, client/src/Exception/**/*, client/src/Resources/**/*
