Repository ministryofjustice/opg-digideps: changes, and which Codecov flags are due for each by the changed paths.
All: api, client

Create inviteDeputy funcionality and apply to reinviting Org deputies
  client/src/AppBundle/Controller/Org/OrganisationController.php
  client/src/AppBundle/Event/DeputyInvitedEvent.php
  client/src/AppBundle/EventSubscriber/DeputyInvitedSubscriber.php
  client/src/AppBundle/Service/Client/Internal/UserApi.php
  client/tests/phpunit/EventSubscriber/DeputyInvitedSubscriberTest.php
  client/tests/phpunit/Service/Client/Internal/UserApiTestTest.php
Due: client

Replace remaining recreateToken calls with userApi specific calls
  client/src/AppBundle/Controller/Admin/IndexController.php
  client/src/AppBundle/Controller/Org/TeamController.php
  client/src/AppBundle/Controller/UserController.php
  client/src/AppBundle/Event/UserActivatedEvent.php
  client/src/AppBundle/EventSubscriber/UserActivatedSubscriber.php
  client/src/AppBundle/Service/Client/Internal/UserApi.php
  client/src/AppBundle/Service/Client/RestClient.php
  client/tests/phpunit/EventSubscriber/UserActivatedSubscriberTest.php
  client/tests/phpunit/EventSubscriber/UserPasswordResetSubscriberTest.php
  client/tests/phpunit/Service/Client/Internal/UserApiTestTest.php
Due: client

Extract common email dependencies into base parent class
  client/app/config/services_mail.yml
  client/src/AppBundle/EventSubscriber/ClientUpdatedSubscriber.php
  client/src/AppBundle/EventSubscriber/CoDeputyInvitedSubscriber.php
  client/src/AppBundle/EventSubscriber/DeputyInvitedSubscriber.php
  client/src/AppBundle/EventSubscriber/UserActivatedSubscriber.php
  client/src/AppBundle/EventSubscriber/UserCreatedSubscriber.php
  client/src/AppBundle/EventSubscriber/UserPasswordResetSubscriber.php
  client/src/AppBundle/EventSubscriber/UserUpdatedSubscriber.php
  client/src/AppBundle/Service/Mailer/BaseMailer.php
  client/tests/phpunit/EventSubscriber/CoDeputyInvitedSubscriberTest.php
  client/tests/phpunit/EventSubscriber/DeputyInvitedSubscriberTest.php
  client/tests/phpunit/EventSubscriber/UserActivatedSubscriberTest.php
  client/tests/phpunit/EventSubscriber/UserCreatedSubscriberTest.php
  client/tests/phpunit/EventSubscriber/UserPasswordResetSubscriberTest.php
  client/tests/phpunit/EventSubscriber/UserUpdatedSubscriberTest.php
Due: client

Looking at baseEmailer - move to composition over inherticance by putting factory ands ender in mailer class and injecting in
  client/app/config/services/log_handlers.yml
  client/src/AppBundle/EventSubscriber/CoDeputyInvitedSubscriber.php
  client/src/AppBundle/EventSubscriber/DeputyInvitedSubscriber.php
  client/src/AppBundle/EventSubscriber/UserActivatedSubscriber.php
  client/src/AppBundle/EventSubscriber/UserCreatedSubscriber.php
  client/src/AppBundle/EventSubscriber/UserPasswordResetSubscriber.php
  client/src/AppBundle/EventSubscriber/UserUpdatedSubscriber.php
  client/src/AppBundle/Service/Audit/BaseLogger.php
  client/src/AppBundle/Service/Mailer/BaseMailer.php
  client/src/AppBundle/Service/Mailer/Mailer.php
Due: client

Drop empty UserAssembler
  api/src/AppBundle/v2/Assembler/UserAssembler.php
Due: api

Revert to using v2 endpoint for client details (#526)
  api/src/AppBundle/Entity/Repository/ClientRepository.php
  api/src/AppBundle/FixtureFactory/UserFactory.php
  api/src/AppBundle/v2/Assembler/ClientAssembler.php
  api/src/AppBundle/v2/DTO/ClientDto.php
  api/src/AppBundle/v2/DTO/DeputyDto.php
  api/src/AppBundle/v2/Transformer/ClientTransformer.php
  client/src/AppBundle/Controller/Admin/Client/ClientController.php
  client/src/AppBundle/Controller/Admin/IndexController.php
  client/src/AppBundle/Entity/Client.php
  client/src/AppBundle/Resources/translations/admin.en.yml
Due: api, client

make db lower version
  environment/terraform.tfvars.json
Due: none

further aurora tweaks
  environment/aurora/main.tf
Due: none

testing with non serverless
  environment/aurora/main.tf
  environment/terraform.tfvars.json
Due: none

Compose Mailer to wrap creating and sending emails from teh factory and the sender
  client/src/AppBundle/Entity/Ndr/Ndr.php
  client/src/AppBundle/Entity/Report/Report.php
  client/src/AppBundle/Service/Mailer/Mailer.php
  client/src/AppBundle/TestHelpers/NdrHelpers.php
  client/src/AppBundle/TestHelpers/ReportHelpers.php
  client/tests/phpunit/Service/Mailer/MailerTest.php
Due: client

Use Mailer in event subscribers
  client/src/AppBundle/EventSubscriber/CoDeputyInvitedSubscriber.php
  client/src/AppBundle/EventSubscriber/DeputyInvitedSubscriber.php
  client/src/AppBundle/EventSubscriber/UserActivatedSubscriber.php
  client/src/AppBundle/EventSubscriber/UserCreatedSubscriber.php
  client/src/AppBundle/EventSubscriber/UserPasswordResetSubscriber.php
  client/src/AppBundle/EventSubscriber/UserUpdatedSubscriber.php
  client/tests/phpunit/EventSubscriber/CoDeputyInvitedSubscriberTest.php
  client/tests/phpunit/EventSubscriber/DeputyInvitedSubscriberTest.php
  client/tests/phpunit/EventSubscriber/UserActivatedSubscriberTest.php
  client/tests/phpunit/EventSubscriber/UserCreatedSubscriberTest.php
  client/tests/phpunit/EventSubscriber/UserPasswordResetSubscriberTest.php
  client/tests/phpunit/EventSubscriber/UserUpdatedSubscriberTest.php
Due: client

attempt with different config
  .circleci/config.yml
  environment/aurora/main.tf
  environment/terraform.tfvars.json
Due: none

DDPB-3772 - Enable Aurora in production (#523)
  environment/terraform.tfvars.json
Due: none

DDPB-3772 - Post Aurora Migration Cleanup.
  environment/api_rds.tf
  environment/disaster_recovery/ecs.tf
  environment/outputs.tf
  environment/terraform.tfvars.json
  environment/variables.tf
Due: none

Add comment to circle ci config
  .circleci/config.yml
Due: none

removing changes again as after testing not needed
  environment/aurora/main.tf
Due: none

Move email sending from controller to api client for general feedback
  client/src/AppBundle/Controller/FeedbackController.php
  client/src/AppBundle/Event/GeneralFeedbackSubmittedEvent.php
  client/src/AppBundle/EventSubscriber/GeneralFeedbackSubmittedSubscriber.php
  client/src/AppBundle/Service/Client/Internal/SatisfactionApi.php
  client/tests/phpunit/EventSubscriber/GeneralFeedbackSubmittedSubscriberTest.php
  client/tests/phpunit/Service/Client/Internal/SatisfactionApiTest.php
Due: client

update lock files
  api/composer.lock
  client/composer.lock
Due: none

Move deputy delf register logic from controller to events
  client/src/AppBundle/Controller/UserController.php
  client/src/AppBundle/Event/DeputySelfRegisteredEvent.php
  client/src/AppBundle/Model/SelfRegisterData.php
  client/src/AppBundle/Service/Client/Internal/UserApi.php
  client/tests/phpunit/Service/Client/Internal/UserApiTestTest.php
Due: client

Moving cross browser suits to their own profiles to avoid running during normal integration tests
  behat/tests/behat.yml
Due: none

Moves codeputy creation logic from controller to eventSubscriber
  client/src/AppBundle/Controller/CoDeputyController.php
  client/src/AppBundle/Event/CoDeputyCreatedEvent.php
  client/src/AppBundle/Event/CoDeputyCreationEventInterface.php
  client/src/AppBundle/EventSubscriber/CoDeputyCreationSubscriber.php
  client/src/AppBundle/Service/Audit/AuditEvents.php
  client/src/AppBundle/Service/Client/Internal/UserApi.php
  client/src/AppBundle/TestHelpers/UserHelpers.php
  client/tests/phpunit/EventSubscriber/CoDeputyCreationSubscriberTest.php
  client/tests/phpunit/Service/Client/Internal/UserApiTestTest.php
Due: client

Reverted timeout of integration tests
  .circleci/config.yml
Due: none

Move adding org users to event subscriber and make reinviting deputy function names implicit
  client/src/AppBundle/Controller/Admin/IndexController.php
  client/src/AppBundle/Controller/CoDeputyController.php
  client/src/AppBundle/Controller/Org/OrganisationController.php
  client/src/AppBundle/Controller/Org/TeamController.php
  client/src/AppBundle/Event/AdminUserCreatedEvent.php
  client/src/AppBundle/Event/OrgUserCreatedEvent.php
  client/src/AppBundle/EventSubscriber/AdminUserCreatedSubscriber.php
  client/src/AppBundle/EventSubscriber/OrgUserCreatedSubscriber.php
  client/src/AppBundle/Service/Client/Internal/OrganisationApi.php
  client/src/AppBundle/Service/Client/Internal/UserApi.php
  client/src/AppBundle/TestHelpers/OrganisationHelpers.php
  client/src/AppBundle/TestHelpers/UserHelpers.php
  client/tests/phpunit/EventSubscriber/AdminUserCreatedSubscriberTest.php
  client/tests/phpunit/EventSubscriber/OrgUserCreatedSubscriberTest.php
  client/tests/phpunit/Service/Client/Internal/OrganisationApiTest.php
  client/tests/phpunit/Service/Client/Internal/UserApiTest.php
Due: client

Move adding team members logic to event subscribers
  client/src/AppBundle/Controller/Org/TeamController.php
  client/tests/phpunit/Service/Client/Internal/OrganisationApiTest.php
Due: client

add changes to behat
  api/Dockerfile
  behat/Dockerfile
  behat/composer.json
  behat/composer.lock
  client/Dockerfile
Due: none

Handle post submission feedback in subscriber - consolidate general and post submission feedback into onie subscriber
  client/src/AppBundle/Controller/FeedbackController.php
  client/src/AppBundle/Controller/Ndr/NdrController.php
  client/src/AppBundle/Event/PostSubmissionFeedbackSubmittedEvent.php
  client/src/AppBundle/EventSubscriber/FeedbackSubmittedSubscriber.php
  client/src/AppBundle/EventSubscriber/GeneralFeedbackSubmittedSubscriber.php
  client/src/AppBundle/Service/Client/Internal/SatisfactionApi.php
  client/tests/phpunit/EventSubscriber/FeedbackSubmittedSubscriberTest.php
  client/tests/phpunit/EventSubscriber/GeneralFeedbackSubmittedSubscriberTest.php
  client/tests/phpunit/Service/Client/Internal/SatisfactionApiTest.php
Due: client

Use satsifactionApi for postsubmission feedback for ReportSubmissions
  client/src/AppBundle/Controller/Report/ReportController.php
Due: client

lower the timeout slightly
  .circleci/config.yml
Due: none

Upped the timeout for integration tests a little bit
  .circleci/config.yml
Due: none

DDPB-3753 update composer to 2 and php to 7.4
  .circleci/config.yml
  Makefile
  api/Dockerfile
  api/composer.json
  api/composer.lock
  behat/Dockerfile
  behat/composer.json
  behat/composer.lock
  client/Dockerfile
  client/composer.json
  client/composer.lock
  client/tests/phpunit/phpunit.xml
Due: none

Move client update email logic from controller to subscriber
  client/src/AppBundle/Controller/ClientController.php
  client/src/AppBundle/Controller/Org/IndexController.php
  client/src/AppBundle/EventSubscriber/ClientUpdatedSubscriber.php
  client/src/AppBundle/Service/Client/Internal/ClientApi.php
  client/tests/phpunit/EventSubscriber/ClientUpdatedSubscriberTest.php
  client/tests/phpunit/EventSubscriber/UserUpdatedSubscriberTest.php
Due: client

Move report submitted logic from controller to subscriber
  client/src/AppBundle/Controller/Report/ReportController.php
  client/src/AppBundle/Event/ReportSubmittedEvent.php
  client/src/AppBundle/EventSubscriber/ReportSubmittedSubscriber.php
  client/src/AppBundle/Service/Client/Internal/ReportApi.php
  client/src/AppBundle/Service/ReportSubmissionService.php
  client/tests/phpunit/EventSubscriber/ReportSubmittedSubscriberTest.php
  client/tests/phpunit/Service/Client/Internal/ReportApiTest.php
  client/tests/phpunit/Service/ReportSubmissionServiceTest.php
Due: client

Move NDR submission logic from controller to subscriber
  api/src/AppBundle/TestHelpers/DocumentHelpers.php
  client/src/AppBundle/Controller/Ndr/NdrController.php
  client/src/AppBundle/Event/NdrSubmittedEvent.php
  client/src/AppBundle/EventSubscriber/NdrSubmittedSubscriber.php
  client/src/AppBundle/Service/Client/Internal/NdrApi.php
  client/src/AppBundle/TestHelpers/ClientHelpers.php
  client/src/AppBundle/TestHelpers/DocumentHelpers.php
  client/tests/phpunit/EventSubscriber/NdrSubmittedSubscriberTest.php
  client/tests/phpunit/Service/Client/Internal/NdrApiTest.php
Due: client

Drop unused deps from ndr controller
  client/src/AppBundle/Controller/Ndr/NdrController.php
Due: client

Add observableEventDispatcher to aid testing
  client/src/AppBundle/EventDispatcher/ObservableEventDispatcher.php
Due: client

Add logInAs to AbstractControllerTest
  client/tests/phpunit/Controller/AbstractControllerTestCase.php
Due: none

Swap out regular event dispatcher for ObserveableEventDispatcher
  client/app/config/services_api.yml
  client/src/AppBundle/Service/Client/Internal/ClientApi.php
  client/src/AppBundle/Service/Client/Internal/NdrApi.php
  client/src/AppBundle/Service/Client/Internal/OrganisationApi.php
  client/src/AppBundle/Service/Client/Internal/ReportApi.php
  client/src/AppBundle/Service/Client/Internal/SatisfactionApi.php
  client/src/AppBundle/Service/Client/Internal/UserApi.php
  client/src/AppBundle/TestHelpers/UserHelpers.php
  client/tests/phpunit/Service/Client/Internal/ClientApiTest.php
  client/tests/phpunit/Service/Client/Internal/NdrApiTest.php
  client/tests/phpunit/Service/Client/Internal/OrganisationApiTest.php
  client/tests/phpunit/Service/Client/Internal/ReportApiTest.php
  client/tests/phpunit/Service/Client/Internal/SatisfactionApiTest.php
  client/tests/phpunit/Service/Client/Internal/UserApiTest.php
Due: client

Test fixes
  client/src/AppBundle/Controller/ClientController.php
  client/src/AppBundle/Controller/CoDeputyController.php
  client/src/AppBundle/Controller/Ndr/NdrController.php
  client/src/AppBundle/Controller/UserController.php
  client/src/AppBundle/Entity/User.php
  client/src/AppBundle/Event/CoDeputyCreatedEvent.php
  client/src/AppBundle/Event/ReportSubmittedEvent.php
  client/src/AppBundle/Service/Client/Internal/NdrApi.php
  client/src/AppBundle/Service/Client/Internal/UserApi.php
  client/tests/phpunit/Controller/AbstractControllerTestCase.php
  client/tests/phpunit/Controller/AdminIndexControllerTest.php
  client/tests/phpunit/Controller/AdminReportSubmissionControllerTest.php
  client/tests/phpunit/Controller/CoDeputyControllerTest.php
  client/tests/phpunit/Controller/FeedbackControllerTest.php
  client/tests/phpunit/Controller/ManageControllerTest.php
  client/tests/phpunit/Controller/OrganisationControllerTest.php
  client/tests/phpunit/Controller/StatsControllerTest.php
  client/tests/phpunit/Controller/UserControllerTest.php
  client/tests/phpunit/Service/Client/Internal/UserApiTest.php
  client/tests/phpunit/bootstrap.php
Due: client

Drop BaseLogger
  client/app/config/services/log_handlers.yml
  client/src/AppBundle/Service/Audit/BaseLogger.php
Due: client

Path conditions:
  api: any of: api/src/AppBundle, but not: api/src/AppBundle/DataFixtures/**/*, api/src/AppBundle/FixtureFactory/**/*, api/src/AppBundle/TestHelpers/**/*, api/src/AppBundle/v2/Fixture/**/*, client/src/AppBundle/Exception/**/*, client/src/AppBundle/Resources/**/*
  client: any of: client/src/AppBundle, but not: api/src/AppBundle/DataFixtures/**/*, api/src/AppBundle/FixtureFactory/**/*, api/src/AppBundle/TestHelpers/**/*, api/src/AppBundle/v2/Fixture/**/*, client/src/AppBundle/Exception/**/*, client/src/AppBundle/Resources/**/*
