Repository ministryofjustice/opg-digideps: changes, and which Codecov flags are due for each by the changed paths.
All: api, client

Partially working form - amountDontKnow triggering JMS error
  api/src/Entity/Report/ClientBenefitsCheck.php
  api/src/Factory/ClientBenefitsCheckFactory.php
  api/src/v2/Fixture/ReportSection.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/ClientBenefitsCheckSectionTrait.php
  client/config/services.yml
  client/src/Controller/Report/ClientBenefitsCheckController.php
  client/src/Entity/Report/ClientBenefitsCheck.php
  client/src/Entity/Report/IncomeReceivedOnClientsBehalf.php
  client/src/EventListener/AtLeastOneRequiredListener.php
  client/src/Form/Report/ClientBenefitsCheckType.php
  client/src/Form/Report/IncomeReceivedOnClientsBehalfType.php
  client/templates/Layouts/application.html.twig
  client/templates/Macros/macros.html.twig
  client/templates/Report/ClientBenefitsCheck/_answers.html.twig
  client/templates/Report/ClientBenefitsCheck/step.html.twig
  client/tests/phpunit/Form/Report/IncomeReceivedOnClientsBehalfTypeTest.php
  client/translations/common.en.yml
  client/translations/report-client-benefits-check.en.yml
  docs/runbooks/MAINTENANCE-MODE.md
Due: api, client

[DDPB-4058] update comments
  client/assets/javascripts/modules/cookieBanner.js
Due: none

[DDPB-4058] Make our cookie opt in/opt out options fully compliant with GDS standards
  Makefile
  client/Dockerfile
  client/assets/javascripts/main.js
  client/assets/javascripts/modules/cookieBanner.js
  client/package-lock.json
  client/package.json
  client/templates/Layouts/moj_template.html.twig
Due: none

[DDPB-4058] removed polyfill as no longer needed
  client/assets/javascripts/modules/cookieBanner.js
  client/package-lock.json
  client/package.json
  package-lock.json
Due: none

[DDPB-4058] Make our cookie opt in/opt out options fully compliant with GDS standards (#701)
  Makefile
  client/Dockerfile
  client/assets/javascripts/main.js
  client/assets/javascripts/modules/cookieBanner.js
  client/package-lock.json
  client/package.json
  client/templates/Layouts/moj_template.html.twig
  package-lock.json
Due: none

Updated casecontroller to search on casrec table
  api/src/Controller/CaseController.php
  api/src/Repository/CasRecRepository.php
  api/src/Service/Search/CaseSearchFilter.php
  client/src/Controller/Admin/Client/SearchController.php
Due: api, client

Enable saving multiple income types
  api/src/Controller/Report/ClientBenefitsCheckController.php
  api/src/Entity/Report/ClientBenefitsCheck.php
  api/src/Entity/Report/IncomeReceivedOnClientsBehalf.php
  api/src/Factory/ClientBenefitsCheckFactory.php
  api/src/Migrations/Version258.php
  api/src/Repository/ClientBenefitsCheckRepository.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/ClientBenefitsCheckSectionTrait.php
  client/src/Controller/Report/ClientBenefitsCheckController.php
  client/src/Entity/Report/IncomeReceivedOnClientsBehalf.php
Due: api, client

Default to checked for income types with an amount but no description
  api/src/Entity/Report/IncomeReceivedOnClientsBehalf.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/ClientBenefitsCheckSectionTrait.php
  api/tests/Behat/features-v2/reporting/sections/client-benefits-check/client-benefits-check.lay.feature
  client/src/Controller/Report/ClientBenefitsCheckController.php
  client/src/Entity/Report/IncomeReceivedOnClientsBehalf.php
  client/src/Form/Report/ClientBenefitsCheckType.php
  client/src/Form/Report/IncomeReceivedOnClientsBehalfType.php
  client/templates/Report/ClientBenefitsCheck/step.html.twig
Due: api, client

Add twig international and extra bundle
  client/composer.json
  client/composer.lock
  client/config/bundles.php
Due: none

Update summary page to show income received
  api/tests/Behat/bootstrap/v2/Reporting/Sections/ClientBenefitsCheckSectionTrait.php
  client/src/Form/Report/ClientBenefitsCheckType.php
  client/templates/Report/ClientBenefitsCheck/_answers.html.twig
  client/templates/Report/ClientBenefitsCheck/step.html.twig
Due: client

Fix hint text and skip income type section if no income to report
  api/tests/Behat/bootstrap/v2/Common/IShouldBeOnFrontendTrait.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/ClientBenefitsCheckSectionTrait.php
  api/tests/Behat/features-v2/reporting/sections/client-benefits-check/client-benefits-check.lay.feature
  client/src/Controller/Report/ClientBenefitsCheckController.php
  client/src/Form/Report/ClientBenefitsCheckType.php
  client/src/Twig/FormFieldsExtension.php
  client/templates/Components/Form/_checkboxgroup.html.twig
  client/templates/Report/ClientBenefitsCheck/step.html.twig
Due: client

Allow adding income types from summary page
  api/src/TestHelpers/ReportTestHelper.php
  api/tests/Behat/bootstrap/v2/Common/IVisitFrontendTrait.php
  api/tests/Behat/bootstrap/v2/Common/PageUrlsTrait.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/ClientBenefitsCheckSectionTrait.php
  api/tests/Behat/features-v2/reporting/sections/client-benefits-check/client-benefits-check.lay.feature
  client/src/Controller/Report/ClientBenefitsCheckController.php
  client/templates/Report/ClientBenefitsCheck/_answers.html.twig
  client/translations/report-client-benefits-check.en.yml
Due: client

Add edit link to summary page
  api/tests/Behat/bootstrap/v2/Reporting/Sections/ClientBenefitsCheckSectionTrait.php
  api/tests/Behat/features-v2/reporting/sections/client-benefits-check/client-benefits-check.lay.feature
  client/templates/Report/ClientBenefitsCheck/_answers.html.twig
Due: none

Add delete link for income types
  api/src/Controller/Report/IncomeReceivedOnClientsBehalfController.php
  api/src/Entity/Report/IncomeReceivedOnClientsBehalf.php
  api/src/Repository/IncomeReceivedOnClientsBehalfRepository.php
  api/tests/Behat/bootstrap/v2/Common/FormFillingTrait.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/ClientBenefitsCheckSectionTrait.php
  api/tests/Behat/features-v2/reporting/sections/client-benefits-check/client-benefits-check.lay.feature
  client/src/Controller/Report/ClientBenefitsCheckController.php
  client/src/Service/Client/Internal/IncomeReceivedOnClientsBehalfApi.php
  client/templates/Report/ClientBenefitsCheck/_answers.html.twig
  client/translations/report-client-benefits-check.en.yml
Due: api, client

Added tests for paper reports, updated fixtures to support paper reports (casrec only cases), updated filtering results
  api/src/FixtureFactory/CasRecFactory.php
  api/src/Service/Search/CaseSearchFilter.php
  api/src/TestHelpers/CaseTestHelper.php
  api/tests/Behat/bootstrap/v2/ClientManagement/ClientManagementTrait.php
  api/tests/Behat/bootstrap/v2/Common/BaseFeatureContext.php
  api/tests/Behat/bootstrap/v2/Helpers/FixtureHelper.php
  api/tests/Behat/features-v2/client-management/admin/search-case.feature
  client/src/Controller/Admin/CaseController.php
  client/src/Controller/Admin/Client/SearchController.php
  client/templates/Admin/Client/Search/case-search.html.twig
Due: api, client

Delete front.tf
  environment/front.tf
Due: none

Revert "Delete front.tf"
  environment/front.tf
Due: none

Removing unused tf update
  environment/front.tf
Due: none

Add full validation for client benefits check form
  api/src/Controller/Report/ClientBenefitsCheckController.php
  api/src/Entity/Report/ClientBenefitsCheck.php
  api/src/Service/ReportStatusService.php
  api/tests/Behat/bootstrap/v2/Common/IShouldBeOnFrontendTrait.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/ClientBenefitsCheckSectionTrait.php
  api/tests/Behat/features-v2/reporting/sections/client-benefits-check/client-benefits-check.lay.feature
  client/src/Entity/Report/ClientBenefitsCheck.php
  client/src/Entity/Report/IncomeReceivedOnClientsBehalf.php
  client/src/Entity/Report/Report.php
  client/src/Form/Report/ClientBenefitsCheckType.php
  client/src/Form/Report/IncomeReceivedOnClientsBehalfType.php
  client/src/Validator/Constraints/ClientBenefitsCheck/ClientBenefitsCheck.php
  client/src/Validator/Constraints/ClientBenefitsCheck/ClientBenefitsCheckValidator.php
  client/src/Validator/Constraints/ClientBenefitsCheck/IncomeReceivedOnClientsBehalf.php
  client/src/Validator/Constraints/ClientBenefitsCheck/IncomeReceivedOnClientsBehalfValidator.php
  client/templates/Report/ClientBenefitsCheck/_answers.html.twig
  client/tests/phpunit/Entity/Report/ClientBenefitsCheckTest.php
  client/tests/phpunit/Entity/Report/IncomeReceivedOnClientsBehalfTest.php
Due: api, client

Enable empty delete on income types only when there is 1+ income type
  api/src/Entity/Report/ClientBenefitsCheck.php
  api/src/Factory/ClientBenefitsCheckFactory.php
  api/src/Service/ReportStatusService.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/ClientBenefitsCheckSectionTrait.php
  api/tests/Behat/features-v2/reporting/sections/client-benefits-check/client-benefits-check.lay.feature
  client/src/Controller/Report/ClientBenefitsCheckController.php
  client/src/Entity/Report/ClientBenefitsCheck.php
  client/src/Form/Report/ClientBenefitsCheckType.php
  client/src/Validator/Constraints/ClientBenefitsCheck/ClientBenefitsCheckValidator.php
  client/templates/Report/ClientBenefitsCheck/_answers.html.twig
  client/templates/Report/ClientBenefitsCheck/step.html.twig
  client/tests/phpunit/Entity/Report/ClientBenefitsCheckTest.php
  client/translations/report-client-benefits-check.en.yml
Due: api, client

Fix form hint bug, add missing macro, final button layout fixes and cover IncomeReceivedOnClientsBehalfValidator in unit tests
  client/src/Controller/Report/ClientBenefitsCheckController.php
  client/src/Twig/FormFieldsExtension.php
  client/src/Validator/Constraints/ClientBenefitsCheck/IncomeReceivedOnClientsBehalfValidator.php
  client/templates/Macros/macros.html.twig
  client/templates/Ndr/Asset/Property/_list_item.html.twig
  client/templates/Report/ClientBenefitsCheck/_answers.html.twig
  client/templates/Report/ClientBenefitsCheck/step.html.twig
  client/tests/phpunit/Entity/Report/ClientBenefitsCheckTest.php
  client/tests/phpunit/Entity/Report/IncomeReceivedOnClientsBehalfTest.php
Due: client

Drop commented out test code
  client/tests/phpunit/Entity/Report/IncomeReceivedOnClientsBehalfTest.php
Due: none

Drop unused listener and duplicate test class
  client/src/EventListener/AtLeastOneRequiredListener.php
  client/src/Form/Report/IncomeReceivedOnClientsBehalfType.php
  client/tests/phpunit/Form/Report/IncomeReceivedOnClientsBehalfTypeTest.php
Due: client

Fix tests
  api/tests/Behat/bootstrap/v2/Common/FormFillingTrait.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/ClientBenefitsCheckSectionTrait.php
  client/src/Service/ReportSectionsLinkService.php
  client/templates/Report/ClientBenefitsCheck/_answers.html.twig
  client/templates/Report/ClientBenefitsCheck/start.html.twig
  client/templates/Report/ClientBenefitsCheck/summary.html.twig
  docs/ADDING_REPORT_SECTIONS.md
Due: client

Fix flaky tests
  api/tests/Behat/bootstrap/v2/ClientManagement/ClientManagementTrait.php
  api/tests/Behat/bootstrap/v2/Common/FixturesTrait.php
  api/tests/Behat/bootstrap/v2/Helpers/FixtureHelper.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/ClientBenefitsCheckSectionTrait.php
  api/tests/Behat/features-v2/client-management/admin/search-client.feature
  api/tests/Behat/features-v2/reporting/sections/client-benefits-check/client-benefits-check.lay.feature
  client/tests/phpunit/Service/ReportSectionLinksServiceTest.php
Due: none

PR tidy
  api/src/Controller/Report/IncomeReceivedOnClientsBehalfController.php
  api/tests/Behat/features-v2/reporting/sections/client-benefits-check/client-benefits-check.lay.feature
  client/config/services.yml
  docs/runbooks/RDS-SNAPSHOTS-CREATION-AND-RESTORE.md
Due: api

Fix behat
  api/tests/Behat/bootstrap/v2/Reporting/Sections/ClientBenefitsCheckSectionTrait.php
  api/tests/Behat/features-v2/reporting/sections/client-benefits-check/client-benefits-check.lay.feature
Due: none

Attempt cachebust for GA calls
  client/templates/Components/GoogleAnalytics/hiddenEvent.html.twig
Due: none

Changing naming of cases to court orders
  api/src/Controller/CourtOrderController.php
  api/src/Repository/CasRecRepository.php
  api/src/Repository/ClientRepository.php
  api/src/Service/Search/CourtOrderSearchFilter.php
  api/src/TestHelpers/CourtOrderTestHelper.php
  api/tests/Behat/bootstrap/v2/Helpers/FixtureHelper.php
  api/tests/Behat/features-v2/client-management/admin/search-court-order.feature
  client/src/Controller/Admin/Client/SearchController.php
  client/src/Controller/Admin/CourtOrderController.php
  client/templates/Admin/CourtOrder/Search/court-order-search.html.twig
  client/translations/admin-clients.en.yml
Due: api, client

Attempt cachebust for GA calls (#706)
  client/templates/Components/GoogleAnalytics/hiddenEvent.html.twig
Due: none

Refactored search (from 2 searches into 1)
  api/src/Controller/CourtOrderController.php
  api/src/Repository/CasRecRepository.php
  api/src/Service/Search/CourtOrderSearchFilter.php
  client/src/Controller/Admin/Client/SearchController.php
  client/src/Service/Client/Internal/ClientApi.php
  client/src/Service/Client/Internal/CourtOrderApi.php
  client/templates/Admin/CourtOrder/Search/court-order-search.html.twig
Due: api, client

Display the correct template on initial loading of webpage
  client/src/Controller/Admin/Client/SearchController.php
Due: client

Add NDR client benefits section
  api/src/Controller/Report/ClientBenefitsCheckController.php
  api/src/Entity/ClientBenefitsCheckInterface.php
  api/src/Entity/IncomeReceivedOnClientsBehalfInterface.php
  api/src/Entity/Ndr/ClientBenefitsCheck.php
  api/src/Entity/Ndr/IncomeReceivedOnClientsBehalf.php
  api/src/Entity/Ndr/Ndr.php
  api/src/Factory/ClientBenefitsCheckFactory.php
  api/src/Migrations/Version259.php
  api/src/Repository/NdrClientBenefitsCheckRepository.php
  api/src/Service/ReportStatusService.php
  api/src/TestHelpers/ReportTestHelper.php
  api/src/v2/Fixture/Controller/FixtureController.php
  api/src/v2/Fixture/ReportSection.php
  api/tests/Behat/bootstrap/v2/Common/ReportTrait.php
  api/tests/Behat/features-v2/reporting/sections/client-benefits-check/client-benefit-check.ndr.feature
  client/src/Controller/Ndr/NdrController.php
  client/src/Controller/Report/ClientBenefitsCheckController.php
  client/src/Entity/ClientBenefitsCheckInterface.php
  client/src/Entity/IncomeReceivedOnClientsBehalfInterface.php
  client/src/Entity/Ndr/ClientBenefitsCheck.php
  client/src/Entity/Ndr/IncomeReceivedOnClientsBehalf.php
  client/src/Entity/Ndr/Ndr.php
  client/src/Entity/Report/Report.php
  client/src/Form/Report/ClientBenefitsCheckType.php
  client/src/Form/Report/IncomeReceivedOnClientsBehalfType.php
  client/src/Service/Client/Internal/ClientBenefitsCheckApi.php
  client/src/Service/Client/Internal/NdrApi.php
  client/src/Service/NdrStatusService.php
  client/src/Service/ReportSectionsLinkService.php
  client/src/Service/StepRedirector.php
  client/src/Validator/Constraints/ClientBenefitsCheck/ClientBenefitsCheckValidator.php
  client/src/Validator/Constraints/ClientBenefitsCheck/IncomeReceivedOnClientsBehalfValidator.php
  client/templates/Ndr/Ndr/overview.html.twig
  client/templates/Report/ClientBenefitsCheck/_answers.html.twig
  client/templates/Report/ClientBenefitsCheck/start.html.twig
  client/templates/Report/Report/overview.html.twig
  client/translations/ndr-overview.en.yml
  docs/ADDING_REPORT_SECTIONS.md
Due: api, client

Start persisting dep type and add one time dep type update
  api/src/v2/Assembler/NamedDeputyAssembler.php
  api/src/v2/Registration/Assembler/CasRecToOrgDeputyshipDtoAssembler.php
  api/src/v2/Registration/DTO/OrgDeputyshipDto.php
  api/src/v2/Registration/Uploader/OrgDeputyshipUploader.php
  api/tests/Unit/v2/Registration/TestHelpers/OrgDeputyshipDTOTestHelper.php
Due: api

DDPB-4131: Start persisting dep type and add one time dep type update (#707)
  api/src/v2/Assembler/NamedDeputyAssembler.php
  api/src/v2/Registration/Assembler/CasRecToOrgDeputyshipDtoAssembler.php
  api/src/v2/Registration/DTO/OrgDeputyshipDto.php
  api/src/v2/Registration/Uploader/OrgDeputyshipUploader.php
  api/tests/Unit/v2/Registration/TestHelpers/OrgDeputyshipDTOTestHelper.php
Due: api

Fixed behat tests, realigned namings, fix an issue with user list not working with behat user types
  api/src/Service/Search/CourtOrderSearchFilter.php
  api/tests/Behat/bootstrap/v2/ClientManagement/ClientManagementTrait.php
  api/tests/Behat/features-v2/client-management/admin/search-court-order.feature
  client/src/Entity/User.php
Due: api, client

Duplicate tests 😔
  api/tests/Behat/features-v2/reporting/sections/client-benefits-check/client-benefit-check.ndr.feature
  client/tests/phpunit/Entity/Ndr/ClientBenefitsCheckTest.php
  client/tests/phpunit/Entity/Ndr/IncomeReceivedOnClientsBehalfTest.php
Due: none

Refactoring endpoints into constants
  client/src/Service/Client/Internal/ClientApi.php
  client/src/Service/Client/Internal/CourtOrderApi.php
Due: client

Make routes more RESTful
  api/src/Controller/Report/ClientBenefitsCheckController.php
  client/src/Service/Client/Internal/ClientBenefitsCheckApi.php
Due: api, client

Path conditions:
  api: any of: api/src, but not: api/src/DataFixtures/**/*, api/src/FixtureFactory/**/*, api/src/TestHelpers/**/*, api/src/v2/Fixture/**/*, client/src/Exception/**/*, client/src/Resources/**/*
  client: any of: client/src, but not: api/src/DataFixtures/**/*, api/src/FixtureFactory/**/*, api/src/TestHelpers/**/*, api/src/v2/Fixture/**/*, client/src/Exception/**/*, client/src/Resources/**/*
