Repository ministryofjustice/opg-digideps: changes, and which Codecov flags are due for each by the changed paths.
All: api, client

codecov.yml:

coverage:
    status:
      project: off
      patch: off

ignore:
  - "api/src/DataFixtures/**/*"  # ignore folders and all its contents
  - "api/src/FixtureFactory/**/*"
  - "api/src/TestHelpers/**/*"
  - "api/src/v2/Fixture/**/*"
  - "client/src/Exception/**/*"
  - "client/src/Resources/**/*"

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null
flags:
  api:
    paths:
      - api/src
    carryforward: false
  client:
    paths:
      - client/src
    carryforward: false

Fix some api unit tests and rework controller logic to Authenticators
  api/src/Controller/AuthController.php
  api/src/Controller/UserController.php
  api/src/Security/HeaderTokenAuthenticator.php
  api/src/Security/LoginRequestAuthenticator.php
  api/src/Security/RegistrationTokenAuthenticator.php
  api/tests/Unit/Controller/AbstractTestController.php
  api/tests/Unit/Controller/AuthControllerTest.php
  api/tests/Unit/Controller/ClientBenefitsCheckControllerTest.php
  api/tests/Unit/Controller/MoneyReceivedOnOthersBehalfControllerTest.php
  api/tests/Unit/Controller/SatisfactionControllerTest.php
  api/tests/Unit/Controller/UserResearchControllerTest.php
  api/tests/Unit/Security/ClientVoterTest.php
  api/tests/Unit/Security/UserVoterTest.php
  api/tests/Unit/v2/Registration/Uploader/OrgDeputyshipUploaderTest.php
  client/src/Controller/IndexController.php
  client/src/Exception/UserWrongCredentialsException.php
  client/src/Security/LoginFormAuthenticator.php
Due: api, client

test added to test visibility of not applicable answers in pdf
  client/tests/phpunit/Service/ChecklistPdfGeneratorTest.php
Due: none

more fiddling
  api/src/Service/Auth/AuthService.php
  api/src/Service/JWT/JWTService.php
  client/src/Controller/Synchronisation/SynchronisationController.php
  environment/lambda/main.tf
  environment/lambda/variables.tf
  environment/secrets.tf
  environment/synchronisation_lambda.tf
  lambda_functions/functions/synchronisation/go.mod
  lambda_functions/functions/synchronisation/go.sum
  lambda_functions/functions/synchronisation/main.go
  localstack.Dockerfile
  shared/secrets.tf
Due: api, client

add secrets manually for now
  api/config/packages/security.yml
  api/src/Controller/AuthController.php
  api/src/Controller/JWTController.php
  environment/secrets.tf
Due: api

Fix AuthController tests
  api/src/Security/LoginRequestAuthenticator.php
  api/src/Security/RegistrationTokenAuthenticator.php
Due: api

DDPB-4383: Variable might not be defined (#892)
  api/src/Factory/ClientBenefitsCheckFactory.php
  api/src/FixtureFactory/ReportFactory.php
  api/src/Repository/DocumentRepository.php
  api/src/Service/ReportService.php
  api/src/v2/Transformer/OrganisationTransformer.php
  client/src/Controller/Admin/Client/SearchController.php
  client/src/Controller/Admin/FixtureController.php
  client/src/Controller/Admin/OrganisationController.php
  client/src/Entity/Report/Traits/ReportAssetTrait.php
  client/src/Service/Csv/ClientBenefitMetricsCsvGenerator.php
  client/src/Service/DocumentService.php
  client/src/Service/File/Scanner/ClamFileScanner.php
  client/tests/phpunit/Service/File/Scanner/ClamFileScannerTest.php
Due: api, client

Revert "test added to test visibility of not applicable answers in pdf"
  client/tests/phpunit/Service/ChecklistPdfGeneratorTest.php
Due: none

More test fixes
  api/scripts/reset_db_fixtures_local.sh
  api/src/Security/HeaderTokenAuthenticator.php
  api/tests/Unit/Controller/UserControllerTest.php
  api/tests/Unit/Service/Auth/AuthServiceTest.php
  api/tests/Unit/Service/Auth/HeaderTokenAuthenticatorTest.php
  api/tests/Unit/phpunit.xml
Due: api

Start new Authenticator test
  api/tests/Unit/Service/Auth/HeaderTokenAuthenticatorTest.php
  api/tests/Unit/Service/Auth/LoginRequestAuthenticatorTest.php
Due: none

Updating logging level
  api/src/v2/Registration/Controller/LayDeputyshipUploadController.php
Due: api

Updating default elasticache count to 2 to replicate pre-prod/prod config
  environment/terraform.tfvars.json
Due: none

Updated config for subscribed events
  client/src/EventSubscriber/ClientUpdatedSubscriber.php
  client/src/EventSubscriber/ReportSubmittedSubscriber.php
  client/src/EventSubscriber/UserUpdatedSubscriber.php
Due: client

Updated psql_engine_version
  environment/terraform.tfvars.json
Due: none

Reverting back to 2 instances of redis to pass build
  environment/terraform.tfvars.json
Due: none

Updating aurora config to replicate prod
  environment/terraform.tfvars.json
Due: none

Updating logging and updating aurora config to match prod
  api/src/v2/Registration/Controller/LayDeputyshipUploadController.php
  environment/terraform.tfvars.json
Due: api

DDPB-4396 add unit tests to go lambda
  Makefile
  api/src/Service/JWT/JWTService.php
  docker-compose.yml
  docker/localstack-init.sh
  lambda_functions/functions/synchronisation/go.mod
  lambda_functions/functions/synchronisation/go.sum
  lambda_functions/functions/synchronisation/main.go
  lambda_functions/functions/synchronisation/main_test.go
Due: api

remove the create endpoints
  Makefile
  api/config/packages/security.yml
  api/src/Controller/JWTController.php
  api/src/Controller/StatsController.php
  api/src/Service/JWT/JWTService.php
  client/src/Controller/Synchronisation/SynchronisationController.php
  environment/.envrc
  lambda_functions/functions/synchronisation/main.go
Due: api, client

make rate every 24 hours
  client/src/Controller/Synchronisation/SynchronisationController.php
  environment/synchronisation_lambda.tf
Due: client

Added logging
  api/src/v2/Registration/Controller/LayDeputyshipUploadController.php
  api/src/v2/Registration/Uploader/LayDeputyshipUploader.php
  client/src/Controller/Admin/AjaxController.php
  environment/terraform.tfvars.json
Due: api, client

Added more logging
  api/src/v2/Registration/Uploader/LayDeputyshipUploader.php
Due: api

Added fix for updating report types
  api/src/v2/Registration/Uploader/LayDeputyshipUploader.php
Due: api

Finalised logging and fix
  api/src/v2/Registration/Controller/LayDeputyshipUploadController.php
  api/src/v2/Registration/Uploader/LayDeputyshipUploader.php
  client/src/Controller/Admin/AjaxController.php
Due: api, client

Added in mocking of logger to api unit test
  api/tests/Unit/v2/Registration/Uploader/LayDeputyshipUploaderTest.php
Due: none

Updating client unit tests
  client/tests/phpunit/EventSubscriber/ClientUpdatedSubscriberTest.php
  client/tests/phpunit/EventSubscriber/ReportSubmittedSubscriberTest.php
  client/tests/phpunit/EventSubscriber/UserUpdatedSubscriberTest.php
Due: none

Updating assertions to be correct values
  client/tests/phpunit/EventSubscriber/ReportSubmittedSubscriberTest.php
  client/tests/phpunit/EventSubscriber/UserUpdatedSubscriberTest.php
Due: none

removed redundant na box from pdf for L13 & L14 questions
  client/templates/Admin/Client/Report/Formatted/checklist_formatted_body.html.twig
Due: none

&nbsp added to correct checkbox size
  client/templates/Admin/Client/Report/Formatted/checklist_formatted_body.html.twig
Due: none

Cover supports
  api/tests/Unit/Service/Auth/LoginRequestAuthenticatorTest.php
Due: none

Cover authenticate
  api/tests/Unit/Service/Auth/LoginRequestAuthenticatorTest.php
Due: none

Cover more authenticate error paths
  api/src/Security/LoginRequestAuthenticator.php
  api/tests/Unit/Service/Auth/LoginRequestAuthenticatorTest.php
Due: api

DDPB-4375: Response for checklist question not appearing (#899)
  client/templates/Admin/Client/Report/Formatted/checklist_formatted_body.html.twig
Due: none

Updating logging
  api/composer.json
  api/composer.lock
  api/config/packages/dev/monolog.yml
  api/config/packages/monolog.yml
  api/config/packages/prod/monolog.yml
  api/config/packages/test/monolog.yml
  api/config/parameters.yml.dist
  api/config/services.yml
  api/docker/confd/templates/parameters.yml.tmpl
  api/src/v2/Registration/Uploader/LayDeputyshipUploader.php
  client/composer.json
  client/composer.lock
  client/config/packages/dev/monolog.yml
  client/config/packages/prod/monolog.yml
  client/config/parameters.yml.dist
  client/config/services.yml
  client/docker/confd/templates/parameters.yml.tmpl
  client/src/Controller/Admin/AjaxController.php
Due: api, client

Updated config to include channels
  api/config/packages/dev/monolog.yml
  api/config/packages/monolog.yml
  api/config/packages/prod/monolog.yml
  api/config/packages/test/monolog.yml
  client/config/packages/dev/monolog.yml
  client/config/packages/prod/monolog.yml
Due: none

DDPB-4443: Review and fix EventSubscribers that have multiple event listeners (#901)
  client/src/EventSubscriber/ClientUpdatedSubscriber.php
  client/src/EventSubscriber/ReportSubmittedSubscriber.php
  client/src/EventSubscriber/UserUpdatedSubscriber.php
  client/tests/phpunit/EventSubscriber/ClientUpdatedSubscriberTest.php
  client/tests/phpunit/EventSubscriber/ReportSubmittedSubscriberTest.php
  client/tests/phpunit/EventSubscriber/UserUpdatedSubscriberTest.php
Due: client

Changing warnings to notices, removing uneccessary binding from services
  api/composer.json
  api/composer.lock
  api/config/services.yml
  api/src/v2/Registration/Controller/LayDeputyshipUploadController.php
  client/composer.json
  client/composer.lock
  client/config/services.yml
Due: api

DDPB-4459 - Registering deputies blocked at client details page (#902)
  api/config/packages/dev/monolog.yml
  api/config/packages/monolog.yml
  api/config/packages/prod/monolog.yml
  api/config/packages/test/monolog.yml
  api/config/parameters.yml.dist
  api/docker/confd/templates/parameters.yml.tmpl
  api/src/v2/Registration/Controller/LayDeputyshipUploadController.php
  api/src/v2/Registration/Uploader/LayDeputyshipUploader.php
  api/tests/Unit/v2/Registration/Uploader/LayDeputyshipUploaderTest.php
  client/config/packages/dev/monolog.yml
  client/config/packages/prod/monolog.yml
  client/config/parameters.yml.dist
  client/docker/confd/templates/parameters.yml.tmpl
  client/src/Controller/Admin/AjaxController.php
Due: api, client

Finish covering LoginRequestAuthenticator
  api/tests/Unit/Service/Auth/LoginRequestAuthenticatorTest.php
Due: none
