Repository ministryofjustice/opg-digideps: changes, and which Codecov flags are due for each by the changed paths.
All: api, client

codecov.yml:

coverage:
    status:
      project: off
      patch: off

ignore:
  - "api/src/DataFixtures/**/*"  # ignore folders and all its contents
  - "api/src/FixtureFactory/**/*"
  - "api/src/TestHelpers/**/*"
  - "api/src/v2/Fixture/**/*"
  - "client/src/Exception/**/*"
  - "client/src/Resources/**/*"

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null
flags:
  api:
    paths:
      - api/src
    carryforward: false
  client:
    paths:
      - client/src
    carryforward: false

comma
  environment/check_csv_uploaded.tf
Due: none

Give more output on failed slack posts
  client/src/Command/CheckCSVUploadedCommand.php
Due: client

Catch all errors during issues with slack
  client/src/Command/CheckCSVUploadedCommand.php
Due: client

Add GetLogEvents to execution role
  environment/ecs.tf
Due: none

Add cats to error message
  client/src/Command/CheckCSVUploadedCommand.php
Due: client

Ensure front service can get log events
  environment/front.tf
Due: none

Ensure we get logs from the right group
  client/config/services.yml
  client/src/Command/CheckCSVUploadedCommand.php
  client/src/Service/Audit/AwsAuditLogHandler.php
Due: client

Handle more errors during checking CSV upload
  client/src/Command/CheckCSVUploadedCommand.php
  client/src/Service/Audit/AwsAuditLogHandler.php
Due: client

first behat test written
  api/tests/Behat/bootstrap/v2/Common/BaseFeatureContext.php
  api/tests/Behat/bootstrap/v2/ReportSubmission/ReportSubmissionTrait.php
  api/tests/Behat/features-v2/report-submission/report-submission.feature
  client/src/Controller/Admin/ReportSubmissionController.php
  client/src/Service/ParameterStoreService.php
  client/templates/Admin/ReportSubmission/index.html.twig
  client/tests/phpunit/Service/ParameterStoreServiceTest.php
Due: client

Add putParameter to API paramstore
  api/src/Service/ParameterStoreService.php
Due: api

behat test work
  api/tests/Behat/bootstrap/v2/ReportSubmission/ReportSubmissionTrait.php
  api/tests/Behat/features-v2/report-submission/report-submission.feature
Due: none

all tests pass
  api/src/Service/ParameterStoreService.php
  api/tests/Behat/bootstrap/v2/Common/BaseFeatureContext.php
  api/tests/Behat/bootstrap/v2/ReportSubmission/ReportSubmissionTrait.php
  api/tests/Behat/features-v2/report-submission/report-submission.feature
  client/src/Controller/Admin/ReportSubmissionController.php
  client/templates/Admin/ReportSubmission/index.html.twig
  client/tests/phpunit/Service/ParameterStoreServiceTest.php
Due: api, client

Test fixes and update slack token to alerts rather than response
  client/src/Command/CheckCSVUploadedCommand.php
  client/src/Service/Client/GovUK/BankHolidaysAPIClient.php
  client/src/Service/SecretManagerService.php
  client/tests/phpunit/Command/CheckCSVUploadedCommandTest.php
  docker/localstack-init.sh
  environment/secrets.tf
Due: client

TEst fixes
  client/tests/phpunit/Service/Audit/AwsAuditLogHandlerTest.php
  environment/secrets.tf
Due: none

broken tests fixed
  api/tests/Behat/bootstrap/v2/Common/BaseFeatureContext.php
  client/src/Service/ParameterStoreService.php
  client/tests/phpunit/Service/ParameterStoreServiceTest.php
Due: client

Try to make submission searching by name less buggy
  api/tests/Behat/bootstrap/v2/Common/FixturesTrait.php
Due: none

correct broken test in pipeline
  api/tests/Behat/features-v2/report-submission/attaching-further-documents.feature
Due: none

futher documents feature test amended
  api/tests/Behat/features-v2/report-submission/attaching-further-documents.feature
Due: none

Give admin permission to update document feature flag
  environment/admin.tf
Due: none

Scope ssm PutParameter to Sync role that runs in CI
  environment/admin.tf
Due: none

Limit notifications tab and endpoint to super admin
  api/tests/Behat/bootstrap/v2/ACL/ACLTrait.php
  api/tests/Behat/bootstrap/v2/AppNotification/AppNotificationTrait.php
  api/tests/Behat/features-v2/acl/admin/super-admin-only.feature
  api/tests/Behat/features-v2/app-notification/app-notification.feature
  client/src/Controller/Admin/SettingController.php
  client/templates/Layouts/admin_moj_template.html.twig
Due: client

Limit notifications link and route to super admins
  api/tests/Behat/bootstrap/v2/ACL/ACLTrait.php
  api/tests/Behat/bootstrap/v2/AppNotification/AppNotificationTrait.php
  api/tests/Behat/features-v2/acl/admin/super-admin-only.feature
  api/tests/Behat/features-v2/app-notification/app-notification.feature
  client/src/Controller/Admin/SettingController.php
  client/templates/Layouts/admin_moj_template.html.twig
Due: client

DDPB-4269: Give CSV upload check open internet access for bank holidays API (#786)
  api/tests/Behat/bootstrap/v2/Common/FixturesTrait.php
  client/config/services.yml
  client/frontend.env
  client/src/Command/CheckCSVUploadedCommand.php
  client/src/Service/Audit/AwsAuditLogHandler.php
  client/src/Service/Client/GovUK/BankHolidaysAPIClient.php
  client/src/Service/SecretManagerService.php
  client/tests/phpunit/Command/CheckCSVUploadedCommandTest.php
  client/tests/phpunit/Service/Audit/AwsAuditLogHandlerTest.php
  docker/localstack-init.sh
  environment/check_csv_uploaded.tf
  environment/ecs.tf
  environment/front.tf
  environment/secrets.tf
Due: client

Limit notifications link and route to super admins (#820)
  api/tests/Behat/bootstrap/v2/ACL/ACLTrait.php
  api/tests/Behat/bootstrap/v2/AppNotification/AppNotificationTrait.php
  api/tests/Behat/features-v2/acl/admin/super-admin-only.feature
  api/tests/Behat/features-v2/app-notification/app-notification.feature
  client/src/Controller/Admin/SettingController.php
  client/templates/Layouts/admin_moj_template.html.twig
Due: client

CSV upload command fixes
  client/src/Command/CheckCSVUploadedCommand.php
  client/tests/phpunit/Command/CheckCSVUploadedCommandTest.php
Due: client

DDPB-4219 - ssm perm debug
  environment/sync.tf
Due: none

Drop references to CSV source
  client/src/Command/CheckCSVUploadedCommand.php
  client/tests/phpunit/Command/CheckCSVUploadedCommandTest.php
Due: client

update admin terraform file
  environment/admin.tf
  environment/sync.tf
Due: none

update admin terraform file with GetParameters
  environment/admin.tf
Due: none

implement JWT auth
  api/composer.json
  api/composer.lock
  api/config/bundles.php
  api/config/packages/security.yml
  api/config/parameters.yml.dist
  api/config/services.yml
  api/docker/confd/conf.d/parameters.hml.toml
  api/docker/confd/templates/parameters.yml.tmpl
  api/src/Controller/AuthController.php
  api/src/Controller/JWTController.php
  api/src/Entity/Traits/AddressTrait.php
  api/src/Entity/User.php
  api/src/Repository/UserRepository.php
  api/src/Service/JWT/JWTService.php
  api/src/Service/SecretManagerService.php
  client/composer.json
  client/composer.lock
  client/config/packages/framework.yml
  client/config/packages/security.yml
  client/src/Controller/IndexController.php
  client/src/Controller/JWT/JWTController.php
  client/src/Entity/Traits/LoginInfoTrait.php
  client/src/Entity/User.php
  client/src/Service/Client/RestClient.php
  docker/generate-jwt-pems.sh
  docker/localstack-init.sh
  environment/secrets.tf
Due: api, client

Add secrets manager env vars
  api/api.env
Due: none

Inject frontend host for JWT service
  api/api.env
  api/config/services.yml
  api/src/Service/JWT/JWTService.php
  client/src/Controller/IndexController.php
  environment/api_service.tf
Due: api, client

Return role in JWT
  api/src/Service/JWT/JWTService.php
Due: api

Revert to high notify client version
  client/composer.json
Due: none

Drop registration service from php api client config
  client/config/packages/framework.yml
Due: none

Drop unused dep
  client/src/Controller/IndexController.php
Due: client

Fix faker deprecations
  api/tests/Behat/bootstrap/v2/AdminManagement/AdminManagementTrait.php
  api/tests/Behat/bootstrap/v2/Common/AdminTrait.php
  api/tests/Behat/bootstrap/v2/DeputyManagement/DeputyManagementTrait.php
  client/src/TestHelpers/ClientHelpers.php
  client/src/TestHelpers/DocumentHelpers.php
  client/src/TestHelpers/EmailHelpers.php
  client/src/TestHelpers/NamedDeputyHelper.php
  client/src/TestHelpers/OrganisationHelpers.php
  client/src/TestHelpers/UserHelpers.php
  client/tests/phpunit/EventSubscriber/ClientUpdatedSubscriberTest.php
  client/tests/phpunit/Service/Client/Internal/SatisfactionApiTest.php
  client/tests/phpunit/Service/Client/Internal/UserApiTest.php
  client/tests/phpunit/phpunit.xml
Due: client

More faker dep fixes
  api/tests/Behat/bootstrap/v2/DeputyManagement/DeputyManagementTrait.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/AssetsSectionTrait.php
  client/tests/phpunit/EventSubscriber/ClientUpdatedSubscriberTest.php
  client/tests/phpunit/Service/Client/Internal/SatisfactionApiTest.php
Due: none

Upgrade symfony to 5.4 and other deps required
  client/composer.json
  client/composer.lock
Due: none

Update deprecated config
  client/config/packages/framework.yml
  client/config/packages/security.yml
  client/config/packages/twig.yml
  client/config/services.yml
Due: none
