Repository ministryofjustice/opg-digideps: changes, and which Codecov flags are due for each by the changed paths.
All: api, client

Update deprecated interfaces
  client/src/Controller/AbstractController.php
  client/src/Controller/UserResearchController.php
  client/src/Form/UserResearchResponseType.php
  client/src/Service/Mailer/MailFactory.php
  client/tests/phpunit/Service/Mailer/MailFactoryTest.php
Due: client

Update redis image
  docker-compose.yml
Due: none

enable assets
  client/config/packages/framework.yml
Due: none

Use is_granted rather than has_role
  client/src/Controller/Admin/AjaxController.php
  client/src/Controller/Admin/Client/ClientController.php
  client/src/Controller/Admin/Client/ReportController.php
  client/src/Controller/Admin/Client/SearchController.php
  client/src/Controller/Admin/FixtureController.php
  client/src/Controller/Admin/IndexController.php
  client/src/Controller/Admin/ReportSubmissionController.php
  client/src/Controller/Admin/StatsController.php
Due: client

Use Assert\Type rather than Assert\Date
  client/src/Entity/Client.php
  client/src/Entity/Ndr/Asset.php
  client/src/Entity/Ndr/VisitsCare.php
  client/src/Entity/Report/Asset.php
  client/src/Entity/Report/MoneyTransactionShort.php
  client/src/Entity/Report/ProfDeputyInterimCost.php
  client/src/Entity/Report/ProfDeputyPreviousCost.php
  client/src/Entity/Report/ProfServiceFee.php
  client/src/Entity/Report/Report.php
  client/src/Entity/Report/VisitsCare.php
Due: client

Inject parambag rather than getting from container
  client/src/Controller/Admin/AdController.php
  client/src/Controller/Admin/IndexController.php
  client/src/Controller/IndexController.php
Due: client

Remove direct container access
  client/src/Service/Client/RestClient.php
Due: client

Replace transChoice with trans
  Makefile
  client/src/Controller/Admin/ReportSubmissionController.php
  client/src/Form/Report/MoneyShortTransactionType.php
  client/templates/Components/paginator.html.twig
  client/templates/Ndr/Ndr/_subsection.html.twig
  client/templates/Org/ClientProfile/_subsection.html.twig
  client/templates/Report/Report/_subsection.html.twig
  client/translations/admin-documents.en.yml
Due: client

Only create logGroup when it does not exist in localstack
  docker/localstack-init.sh
  localstack.Dockerfile
Due: none

Start to upgrade API to 5.4. Carry on with upgrading security system
  api/composer.json
  api/composer.lock
  api/config/packages/framework.yml
  api/config/packages/security.yml
  api/config/parameters.yml.dist
  api/src/Entity/User.php
  api/src/Service/Auth/AuthService.php
  api/tests/Unit/phpunit.xml
  docker-compose.yml
Due: api

[DDPB-4206] track how often users are completing information in the new benefits section
  api/src/Controller/StatsController.php
  api/src/Repository/ReportRepository.php
  api/tests/Unit/Controller/StatsControllerTest.php
  client/src/Controller/Admin/StatsController.php
  client/src/Form/Admin/BenefitsMetricsFilterType.php
  client/src/Service/Client/Internal/StatsApi.php
  client/templates/Admin/Stats/benefitsReportMetrics.html.twig
  client/templates/Admin/Stats/reports.html.twig
  client/templates/Admin/Stats/satisfaction.html.twig
  client/templates/Admin/Stats/urResponses.html.twig
  client/templates/Admin/Stats/userAccountReports.html.twig
  client/translations/admin-metrics.en.yml
Due: api, client

[DDPB-4206] updated SQL query to match changes within the ClientBenefitsCheck file
  api/src/Repository/ReportRepository.php
Due: api

[DDPB-4206] can now download a csv of the metrics
  client/src/Controller/Admin/StatsController.php
  client/src/Entity/User.php
  client/src/Service/Csv/ClientBenefitMetricsCsvGenerator.php
  client/templates/Admin/Stats/benefitsReportMetrics.html.twig
Due: client

[DDPB-4206] returning correct results based on input parameters
  api/src/Controller/StatsController.php
  api/src/Entity/Report/ClientBenefitsCheck.php
  api/src/Repository/ReportRepository.php
  client/src/Controller/Admin/StatsController.php
  client/src/Form/Admin/BenefitsMetricsFilterType.php
  client/src/Service/Client/Internal/StatsApi.php
  client/templates/Admin/Stats/benefitsReportMetrics.html.twig
  client/translations/admin-metrics.en.yml
Due: api, client

[DDPB-4206] removed DocBlock comments
  client/src/Controller/Admin/StatsController.php
  client/src/Service/Csv/ClientBenefitMetricsCsvGenerator.php
Due: client

[DDPB-4206] updated plain SQL for the ReportRepository
  api/src/Controller/StatsController.php
  api/src/Repository/ReportRepository.php
  client/package-lock.json
  client/src/Controller/Admin/StatsController.php
  client/src/Form/Admin/BenefitsMetricsFilterType.php
  client/src/Service/Client/Internal/StatsApi.php
  client/src/Service/Csv/ClientBenefitMetricsCsvGenerator.php
Due: api, client

[DDPB-4206] changed the SQL query to DQL
  api/src/Repository/ReportRepository.php
  client/src/Service/Csv/ClientBenefitMetricsCsvGenerator.php
Due: api, client

[DDPB-4206] removed unused variable
  api/src/Repository/ReportRepository.php
Due: api

[DDPB-4206] removed debugging function
  api/src/Repository/ReportRepository.php
Due: api

Update uses of passwordHasher
  api/config/services.yml
  api/src/Controller/UserController.php
  api/src/DataFixtures/UserPasswordFixtures.php
  api/src/FixtureFactory/UserFactory.php
  api/tests/Unit/Service/Auth/AuthServiceTest.php
Due: api

Inject param and flag prefixes to integration test container
  environment/integration_test_v2.tf
Due: none

[DDPB-4206] amended feedback
  api/src/Controller/StatsController.php
  client/src/Entity/User.php
  client/src/Service/Csv/ClientBenefitMetricsCsvGenerator.php
Due: api, client

Fix build issues
  api/composer.json
  api/composer.lock
  api/config/packages/doctrine.yml
  api/config/packages/doctrine_migrations.yml
  api/config/packages/security.yml
  api/config/services.yml
  api/src/Entity/User.php
  api/src/Service/Auth/HeaderTokenAuthenticator.php
  client/config/packages/security.yml
  client/config/services.yml
  client/src/Command/ValidationCommand.php
  client/src/Controller/IndexController.php
  client/src/Entity/User.php
  client/src/Form/LoginType.php
  client/src/Twig/AssetsExtension.php
  client/src/Twig/FormFieldsExtension.php
  client/templates/Index/login.html.twig
Due: api, client

updated attaching further docs integration test
  api/tests/Behat/features-v2/report-submission/attaching-further-documents.feature
  api/tests/Behat/features-v2/report-submission/document-synchronisation.feature
Due: none

removed tag
  api/tests/Behat/features-v2/report-submission/document-synchronisation.feature
Due: none

Authing but not getting a session
  api/composer.json
  api/composer.lock
  api/config/packages/security.yml
  api/config/services.yml
  api/src/Controller/AuthController.php
  api/src/Security/HeaderTokenAuthenticator.php
  api/src/Security/LoginRequestAuthenticator.php
  api/src/Security/RedisUserProvider.php
  api/src/Service/Auth/AuthService.php
  api/src/Service/Auth/UserProvider.php
  api/tests/Unit/Service/Auth/HeaderTokenAuthenticatorTest.php
  api/tests/Unit/Service/Auth/UserProviderTest.php
  client/composer.json
  client/composer.lock
  client/config/packages/security.yml
  client/src/Controller/IndexController.php
  client/src/Form/LoginType.php
  client/src/Security/LoginFormAuthenticator.php
  client/src/Security/UserProvider.php
  client/src/Service/Client/RestClient.php
  client/templates/Index/login.html.twig
Due: api, client

Setup UserProvider - need to look at adding additional authenticator once logged in
  client/config/packages/security.yml
  client/src/Entity/User.php
  client/src/Security/UserProvider.php
Due: client

It works!
  api/config/packages/security.yml
  api/config/services.yml
  api/src/Controller/AuthController.php
  api/src/Entity/User.php
  api/src/Security/HeaderTokenAuthenticator.php
  api/src/Security/LoginRequestAuthenticator.php
  client/config/packages/security.yml
  client/config/services.yml
  client/src/Controller/Admin/FixtureController.php
  client/src/Entity/User.php
  client/src/Exception/UnauthorizedSessionException.php
  client/src/Exception/UserWrongCredentialsException.php
  client/src/Security/LoginFormAuthenticator.php
  client/src/Security/SessionAuthenticator.php
  client/src/Service/Client/RestClient.php
  client/src/Service/Client/TokenStorage/RedisStorage.php
Due: api, client

Reduce document sync schedule time to 2 minutes
  environment/document_sync.tf
Due: none

Add checklist and document sync log queries (#821)
  shared/cloudwatch_queries.tf
Due: none

add type hinting to parameters
  api/src/Service/ParameterStoreService.php
  api/tests/Behat/features-v2/user-management/admin/create-user.feature
  client/src/Service/ParameterStoreService.php
Due: api, client

Reduce document sync schedule time to 2 minutes (#822)
  environment/document_sync.tf
Due: none

DDPB 4218 - 'New' tabs visibility on Submissions page toggled based on Document Sync Enabled flag (#818)
  api/src/Service/ParameterStoreService.php
  api/tests/Behat/bootstrap/v2/Common/BaseFeatureContext.php
  api/tests/Behat/bootstrap/v2/ReportSubmission/ReportSubmissionTrait.php
  api/tests/Behat/features-v2/report-submission/attaching-further-documents.feature
  api/tests/Behat/features-v2/report-submission/report-submission.feature
  api/tests/Behat/features-v2/user-management/admin/create-user.feature
  client/src/Controller/Admin/ReportSubmissionController.php
  client/src/Service/ParameterStoreService.php
  client/templates/Admin/ReportSubmission/index.html.twig
  client/tests/phpunit/Service/ParameterStoreServiceTest.php
  environment/admin.tf
  environment/integration_test_v2.tf
Due: api, client

add orbitale/imagemagick-php
  client/composer.json
  client/composer.lock
Due: none

Add ImageMagick to client image
  client/Dockerfile
Due: none

Add dispatchOrgCreatedEvent function to Org Controller
  client/src/Controller/Admin/OrganisationController.php
  client/src/Event/OrgCreatedEvent.php
  client/src/EventSubscriber/OrgCreatedSubscriber.php
  client/src/Service/Audit/AuditEvents.php
Due: client

foreach loop added to OrgService
  client/src/Service/OrgService.php
Due: client

getId removed from handlOrganisation function in OrgDeputyShipUploader file
  api/src/v2/Registration/Uploader/OrgDeputyshipUploader.php
Due: api

Bump PHP to 8.1.5 and start to convert docs
  api/Dockerfile
  api/composer.json
  client/Dockerfile
  client/composer.json
  client/src/Service/File/ImageConvertor.php
  client/src/Service/File/ImageMagickFactory.php
  client/src/Service/File/S3FileUploader.php
  client/tests/phpunit/%
  client/tests/phpunit/Service/File/ImageConvertorTest.php
  client/tests/phpunit/TestData/good-jpeg.jpg
Due: client

Path conditions:
  api: any of: api/src, but not: api/src/DataFixtures/**/*, api/src/FixtureFactory/**/*, api/src/TestHelpers/**/*, api/src/v2/Fixture/**/*, client/src/Exception/**/*, client/src/Resources/**/*
  client: any of: client/src, but not: api/src/DataFixtures/**/*, api/src/FixtureFactory/**/*, api/src/TestHelpers/**/*, api/src/v2/Fixture/**/*, client/src/Exception/**/*, client/src/Resources/**/*
