Repository ministryofjustice/opg-digideps: changes, and which Codecov flags are due for each by the changed paths.
All: api, client

DDPB-3531: add manual sync fallback when checklist sync feature is disabled (#403)
  client/src/AppBundle/Controller/Admin/Client/ReportController.php
  client/src/AppBundle/Resources/translations/admin-checklist.en.yml
  client/src/AppBundle/Resources/views/Admin/Client/Report/checklistSubmitted.html.twig
  environment/parameters.tf
Due: client

Add footer contact details
  client/src/AppBundle/Resources/views/Layouts/_contact_details.html.twig
  client/src/AppBundle/Resources/views/Layouts/moj_template.html.twig
Due: client

Add contact details to t and cs pages, remove helpine float from base layout
  client/src/AppBundle/Resources/views/Layouts/_contact_details_dynamic.html.twig
  client/src/AppBundle/Resources/views/Layouts/_contact_details_pa.html.twig
  client/src/AppBundle/Resources/views/Layouts/_contact_details_prof.html.twig
  client/src/AppBundle/Resources/views/Layouts/moj_template.html.twig
  client/src/AppBundle/Resources/views/Org/ClientProfile/_detailsBanner.html.twig
  client/src/AppBundle/Resources/views/User/agreeTermsUsePa.html.twig
  client/src/AppBundle/Resources/views/User/agreeTermsUseProf.html.twig
Due: client

replace text with translations
  client/src/AppBundle/Resources/translations/common.en.yml
  client/src/AppBundle/Resources/views/Layouts/_contact_details_dynamic.html.twig
  client/src/AppBundle/Resources/views/Layouts/_contact_details_pa.html.twig
  client/src/AppBundle/Resources/views/Layouts/_contact_details_prof.html.twig
Due: client

DDPB-3285: Reinstate report download button for super admin
  behat/tests/features/deputy/03-report/04-post-submit/00-report-download-admin.feature
  client/src/AppBundle/Resources/views/Admin/Client/Client/details.html.twig
Due: client

Translate behat tests in to new format
  Makefile
  api/src/AppBundle/v2/Fixture/Controller/FixtureController.php
  behat/tests/behat.yml
  behat/tests/bootstrap/ContactDetails/ContactDetailsFeatureContext.php
  behat/tests/bootstrap/ContactDetails/ContactDetailsTrait.php
  behat/tests/bootstrap/UserTrait.php
  behat/tests/features-v2/contact-details/contact-details.feature
  behat/tests/features/deputy/06-static-pages/01-helpline.feature
  client/src/AppBundle/Controller/Admin/FixtureController.php
  client/src/AppBundle/Resources/views/Layouts/_contact_details_dynamic.html.twig
  client/src/AppBundle/Resources/views/Layouts/_contact_details_pa.html.twig
  client/src/AppBundle/Resources/views/Layouts/_contact_details_prof.html.twig
  client/src/AppBundle/Resources/views/Layouts/moj_template.html.twig
Due: api, client

Point to v2 of integration OpenAPI spec
  client/src/AppBundle/Service/Client/Sirius/SiriusApiGatewayClient.php
  docker-compose.dev.yml
  environment/mock_sirius_integration_service.tf
Due: client

Update tests to use v2
  Makefile
  client/tests/phpunit/Pact/SiriusApiGatewayClientTest.php
  client/tests/phpunit/Service/Client/Sirius/SiriusApiGatewayClientTest.php
Due: none

Reinstate test folders
  client/tests/phpunit/phpunit.xml
Due: none

Use fargate 1.4
  environment/mock_sirius_integration_service.tf
Due: none

Give egress permissions for mock sirius to pull docker images
  environment/mock_sirius_integration_sg.tf
Due: none

Remove SG
  environment/mock_sirius_integration_sg.tf
Due: none

Reinstate SG for docker hub
  environment/mock_sirius_integration_sg.tf
Due: none

Point to v2 of integration OpenAPI spec (#408)
  Makefile
  client/src/AppBundle/Service/Client/Sirius/SiriusApiGatewayClient.php
  client/tests/phpunit/Pact/SiriusApiGatewayClientTest.php
  client/tests/phpunit/Service/Client/Sirius/SiriusApiGatewayClientTest.php
  docker-compose.dev.yml
  environment/mock_sirius_integration_service.tf
  environment/mock_sirius_integration_sg.tf
Due: client

Bring docker volumes down at start of accessibility tests
  .circleci/config.yml
Due: none

pin the was provider to version to avoid breaking ACM change
  environment/provider.tf
  shared/provider.tf
Due: none

Ping provider version
  environment/provider.tf
  shared/provider.tf
Due: none

Disable pa11y tests
  .circleci/config.yml
Due: none

Ping provider version (#410)
  .circleci/config.yml
  environment/provider.tf
  shared/provider.tf
Due: none

Update detail and summary elements to use GDS version for IE11 fallback
  client/src/AppBundle/Resources/views/Index/index.html.twig
  client/src/AppBundle/Resources/views/Ndr/Action/start.html.twig
  client/src/AppBundle/Resources/views/Ndr/Action/step.html.twig
  client/src/AppBundle/Resources/views/Ndr/BankAccount/start.html.twig
  client/src/AppBundle/Resources/views/Ndr/DeputyExpense/start.html.twig
  client/src/AppBundle/Resources/views/Ndr/IncomeBenefit/start.html.twig
  client/src/AppBundle/Resources/views/Org/ClientProfile/_notes.html.twig
  client/src/AppBundle/Resources/views/Report/Action/start.html.twig
  client/src/AppBundle/Resources/views/Report/Action/step.html.twig
  client/src/AppBundle/Resources/views/Report/Balance/balance.html.twig
  client/src/AppBundle/Resources/views/Report/BankAccount/start.html.twig
  client/src/AppBundle/Resources/views/Report/Decision/exist.html.twig
  client/src/AppBundle/Resources/views/Report/Decision/start.html.twig
  client/src/AppBundle/Resources/views/Report/DeputyExpense/start.html.twig
  client/src/AppBundle/Resources/views/Report/Gift/start.html.twig
  client/src/AppBundle/Resources/views/Report/MoneyOut/summary.html.twig
  client/src/AppBundle/Resources/views/User/register.html.twig
Due: client

Remove Lay deputies from admin add user form
  client/src/AppBundle/Form/Admin/AddUserType.php
Due: client

Keep Lay deputy option for super-admins
  behat/tests/features/admin/05-ndr-enablement.feature
  behat/tests/features/deputy/01-registration-steps/01-create-users.feature
  client/src/AppBundle/Form/Admin/AddUserType.php
Due: client

Update to point to v2 pact
  client/tests/phpunit/Pact/SiriusApiGatewayClientTest.php
Due: none

Add hidden context to report overview links to aid screen readers
  client/src/AppBundle/Resources/views/Report/Report/_subsection.html.twig
Due: client

Add context to resend email links to aid screen readers
  client/src/AppBundle/Resources/views/Admin/Index/index.html.twig
  client/src/AppBundle/Resources/views/Report/Report/_subsection.html.twig
Due: client

Add context to manage report link to aid screen readers
  client/src/AppBundle/Resources/views/Admin/Client/Client/details.html.twig
Due: client

Add context to edit and remove org links to aid screen readers
  client/src/AppBundle/Resources/views/Admin/Organisation/index.html.twig
Due: client

Add context to edit reporting period to aid screen readers
  client/src/AppBundle/Resources/views/Org/ClientProfile/_reportDetail-PA.html.twig
  client/src/AppBundle/Resources/views/Org/ClientProfile/_reportDetail-Prof.html.twig
Due: client

Add context to org user management links to aid screen readers
  client/src/AppBundle/Resources/views/Org/Team/list.html.twig
Due: client

Update PR template
  docs/PULL_REQUEST_TEMPLATE.md
Due: none

Temp increase of code coverage percentage
  api/codecov.yml
Due: none

Use correct workspace name for prod
  environment/document_sync.tf
  environment/parameters.tf
Due: none

Set throshold to 50%
  codecov.yml
Due: none

Use correct workspace name for prod (#416)
  environment/document_sync.tf
  environment/parameters.tf
Due: none

DDPB-3312 Invalid labels in address form markup
  behat/tests/features/admin/00-prechecks.feature
  client/src/AppBundle/Controller/Ndr/AssetController.php
  client/src/AppBundle/Entity/Client.php
  client/src/AppBundle/Entity/Report/Contact.php
  client/src/AppBundle/Resources/translations/org-client-edit.en.yml
  client/src/AppBundle/Resources/translations/report-assets.en.yml
  client/src/AppBundle/Resources/translations/report-contacts.en.yml
  client/src/AppBundle/Resources/views/Client/add.html.twig
  client/src/AppBundle/Resources/views/Client/edit.html.twig
  client/src/AppBundle/Resources/views/Macros/macros.html.twig
  client/src/AppBundle/Resources/views/Ndr/Asset/Property/step.html.twig
  client/src/AppBundle/Resources/views/Org/Index/clientEdit.html.twig
  client/src/AppBundle/Resources/views/Report/Asset/Property/step.html.twig
  client/src/AppBundle/Resources/views/Report/Contact/_form.html.twig
  client/src/AppBundle/Resources/views/Report/Contact/_list.html.twig
  client/src/AppBundle/Resources/views/Report/Contact/add.html.twig
  client/src/AppBundle/Twig/FormFieldsExtension.php
  lambda_functions/functions/monitoring/monitoring.py
Due: client

remove superfluous address bits
  client/src/AppBundle/Entity/Client.php
  client/src/AppBundle/Entity/Report/Contact.php
  client/src/AppBundle/Resources/translations/report-contacts.en.yml
  client/src/AppBundle/Resources/views/Report/Contact/_form.html.twig
  client/src/AppBundle/Resources/views/Report/Contact/_list.html.twig
Due: client

Path conditions:
  api: any of: api/src/AppBundle
  client: any of: client/src/AppBundle
