Repository ministryofjustice/opg-digideps: changes, and which Codecov flags are due for each by the changed paths.
All: api, client

[DDPB-3817] fixed integration tests where they expected a PA to not be agreed to terms
  api/src/DataFixtures/PATestUserFixtures.php
  api/src/FixtureFactory/UserFactory.php
  api/tests/Behat/features/pa/01-registration-steps/01-admin-add-pa-users-and-activate.feature
  client/src/Controller/UserController.php
Due: client

[DDPB-3817] more fixes around the integration tests
  api/src/DataFixtures/ProfTestUserFixtures.php
Due: none

[DDPB-3817] fixed more integration tests failures
  api/tests/Behat/features/pa/01-registration-steps/01-admin-add-pa-users-and-activate.feature
Due: none

[DDPB-3817] fixed merge conflicts with migrations
  api/src/Migrations/Version253.php
Due: api

[DDPB-3817] extra changes in terms of the updated terms
  api/src/Entity/User.php
  client/src/Controller/Org/IndexController.php
  client/src/Controller/UserController.php
  client/templates/User/updatedTermsUse.html.twig
  client/translations/updated-terms-use.en.yml
Due: api, client

Add specs for DeputyExpenses
  api/tests/Behat/behat.yml
  api/tests/Behat/bootstrap/v2/Common/BaseFeatureContext.php
  api/tests/Behat/bootstrap/v2/Common/DebugTrait.php
  api/tests/Behat/bootstrap/v2/Common/ExpectedResultsTrait.php
  api/tests/Behat/bootstrap/v2/Common/FormFillingTrait.php
  api/tests/Behat/bootstrap/v2/Common/IVisitFrontendTrait.php
  api/tests/Behat/bootstrap/v2/Common/PageUrlsTrait.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/AccountsSectionTrait.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/DeputyExpensesSectionTrait.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/ReportingSectionsFeatureContext.php
  api/tests/Behat/features-v2/reporting/sections/deputy-expenses/deputy-expenses.feature
Due: none

[DDPB-3817] correct method of agreeing to updated terms is done
  api/src/Entity/User.php
  api/src/FixtureFactory/UserFactory.php
  api/src/Migrations/Version253.php
  client/src/Controller/UserController.php
  client/src/Entity/User.php
  client/src/Form/User/UpdateTermsType.php
  client/templates/User/updatedTermsUse.html.twig
  client/translations/updated-terms-use.en.yml
Due: api, client

[DDPB-3817] fixed form issue with block prefix
  api/src/DataFixtures/PATestUserFixtures.php
  client/src/Form/User/UpdateTermsType.php
Due: client

[DDPB-3817] reverted the behat-pa1 profile back
  api/src/DataFixtures/PATestUserFixtures.php
Due: none

[DDPB-3817] fixed issue where user needs to be redirected to activate account
  client/src/Controller/UserController.php
Due: client

Try alternative version of asserting on tables
  api/tests/Behat/bootstrap/v2/Common/BaseFeatureContext.php
  api/tests/Behat/bootstrap/v2/Common/ExpectedResultsTrait.php
  api/tests/Behat/bootstrap/v2/Common/FormFillingTrait.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/DeputyExpensesSectionTrait.php
Due: none

DDPB-3482 money out section behat tests
  api/tests/Behat/behat.yml
  api/tests/Behat/bootstrap/v2/Common/IShouldBeOnTrait.php
  api/tests/Behat/bootstrap/v2/Common/IVisitFrontendTrait.php
  api/tests/Behat/bootstrap/v2/Common/PageUrlsTrait.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/MoneyOutSectionTrait.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/MoneyOutShortSectionTrait.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/ReportingSectionsFeatureContext.php
  api/tests/Behat/features-v2/reporting/sections/money-out/money-out-short.feature
  api/tests/Behat/features-v2/reporting/sections/money-out/money-out.feature
Due: none

added extra test
  api/tests/Behat/bootstrap/v2/Reporting/Sections/HealthAndLifestyleTrait.php
  api/tests/Behat/features-v2/reporting/sections/health-lifestyle/health-lifestyle.feature
Due: none

DDPB-3482 add money out behat tests
  api/src/TestHelpers/ReportTestHelper.php
  api/tests/Behat/bootstrap/v2/Common/IShouldBeOnTrait.php
  api/tests/Behat/bootstrap/v2/Common/IVisitFrontendTrait.php
  api/tests/Behat/bootstrap/v2/Common/ReportTrait.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/MoneyOutSectionTrait.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/MoneyOutShortSectionTrait.php
  api/tests/Behat/features-v2/reporting/sections/money-out/money-out-short.feature
  api/tests/Behat/features-v2/reporting/sections/money-out/money-out.feature
Due: none

Cover off more sections of expenses
  api/tests/Behat/bootstrap/v2/Common/ExpectedResultsTrait.php
  api/tests/Behat/bootstrap/v2/Common/FormFillingTrait.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/DeputyExpensesSectionTrait.php
  api/tests/Behat/features-v2/reporting/sections/deputy-expenses/deputy-expenses.feature
Due: none

Cover remaining specs in behat
  api/tests/Behat/bootstrap/v2/Common/ExpectedResultsTrait.php
  api/tests/Behat/bootstrap/v2/Common/FormFillingTrait.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/DeputyExpensesSectionTrait.php
  api/tests/Behat/features-v2/reporting/sections/deputy-expenses/deputy-expenses.feature
Due: none

Revert some main code and expand comments for FormFillingTrait
  api/tests/Behat/bootstrap/v2/Common/ExpectedResultsTrait.php
  api/tests/Behat/bootstrap/v2/Common/FormFillingTrait.php
Due: none

Comments styling
  api/tests/Behat/bootstrap/v2/Common/FormFillingTrait.php
Due: none

some stuff
  api/tests/Behat/bootstrap/v2/Common/AuthTrait.php
  api/tests/Behat/bootstrap/v2/Common/BaseFeatureContext.php
  api/tests/Behat/bootstrap/v2/Helpers/FixtureHelper.php
  api/tests/Behat/features-v2/reporting/sections/actions/actions.feature
  api/tests/Behat/features-v2/reporting/sections/additional-information/additional-information.feature
  api/tests/Behat/features-v2/reporting/sections/gifts/gifts.feature
  api/tests/Behat/features-v2/reporting/sections/money-out/money-out-short.feature
  api/tests/Behat/features-v2/reporting/sections/money-out/money-out.feature
  api/tests/Behat/run-tests.sh
Due: none

Ddpb 3485 - lifestyle behat (#648)
  api/tests/Behat/behat.yml
  api/tests/Behat/bootstrap/v2/Common/BaseFeatureContext.php
  api/tests/Behat/bootstrap/v2/Common/IShouldBeOnTrait.php
  api/tests/Behat/bootstrap/v2/Common/IVisitFrontendTrait.php
  api/tests/Behat/bootstrap/v2/Common/PageUrlsTrait.php
  api/tests/Behat/bootstrap/v2/Common/ReportTrait.php
  api/tests/Behat/bootstrap/v2/Helpers/FixtureHelper.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/HealthAndLifestyleTrait.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/ReportingSectionsFeatureContext.php
  api/tests/Behat/features-v2/reporting/sections/health-lifestyle/health-lifestyle.feature
  api/tests/Behat/run-smoke-tests.sh
Due: none

Expand documentation
  api/tests/Behat/bootstrap/v2/Common/FormFillingTrait.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/DeputyExpensesSectionTrait.php
Due: none

Ddpb 3482 - money out behat tests
  api/src/TestHelpers/ReportTestHelper.php
  api/tests/Behat/bootstrap/v2/Common/IShouldBeOnTrait.php
  api/tests/Behat/bootstrap/v2/Common/IVisitFrontendTrait.php
  api/tests/Behat/bootstrap/v2/Common/PageUrlsTrait.php
  api/tests/Behat/bootstrap/v2/Common/ReportTrait.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/MoneyOutSectionTrait.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/MoneyOutShortSectionTrait.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/ReportingSectionsFeatureContext.php
  api/tests/Behat/features-v2/reporting/sections/money-out/money-out-short.feature
  api/tests/Behat/features-v2/reporting/sections/money-out/money-out.feature
Due: none

[DDPB-3484] fixed merge conflicts
  api/tests/Behat/behat.yml
Due: none

[DDPB-3484] write the behat tests for the debts section of the report
  api/tests/Behat/bootstrap/v2/Common/IShouldBeOnTrait.php
  api/tests/Behat/bootstrap/v2/Common/IVisitFrontendTrait.php
  api/tests/Behat/bootstrap/v2/Common/PageUrlsTrait.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/DebtsSectionTrait.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/ReportingSectionsFeatureContext.php
  api/tests/Behat/features-v2/reporting/sections/debts/debts.feature
Due: none

Fix PR comments
  api/tests/Behat/bootstrap/v2/AdminManagement/AdminManagementFeatureContext.php
  api/tests/Behat/bootstrap/v2/Common/AdminTrait.php
  api/tests/Behat/bootstrap/v2/DeputyManagement/DeputyManagementFeatureContext.php
  api/tests/Behat/bootstrap/v2/DeputyManagement/DeputyManagementTrait.php
  api/tests/Behat/features-v2/admin-management/edit-others.feature
  api/tests/Behat/features-v2/deputy-management/admin/edit-user.feature
Due: none

add scanning report
  .github/workflows/report.yml
Due: none

[DDPB-3484] refactored to use the expected results trait file
  Makefile
  api/tests/Behat/bootstrap/v2/Common/ExpectedResultsTrait.php
  api/tests/Behat/bootstrap/v2/Common/IShouldBeOnTrait.php
  api/tests/Behat/bootstrap/v2/Common/PageUrlsTrait.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/DebtsSectionTrait.php
  api/tests/Behat/features-v2/reporting/sections/debts/debts.feature
Due: none

add scanning report (#651)
  .github/workflows/report.yml
Due: none

Refactor extracting summary page data to helper functions and restyle bank account br elements to p elements
  api/tests/Behat/bootstrap/v2/Common/ExpectedResultsTrait.php
  client/templates/Report/BankAccount/_list.html.twig
Due: none

Allow admin managers to discharge clients
  api/src/Controller/ClientController.php
  api/tests/Behat/features-v2/client-management/admin/discharge.feature
  client/src/Controller/Admin/Client/ClientController.php
  client/src/EventDispatcher/ObservableEventDispatcher.php
  client/templates/Admin/Client/Client/details.html.twig
Due: api, client

[DDPB-3817] Implement the new terms of use for all deputies (#633)
  api/src/Controller/UserController.php
  api/src/DataFixtures/PATestUserFixtures.php
  api/src/DataFixtures/ProfTestUserFixtures.php
  api/src/DataFixtures/UserFixtures.php
  api/src/Entity/User.php
  api/src/FixtureFactory/UserFactory.php
  api/src/Migrations/Version253.php
  api/src/TestHelpers/UserTestHelper.php
  api/tests/Unit/Controller/UserControllerTest.php
  client/src/Controller/Org/IndexController.php
  client/src/Controller/UserController.php
  client/src/Entity/User.php
  client/src/Form/User/UpdateTermsType.php
  client/src/Service/Client/Internal/UserApi.php
  client/templates/User/updatedTermsUse.html.twig
  client/translations/updated-terms-use.en.yml
Due: api, client

wait to stabilise
  environment/admin_service.tf
  environment/api_service.tf
  environment/front_service.tf
  environment/mock_sirius_integration_service.tf
  environment/scan.tf
  environment/smoke_test.tf
  environment/versions.tf
  environment/wkhtmltopdf.tf
Due: none

DDPB-3995 trialling new behats in pipeline
  .circleci/config.yml
  api/Dockerfile
  api/public/index.php
  api/scripts/apiunittest.sh
  api/tests/Behat/bootstrap/v2/Common/BaseFeatureContext.php
  api/tests/Behat/bootstrap/v2/Helpers/FixtureHelper.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/VisitsCareSectionTrait.php
  api/tests/Behat/features-v2/reporting/sections/accounts/accounts.ndr.feature
  api/tests/Behat/run-tests-smoke.sh
  api/tests/Behat/run-tests-v2.sh
  environment/api_sg.tf
  environment/integration_test.tf
  environment/integration_test_v2.tf
  environment/outputs.tf
  environment/smoke_test.tf
Due: none

DDPB-3999 try out stabiliser
  .circleci/config.yml
  environment/versions.tf
Due: none

remove some @v2 tags
  .circleci/config.yml
  api/public/index.php
  api/scripts/apiunittest.sh
  api/tests/Behat/features-v2/reporting/sections/accounts/accounts.ndr.feature
  api/tests/Behat/features-v2/reporting/sections/actions/actions.feature
  api/tests/Behat/features-v2/reporting/sections/contacts/contacts.feature
  api/tests/Behat/features-v2/reporting/sections/gifts/gifts.feature
  api/tests/Behat/run-tests.sh
Due: none

Further streamline assertion process by handling dates and tracking money
  Makefile
  api/tests/Behat/behat.yml
  api/tests/Behat/bootstrap/v2/Common/ExpectedResultsTrait.php
  api/tests/Behat/bootstrap/v2/Common/FormFillingTrait.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/MoneyInHighAssetsTrait.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/VisitsCareSectionTrait.php
  api/tests/Behat/features-v2/reporting/sections/money-in-high-assets/money-in.high-assets.feature
Due: none

Implemented tests for adding a single asset and single property
  api/tests/Behat/behat.yml
  api/tests/Behat/bootstrap/v2/Common/ElementSelectionTrait.php
  api/tests/Behat/bootstrap/v2/Common/ExpectedResultsTrait.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/AssetsSectionTrait.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/ReportingSectionsFeatureContext.php
  api/tests/Behat/features-v2/reporting/sections/assets/assets.feature
Due: none

Assert on section totals
  api/tests/Behat/bootstrap/v2/Common/ExpectedResultsTrait.php
  api/tests/Behat/bootstrap/v2/Common/FormFillingTrait.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/MoneyInHighAssetsTrait.php
  api/tests/Behat/features-v2/reporting/sections/money-in-high-assets/money-in.high-assets.feature
Due: none

Assert on page grand total
  api/tests/Behat/bootstrap/v2/Common/ExpectedResultsTrait.php
  api/tests/Behat/bootstrap/v2/Common/FormFillingTrait.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/MoneyInHighAssetsTrait.php
Due: none

Fix deputy expenses and use functions rather than direct array access
  api/tests/Behat/bootstrap/v2/Common/ExpectedResultsTrait.php
  api/tests/Behat/bootstrap/v2/Common/FormFillingTrait.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/DeputyExpensesSectionTrait.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/MoneyInHighAssetsTrait.php
  api/tests/Behat/features-v2/reporting/sections/deputy-expenses/deputy-expenses.feature
  api/tests/Behat/features-v2/reporting/sections/money-in-high-assets/money-in.high-assets.feature
Due: none

Path conditions:
  api: any of: api/src, but not: api/src/DataFixtures/**/*, api/src/FixtureFactory/**/*, api/src/TestHelpers/**/*, api/src/v2/Fixture/**/*, client/src/Exception/**/*, client/src/Resources/**/*
  client: any of: client/src, but not: api/src/DataFixtures/**/*, api/src/FixtureFactory/**/*, api/src/TestHelpers/**/*, api/src/v2/Fixture/**/*, client/src/Exception/**/*, client/src/Resources/**/*
