Repository ministryofjustice/opg-digideps: changes, and which Codecov flags are due for each by the changed paths.
All: api, client

codecov.yml:

coverage:
    status:
      project: off
      patch: off

ignore:
  - "api/src/DataFixtures/**/*"  # ignore folders and all its contents
  - "api/src/FixtureFactory/**/*"
  - "api/src/TestHelpers/**/*"
  - "api/src/v2/Fixture/**/*"
  - "client/src/Exception/**/*"
  - "client/src/Resources/**/*"

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null
flags:
  api:
    paths:
      - api/src
    carryforward: false
  client:
    paths:
      - client/src
    carryforward: false

autocomplete disabled for repeated password fields (#777)
  client/src/Form/ChangePasswordType.php
  client/src/Form/ResetPasswordType.php
  client/src/Form/SetPasswordType.php
Due: client

Fixing question text for behat tests
  api/tests/Behat/bootstrap/v2/Reporting/Sections/ClientBenefitsCheckSectionTrait.php
Due: none

Last few content changes
  client/translations/ndr-overview.en.yml
  client/translations/report-client-benefits-check.en.yml
  client/translations/report-overview.en.yml
Due: none

Fixing question text for behat tests
  api/tests/Behat/bootstrap/v2/Reporting/Sections/ClientBenefitsCheckSectionTrait.php
  client/translations/admin-checklist.en.yml
Due: none

DDPB-4175: Return JSON for report rather than whole objects, fix CSV download (#775)
  api/src/Controller/UserResearchController.php
  api/src/Entity/User.php
  api/src/Repository/UserResearchResponseRepository.php
  api/tests/Unit/Entity/Repository/UserResearchResponseRepositoryTest.php
  api/tests/Unit/Fixtures.php
  client/src/Controller/Admin/StatsController.php
  client/src/Service/Client/Internal/UserResearchApi.php
  client/src/Service/Csv/UserResearchResponseCsvGenerator.php
  client/tests/phpunit/Service/Csv/UserResearchResponseCsvGeneratorTest.php
  client/translations/admin-metrics.en.yml
Due: api, client

DDPB-4245 - upgrade aws provider
  environment/versions.tf
  shared/versions.tf
Due: none

DDPB-4245 - give breakglass read/write for cloud9
  shared/cloud9.tf
Due: none

DDPB-4245 - add breakglass read/write to cloud9 instances (#781)
  environment/versions.tf
  shared/cloud9.tf
  shared/versions.tf
Due: none

DDPB-4245 - specify user for membership
  shared/cloud9.tf
Due: none

DDPB-4245 - specify user for membership (#783)
  shared/cloud9.tf
Due: none

Correcting error messages, and fixing remove item view
  client/src/Controller/Report/ClientBenefitsCheckController.php
  client/translations/report-client-benefits-check.en.yml
Due: client

Fixed expected error message text for test, fixed the apostrophe in translations
  api/tests/Behat/bootstrap/v2/Reporting/Sections/ClientBenefitsCheckSectionTrait.php
  client/translations/report-client-benefits-check.en.yml
Due: none

DDPB-4245 - add membership via terrform, update ownership
  shared/cloud9.tf
  shared/variables.tf
Due: none

Give CSV upload check open internet access for bank holidays API
  environment/check_csv_uploaded.tf
Due: none

DDPB-4245 - add Mia to c9 user list
  shared/variables.tf
Due: none

Ensure slack token API is in check csv task container
  environment/check_csv_uploaded.tf
  environment/secrets.tf
Due: none

DDPB-4245 - Cloud9 memberships (#785)
  shared/cloud9.tf
  shared/variables.tf
Due: none

Update slack API secret name
  environment/check_csv_uploaded.tf
  environment/secrets.tf
Due: none

Missing }
  environment/check_csv_uploaded.tf
Due: none

Access name of secret
  environment/check_csv_uploaded.tf
Due: none

Run document tests in sequence as paralell running makes flaky tests (#779)
  .circleci/config.yml
  api/tests/Behat/features-v2/report-submission/document-synchronisation.feature
  api/tests/Behat/features-v2/reporting/sections/documents/documents.feature
Due: none

Fix formatting in task definition
  environment/check_csv_uploaded.tf
Due: none

Upgrade circleCI images to next gen versions
  .circleci/config.yml
Due: none

Specify php version
  .circleci/config.yml
Due: none

[DDPB-3525] removed array for unmade function
  api/tests/Behat/bootstrap/v2/Helpers/FixtureHelper.php
Due: none

[DDPB-3525] started thinking about adding a unarchived client to the data
  api/tests/Behat/bootstrap/v2/ClientManagement/ClientManagementTrait.php
  api/tests/Behat/bootstrap/v2/Common/BaseFeatureContext.php
  api/tests/Behat/bootstrap/v2/Common/UserDetails.php
  api/tests/Behat/bootstrap/v2/Helpers/FixtureHelper.php
  api/tests/Behat/features-v2/client-management/admin/unarchive.feature
Due: none

[DDPB-3525] started adding the method on how to add an archived client
  api/tests/Behat/bootstrap/v2/ClientManagement/ClientManagementTrait.php
  api/tests/Behat/bootstrap/v2/Common/BaseFeatureContext.php
  api/tests/Behat/features-v2/client-management/admin/unarchive.feature
Due: none

self review complete
  api/src/TestHelpers/ClientTestHelper.php
  api/tests/Behat/bootstrap/v2/Common/BaseFeatureContext.php
  api/tests/Behat/bootstrap/v2/Common/IVisitAdminTrait.php
  api/tests/Behat/bootstrap/v2/Helpers/FixtureHelper.php
  client/src/Controller/Admin/Client/ClientController.php
  client/src/Service/Client/Internal/ClientApi.php
Due: client

add functionality to un-archive button
  api/src/Controller/ClientController.php
  api/src/v2/Controller/ClientController.php
  client/src/Controller/Admin/Client/ClientController.php
  client/src/Service/Client/Internal/ClientApi.php
  client/templates/Admin/Client/Client/unarchived.html.twig
Due: api, client

action code review feedback
  api/src/Controller/ClientController.php
  api/tests/Behat/bootstrap/v2/ClientManagement/ClientManagementTrait.php
  api/tests/Behat/bootstrap/v2/Common/IShouldBeOnAdminTrait.php
  api/tests/Behat/bootstrap/v2/Common/IVisitAdminTrait.php
  api/tests/Behat/features-v2/client-management/admin/unarchive.feature
  client/src/Service/Client/Internal/ClientApi.php
  client/templates/Admin/Client/Client/details.html.twig
Due: api, client

[DDPB-3525] added back code that was removed
  api/tests/Behat/bootstrap/v2/Common/IVisitAdminTrait.php
Due: none

first two behat tests pass
  api/tests/Behat/bootstrap/v2/ClientManagement/ClientManagementTrait.php
  api/tests/Behat/bootstrap/v2/Common/IShouldBeOnAdminTrait.php
  api/tests/Behat/bootstrap/v2/Common/IVisitAdminTrait.php
  api/tests/Behat/features-v2/client-management/admin/unarchive.feature
  client/src/Controller/Admin/Client/ClientController.php
  client/src/Service/Client/Internal/ClientApi.php
Due: client

begin behat tests
  api/tests/Behat/bootstrap/v2/Common/IVisitAdminTrait.php
  api/tests/Behat/bootstrap/v2/Common/PageUrlsTrait.php
  api/tests/Behat/features-v2/client-management/admin/unarchive.feature
Due: none

[DDPB-3525] fixed left over bug in the behat code
  api/tests/Behat/bootstrap/v2/Common/IVisitAdminTrait.php
Due: none

Added function to create prof user with archived client. Updated client unarchive behat test
  api/src/TestHelpers/ClientTestHelper.php
  api/tests/Behat/bootstrap/v2/Common/BaseFeatureContext.php
  api/tests/Behat/bootstrap/v2/Common/IVisitAdminTrait.php
  api/tests/Behat/bootstrap/v2/Helpers/FixtureHelper.php
  api/tests/Behat/features-v2/client-management/admin/unarchive.feature
Due: none

[DDPB-3525] added client archived at values to behat UserDetails
  api/tests/Behat/bootstrap/v2/Common/UserDetails.php
Due: none

front end work complete
  api/src/v2/Controller/ClientController.php
  client/templates/Admin/Client/Client/unarchived.html.twig
  client/templates/Layouts/application.html.twig
  client/translations/admin-clients.en.yml
Due: api

behat set up for three admin scenarios
  api/src/Controller/ClientController.php
  api/tests/Behat/bootstrap/v2/ClientManagement/ClientManagementTrait.php
  api/tests/Behat/bootstrap/v2/Common/IShouldBeOnAdminTrait.php
  api/tests/Behat/bootstrap/v2/Common/IVisitAdminTrait.php
  api/tests/Behat/bootstrap/v2/Common/PageUrlsTrait.php
  api/tests/Behat/features-v2/client-management/admin/unarchive.feature
  client/src/Controller/Admin/Client/ClientController.php
Due: api, client
