Repository ministryofjustice/opg-digideps: changes, and which Codecov flags are due for each by the changed paths.
All: api, client

codecov.yml:

coverage:
    status:
      project: off
      patch: off

ignore:
  - "api/src/DataFixtures/**/*"  # ignore folders and all its contents
  - "api/src/FixtureFactory/**/*"
  - "api/src/TestHelpers/**/*"
  - "api/src/v2/Fixture/**/*"
  - "client/src/Exception/**/*"
  - "client/src/Resources/**/*"

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null
flags:
  api:
    paths:
      - api/src
    carryforward: false
  client:
    paths:
      - client/src
    carryforward: false

Set fixtures password env var in api service
  api/config/services.yml
  api/docker/confd/templates/parameters.yml.tmpl
  environment/api_service.tf
Due: none

Drop account password parameter from confd template
  api/docker/confd/templates/parameters.yml.tmpl
Due: none

DDPB-3908: Set fixtures password env var in api service (#596)
  api/config/services.yml
  api/docker/confd/templates/parameters.yml.tmpl
  environment/api_service.tf
Due: none

Add contributing to behat bootstrap folder
  behat/tests/bootstrap/CONTRIBUTING.md
Due: none

Rework behat fixtures to return a lay with client and report
  api/src/TestHelpers/BehatFixtures.php
  api/src/TestHelpers/UserTestHelper.php
Due: none

typo
  behat/tests/bootstrap/CONTRIBUTING.md
Due: none

Reorg folder structure for v2 behat bootstrap
  behat/tests/bootstrap/CONTRIBUTING.md
  behat/tests/bootstrap/v2/BaseFeatureContext.php
  behat/tests/bootstrap/v2/common/AuthTrait.php
  behat/tests/bootstrap/v2/common/BaseFeatureContext.php
  behat/tests/bootstrap/v2/common/CourtOrderTrait.php
  behat/tests/bootstrap/v2/common/DebugTrait.php
  behat/tests/bootstrap/v2/common/ReportTrait.php
  behat/tests/bootstrap/v2/reporting/sections/ReportingSectionsFeatureContext.php
  behat/tests/features-v2/feedback/post-submission.feature
Due: none

[DDPB-3288] Moved config files around
  api/config/config.yaml
  api/config/config.yml
  api/config/config_dev.yaml
  api/config/config_prod.yaml
  api/config/config_test.yaml
  api/config/packages/doctrine.yaml
  api/config/packages/doctrine_migrations.yaml
  api/config/packages/framework.yaml
  api/config/packages/monolog.yaml
  api/config/packages/sensio_framework_extra.yaml
  api/config/packages/snc_redis.yaml
  api/config/routing.yaml
  api/config/security.yaml
  api/config/services.yaml
  client/composer.json
Due: none

[DDPB-3288] Fixed symfony 4.x deprecations and upgraded to symfony 4.4
  api/Dockerfile
  api/app/AppKernel.php
  api/composer.json
  api/composer.lock
  api/config/config.yml
  api/config/config_prod.yml
  api/scripts/reset_db_structure.sh
  api/scripts/reset_db_structure_local.sh
  api/src/Command/MigrationsMigrateLockCommand.php
  api/src/Command/MigrationsStatusCheckCommand.php
  api/src/Controller/ManageController.php
  api/src/DataFixtures/AbstractDataFixture.php
  api/src/DataFixtures/AdminUserFixtures.php
  api/src/DataFixtures/PATestUserFixtures.php
  api/src/DataFixtures/ProfTestUserFixtures.php
  api/src/DataFixtures/TestUserFixtures.php
  api/src/DataFixtures/UserFixtures.php
  api/src/DataFixtures/UserPasswordFixtures.php
  client/Dockerfile
  client/app/AppKernel.php
  client/composer.json
  client/composer.lock
Due: api

[DDPB-3288] Fixed migrations but it fails on getting the EM
  api/app/AppKernel.php
  api/config/packages/doctrine_migrations.yml
  api/src/Migrations/Version185.php
  api/src/Migrations/Version225.php
Due: api

[DDPB-3288] Fixed a bunch of circular dependacies and sorted out make commands for doctrine
  api/Dockerfile
  api/app/AppKernel.php
  api/config/bundles.php
  api/config/config.yml
  api/config/config_dev.yml
  api/config/config_prod.yml
  api/config/config_test.yml
  api/config/packages/doctrine.yml
  api/config/packages/doctrine_migrations.yaml
  api/config/packages/doctrine_migrations.yml
  api/config/packages/framework.yml
  api/config/packages/monolog.yml
  api/config/packages/sensio_framework_extra.yml
  api/config/packages/snc_redis.yml
  api/config/routing.yml
  api/config/security.yml
  api/config/services.yaml
  api/config/services.yml
  api/config/services/assemblers.yml
  api/config/services/controllers.yml
  api/config/services/event_listeners.yml
  api/config/services/factories.yml
  api/config/services/rest_handlers.yml
  api/config/services/security.yml
  api/config/services/transformers.yml
  api/src/Controller/ManageController.php
  api/src/v2/Assembler/ClientAssembler.php
  api/src/v2/Assembler/OrganisationAssembler.php
  api/src/v2/Controller/ClientController.php
  api/src/v2/Transformer/ClientTransformer.php
  api/src/v2/Transformer/OrganisationTransformer.php
  client/config/services.yml
Due: api

Expand fixtures to return lays with different status reports
  api/src/TestHelpers/BehatFixtures.php
  api/src/TestHelpers/ReportTestHelper.php
  behat/tests/bootstrap/v2/common/BaseFeatureContext.php
  behat/tests/bootstrap/v2/common/ReportTrait.php
Due: none

DDPB-2914 add bucket backup replication
  environment/disaster_recovery/kms.tf
  environment/s3.tf
  environment/s3_access_logs.tf
  environment/terraform.tfvars.json
  environment/variables.tf
Due: none

Add feedback specs
  behat/tests/bootstrap/v2/feedback/FeedbackFeatureContext.php
  behat/tests/bootstrap/v2/feedback/FeedbackTrait.php
Due: none

Use event delegation rather than directly attaching events to elements
  client/assets/javascripts/__tests__/modules/googleAnalyticsEvents.test.js
  client/assets/javascripts/modules/googleAnalyticsEvents.js
  client/package.json
Due: none

Add defensive checks for gtag and scope gtag to a globals namespace
  client/assets/javascripts/__tests__/modules/googleAnalyticsEvents.test.js
  client/assets/javascripts/modules/googleAnalyticsEvents.js
  client/templates/Layouts/_google_analytics_events_gtag.html.twig
Due: none

Update gtag events to use more granular naming for event details
  client/templates/Client/add.html.twig
  client/templates/User/activate.html.twig
  client/templates/User/details.html.twig
  client/templates/User/register.html.twig
Due: none

Update runbook for GA to use updated naming rules, drop matrix
  client/templates/Client/add.html.twig
  client/templates/User/activate.html.twig
  client/templates/User/details.html.twig
  client/templates/User/register.html.twig
  docs/runbooks/GOOGLE-ANALYTICS.md
Due: none

Drop unused globals file and setup
  client/assets/javascripts/__tests__/globals.js
  client/package.json
Due: none

[DDPB-3288] Added back migrate lock command
  api/src/Command/CleanDataCommand.php
  api/src/Command/MigrationsMigrateLockCommand.php
  api/src/Command/ReportStatusUpdaterCommand.php
  client/composer.json
Due: api

[DDPB-3288] Added type hinting
  api/src/Command/MigrationsMigrateLockCommand.php
Due: api

DDPB-2914 add bucket backup replication (#597)
  environment/disaster_recovery/kms.tf
  environment/s3.tf
  environment/s3_access_logs.tf
  environment/terraform.tfvars.json
  environment/variables.tf
Due: none

Namespace Google Analytics data attributes with ga to avoid future conflicts
  client/assets/javascripts/__tests__/modules/googleAnalyticsEvents.test.js
  client/assets/javascripts/modules/googleAnalyticsEvents.js
  client/src/Twig/FormFieldsExtension.php
Due: client

Update GA runbook with new namespaced attributes
  docs/runbooks/GOOGLE-ANALYTICS.md
Due: none

Add babel class plugin to support use of classes in older browsers
  client/package.json
Due: none

[DDPB-3288] Fixed fixture params inside services
  api/config/services.yml
  api/config/services/defaults.yml
Due: none

Return more details on getting users
  api/src/TestHelpers/BehatFixtures.php
  api/src/TestHelpers/ReportTestHelper.php
  behat/composer.json
  behat/tests/bootstrap/v2/common/BaseFeatureContext.php
  behat/tests/bootstrap/v2/common/CourtOrderTrait.php
  behat/tests/bootstrap/v2/common/ReportTrait.php
  behat/tests/bootstrap/v2/common/UserDetails.php
  behat/tests/bootstrap/v2/feedback/FeedbackTrait.php
  behat/tests/features-v2/feedback/post-submission-feedback.feature
Due: none

Use inbuilt click function over custom approach
  client/assets/javascripts/__tests__/modules/googleAnalyticsEvents.test.js
Due: none

Remove remaining use of simkulateClick
  client/assets/javascripts/__tests__/modules/googleAnalyticsEvents.test.js
Due: none

More scaffolding
  behat/tests/bootstrap/v2/common/BaseFeatureContext.php
  behat/tests/bootstrap/v2/common/ReportTrait.php
  behat/tests/bootstrap/v2/feedback/FeedbackTrait.php
  behat/tests/bootstrap/v2/reporting/sections/ContactsSectionTrait.php
  behat/tests/features-v2/feedback/post-submission-feedback.feature
Due: none

Set logged in user at BaseFeatureContext level when using login behat function
  api/src/TestHelpers/BehatFixtures.php
  behat/tests/bootstrap/v2/common/AuthTrait.php
  behat/tests/bootstrap/v2/common/BaseFeatureContext.php
  behat/tests/bootstrap/v2/common/UserDetails.php
  behat/tests/bootstrap/v2/reporting/sections/ContactsSectionTrait.php
  behat/tests/features-v2/feedback/post-submission-feedback.feature
  client/src/Controller/BehatController.php
Due: client

Add contextual error messages, scaffold more feedback bootstrap code
  api/src/TestHelpers/BehatFixtures.php
  api/src/TestHelpers/ClientTestHelper.php
  api/src/TestHelpers/ReportTestHelper.php
  api/src/TestHelpers/UserTestHelper.php
  behat/tests/behat.yml
  behat/tests/bootstrap/BehatException.php
  behat/tests/bootstrap/v2/common/AuthTrait.php
  behat/tests/bootstrap/v2/common/BaseFeatureContext.php
  behat/tests/bootstrap/v2/common/IShouldBeOnTrait.php
  behat/tests/bootstrap/v2/common/ReportTrait.php
  behat/tests/bootstrap/v2/common/UserDetails.php
  behat/tests/bootstrap/v2/feedback/FeedbackTrait.php
  behat/tests/bootstrap/v2/reporting/sections/ContactsSectionTrait.php
  behat/tests/bootstrap/v2/reporting/sections/ReportingSectionsFeatureContext.php
  behat/tests/features-v2/feedback/post-submission-feedback.feature
  client/src/Controller/BehatController.php
Due: client

Add extra scenario for post submission feedback
  behat/tests/bootstrap/v2/common/IShouldBeOnTrait.php
  behat/tests/features-v2/feedback/post-submission-feedback.feature
  client/src/Controller/Report/ReportController.php
  client/templates/Report/Report/postSubmissionUserResearch.html.twig
  client/translations/report-post-submission-user-research.en.yml
Due: client

Fix tests
  client/src/Twig/FormFieldsExtension.php
  client/templates/Report/_report_form.html.twig
Due: client

[DDPB-3288] Fixed build issue
  api/composer.json
  api/composer.lock
  api/src/Command/ReportStatusUpdaterCommand.php
Due: api

DDPB-3895: Send a Google Analytics event to Google (#594)
  client/.editorconfig
  client/assets/javascripts/__tests__/modules/googleAnalyticsEvents.test.js
  client/assets/javascripts/main.js
  client/assets/javascripts/modules/googleAnalyticsEvents.js
  client/config/config.yml
  client/package-lock.json
  client/package.json
  client/src/Twig/FormFieldsExtension.php
  client/templates/Client/add.html.twig
  client/templates/Components/Form/_button.html.twig
  client/templates/Layouts/_google_analytics_events_gtag.html.twig
  client/templates/Layouts/application.html.twig
  client/templates/Layouts/moj_template.html.twig
  client/templates/Report/_report_form.html.twig
  client/templates/User/activate.html.twig
  client/templates/User/details.html.twig
  client/templates/User/register.html.twig
  docs/PULL_REQUEST_TEMPLATE.md
  docs/runbooks/GOOGLE-ANALYTICS.md
Due: client

Reinstate previous report fixture id and type
  api/src/TestHelpers/BehatFixtures.php
  behat/tests/bootstrap/v2/common/UserDetails.php
  client/src/Controller/BehatController.php
Due: client

Soft deletion of orgs via deleted_at field. Display orgs that are not deleted
  api/DoctrineMigrations/Version225.php
  api/DoctrineMigrations/Version248.php
  api/src/Entity/Organisation.php
  api/src/Entity/Repository/OrganisationRepository.php
  api/src/Service/RestHandler/OrganisationRestHandler.php
  api/src/v2/Controller/OrganisationController.php
Due: api

Create UserResearchSubmission and ResearchType entities
  api/DoctrineMigrations/Version248.php
  api/src/Entity/UserResearch/ResearchType.php
  api/src/Entity/UserResearch/UserResearchSubmission.php
Due: api
