Repository ministryofjustice/opg-digideps: changes, and which Codecov flags are due for each by the changed paths.
All: api, client

codecov.yml:

coverage:
    status:
      project: off
      patch: off

ignore:
  - "api/src/DataFixtures/**/*"  # ignore folders and all its contents
  - "api/src/FixtureFactory/**/*"
  - "api/src/TestHelpers/**/*"
  - "api/src/v2/Fixture/**/*"
  - "client/src/Exception/**/*"
  - "client/src/Resources/**/*"

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null
flags:
  api:
    paths:
      - api/src
    carryforward: false
  client:
    paths:
      - client/src
    carryforward: false

Cover client view feature in behat tests
  api/src/TestHelpers/BehatFixtures.php
  behat/tests/bootstrap/v2/clientManagement/ClientManagementTrait.php
  behat/tests/bootstrap/v2/common/AuthTrait.php
  behat/tests/bootstrap/v2/common/BaseFeatureContext.php
  behat/tests/bootstrap/v2/common/FixturesTrait.php
  behat/tests/bootstrap/v2/common/IVisitAdminTrait.php
  behat/tests/bootstrap/v2/common/IVisitFrontendTrait.php
  behat/tests/bootstrap/v2/common/PageUrlsTrait.php
  behat/tests/bootstrap/v2/common/ReportTrait.php
  behat/tests/bootstrap/v2/common/UserDetails.php
  behat/tests/features-v2/client-management/admin/edit-client.feature
  behat/tests/features-v2/client-management/admin/view-client.feature
Due: none

DDPB-3478 add in all the NDR gubbins
  api/src/Entity/Ndr/Ndr.php
  api/src/TestHelpers/BehatFixtures.php
  api/src/TestHelpers/ReportTestHelper.php
  api/src/v2/Fixture/Controller/FixtureController.php
  behat/tests/bootstrap/v2/common/BaseFeatureContext.php
  behat/tests/bootstrap/v2/common/ElementSelectionTrait.php
  behat/tests/bootstrap/v2/common/IShouldBeOnTrait.php
  behat/tests/bootstrap/v2/common/PageUrlsTrait.php
  behat/tests/bootstrap/v2/common/ReportTrait.php
  behat/tests/bootstrap/v2/reporting/sections/AccountsSectionTrait.php
  behat/tests/bootstrap/v2/reporting/sections/ActionsSectionTrait.php
  behat/tests/bootstrap/v2/reporting/sections/AdditionalInformationSectionTrait.php
  behat/tests/bootstrap/v2/reporting/sections/ContactsSectionTrait.php
  behat/tests/bootstrap/v2/reporting/sections/DocumentsSectionTrait.php
  behat/tests/bootstrap/v2/reporting/sections/GiftsSectionTrait.php
  behat/tests/bootstrap/v2/reporting/sections/ReportingSectionsFeatureContext.php
  behat/tests/features-v2/reporting/sections/accounts/accounts.ndr.feature
  client/translations/validators.en.yml
Due: api

Cover named deputy details in behat tests
  api/src/TestHelpers/BehatFixtures.php
  api/src/TestHelpers/NamedDeputyTestHelper.php
  behat/tests/bootstrap/v2/clientManagement/ClientManagementTrait.php
  behat/tests/bootstrap/v2/common/IVisitAdminTrait.php
  behat/tests/bootstrap/v2/common/UserDetails.php
  behat/tests/features-v2/client-management/admin/view-client.feature
Due: none

Cover discharging clients in behat tests and add elevated-admin to fixture users
  api/src/TestHelpers/BehatFixtures.php
  behat/tests/bootstrap/v2/clientManagement/ClientManagementTrait.php
  behat/tests/bootstrap/v2/common/AuthTrait.php
  behat/tests/bootstrap/v2/common/BaseFeatureContext.php
  behat/tests/bootstrap/v2/common/IShouldBeOnTrait.php
  behat/tests/features-v2/client-management/admin/discharge.feature
Due: none

Drop unused trait
  behat/tests/bootstrap/v2/common/BaseFeatureContext.php
  behat/tests/bootstrap/v2/common/INavigateToTrait.php
Due: none

DDPB-3954 add cross browser tests
  behat/composer.json
  behat/composer.lock
  behat/tests/behat.yml
  behat/tests/bootstrap/v2/common/ElementSelectionTrait.php
  behat/tests/bootstrap/v2/common/IShouldBeOnTrait.php
  behat/tests/bootstrap/v2/reporting/sections/ReportingSectionsFeatureContext.php
  behat/tests/bootstrap/v2/reporting/sections/VisitsAndCareSectionTrait.php
  behat/tests/features-v2/cross-browser/js-basic-test.feature
Due: none

fixing as per comments
  api/src/TestHelpers/BehatFixtures.php
  behat/tests/bootstrap/v2/common/ElementSelectionTrait.php
  behat/tests/bootstrap/v2/reporting/sections/AccountsSectionTrait.php
  behat/tests/bootstrap/v2/reporting/sections/GiftsSectionTrait.php
  behat/tests/bootstrap/v2/reporting/sections/ReportingSectionsFeatureContext.php
  behat/tests/features-v2/reporting/sections/accounts/accounts.feature
  behat/tests/features-v2/reporting/sections/accounts/accounts.ndr.feature
  client/templates/Macros/macros.html.twig
  client/templates/Ndr/Ndr/declaration.html.twig
  client/templates/Report/Report/declaration.html.twig
Due: none

Added behat tests for Visits and Care section of reporting
  behat/tests/behat.yml
  behat/tests/bootstrap/v2/common/IShouldBeOnTrait.php
  behat/tests/bootstrap/v2/reporting/sections/ReportingSectionsFeatureContext.php
  behat/tests/bootstrap/v2/reporting/sections/VisitsCareSectionTrait.php
  behat/tests/features-v2/reporting/sections/visits-care/visits-care.feature
Due: none

Added classes to template for behat test@
  behat/tests/behat.yml
  behat/tests/bootstrap/v2/reporting/sections/ActionsSectionTrait.php
  behat/tests/bootstrap/v2/reporting/sections/VisitsCareSectionTrait.php
  client/templates/Report/VisitsCare/_answers.html.twig
Due: none

Add migration to drop dd_team and user_team tables and remove non lay deputies from deputy_case table
  api/src/Migrations/Version250.php
Due: api

Remove references to dd_team and user_team in code
  api/tests/Fixtures.php
  behat/tests/bootstrap/DbTrait.php
Due: none

DDPB-3956: Remove final traces of teams and clear up team user client associations (#626)
  api/src/Migrations/Version250.php
  api/tests/Fixtures.php
  behat/tests/bootstrap/DbTrait.php
Due: api

Ddpb 3478 - Add accounts behat tests
  api/src/Entity/Ndr/Ndr.php
  api/src/TestHelpers/BehatFixtures.php
  api/src/TestHelpers/ReportTestHelper.php
  api/src/v2/Fixture/Controller/FixtureController.php
  behat/tests/behat.yml
  behat/tests/bootstrap/v2/common/BaseFeatureContext.php
  behat/tests/bootstrap/v2/common/ElementSelectionTrait.php
  behat/tests/bootstrap/v2/common/IShouldBeOnTrait.php
  behat/tests/bootstrap/v2/common/PageUrlsTrait.php
  behat/tests/bootstrap/v2/common/ReportTrait.php
  behat/tests/bootstrap/v2/reporting/sections/AccountsSectionTrait.php
  behat/tests/bootstrap/v2/reporting/sections/ActionsSectionTrait.php
  behat/tests/bootstrap/v2/reporting/sections/AdditionalInformationSectionTrait.php
  behat/tests/bootstrap/v2/reporting/sections/ContactsSectionTrait.php
  behat/tests/bootstrap/v2/reporting/sections/DocumentsSectionTrait.php
  behat/tests/bootstrap/v2/reporting/sections/GiftsSectionTrait.php
  behat/tests/bootstrap/v2/reporting/sections/ReportingSectionsFeatureContext.php
  behat/tests/features-v2/reporting/sections/accounts/accounts.feature
  behat/tests/features-v2/reporting/sections/accounts/accounts.ndr.feature
  behat/tests/features-v2/reporting/sections/gifts/gifts.feature
  client/templates/Macros/macros.html.twig
  client/templates/Ndr/Ndr/declaration.html.twig
  client/templates/Report/Report/declaration.html.twig
  client/translations/validators.en.yml
Due: api

Added in implementation left out from merge
  behat/tests/bootstrap/v2/common/IShouldBeOnTrait.php
  behat/tests/bootstrap/v2/reporting/sections/ReportingSectionsFeatureContext.php
Due: none

DDPB-3954 create some basic browserstack tests for java checks
  behat/tests/behat.yml
  behat/tests/bootstrap/v2/common/ElementSelectionTrait.php
  behat/tests/bootstrap/v2/common/IShouldBeOnTrait.php
  behat/tests/bootstrap/v2/reporting/sections/VisitsAndCareSectionTrait.php
  behat/tests/features-v2/cross-browser/js-basic-test.feature
  docs/CROSS_BROWSER_TESTS.md
Due: none

Move I visit steps to IVisitTrait
  behat/tests/bootstrap/v2/common/BaseFeatureContext.php
  behat/tests/bootstrap/v2/common/IVisitFrontendTrait.php
  behat/tests/bootstrap/v2/reporting/sections/AccountsSectionTrait.php
  behat/tests/bootstrap/v2/reporting/sections/ReportingSectionsFeatureContext.php
  behat/tests/features-v2/reporting/sections/accounts/accounts.feature
  behat/tests/features-v2/reporting/sections/accounts/accounts.ndr.feature
Due: none

Fix fixtures and move navigation steps into INavigateTo trait
  api/src/TestHelpers/BehatFixtures.php
  behat/tests/bootstrap/v2/common/BaseFeatureContext.php
  behat/tests/bootstrap/v2/common/INavigateToAdminTrait.php
Due: none

Fix fixtures
  api/src/TestHelpers/BehatFixtures.php
  behat/tests/bootstrap/v2/common/BaseFeatureContext.php
  behat/tests/bootstrap/v2/common/ReportTrait.php
  behat/tests/bootstrap/v2/reporting/sections/ReportingSectionsFeatureContext.php
  client/src/Controller/BehatController.php
Due: client

Set PHPCS to PSR12
  .pre-commit-config.yaml
  behat/tests/bootstrap/v2/clientManagement/ClientManagementFeatureContext.php
  behat/tests/bootstrap/v2/clientManagement/ClientManagementTrait.php
Due: none

Fix consts
  behat/tests/bootstrap/v2/common/BaseFeatureContext.php
Due: none

Add Symfony to PHPCS ruleset
  .pre-commit-config.yaml
  behat/tests/bootstrap/v2/clientManagement/ClientManagementTrait.php
Due: none

Add PHPStan to precommit hooks
  .pre-commit-config.yaml
Due: none

Add PHPStan config file to top level for use with pre-commit
  phpstan.neon
Due: none

Add phpstan make commands
  Makefile
  api/phpstan.neon
  client/phpstan.neon
  phpstan.neon
Due: none

Revert whitespace
  behat/tests/bootstrap/v2/common/BaseFeatureContext.php
Due: none

Update path to phpunit in test scripts
  Makefile
  api/scripts/apiunittest.sh
Due: none

Fix client unit tests
  client/scripts/client-unit-tests.sh
Due: none

amend for comments
  behat/tests/bootstrap/v2/common/DebugTrait.php
  behat/tests/bootstrap/v2/reporting/sections/AccountsSectionTrait.php
  behat/tests/bootstrap/v2/reporting/sections/ActionsSectionTrait.php
  behat/tests/bootstrap/v2/reporting/sections/GiftsSectionTrait.php
  behat/tests/bootstrap/v2/reporting/sections/ReportingSectionsFeatureContext.php
  behat/tests/bootstrap/v2/reporting/sections/VisitsAndCareSectionTrait.php
  behat/tests/features-v2/cross-browser/js-basic-test.feature
Due: none

Add checks for client counts on search results
  api/src/v2/Fixture/Controller/FixtureController.php
  behat/tests/bootstrap/v2/clientManagement/ClientManagementTrait.php
  behat/tests/bootstrap/v2/common/FixturesTrait.php
  behat/tests/features-v2/client-management/admin/search-client.feature
Due: none

fixed comments
  behat/tests/bootstrap/v2/common/AssertTrait.php
  behat/tests/bootstrap/v2/common/BaseFeatureContext.php
  behat/tests/bootstrap/v2/common/DebugTrait.php
  behat/tests/bootstrap/v2/reporting/sections/AccountsSectionTrait.php
  behat/tests/bootstrap/v2/reporting/sections/ActionsSectionTrait.php
  behat/tests/bootstrap/v2/reporting/sections/GiftsSectionTrait.php
Due: none

Link User to Satisfaction, change relationship between User and Satisfaction/UserResearch to OneToMany and add created at to UserResearch
  api/src/Entity/Satisfaction.php
  api/src/Entity/User.php
  api/src/Entity/UserResearch/UserResearchResponse.php
  api/src/Migrations/Version251.php
Due: api

Set user when creating Satisfaction reponses
  api/src/Controller/SatisfactionController.php
Due: api

Mirror api entities in client for Satisfaction and UserResearchResponse
  client/src/Entity/Report/Satisfaction.php
  client/src/Entity/UserResearch/UserResearchResponse.php
Due: client

DDPB-3946: Behat rewrite - Admin client management (#625)
  .pre-commit-config.yaml
  api/src/TestHelpers/BehatFixtures.php
  api/src/TestHelpers/NamedDeputyTestHelper.php
  api/src/v2/Fixture/Controller/FixtureController.php
  behat/tests/behat.yml
  behat/tests/bootstrap/Common/AuthenticationTrait.php
  behat/tests/bootstrap/Common/CourtOrderTrait.php
  behat/tests/bootstrap/Common/ReportTrait.php
  behat/tests/bootstrap/DeputyManagement/DeputyManagementTrait.php
  behat/tests/bootstrap/OrganisationManagement/OrganisationManagementTrait.php
  behat/tests/bootstrap/UserManagement/UserManagementTrait.php
  behat/tests/bootstrap/UserTrait.php
  behat/tests/bootstrap/v2/clientManagement/ClientManagementFeatureContext.php
  behat/tests/bootstrap/v2/clientManagement/ClientManagementTrait.php
  behat/tests/bootstrap/v2/common/AuthTrait.php
  behat/tests/bootstrap/v2/common/BaseFeatureContext.php
  behat/tests/bootstrap/v2/common/FixturesTrait.php
  behat/tests/bootstrap/v2/common/INavigateToAdminTrait.php
  behat/tests/bootstrap/v2/common/IShouldBeOnTrait.php
  behat/tests/bootstrap/v2/common/IVisitAdminTrait.php
  behat/tests/bootstrap/v2/common/IVisitFrontendTrait.php
  behat/tests/bootstrap/v2/common/IVisitTrait.php
  behat/tests/bootstrap/v2/common/PageUrlsTrait.php
  behat/tests/bootstrap/v2/common/ReportTrait.php
  behat/tests/bootstrap/v2/common/UserDetails.php
  behat/tests/bootstrap/v2/reporting/sections/AccountsSectionTrait.php
  behat/tests/bootstrap/v2/reporting/sections/ReportingSectionsFeatureContext.php
  behat/tests/features-v2/acl/admin/super-admin-only.feature
  behat/tests/features-v2/client-management/admin/discharge.feature
  behat/tests/features-v2/client-management/admin/edit-client.feature
  behat/tests/features-v2/client-management/admin/search-client.feature
  behat/tests/features-v2/client-management/admin/view-client.feature
  behat/tests/features-v2/reporting/sections/accounts/accounts.feature
  behat/tests/features-v2/reporting/sections/accounts/accounts.ndr.feature
  client/src/Controller/Admin/FixtureController.php
  client/src/Controller/BehatController.php
Due: client

Prefer linking UserResearchResponse to Satisfaction over adding User to Satisfaction
  api/src/Entity/Satisfaction.php
  api/src/Entity/User.php
  api/src/Entity/UserResearch/UserResearchResponse.php
  api/src/Migrations/Version251.php
Due: api

Ddpb 3954 - add basic browserstack check for v2 JS issue
  behat/tests/behat.yml
  behat/tests/bootstrap/v2/common/AssertTrait.php
  behat/tests/bootstrap/v2/common/BaseFeatureContext.php
  behat/tests/bootstrap/v2/common/ElementSelectionTrait.php
  behat/tests/bootstrap/v2/common/IShouldBeOnTrait.php
  behat/tests/bootstrap/v2/reporting/sections/AccountsSectionTrait.php
  behat/tests/bootstrap/v2/reporting/sections/ActionsSectionTrait.php
  behat/tests/bootstrap/v2/reporting/sections/GiftsSectionTrait.php
  behat/tests/bootstrap/v2/reporting/sections/ReportingSectionsFeatureContext.php
  behat/tests/bootstrap/v2/reporting/sections/VisitsAndCareSectionTrait.php
  behat/tests/features-v2/cross-browser/js-basic-test.feature
  docs/CROSS_BROWSER_TESTS.md
Due: none

Rework entity relationship to store satisfaction against userResearchResponse
  api/src/Controller/SatisfactionController.php
  api/src/Controller/UserResearchController.php
  api/src/Entity/Satisfaction.php
  api/src/Entity/UserResearch/UserResearchResponse.php
  api/src/Factory/UserResearchResponseFactory.php
  api/src/Migrations/Version251.php
  client/src/Controller/Report/ReportController.php
  client/src/Controller/UserResearchController.php
  client/src/Entity/Report/Satisfaction.php
  client/src/Entity/UserResearch/UserResearchResponse.php
  client/src/Service/Client/Internal/SatisfactionApi.php
Due: api, client
