Repository ministryofjustice/opg-digideps: changes, and which Codecov flags are due for each by the changed paths.
All: api, client

PR comments tidy up
  api/Dockerfile
  composer.json
  docker-compose.dev.yml
Due: none

[DDPB-3481] adds behat tests for money in high assets accounts (#630)
  .gitignore
  behat/tests/behat.yml
  behat/tests/bootstrap/v2/reporting/sections/MoneyInHighAssetsTrait.php
  behat/tests/bootstrap/v2/reporting/sections/ReportingSectionsFeatureContext.php
  behat/tests/features-v2/reporting/sections/money-in-high-assets/money-in.high-assets.feature
  client/src/Entity/Ndr/Debt.php
  client/src/Entity/Ndr/Expense.php
  client/src/Entity/Report/Debt.php
  client/src/Entity/Report/Expense.php
  client/src/Entity/Report/Gift.php
  client/src/Entity/Report/MoneyTransaction.php
  client/src/Entity/Report/MoneyTransfer.php
  client/src/Entity/Report/ProfDeputyEstimateCost.php
  client/src/Entity/Report/ProfDeputyInterimCost.php
  client/templates/Report/MoneyIn/_list.html.twig
  client/translations/validators.en.yml
  docker-compose.override.yml
Due: client

Remove unused property
  api/tests/Behat/bootstrap/v2/Common/BaseFeatureContext.php
Due: none

Setup admin management suite
  api/tests/Behat/behat.yml
  api/tests/Behat/bootstrap/AdminManagement/AdminManagementFeatureContext.php
  api/tests/Behat/bootstrap/AdminManagement/AdminManagementTrait.php
Due: none

Move DeputyManagement to v2 bootstrap folder
  api/tests/Behat/behat.yml
  api/tests/Behat/bootstrap/AdminManagement/AdminManagementFeatureContext.php
  api/tests/Behat/bootstrap/AdminManagement/AdminManagementTrait.php
  api/tests/Behat/bootstrap/v2/AdminManagement/AdminManagementFeatureContext.php
  api/tests/Behat/bootstrap/v2/AdminManagement/AdminManagementTrait.php
  api/tests/Behat/bootstrap/v2/DeputyManagement/DeputyManagementFeatureContext.php
  api/tests/Behat/bootstrap/v2/DeputyManagement/DeputyManagementTrait.php
Due: none

Add initial scenarios for admin management
  api/tests/Behat/behat.yml
  api/tests/Behat/bootstrap/v2/Common/FixturesTrait.php
  api/tests/Behat/bootstrap/v2/Common/INavigateToAdminTrait.php
  api/tests/Behat/bootstrap/v2/Helpers/FixtureHelper.php
  api/tests/Behat/features-v2/admin-management/add-user.feature
  api/tests/Behat/features-v2/client-management/admin/discharge.feature
Due: none

Break out asserting on available options into assertTrait
  api/tests/Behat/bootstrap/v2/AdminManagement/AdminManagementTrait.php
  api/tests/Behat/bootstrap/v2/Common/AssertTrait.php
  api/tests/Behat/bootstrap/v2/Common/INavigateToAdminTrait.php
  api/tests/Behat/features-v2/admin-management/add-user.feature
Due: none

Fail test on being able to add elevated admins
  api/tests/Behat/bootstrap/v2/AdminManagement/AdminManagementTrait.php
Due: none

Enable super admins to add elevated admins
  client/src/Form/Admin/AddUserType.php
Due: client

DDPB-3980 add a helper function to make testing more consistent
  behat/tests/bootstrap/v2/common/BaseFeatureContext.php
  behat/tests/bootstrap/v2/common/ExpectedResultsTrait.php
  behat/tests/bootstrap/v2/common/IShouldBeOnTrait.php
  behat/tests/bootstrap/v2/reporting/sections/AccountsSectionTrait.php
  behat/tests/bootstrap/v2/reporting/sections/ActionsSectionTrait.php
  behat/tests/bootstrap/v2/reporting/sections/AdditionalInformationSectionTrait.php
  behat/tests/bootstrap/v2/reporting/sections/GiftsSectionTrait.php
  behat/tests/bootstrap/v2/reporting/sections/MoneyOutShortSectionTrait.php
  behat/tests/bootstrap/v2/reporting/sections/ReportingSectionsFeatureContext.php
  behat/tests/bootstrap/v2/reporting/sections/VisitsCareSectionTrait.php
  behat/tests/features-v2/reporting/sections/actions/actions.feature
Due: none

DDPB-3982 fix bug with terraform apply
  behat/Dockerfile
  docker-compose.yml
  environment/ecr.tf
  environment/scan.tf
  environment/smoke_test.tf
Due: none

DDPB-3982 fix bug with terraform apply (#644)
  behat/Dockerfile
  docker-compose.yml
  environment/ecr.tf
  environment/scan.tf
  environment/smoke_test.tf
Due: none

Add elevated admin roles to security config and cover adding admin users
  api/config/packages/security.yml
  api/src/Controller/AuthController.php
  api/src/Entity/User.php
  api/tests/Behat/bootstrap/v2/AdminManagement/AdminManagementTrait.php
  api/tests/Behat/bootstrap/v2/Common/AssertTrait.php
  api/tests/Behat/bootstrap/v2/Common/BaseFeatureContext.php
  api/tests/Behat/bootstrap/v2/Common/IShouldBeOnAdminTrait.php
  api/tests/Behat/bootstrap/v2/Common/IShouldBeOnFrontendTrait.php
  api/tests/Behat/bootstrap/v2/Common/IVisitAdminTrait.php
  api/tests/Behat/bootstrap/v2/Common/PageUrlsTrait.php
  api/tests/Behat/features-v2/admin-management/add-user.feature
  client/config/packages/security.yml
Due: api

DDPB-3984 update tf version
  .circleci/config.yml
Due: none

Cover deleting users
  api/tests/Behat/bootstrap/v2/AdminManagement/AdminManagementTrait.php
  api/tests/Behat/bootstrap/v2/ClientManagement/ClientManagementTrait.php
  api/tests/Behat/bootstrap/v2/Common/AssertTrait.php
  api/tests/Behat/bootstrap/v2/Common/IVisitAdminTrait.php
  api/tests/Behat/bootstrap/v2/Common/PageUrlsTrait.php
  api/tests/Behat/bootstrap/v2/Common/UserDetails.php
  api/tests/Behat/bootstrap/v2/Helpers/FixtureHelper.php
  api/tests/Behat/features-v2/admin-management/add-user.feature
  api/tests/Behat/features-v2/admin-management/delete-others.feature
  api/tests/Behat/features-v2/client-management/admin/discharge.feature
  api/tests/Behat/features-v2/client-management/admin/search-client.feature
  api/tests/Behat/features-v2/client-management/admin/view-client.feature
Due: none

DDPB-3984 update tf version (#645)
  .circleci/config.yml
Due: none

actually cover deleting users
  api/src/Controller/UserController.php
  api/src/Security/UserVoter.php
  api/src/TestHelpers/UserTestHelper.php
  api/tests/Behat/bootstrap/v2/AdminManagement/AdminManagementTrait.php
  api/tests/Behat/bootstrap/v2/Common/AssertTrait.php
  api/tests/Behat/bootstrap/v2/Helpers/FixtureHelper.php
  api/tests/Behat/features-v2/admin-management/delete-others.feature
  client/src/Security/UserVoter.php
Due: api, client

clarified the main function
  api/tests/Behat/bootstrap/v2/Common/ExpectedResultsTrait.php
Due: none

Cover updating own details
  api/tests/Behat/bootstrap/v2/AdminManagement/AdminManagementTrait.php
  api/tests/Behat/bootstrap/v2/Common/INavigateToAdminTrait.php
  api/tests/Behat/bootstrap/v2/Common/IVisitAdminTrait.php
  api/tests/Behat/bootstrap/v2/Common/PageUrlsTrait.php
  api/tests/Behat/features-v2/admin-management/add-user.feature
  api/tests/Behat/features-v2/admin-management/delete-others.feature
  api/tests/Behat/features-v2/admin-management/edit-myself.feature
  client/src/Entity/User.php
  client/src/Service/Redirector.php
Due: client

Cover most of updating user
  api/tests/Behat/bootstrap/v2/AdminManagement/AdminManagementTrait.php
  api/tests/Behat/bootstrap/v2/Common/AlertsTrait.php
  api/tests/Behat/bootstrap/v2/Common/PageUrlsTrait.php
  api/tests/Behat/bootstrap/v2/Helpers/FixtureHelper.php
  api/tests/Behat/features-v2/admin-management/edit-myself.feature
  api/tests/Behat/features-v2/admin-management/edit-others.feature
Due: none

fix comments
  api/tests/Behat/bootstrap/v2/Common/ExpectedResultsTrait.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/ActionsSectionTrait.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/AdditionalInformationSectionTrait.php
Due: none

remove commented line
  api/tests/Behat/bootstrap/v2/Reporting/Sections/ActionsSectionTrait.php
Due: none

Cover remaining areas in behat tests
  api/tests/Behat/behat.yml
  api/tests/Behat/bootstrap/ACL/ACLFeatureContext.php
  api/tests/Behat/bootstrap/v2/ACL/ACLFeatureContext.php
  api/tests/Behat/bootstrap/v2/ACL/ACLTrait.php
  api/tests/Behat/bootstrap/v2/AdminManagement/AdminManagementTrait.php
  api/tests/Behat/bootstrap/v2/Common/AssertTrait.php
  api/tests/Behat/bootstrap/v2/Common/BaseFeatureContext.php
  api/tests/Behat/bootstrap/v2/Common/INavigateToAdminTrait.php
  api/tests/Behat/bootstrap/v2/Common/IVisitAdminTrait.php
  api/tests/Behat/bootstrap/v2/Common/PageUrlsTrait.php
  api/tests/Behat/bootstrap/v2/Common/UserExistsTrait.php
  api/tests/Behat/bootstrap/v2/DeputyManagement/DeputyManagementFeatureContext.php
  api/tests/Behat/bootstrap/v2/DeputyManagement/DeputyManagementTrait.php
  api/tests/Behat/features-v2/acl/admin/super-admin-only.feature
  api/tests/Behat/features-v2/admin-management/edit-myself.feature
  api/tests/Behat/features-v2/admin-management/edit-others.feature
  api/tests/Behat/features-v2/deputy-management/admin/edit-user.feature
  client/src/Controller/Admin/IndexController.php
  client/src/Form/Admin/EditUserType.php
  client/templates/Admin/Index/viewUser.html.twig
Due: client

Ddpb 3980 add a helper function to make testing more consistent
  api/tests/Behat/bootstrap/v2/Common/BaseFeatureContext.php
  api/tests/Behat/bootstrap/v2/Common/ExpectedResultsTrait.php
  api/tests/Behat/bootstrap/v2/Common/IShouldBeOnTrait.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/AccountsSectionTrait.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/ActionsSectionTrait.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/AdditionalInformationSectionTrait.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/GiftsSectionTrait.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/MoneyOutShortSectionTrait.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/ReportingSectionsFeatureContext.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/VisitsCareSectionTrait.php
  api/tests/Behat/features-v2/reporting/sections/actions/actions.feature
Due: none

Update from elevated admin to admin manager and fix tests
  Makefile
  api/config/packages/security.yml
  api/src/Controller/UserController.php
  api/src/DataFixtures/AdminUserFixtures.php
  api/src/Entity/User.php
  api/src/Security/ClientVoter.php
  api/src/Security/UserVoter.php
  api/tests/Behat/bootstrap/v2/AdminManagement/AdminManagementTrait.php
  api/tests/Behat/bootstrap/v2/Common/AuthTrait.php
  api/tests/Behat/bootstrap/v2/Common/BaseFeatureContext.php
  api/tests/Behat/bootstrap/v2/Common/FixturesTrait.php
  api/tests/Behat/bootstrap/v2/Common/IVisitAdminTrait.php
  api/tests/Behat/bootstrap/v2/Common/PageUrlsTrait.php
  api/tests/Behat/bootstrap/v2/Common/UserDetails.php
  api/tests/Behat/bootstrap/v2/DeputyManagement/DeputyManagementTrait.php
  api/tests/Behat/bootstrap/v2/Helpers/FixtureHelper.php
  api/tests/Behat/features-v2/acl/admin/super-admin-only.feature
  api/tests/Behat/features-v2/admin-management/add-user.feature
  api/tests/Behat/features-v2/admin-management/delete-others.feature
  api/tests/Behat/features-v2/admin-management/edit-myself.feature
  api/tests/Behat/features-v2/admin-management/edit-others.feature
  api/tests/Behat/features-v2/client-management/admin/discharge.feature
  api/tests/Behat/features-v2/deputy-management/admin/edit-user.feature
  api/tests/Unit/Security/ClientVoterTest.php
  api/tests/Unit/Security/UserVoterTest.php
  behat/tests/features-v2/deputy-management/admin/add-user.feature
  client/config/packages/security.yml
  client/src/Controller/Admin/IndexController.php
  client/src/Entity/User.php
  client/src/Form/Admin/AddUserType.php
  client/src/Form/Admin/EditUserType.php
  client/src/Security/ClientVoter.php
  client/src/Security/UserVoter.php
  client/src/TestHelpers/UserHelpers.php
  client/templates/Admin/Index/viewUser.html.twig
  client/tests/phpunit/Security/ClientVoterTest.php
  client/tests/phpunit/Security/UserVoterTest.php
Due: api, client

Fix old behat
  api/tests/Behat/features/pa/01-registration-steps/01-admin-add-pa-users-and-activate.feature
  api/tests/Behat/features/prof/01-registration-steps/01-admin-add-pa-users-and-activate.feature
Due: none

Add missing translation for admin managers
  client/translations/admin.en.yml
Due: none

DDPB-3485 behat tests for lifestyle section
  api/tests/Behat/behat.yml
  api/tests/Behat/bootstrap/v2/Common/BaseFeatureContext.php
  api/tests/Behat/bootstrap/v2/Common/IShouldBeOnTrait.php
  api/tests/Behat/bootstrap/v2/Common/IVisitFrontendTrait.php
  api/tests/Behat/bootstrap/v2/Common/PageUrlsTrait.php
  api/tests/Behat/bootstrap/v2/Common/ReportTrait.php
  api/tests/Behat/bootstrap/v2/Helpers/FixtureHelper.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/HealthAndLifestyleTrait.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/ReportingSectionsFeatureContext.php
  api/tests/Behat/features-v2/reporting/sections/health-lifestyle/health-lifestyle.feature
  api/tests/Behat/run-smoke-tests.sh
Due: none

[DDPB-3817] Implement the new terms of use for all deputies
  api/src/Controller/UserController.php
  api/src/Entity/User.php
  client/src/Controller/Org/IndexController.php
  client/src/Controller/UserController.php
  client/src/Service/Client/Internal/UserApi.php
Due: api, client

[DDPB-3817] Fixed integration tests failing due to users not agreeing to terms
  api/src/DataFixtures/UserFixtures.php
  api/src/Entity/User.php
  api/src/TestHelpers/UserTestHelper.php
Due: api

[DDPB-3817] Fixed migration version number
  api/src/Migrations/Version253.php
Due: api

[DDPB-3817] addressed review comments
  api/src/Controller/UserController.php
  api/src/Entity/User.php
  client/src/Controller/Org/IndexController.php
  client/src/Controller/UserController.php
Due: api, client

[DDPB-3817] made private method public
  api/src/Entity/User.php
  api/tests/Unit/Controller/UserControllerTest.php
Due: api

[DDPB-3817] Another place where we needed agree terms
  api/src/DataFixtures/ProfTestUserFixtures.php
Due: none

[DDPB-3817] Fixed more integration tests that were failing
  api/tests/Behat/features/pa/01-registration-steps/01-admin-add-pa-users-and-activate.feature
Due: none

[DDPB-3817] fixed isset statement
  api/src/DataFixtures/PATestUserFixtures.php
  api/src/DataFixtures/ProfTestUserFixtures.php
Due: none

Path conditions:
  api: any of: api/src, but not: api/src/DataFixtures/**/*, api/src/FixtureFactory/**/*, api/src/TestHelpers/**/*, api/src/v2/Fixture/**/*, client/src/Exception/**/*, client/src/Resources/**/*
  client: any of: client/src, but not: api/src/DataFixtures/**/*, api/src/FixtureFactory/**/*, api/src/TestHelpers/**/*, api/src/v2/Fixture/**/*, client/src/Exception/**/*, client/src/Resources/**/*
