Repository ministryofjustice/opg-digideps: changes, and which Codecov flags are due for each by the changed paths.
All: api, client

codecov.yml:

coverage:
    status:
      project: off
      patch: off

ignore:
  - "api/src/DataFixtures/**/*"  # ignore folders and all its contents
  - "api/src/FixtureFactory/**/*"
  - "api/src/TestHelpers/**/*"
  - "api/src/v2/Fixture/**/*"
  - "client/src/Exception/**/*"
  - "client/src/Resources/**/*"

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null
flags:
  api:
    paths:
      - api/src
    carryforward: false
  client:
    paths:
      - client/src
    carryforward: false

Updated timeout length for processing chunk requests, added logging for successful and erroneous chunk processing (#1333)
  client/src/Command/ProcessOrgCSVCommand.php
Due: client

change retention in days for performance insights
  environment/ecs.tf
Due: none

change retention in days for performance insights (#1334)
  environment/ecs.tf
Due: none

DDPB-4687 - Corrects query to include reports which are not submitted yet
  api/src/Repository/ReportRepository.php
Due: api

DDPB-3295 parallellise unit tests (#1335)
  .github/workflows/_codecov.yml
  .github/workflows/_unit-tests-api.yml
  .github/workflows/_unit-tests-client.yml
  .github/workflows/workflow-path-to-live.yml
  .github/workflows/workflow-pull-request-path.yml
  Makefile
  api/Dockerfile
  api/config/packages/test/doctrine.yml
  api/scripts/api_unit_test.sh
  api/scripts/apiunittest.sh
  api/tests/Unit/Fixtures.php
  docker-compose.ci.api-unit-tests.yml
  docker-compose.ci.client-unit-tests.yml
  docker-compose.ci.test.yml
  docker-compose.yml
  docker/local-dockerfiles/localstack.Dockerfile
Due: none

DDPB-3295 path to live amendment
  .github/workflows/_codecov.yml
  .github/workflows/workflow-path-to-live.yml
Due: none

DDPB-3295 path to live amendment (#1338)
  .github/workflows/_codecov.yml
  .github/workflows/workflow-path-to-live.yml
Due: none

path to live syntax fix
  .github/workflows/workflow-path-to-live.yml
Due: none

DDPB-4687 - Makes sure to retrieve correct values & sets time on default values
  api/src/Controller/StatsController.php
  api/src/Repository/ReportRepository.php
Due: api

test custom command created
  client/src/Command/UserRetentionPolicyCommand.php
Due: client

New branch with fixes to org csv command
  client/src/Command/ProcessOrgCSVCommand.php
Due: client

DDPB-4686b - Fixture data for user test accounts on Training environment (#1340)
  api/src/DataFixtures/AdminUserFixtures.php
  api/src/DataFixtures/LayUserFixtures.php
  api/src/DataFixtures/PATestUserFixtures.php
  api/src/DataFixtures/PAUserFixtures.php
  api/src/DataFixtures/ProfTestUserFixtures.php
  api/src/DataFixtures/ProfUserFixtures.php
  api/src/DataFixtures/UserFixtures.php
Due: none

make nginx config main block internal
  .github/workflows/_unit-tests-client.yml
  .github/workflows/workflow-pull-request-path.yml
  client/docker/web/confd/templates/app.conf.tmpl
Due: none

DDPB-4687 - Removes debug statement & adds missing row to csv
  client/src/Controller/Admin/StatsController.php
  client/src/Service/Csv/ReportImbalanceCsvGenerator.php
Due: client

DDPB-3881 update content security policy
  client/docker/confd/templates/app.conf.tmpl
Due: none

existing function refactored and delete query added
  api/src/Repository/UserRepository.php
  client/tests/phpunit/Command/UserRetentionPolicyCommandTest.php
Due: api

delete function added to call repository queries
  api/src/Controller/UserController.php
Due: api

custom command moved to api which now holds logic
  api/src/Command/UserRetentionPolicyCommand.php
  api/src/Controller/UserController.php
  client/src/Command/UserRetentionPolicyCommand.php
Due: api, client

native query added
  api/src/Repository/UserRepository.php
Due: api

audit log created for automated admin deletion
  api/src/Event/UserRetentionPolicyCommandEvent.php
  api/src/EventSubscriber/UserRetentionPolicyCommandSubscriber.php
  api/src/Service/Audit/AuditEvents.php
Due: api

general and audit log added plus stricter type checking
  api/src/Command/UserRetentionPolicyCommand.php
Due: api

retention event test passes
  api/tests/Unit/Event/UserRetentionPolicyCommandEventTest.php
Due: none

logging updated with deleted user count and passing unit test cases added
  api/src/Command/UserRetentionPolicyCommand.php
  api/tests/Unit/Command/UserRetentionPolicyCommandTest.php
  client/tests/phpunit/Command/UserRetentionPolicyCommandTest.php
Due: api

delete repository query test passes
  api/tests/Unit/Entity/Repository/UserRepositoryTest.php
Due: none

subscriber test passes
  api/src/EventSubscriber/UserRetentionPolicyCommandSubscriber.php
  api/tests/Unit/EventSubscriber/UserRetentionPolicyCommandSubscriberTest.php
Due: api

self-review code clean up
  api/src/Command/UserRetentionPolicyCommand.php
  api/src/EventSubscriber/UserRetentionPolicyCommandSubscriber.php
  api/src/Repository/UserRepository.php
  api/src/Service/Audit/AuditEvents.php
  api/tests/Unit/Command/UserRetentionPolicyCommandTest.php
  api/tests/Unit/Entity/Repository/UserRepositoryTest.php
Due: api

DDPB-4728b: Adding placeholder to checklists for deleted users (#1339)
  api/tests/Behat/bootstrap/v2/AdminManagement/AdminManagementTrait.php
  api/tests/Behat/bootstrap/v2/Common/IVisitAdminTrait.php
  api/tests/Behat/bootstrap/v2/Reporting/Admin/ReportingAdminFeatureContext.php
  api/tests/Behat/bootstrap/v2/Reporting/Admin/ReportingChecklistTrait.php
  api/tests/Behat/features-v2/report-checklist/checklist-synchronisation.feature
  client/src/Command/ProcessOrgCSVCommand.php
  client/templates/Admin/Client/Report/sidebar/_statuses.html.twig
  client/translations/common.en.yml
Due: client

updated deprecated prophecy trait
  client/tests/phpunit/EventSubscriber/DeputyChangedOrgSubscriberTest.php
Due: none

DDPB-4757 - add .editorconfig file
  .editorconfig
Due: none
