Repository ministryofjustice/opg-digideps: changes, and which Codecov flags are due for each by the changed paths.
All: api, client

codecov.yml:

coverage:
    status:
      project: off
      patch: off

ignore:
  - "api/src/DataFixtures/**/*"  # ignore folders and all its contents
  - "api/src/FixtureFactory/**/*"
  - "api/src/TestHelpers/**/*"
  - "api/src/v2/Fixture/**/*"
  - "client/src/Exception/**/*"
  - "client/src/Resources/**/*"

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null
flags:
  api:
    paths:
      - api/src
    carryforward: false
  client:
    paths:
      - client/src
    carryforward: false

Updating logic to allow court order date changes for named deputy changes within the same org
  api/src/v2/Registration/Uploader/OrgDeputyshipUploader.php
  api/tests/Unit/v2/Registration/Uploader/OrgDeputyshipUploaderTest.php
Due: api

DDPB-4474: Accommodate deputies who move firms and take their clients with them (#907)
  api/src/v2/Registration/Uploader/OrgDeputyshipUploader.php
  api/tests/Behat/features-v2/registration/ingest.org.sirius.feature
  api/tests/Unit/v2/Registration/Uploader/OrgDeputyshipUploaderTest.php
  docker-compose.dev.yml
Due: api

add OrderBy annotation to reports property
  api/src/Entity/Client.php
Due: api

[DDPB-4482] removed pronoun from translation file
  client/translations/ndr-income-benefits.en.yml
Due: none

[DDPB-4482] removed pronoun from translation file (#909)
  client/translations/ndr-income-benefits.en.yml
Due: none

add OrderBy annotation to reports property (#908)
  api/src/Entity/Client.php
Due: api

Ddpb 4035b dependabot weekly updates (#904)
  .circleci/config.yml
  .github/dependabot.yml
  docker-compose.dev.yml
  docker-compose.override.yml
  docker-compose.yml
Due: none

DDPB-4421 make buckets encrypted by user managed kms key
  .pre-commit-config.yaml
  environment/admin.tf
  environment/front.tf
  environment/s3.tf
  environment/s3_bucket/.terraform.lock.hcl
  environment/s3_bucket/data_sources.tf
  environment/s3_bucket/main.tf
  environment/s3_bucket/replication.tf
  environment/s3_bucket/variables.tf
Due: none

DDPB-4035 fix for versioning strategy
  .github/dependabot.yml
Due: none

attempt a run without the kms to check that all moves working
  environment/s3.tf
  environment/s3_access_logs.tf
  environment/s3_bucket/data_sources.tf
  environment/s3_iam_replication.tf
Due: none

add kms encryption
  environment/s3.tf
  environment/s3_iam_replication.tf
  environment/s3_kms.tf
Due: none

make resource class medium to stop exit 137 errors
  .circleci/config.yml
Due: none

Added functionality to automatically update named deputy emails on Org CSV upload. Updated tests accordingly.
  api/src/Entity/NamedDeputy.php
  api/src/v2/Registration/Uploader/OrgDeputyshipUploader.php
  api/tests/Behat/bootstrap/v2/Registration/IngestTrait.php
  api/tests/Behat/features-v2/registration/ingest.org.sirius.feature
  api/tests/Behat/fixtures/sirius-csvs/org-2-rows-1-person-deputy-1-org-deputy-updated-emails.csv
  api/tests/Unit/v2/Registration/Uploader/OrgDeputyshipUploaderTest.php
Due: api

pass through fake creds for the tests as seems to be using the ci ones
  .circleci/config.yml
  client/scripts/client-unit-tests.sh
  client/tests/phpunit/phpunit.xml
  docker-compose.ci.test.yml
Due: none

DDPB-4227 try postgres iam connection
  .circleci/config.yml
Due: none

put it all back to how it was and change remote docker version
  .circleci/config.yml
  client/scripts/client-unit-tests.sh
  client/tests/phpunit/phpunit.xml
Due: none

DDPB-4035 fix for versioning strategy (#913)
  .circleci/config.yml
  .github/dependabot.yml
  docker-compose.ci.test.yml
Due: none

needs to be tested on real db
  environment/api.tf
  environment/aurora/.terraform.lock.hcl
  environment/aurora/main.tf
  environment/terraform.tfvars.json
Due: none

update to use correct vars
  .pre-commit-config.yaml
  environment/s3.tf
  environment/s3_bucket/main.tf
  environment/s3_bucket/replication.tf
  environment/s3_bucket/variables.tf
Due: none

setDescription & getDescription changed to Detail
  client/src/Model/Sirius/SiriusApiError.php
Due: client

translation refactored to return code and detail of error message
  client/src/Service/SiriusApiErrorTranslator.php
Due: client

redundant test removed and replaced with new test and updated errorJson message from integration repo
  client/tests/phpunit/Service/SiriusApiErrorTranslatorTest.php
Due: none

[queens-banner] added emergency banner
  client/assets/scss/_digideps.scss
  client/assets/scss/digideps/_emergency-banner.scss
  client/templates/Index/index.html.twig
  client/templates/Layouts/application.html.twig
  client/templates/Layouts/moj_template.html.twig
Due: none

[queens-banner] fixed CSS issue
  client/assets/scss/digideps/_emergency-banner.scss
Due: none

[queens-banner] added banner to admin side of the app
  client/templates/Layouts/admin_moj_template.html.twig
Due: none

drop comment
  client/src/Command/DocumentSyncCommand.php
Due: client

[queens-banner-1] fixed html issues
  client/templates/Layouts/admin_moj_template.html.twig
  client/templates/Layouts/application.html.twig
  client/templates/Layouts/moj_template.html.twig
Due: none

[queens-banner-1] removed link
  client/templates/Layouts/admin_moj_template.html.twig
Due: none

[queens-banner-1] added link back
  client/assets/scss/digideps/_emergency-banner.scss
  client/templates/Layouts/admin_moj_template.html.twig
Due: none

[queens-banner-1] fixed link location
  client/templates/Layouts/moj_template.html.twig
Due: none

[queens-banner] added emergency banner
  client/assets/scss/_digideps.scss
  client/assets/scss/digideps/_emergency-banner.scss
  client/templates/Index/index.html.twig
  client/templates/Layouts/admin_moj_template.html.twig
  client/templates/Layouts/moj_template.html.twig
Due: none

[queens-banner] added emergency banner (#929)
  client/assets/scss/_digideps.scss
  client/assets/scss/digideps/_emergency-banner.scss
  client/templates/Index/index.html.twig
  client/templates/Layouts/admin_moj_template.html.twig
  client/templates/Layouts/moj_template.html.twig
Due: none

[remove-banner] removed the banner as it's no required on service.gov.uk
  client/assets/scss/_digideps.scss
  client/assets/scss/digideps/_emergency-banner.scss
  client/templates/Layouts/admin_moj_template.html.twig
  client/templates/Layouts/moj_template.html.twig
Due: none

[remove-banner] removed the banner as it's no required on service.gov.uk (#930)
  client/assets/scss/_digideps.scss
  client/assets/scss/digideps/_emergency-banner.scss
  client/templates/Layouts/admin_moj_template.html.twig
  client/templates/Layouts/moj_template.html.twig
Due: none

Move tests frpom auth to security
  api/tests/Unit/Security/HeaderTokenAuthenticatorTest.php
  api/tests/Unit/Security/LoginRequestAuthenticatorTest.php
Due: none

Cover supports in tests
  api/src/Security/RegistrationTokenAuthenticator.php
  api/tests/Unit/Security/RegistrationTokenAuthenticatorTest.php
Due: api
