Repository ministryofjustice/opg-digideps: changes, and which Codecov flags are due for each by the changed paths.
All: api, client

Move scripts volume for localstack-init to override to support pipeline usage
  docker-compose.override.yml
  docker-compose.yml
Due: none

Wait for localstack services to be available in api tests
  .circleci/config.yml
  api/docker/confd/templates/parameters.yml.tmpl
  docker-compose.yml
  wait_for_it/Dockerfile
Due: none

DDPB-3725 up the alarms to 6 std dev and activate backups
  api/Dockerfile
  client/Dockerfile
  environment/alarms.tf
  environment/disaster_recovery/ecs.tf
  environment/disaster_recovery/schedule.tf
Due: none

DDPB-3663c first pass with mock fixes
  .circleci/config.yml
  environment/admin_sg.tf
  environment/checklist_sync.tf
  environment/document_sync.tf
  environment/scan_sg.tf
Due: none

add extra bits
  environment/alarms.tf
  environment/disaster_recovery/ecs.tf
  environment/disaster_recovery/schedule.tf
Due: none

Remove test log from UserController and move all docker volumes to override
  api/src/AppBundle/Controller/UserController.php
  api/src/AppBundle/EventListener/UserListener.php
  api/src/AppBundle/Service/Audit/AwsAuditLogHandler.php
  api/src/AppBundle/Service/Audit/LocalAuditLogHandler.php
  docker-compose.override.yml
  docker-compose.yml
Due: api

Ddpb 3725b set alarms to 6 std devs and activate dr backups
  api/Dockerfile
  client/Dockerfile
  environment/alarms.tf
  environment/disaster_recovery/ecs.tf
  environment/disaster_recovery/schedule.tf
Due: none

First commit
  client/composer.json
  client/composer.lock
  client/src/AppBundle/Service/Client/Internal/SatisfactionApi.php
  client/tests/phpunit/Service/Client/Internal/SatisfactionApiTest.php
Due: client

Add docklocks and return types
  api/src/AppBundle/Service/Audit/AuditEvents.php
Due: api

DDPB-3228 - Update Production Postgress to 10.13
  environment/api_rds.tf
  environment/terraform.tfvars.json
Due: none

Add SatisfactionApi
  api/src/AppBundle/Controller/SatisfactionController.php
  client/src/AppBundle/Controller/FeedbackController.php
  client/src/AppBundle/Service/Client/Internal/SatisfactionApi.php
  client/tests/phpunit/Service/Client/Internal/SatisfactionApiTest.php
Due: api, client

DDPB-3732 add initial scaling
  environment/front_autoscaling.tf
  environment/terraform.tfvars.json
  environment/variables.tf
Due: none

DDPB-3732 add basic scaling config
  environment/ecs.tf
  environment/ecs_autoscaling.tf
  environment/ecs_autoscaling/README.md
  environment/ecs_autoscaling/main.tf
  environment/ecs_autoscaling/variables.tf
  environment/front_autoscaling.tf
Due: none

DDPB-3732 add basic scaling config
  environment/ecs_autoscaling.tf
Due: none

DDPB-3228 - Update Production Postgress to 10.13 (#493)
  environment/api_rds.tf
  environment/terraform.tfvars.json
Due: none

DDPB-3242 - Add Aurora Module
  environment/aurora/main.tf
  environment/aurora/outputs.tf
  environment/aurora/variables.tf
Due: none

DDPB-3184 create enc to test adding encryption to s3
  environment/s3.tf
Due: none

DDPB-3242 - Create Serverless dev dbs from module
  environment/api_rds.tf
  environment/aurora/main.tf
  environment/terraform.tfvars.json
Due: none

DDPB-3242 - make resource_class large to speed up build
  .circleci/config.yml
Due: none

Add other missing docblocks
  api/src/AppBundle/v2/Registration/Uploader/OrgDeputyshipUploader.php
Due: api

Add creat feedbackController test
  client/src/AppBundle/Controller/FeedbackController.php
  client/tests/phpunit/Controller/FeedbackControllerTest.php
Due: client

DDPB-3184 add encryption by default on s3 buckets and modify response times alarms
  environment/alarms.tf
  environment/s3.tf
  shared/s3_replication.tf
Due: none

DDPB-3184 add encryption by default on s3 buckets
  environment/alarms.tf
  environment/s3.tf
Due: none

DDPB-3242 - Revert to small executor, no speed increases on large
  .circleci/config.yml
  environment/api_rds.tf
  environment/aurora/main.tf
  environment/outputs.tf
  environment/terraform.tfvars.json
  environment/variables.tf
Due: none

Test email was sent in controller
  client/app/config/config_test.yml
  client/src/AppBundle/Service/Mailer/NotifyClientMock.php
  client/tests/phpunit/Controller/FeedbackControllerTest.php
Due: client

DDPB-3667: Fixed feedback comments and also tidied up some more files
  client/app/config/services.yml
  client/src/AppBundle/Controller/AbstractController.php
  client/src/AppBundle/Controller/Admin/AdController.php
  client/src/AppBundle/Controller/ClientController.php
  client/src/AppBundle/Controller/CoDeputyController.php
  client/src/AppBundle/Controller/FeedbackController.php
  client/src/AppBundle/Controller/IndexController.php
  client/src/AppBundle/Controller/Ndr/ActionController.php
  client/src/AppBundle/Controller/Ndr/AssetController.php
  client/src/AppBundle/Controller/Ndr/BankAccountController.php
  client/src/AppBundle/Controller/Ndr/IncomeBenefitController.php
  client/src/AppBundle/Controller/Ndr/OtherInfoController.php
  client/src/AppBundle/Controller/Ndr/VisitsCareController.php
  client/src/AppBundle/Controller/Report/ActionController.php
  client/src/AppBundle/Controller/Report/AssetController.php
  client/src/AppBundle/Controller/Report/BankAccountController.php
  client/src/AppBundle/Controller/Report/DocumentController.php
  client/src/AppBundle/Controller/Report/LifestyleController.php
  client/src/AppBundle/Controller/Report/MoneyInController.php
  client/src/AppBundle/Controller/Report/MoneyOutController.php
  client/src/AppBundle/Controller/Report/MoneyTransferController.php
  client/src/AppBundle/Controller/Report/OtherInfoController.php
  client/src/AppBundle/Controller/Report/VisitsCareController.php
Due: client

DDPB-3667: Fixed PHPDocs and minor issues within Controller/Report
  client/src/AppBundle/Controller/AbstractController.php
  client/src/AppBundle/Controller/Report/DecisionController.php
  client/src/AppBundle/Controller/Report/DeputyExpenseController.php
  client/src/AppBundle/Controller/Report/DocumentController.php
  client/src/AppBundle/Controller/Report/GiftController.php
  client/src/AppBundle/Controller/Report/LifestyleController.php
  client/src/AppBundle/Controller/Report/MoneyInController.php
  client/src/AppBundle/Controller/Report/MoneyInShortController.php
  client/src/AppBundle/Controller/Report/MoneyOutController.php
  client/src/AppBundle/Controller/Report/MoneyOutShortController.php
  client/src/AppBundle/Controller/Report/MoneyTransferController.php
  client/src/AppBundle/Controller/Report/OtherInfoController.php
  client/src/AppBundle/Controller/Report/PaFeeExpenseController.php
  client/src/AppBundle/Controller/Report/ProfCurrentFeesController.php
  client/src/AppBundle/Controller/Report/ProfDeputyCostsController.php
  client/src/AppBundle/Controller/Report/ProfDeputyCostsEstimateController.php
  client/src/AppBundle/Controller/Report/ReportController.php
  client/src/AppBundle/Controller/Report/VisitsCareController.php
Due: client

DDPB-3667: Fixed form issue inside FeedbackController
  client/src/AppBundle/Controller/FeedbackController.php
Due: client

DDPB-3667: Fixed some more import errors
  client/src/AppBundle/Controller/IndexController.php
  client/src/AppBundle/Controller/Ndr/ActionController.php
  client/src/AppBundle/Controller/Ndr/OtherInfoController.php
Due: client

DDPB-3667: Added declare(strict_types=1) to top of new files
  client/src/AppBundle/Service/Client/Internal/ClientApi.php
  client/src/AppBundle/Service/Client/Internal/ReportApi.php
  client/src/AppBundle/Service/Client/Internal/UserApi.php
Due: client

DDPB-3667: Removed routeExists function instead we try catch when generating a URL
  client/src/AppBundle/Controller/AbstractController.php
  client/src/AppBundle/Controller/FeedbackController.php
  client/src/AppBundle/Controller/Ndr/DeputyExpenseController.php
  client/src/AppBundle/Controller/Report/ContactController.php
  client/src/AppBundle/Controller/Report/DecisionController.php
  client/src/AppBundle/Controller/Report/DeputyExpenseController.php
  client/src/AppBundle/Controller/Report/GiftController.php
  client/src/AppBundle/Controller/Report/MoneyInShortController.php
  client/src/AppBundle/Controller/Report/MoneyOutShortController.php
Due: client

DDPB-3667: Removed incorrect Translator class
  client/src/AppBundle/Controller/UserController.php
Due: client

DDPB-3667: Fixed unit test for index controller
  client/src/AppBundle/Controller/Org/IndexController.php
  client/src/AppBundle/Controller/Report/DocumentController.php
  client/tests/phpunit/Controller/Org/IndexControllerTest.php
Due: client

DDPB-3667: Fixed imports for route and template classes
  client/src/AppBundle/Controller/Admin/FixtureController.php
  client/src/AppBundle/Controller/Admin/SettingController.php
  client/src/AppBundle/Controller/Admin/StatsController.php
  client/src/AppBundle/Controller/ClientController.php
  client/src/AppBundle/Controller/FeedbackController.php
  client/src/AppBundle/Controller/Ndr/AssetController.php
  client/src/AppBundle/Controller/Ndr/BankAccountController.php
  client/src/AppBundle/Controller/Org/ClientContactController.php
  client/src/AppBundle/Controller/Report/ActionController.php
  client/src/AppBundle/Controller/Report/AssetController.php
  client/src/AppBundle/Controller/Report/DecisionController.php
  client/src/AppBundle/Controller/Report/DocumentController.php
  client/src/AppBundle/Controller/Report/LifestyleController.php
  client/src/AppBundle/Controller/Report/MoneyTransferController.php
  client/src/AppBundle/Controller/UserController.php
Due: client

DDPB-3667: Fixed unit tests
  client/tests/phpunit/Controller/AdminIndexControllerTest.php
  client/tests/phpunit/Controller/CoDeputyControllerTest.php
  client/tests/phpunit/Controller/OrganisationControllerTest.php
  client/tests/phpunit/Controller/UserControllerTest.php
Due: none

DDPB-3667: Reverted type hinting in files due to some types not aligning
  client/src/AppBundle/Controller/Admin/AdController.php
  client/src/AppBundle/Controller/Admin/ReportSubmissionController.php
  client/src/AppBundle/Controller/ClientController.php
  client/src/AppBundle/Controller/FeedbackController.php
  client/src/AppBundle/Controller/Ndr/ActionController.php
  client/src/AppBundle/Controller/Ndr/AssetController.php
  client/src/AppBundle/Controller/Ndr/BankAccountController.php
  client/src/AppBundle/Controller/Ndr/DeputyExpenseController.php
  client/src/AppBundle/Controller/Ndr/IncomeBenefitController.php
  client/src/AppBundle/Controller/Ndr/NdrController.php
  client/src/AppBundle/Controller/Ndr/VisitsCareController.php
  client/src/AppBundle/Controller/Report/AssetController.php
  client/src/AppBundle/Controller/Report/BalanceController.php
  client/src/AppBundle/Controller/Report/BankAccountController.php
  client/src/AppBundle/Controller/Report/ContactController.php
  client/src/AppBundle/Controller/Report/DebtController.php
  client/src/AppBundle/Controller/Report/DecisionController.php
  client/src/AppBundle/Controller/Report/DeputyExpenseController.php
  client/src/AppBundle/Controller/Report/DocumentController.php
  client/src/AppBundle/Controller/Report/GiftController.php
  client/src/AppBundle/Controller/Report/LifestyleController.php
  client/src/AppBundle/Controller/Report/MoneyInController.php
  client/src/AppBundle/Controller/Report/MoneyInShortController.php
  client/src/AppBundle/Controller/Report/MoneyOutController.php
  client/src/AppBundle/Controller/Report/MoneyOutShortController.php
  client/src/AppBundle/Controller/Report/MoneyTransferController.php
  client/src/AppBundle/Controller/Report/OtherInfoController.php
  client/src/AppBundle/Controller/Report/PaFeeExpenseController.php
  client/src/AppBundle/Controller/Report/ProfCurrentFeesController.php
  client/src/AppBundle/Controller/Report/ProfDeputyCostsController.php
  client/src/AppBundle/Controller/Report/ProfDeputyCostsEstimateController.php
  client/src/AppBundle/Controller/Report/ReportController.php
  client/src/AppBundle/Controller/Report/VisitsCareController.php
Due: client

DDPB-3667: Cleaned up all touched files and fixed a few more errors
  client/src/AppBundle/Controller/AbstractController.php
  client/src/AppBundle/Controller/Admin/AdController.php
  client/src/AppBundle/Controller/Admin/Client/ReportController.php
  client/src/AppBundle/Controller/Admin/Client/SearchController.php
  client/src/AppBundle/Controller/Admin/FixtureController.php
  client/src/AppBundle/Controller/Admin/ReportSubmissionController.php
  client/src/AppBundle/Controller/Admin/StatsController.php
  client/src/AppBundle/Controller/Ndr/ActionController.php
  client/src/AppBundle/Controller/Ndr/AssetController.php
  client/src/AppBundle/Controller/Ndr/BankAccountController.php
  client/src/AppBundle/Controller/Ndr/DebtController.php
  client/src/AppBundle/Controller/Ndr/IncomeBenefitController.php
  client/src/AppBundle/Controller/Ndr/NdrController.php
  client/src/AppBundle/Controller/Report/AssetController.php
  client/src/AppBundle/Controller/Report/DocumentController.php
  client/src/AppBundle/Controller/Report/GiftController.php
  client/src/AppBundle/Controller/Report/MoneyInController.php
  client/src/AppBundle/Controller/Report/MoneyOutShortController.php
  client/src/AppBundle/Controller/Report/OtherInfoController.php
  client/src/AppBundle/Controller/Report/ProfDeputyCostsEstimateController.php
  client/src/AppBundle/Controller/Report/ReportController.php
  client/src/AppBundle/Controller/SettingsController.php
Due: client

DDPB-3667: Fixed admin integration test
  client/src/AppBundle/Controller/Admin/ReportSubmissionController.php
  client/src/AppBundle/Controller/ClientController.php
  client/src/AppBundle/Controller/CoDeputyController.php
  client/src/AppBundle/Controller/Ndr/DeputyExpenseController.php
  client/src/AppBundle/Controller/Ndr/NdrController.php
  client/src/AppBundle/Controller/Report/ReportController.php
  client/src/AppBundle/Controller/UserController.php
  client/src/AppBundle/Service/Client/Internal/ClientApi.php
Due: client

Path conditions:
  api: any of: api/src/AppBundle, but not: api/src/AppBundle/DataFixtures/**/*, api/src/AppBundle/FixtureFactory/**/*, api/src/AppBundle/TestHelpers/**/*, api/src/AppBundle/v2/Fixture/**/*, client/src/AppBundle/Exception/**/*, client/src/AppBundle/Resources/**/*
  client: any of: client/src/AppBundle, but not: api/src/AppBundle/DataFixtures/**/*, api/src/AppBundle/FixtureFactory/**/*, api/src/AppBundle/TestHelpers/**/*, api/src/AppBundle/v2/Fixture/**/*, client/src/AppBundle/Exception/**/*, client/src/AppBundle/Resources/**/*
