Repository ministryofjustice/opg-digideps: changes, and which Codecov flags are due for each by the changed paths.
All: api, client

codecov.yml:

coverage:
    status:
      project: off
      patch: off

ignore:
  - "api/src/AppBundle/DataFixtures/**/*"  # ignore folders and all its contents
  - "api/src/AppBundle/FixtureFactory/**/*"
  - "api/src/AppBundle/TestHelpers/**/*"
  - "api/src/AppBundle/v2/Fixture/**/*"
  - "client/src/AppBundle/Exception/**/*"
  - "client/src/AppBundle/Resources/**/*"

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null
flags:
  api:
    paths:
      - api/src/AppBundle
    carryforward: false
  client:
    paths:
      - client/src/AppBundle
    carryforward: false

Fix controller args and clamav-rest image
  Makefile
  client/src/AppBundle/Controller/Admin/IndexController.php
  client/src/AppBundle/Controller/Report/DocumentController.php
  docker-compose.yml
Due: client

Remove direct container access from client
  Makefile
  client/Dockerfile
  client/app/config/services.yml
  client/app/config/services/defaults.yml
  client/app/config/services/file_uploads.yml
  client/app/config/services_api.yml
  client/app/config/services_mail.yml
  client/src/AppBundle/Controller/Admin/AjaxController.php
  client/src/AppBundle/Controller/Admin/IndexController.php
  client/src/AppBundle/Controller/Admin/OrganisationController.php
  client/src/AppBundle/Controller/ClientController.php
  client/src/AppBundle/Controller/CoDeputyController.php
  client/src/AppBundle/Controller/IndexController.php
  client/src/AppBundle/Controller/ManageController.php
  client/src/AppBundle/Controller/Ndr/IncomeBenefitController.php
  client/src/AppBundle/Controller/Ndr/VisitsCareController.php
  client/src/AppBundle/Controller/Org/ClientContactController.php
  client/src/AppBundle/Controller/Org/IndexController.php
  client/src/AppBundle/Controller/Org/NoteController.php
  client/src/AppBundle/Controller/Org/OrganisationController.php
  client/src/AppBundle/Controller/Org/TeamController.php
  client/src/AppBundle/Controller/Report/ActionController.php
  client/src/AppBundle/Controller/Report/BankAccountController.php
  client/src/AppBundle/Controller/Report/DocumentController.php
  client/src/AppBundle/Controller/Report/MoneyInController.php
  client/src/AppBundle/Controller/Report/MoneyOutController.php
  client/src/AppBundle/Controller/Report/ReportController.php
  client/src/AppBundle/Controller/Report/VisitsCareController.php
  client/src/AppBundle/Controller/UserController.php
  docker-compose.yml
Due: client

Add cross browser integration tests
  .circleci/config.yml
Due: none

Add strict types
  api/src/AppBundle/Controller/SatisfactionController.php
  client/src/AppBundle/Controller/Admin/StatsController.php
  client/src/AppBundle/Entity/Report/Satisfaction.php
  client/src/AppBundle/Service/ReportSubmissionService.php
  client/tests/phpunit/Service/ReportSubmissionServiceTest.php
Due: api, client

Use alpine version for file scanner
  docker-compose.yml
Due: none

Revert strict types
  api/src/AppBundle/Controller/SatisfactionController.php
  client/src/AppBundle/Controller/Admin/StatsController.php
  client/src/AppBundle/Entity/Report/Satisfaction.php
  client/src/AppBundle/Service/ReportSubmissionService.php
Due: api, client

Update NDR ready to submit banner to be in line with rest of app using GDS component
  client/src/AppBundle/Resources/views/Ndr/Ndr/_header.html.twig
  client/src/AppBundle/Resources/views/Ndr/Ndr/overview.html.twig
Due: none

DDPB-3555 add password validation for pwned passwords
  behat/tests/features-v2/deputy-management/deputy/edit-myself.feature
  behat/tests/features/admin/01-admin.feature
  behat/tests/features/pa/04-dashboard-client-profile/13-settings.feature
  behat/tests/features/prof/04-dashboard-client-profile/13-settings.feature
  client/src/AppBundle/Form/ChangePasswordType.php
  client/src/AppBundle/Resources/translations/validators.en.yml
  client/src/AppBundle/Validator/Constraints/CommonPassword.php
  client/src/AppBundle/Validator/Constraints/CommonPasswordValidator.php
  client/tests/phpunit/Validator/Constraints/CommonPasswordValidatorTest.php
Due: client

dl file as part of test
  client/tests/phpunit/Validator/Constraints/CommonPasswordValidatorTest.php
Due: none

change a password in behat
  behat/tests/features/admin/01-admin.feature
  behat/tests/features/admin/02-cross-checks.feature
Due: none

manage nulls
  client/src/AppBundle/Validator/Constraints/CommonPasswordValidator.php
Due: client

DDPB-3786: Handle larger text in the feedback form and prevent minor spam
  Makefile
  api/app/DoctrineMigrations/Version247.php
  client/src/AppBundle/Controller/FeedbackController.php
  client/src/AppBundle/Form/FeedbackType.php
  client/src/AppBundle/Resources/assets/javascripts/main.js
  client/src/AppBundle/Resources/translations/feedback.en.yml
  client/src/AppBundle/Resources/views/Feedback/index.html.twig
Due: client

DDPB-3786: Fixed issue where submit button wouldn't be accessible if form is submitted without fields filled in
  client/src/AppBundle/Resources/assets/javascripts/main.js
Due: none

DDPB-3733 do not fail healthcheck on sirius down
  client/src/AppBundle/Controller/ManageController.php
Due: client

make file access super reliable
  client/Dockerfile
  client/src/AppBundle/Validator/Constraints/CommonPasswordValidator.php
Due: client

Fix empty query string
  Makefile
  api/Dockerfile
  api/src/AppBundle/Controller/Report/ReportSubmissionController.php
  api/src/AppBundle/TestHelpers/ReportSubmissionHelper.php
  api/tests/AppBundle/Entity/Repository/ReportSubmissionRepositoryTest.php
  client/Dockerfile
  client/src/AppBundle/Mapper/ReportSubmission/ReportSubmissionSummaryMapper.php
Due: api, client

DDPB-3668: Remove direct container access from client (#536)
  .circleci/config.yml
  Makefile
  client/Dockerfile
  client/app/config/services.yml
  client/app/config/services/defaults.yml
  client/app/config/services/file_uploads.yml
  client/app/config/services_api.yml
  client/app/config/services_mail.yml
  client/src/AppBundle/Controller/Admin/AjaxController.php
  client/src/AppBundle/Controller/Admin/IndexController.php
  client/src/AppBundle/Controller/Admin/OrganisationController.php
  client/src/AppBundle/Controller/ClientController.php
  client/src/AppBundle/Controller/CoDeputyController.php
  client/src/AppBundle/Controller/IndexController.php
  client/src/AppBundle/Controller/ManageController.php
  client/src/AppBundle/Controller/Ndr/IncomeBenefitController.php
  client/src/AppBundle/Controller/Ndr/VisitsCareController.php
  client/src/AppBundle/Controller/Org/ClientContactController.php
  client/src/AppBundle/Controller/Org/IndexController.php
  client/src/AppBundle/Controller/Org/NoteController.php
  client/src/AppBundle/Controller/Org/OrganisationController.php
  client/src/AppBundle/Controller/Org/TeamController.php
  client/src/AppBundle/Controller/Report/ActionController.php
  client/src/AppBundle/Controller/Report/BankAccountController.php
  client/src/AppBundle/Controller/Report/DocumentController.php
  client/src/AppBundle/Controller/Report/MoneyInController.php
  client/src/AppBundle/Controller/Report/MoneyOutController.php
  client/src/AppBundle/Controller/Report/ReportController.php
  client/src/AppBundle/Controller/Report/VisitsCareController.php
  client/src/AppBundle/Controller/UserController.php
  docker-compose.yml
Due: client

Ensure satisfaction reports submitted on the day being requested are returned
  api/src/AppBundle/Controller/SatisfactionController.php
Due: api

Ensure we get results when not setting a date
  api/src/AppBundle/Controller/Report/ReportSubmissionController.php
  api/tests/AppBundle/ControllerReport/ReportSubmissionControllerTest.php
Due: api

Test fix
  client/tests/phpunit/Mapper/ReportSubmission/ReportSubmissionSummaryMapperTest.php
Due: none

DDPB-3802: Fix empty query string for DAT download (#542)
  api/src/AppBundle/Controller/Report/ReportSubmissionController.php
  api/src/AppBundle/TestHelpers/ReportSubmissionHelper.php
  api/tests/AppBundle/ControllerReport/ReportSubmissionControllerTest.php
  api/tests/AppBundle/Entity/Repository/ReportSubmissionRepositoryTest.php
  client/src/AppBundle/Mapper/ReportSubmission/ReportSubmissionSummaryMapper.php
  client/tests/phpunit/Mapper/ReportSubmission/ReportSubmissionSummaryMapperTest.php
Due: api, client

DDPB-3772 - Post Aurora Migration Cleanup. (#528)
  environment/api_rds.tf
  environment/disaster_recovery/ecs.tf
  environment/outputs.tf
  environment/terraform.tfvars.json
  environment/variables.tf
Due: none

Emit user added to org event when adding users to orgs
  client/src/AppBundle/Event/UserAddedToOrganisationEvent.php
  client/src/AppBundle/Service/Client/Internal/OrganisationApi.php
  client/tests/phpunit/Service/Client/Internal/OrganisationApiTest.php
Due: client

ddpb3772b make clam less flake in integration
  environment/.envrc
  environment/terraform.tfvars.json
Due: none

Log audit event when adding user to Org
  client/src/AppBundle/EventSubscriber/UserAddedToOrganisationSubscriber.php
  client/src/AppBundle/Service/Audit/AuditEvents.php
  client/tests/phpunit/EventSubscriber/UserAddedToOrganisationSubscriberTest.php
Due: client

Pass required entities to OrganisationAPI during org add member route
  client/src/AppBundle/Controller/Org/OrganisationController.php
Due: client

ddpb3772b make clam less flake in integration (#543)
  environment/.envrc
  environment/terraform.tfvars.json
Due: none

Use OrganisationApi when removing org members and emit user removed event
  client/src/AppBundle/Controller/Org/OrganisationController.php
  client/src/AppBundle/Event/UserRemovedFromOrganisationEvent.php
  client/src/AppBundle/Service/Audit/AuditEvents.php
  client/src/AppBundle/Service/Client/Internal/OrganisationApi.php
  client/tests/phpunit/Service/Client/Internal/OrganisationApiTest.php
Due: client

Group org user membership events under OrgUserMembershipSubcriber
  client/src/AppBundle/EventSubscriber/OrgUserMembershipSubscriber.php
  client/tests/phpunit/EventSubscriber/OrgUserMembershipSubscriberTest.php
Due: client

Log audit event when user removed from Org
  client/src/AppBundle/Event/UserRemovedFromOrganisationEvent.php
  client/src/AppBundle/EventSubscriber/OrgUserMembershipSubscriber.php
  client/src/AppBundle/Service/Audit/AuditEvents.php
  client/tests/phpunit/EventSubscriber/OrgUserMembershipSubscriberTest.php
Due: client

Generalise audit trigger name, update remaining calls to org user manage endpoints in client controllers
  client/src/AppBundle/Controller/Admin/OrganisationController.php
  client/src/AppBundle/Controller/Org/OrganisationController.php
  client/src/AppBundle/Service/Audit/AuditEvents.php
  client/src/AppBundle/Service/Client/Internal/OrganisationApi.php
Due: client

DDPB-3555 add password validation for pwned passwords (#539)
  behat/tests/features-v2/deputy-management/deputy/edit-myself.feature
  behat/tests/features/admin/01-admin.feature
  behat/tests/features/admin/02-cross-checks.feature
  behat/tests/features/pa/04-dashboard-client-profile/13-settings.feature
  behat/tests/features/prof/04-dashboard-client-profile/13-settings.feature
  client/Dockerfile
  client/src/AppBundle/Form/ChangePasswordType.php
  client/src/AppBundle/Resources/translations/validators.en.yml
  client/src/AppBundle/Validator/Constraints/CommonPassword.php
  client/src/AppBundle/Validator/Constraints/CommonPasswordValidator.php
  client/tests/phpunit/Validator/Constraints/CommonPasswordValidatorTest.php
Due: client

DDPB-3761: Update NDR ready to submit banner to be in line with rest of app using GDS component (#538)
  client/src/AppBundle/Resources/views/Ndr/Ndr/_header.html.twig
  client/src/AppBundle/Resources/views/Ndr/Ndr/overview.html.twig
Due: none

DDPB-2838: Updated mark up for terms of use
  client/src/AppBundle/Resources/views/Index/terms.html.twig
Due: none

Add failing test for adding missing extensions
  client/app/config/services.yml
  client/app/config/services/defaults.yml
  client/composer.json
  client/composer.lock
  client/src/AppBundle/Service/File/FileNameFixer.php
  client/tests/phpunit/Service/File/FileNameFixerTest.php
  client/tests/phpunit/TestData/good-jpg
  client/tests/phpunit/TestData/good-pdf
  client/tests/phpunit/TestData/good-png
Due: client

Fix var name camelcasing
  client/src/AppBundle/Controller/Admin/OrganisationController.php
Due: client

Add docblocks and comments to org membership functions
  client/src/AppBundle/EventSubscriber/OrgUserMembershipSubscriber.php
  client/src/AppBundle/Service/Audit/AuditEvents.php
Due: client
