Repository ministryofjustice/opg-digideps: changes, and which Codecov flags are due for each by the changed paths.
All: api, client

Fix audit log attempting to set bool as array
  client/src/Controller/UserController.php
Due: client

Added placeholder events for CSV Upload
  client/src/Event/CSVUploadedEvent.php
  client/src/EventSubscriber/CSVUploadedSubscriber.php
  client/src/Service/Audit/AuditEvents.php
Due: client

Add openapispec for Notify public endpoints we use
  client/govuk-notifications.yaml
Due: none

Fix open api spec, add mock notify and point to mock notify
  client/config/services.yml
  client/govuk-notifications.yaml
  docker-compose.yml
Due: none

Fix notify mock config and inject redis
  api/tests/Behat/behat.yml
  api/tests/Behat/bootstrap/v2/ServiceHealth/ServiceHealthFeatureContext.php
  api/tests/Behat/features-v2/service-health/external-dependecy-checks.feature
  client/config/services.yml
  client/frontend.env
  client/src/Service/Availability/RedisAvailability.php
Due: client

Add @v2 to service-health tests to trigger run in CI and typo
  api/tests/Behat/behat.yml
  api/tests/Behat/features-v2/service-health/external-dependecy-checks.feature
Due: none

Revert to fakeKey
  client/frontend.env
Due: none

Make fake notuify key contain a valid UUID v4
  client/config/services.yml
  client/frontend.env
Due: none

DDPB-4039: Unsubmit journey for new client benefits check section (#714)
  api/src/Entity/Report/ClientBenefitsCheck.php
  api/src/Entity/Report/Report.php
  api/tests/Behat/bootstrap/v2/Common/ReportTrait.php
  api/tests/Behat/bootstrap/v2/ReportManagement/ReportManagementFeatureContext.php
  api/tests/Behat/bootstrap/v2/ReportManagement/ReportManagementTrait.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/ClientBenefitsCheckSectionTrait.php
  api/tests/Behat/features-v2/report-management/report-management.feature
  api/tests/Behat/features-v2/reporting/sections/client-benefits-check/client-benefits-check.lay.feature
  api/tests/Behat/features-v2/reporting/sections/client-benefits-check/client-benefits-check.org.feature
  client/translations/report-common.en.yml
  docker-compose.override.yml
Due: api

DDPB-4171: Fix redis and add service health integration tests (#726)
  api/tests/Behat/behat.yml
  api/tests/Behat/bootstrap/v2/ServiceHealth/ServiceHealthFeatureContext.php
  api/tests/Behat/features-v2/service-health/external-dependecy-checks.feature
  client/config/services.yml
  client/frontend.env
  client/govuk-notifications.yaml
  client/src/Service/Availability/RedisAvailability.php
  docker-compose.yml
Due: client

squash
  Makefile
  api/.gitignore
  client/Dockerfile
  client/assets.Dockerfile
  client/package-lock.json
  client/package.json
  docker-compose.yml
Due: none

Stop copying in assets folder to client. Comments.
  Makefile
  client/Dockerfile
Due: none

Remove a tech debt item/ Format techdebt file.
  TECH-DEBT.md
Due: none

Volumes and remove redundant npm in compose
  Makefile
  docker-compose.dev.yml
  docker-compose.yml
Due: none

Added dispatch event functions for org and lay csv uploads
  api/src/v2/Registration/Controller/LayDeputyshipUploadController.php
  api/src/v2/Registration/Uploader/OrgDeputyshipUploader.php
Due: api

Removed unused method, renamed method
  client/src/EventSubscriber/CSVUploadedSubscriber.php
Due: client

Added in missing arguement
  api/src/v2/Registration/Uploader/OrgDeputyshipUploader.php
Due: api

Ensure benefits check is required in formatted report rather than money in
  client/templates/Report/Formatted/formatted_body.html.twig
Due: none

Add assets build to ci.
  docker-compose.ci.yml
Due: none

Move assets docker file. Change assets build step.
  .circleci/config.yml
  client/docker/assets/assets.Dockerfile
  docker-compose.ci.yml
  docker-compose.yml
Due: none

Check output of asset build
  .circleci/config.yml
Due: none

DDPB-4173: Ensure benefits check is required in formatted report rather than money in (#729)
  client/templates/Report/Formatted/formatted_body.html.twig
Due: none

Tweak build.
  .circleci/config.yml
  client/docker/assets/assets.Dockerfile
Due: none

Remove package mounting
  docker-compose.yml
Due: none

Copy out of build
  .circleci/config.yml
Due: none

Fix cp being docker compose not docker-compose
  .circleci/config.yml
Due: none

Add endpoint to refresh report cache and call in step 2 of document flow
  api/src/Controller/Report/DocumentController.php
  api/src/Controller/Report/ReportController.php
  api/tests/Unit/ControllerReport/ReportControllerTest.php
  client/src/Controller/Report/DocumentController.php
  client/src/Service/Client/Internal/ReportApi.php
Due: api, client

Ensure we pass required JMS groups to RestClient
  api/src/Controller/Report/ReportController.php
  client/src/Service/Client/Internal/ReportApi.php
  client/src/Service/Client/RestClient.php
Due: api, client

Moved event dispatching to client side of app
  api/src/v2/Registration/Controller/LayDeputyshipUploadController.php
  api/src/v2/Registration/Uploader/LayDeputyshipUploader.php
  api/src/v2/Registration/Uploader/OrgDeputyshipUploader.php
  client/src/Controller/Admin/IndexController.php
  client/src/Service/OrgService.php
Due: api, client

Use valid UUIDv4 for API fake key
  api/tests/Behat/features-v2/reporting/sections/client-benefits-check/client-benefits-check.org.feature
  client/frontend.env
Due: none

[DDPB-3884] added regression test
  api/src/Controller/AuthController.php
  api/tests/Unit/Controller/AuthControllerTest.php
Due: api

[DDPB-3884] Remove password hashes from api responses
  Makefile
  api/src/Entity/User.php
  client/src/Controller/SettingsController.php
  client/tests/phpunit/Service/Client/Internal/UserApiTest.php
Due: api, client

DDPB-4144: Bugfix and final cleanup of client benefits check section (#720)
  api/src/Controller/Report/IncomeReceivedOnClientsBehalfController.php
  api/src/Entity/ClientBenefitsCheckInterface.php
  api/src/Entity/Ndr/ClientBenefitsCheck.php
  api/src/Entity/Report/ClientBenefitsCheck.php
  api/src/Factory/ClientBenefitsCheckFactory.php
  api/src/Repository/NdrIncomeReceivedOnClientsBehalfRepository.php
  api/src/TestHelpers/ReportTestHelper.php
  api/src/v2/Fixture/ReportSection.php
  api/tests/Behat/bootstrap/v2/Common/ExpectedResultsTrait.php
  api/tests/Behat/bootstrap/v2/Common/FormFillingTrait.php
  api/tests/Behat/bootstrap/v2/Helpers/FixtureHelper.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/ClientBenefitsCheckSectionTrait.php
  api/tests/Behat/features-v2/reporting/sections/client-benefits-check/client-benefit-check.ndr.feature
  api/tests/Behat/features-v2/reporting/sections/client-benefits-check/client-benefits-check.lay.feature
  api/tests/Unit/Controller/IncomeReceivedOnOthersBehalfControllerTest.php
  api/tests/Unit/Entity/Ndr/ClientBenefitsCheckTest.php
  api/tests/Unit/Entity/Ndr/NdrTest.php
  api/tests/Unit/Entity/Report/ClientBenefitsCheckTest.php
  api/tests/Unit/Factory/ClientBenefitsCheckFactoryTest.php
  client/package-lock.json
  client/package.json
  client/src/Controller/Report/ClientBenefitsCheckController.php
  client/src/Entity/ClientBenefitsCheckInterface.php
  client/src/Entity/Ndr/ClientBenefitsCheck.php
  client/src/Entity/Report/ClientBenefitsCheck.php
  client/src/Service/Client/Internal/IncomeReceivedOnClientsBehalfApi.php
  client/templates/Report/ClientBenefitsCheck/_answers.html.twig
  client/translations/report-client-benefits-check.en.yml
Due: api, client

Bump PHP alpine images to use busybox v3.14
  api/Dockerfile
  api/composer.json
  api/composer.lock
  client/Dockerfile
Due: none

Add Make utility commands to simplify working with composer
  Makefile
  docker-compose.override.yml
  docker/install-composer.sh
Due: none

Add help descriptions for composer make commands
  Makefile
Due: none

Bump PHP alpine images to use busybox v3.14 (#731)
  api/Dockerfile
  api/composer.json
  api/composer.lock
  client/Dockerfile
Due: none

Simplify composer tasks (#732)
  Makefile
  docker-compose.override.yml
  docker/install-composer.sh
Due: none

Fixing broken test
  api/tests/Unit/v2/Registration/Uploader/LayDeputyshipUploaderTest.php
Due: none

Path conditions:
  api: any of: api/src, but not: api/src/DataFixtures/**/*, api/src/FixtureFactory/**/*, api/src/TestHelpers/**/*, api/src/v2/Fixture/**/*, client/src/Exception/**/*, client/src/Resources/**/*
  client: any of: client/src, but not: api/src/DataFixtures/**/*, api/src/FixtureFactory/**/*, api/src/TestHelpers/**/*, api/src/v2/Fixture/**/*, client/src/Exception/**/*, client/src/Resources/**/*
