Repository ministryofjustice/opg-digideps: changes, and which Codecov flags are due for each by the changed paths.
All: api, client

HACK - Increase php memory_limit just prior to large upload
  api/tests/Behat/bootstrap/v2/Reporting/Sections/DocumentsSectionTrait.php
Due: none

Try switching from goutte to browserkit
  .circleci/config.yml
  Makefile
  api/composer.json
  api/composer.lock
  api/tests/Behat/behat.yml
  api/tests/Behat/bootstrap/v2/Common/BaseFeatureContext.php
  api/tests/Behat/run-tests-parallel.sh
  api/tests/Behat/run-tests.sh
Due: none

HACK - Up memory on Circle containers to 4GB
  .circleci/config.yml
Due: none

Add symfony/mime
  api/composer.json
  api/composer.lock
Due: none

[DDPB-4551] updated PHP version to 8.1.12 and alpine to 3.16
  api/Dockerfile
  client/Dockerfile
Due: none

test cvs updated to single
  client/tests/csv/layDeputyReport.csv
  client/tests/csv/paProDeputyReport.csv
Due: none

org fixture data updated with hybrid column and data
  api/tests/Behat/fixtures/sirius-csvs/org-1-row-1-named-deputy-with-org-name-no-first-last-name.csv
  api/tests/Behat/fixtures/sirius-csvs/org-1-row-existing-named-deputy-and-client-new-org-and-street-address.csv
  api/tests/Behat/fixtures/sirius-csvs/org-1-row-missing-last-report-date-1-valid-row.csv
  api/tests/Behat/fixtures/sirius-csvs/org-1-row-new-named-deputy-and-org-existing-client.csv
  api/tests/Behat/fixtures/sirius-csvs/org-1-updated-row-existing-case-number-new-made-date.csv
  api/tests/Behat/fixtures/sirius-csvs/org-1-updated-row-named-deputy-address.csv
  api/tests/Behat/fixtures/sirius-csvs/org-1-updated-row-new-named-deputy.csv
  api/tests/Behat/fixtures/sirius-csvs/org-1-updated-row-report-type.csv
  api/tests/Behat/fixtures/sirius-csvs/org-2-rows-1-named-deputy-with-different-addresses.csv
  api/tests/Behat/fixtures/sirius-csvs/org-2-rows-1-person-deputy-1-org-deputy-updated-emails.csv
  api/tests/Behat/fixtures/sirius-csvs/org-2-rows-1-person-deputy-1-org-deputy-updated-names.csv
  api/tests/Behat/fixtures/sirius-csvs/org-2-rows-1-person-deputy-1-org-deputy.csv
  api/tests/Behat/fixtures/sirius-csvs/org-3-valid-rows.csv
Due: none

unit tests updated
  api/src/v2/Registration/DTO/OrgDeputyshipDto.php
  api/tests/Unit/v2/Registration/Assembler/SiriusToLayDeputyshipDtoAssemblerTest.php
  api/tests/Unit/v2/Registration/Assembler/SiriusToOrgDeputyshipDtoAssemblerTest.php
  api/tests/Unit/v2/Registration/SelfRegistration/Factory/PreRegistrationFactoryTest.php
Due: api

SelfRegisterController test updated
  api/tests/Unit/Controller/SelfRegisterControllerTest.php
Due: none

lay fixture data updated
  api/tests/Behat/features-v2/registration/ingest.lay.sirius.feature
  api/tests/Behat/fixtures/sirius-csvs/lay-1-row-invalid-report-type-1-valid-row.csv
  api/tests/Behat/fixtures/sirius-csvs/lay-1-row-missing-all-required-1-valid-row.csv
  api/tests/Behat/fixtures/sirius-csvs/lay-1-row-updated-report-type.csv
  api/tests/Behat/fixtures/sirius-csvs/lay-3-valid-rows.csv
Due: none

lay and org feature tests updated
  api/tests/Behat/features-v2/registration/ingest.lay.sirius.feature
  api/tests/Behat/features-v2/registration/ingest.org.sirius.feature
  api/tests/Behat/fixtures/sirius-csvs/lay-1-row-missing-all-required-1-valid-row.csv
  api/tests/Behat/fixtures/sirius-csvs/org-1-row-with-ndr-column.csv
Due: none

tag dropped
  api/tests/Behat/features-v2/registration/ingest.org.sirius.feature
Due: none

Added in exception handling for forbidden and unauthorized exceptions
  client/config/services.yml
  client/src/Controller/IndexController.php
  client/src/EventListener/AuthTokenExpiredListener.php
  client/src/EventListener/ForbiddenExceptionListener.php
  client/src/EventListener/UnauthorizedExceptionListener.php
  client/templates/Index/access-denied.html.twig
  client/translations/error-pages.en.yml
Due: client

[DDPB-4551] pinned version of browserkit
  api/composer.json
Due: none

DDPB-4513 create our own file scanner
  .circleci/config.yml
  client/src/Service/Availability/ClamAvAvailability.php
  client/src/Service/File/Scanner/ClamFileScanner.php
  docker-compose.ci.yml
  docker-compose.yml
  environment/ecr.tf
  environment/scan.tf
  file_scanning/Dockerfile
  file_scanning/README.md
  file_scanning/clamd/clamd.go
  file_scanning/clamd/clamd_test.go
  file_scanning/clamd/conn.go
  file_scanning/eicar.com.txt
  file_scanning/eicar.test
  file_scanning/entrypoint.sh
  file_scanning/go.mod
  file_scanning/goodfile.txt
  file_scanning/main.go
  file_scanning/main_test.go
  lambda_functions/functions/synchronisation/main.go
Due: client

DDPB-4551: upgrade digideps to PHP 8.1 (#1020)
  .circleci/config.yml
  Makefile
  api/Dockerfile
  api/composer.json
  api/composer.lock
  api/tests/Behat/behat.yml
  api/tests/Behat/bootstrap/v2/Common/BaseFeatureContext.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/DocumentsSectionTrait.php
  api/tests/Behat/run-tests-parallel.sh
  api/tests/Behat/run-tests.sh
  client/Dockerfile
  client/composer.json
  client/composer.lock
  docker-compose.yml
Due: none

Removed duplicate code
  client/src/EventListener/UnauthorizedExceptionListener.php
Due: client

Return 403 status code when forbidden exception is handled
  client/src/Controller/IndexController.php
Due: client

Revert "lay and org feature tests updated"
  api/tests/Behat/features-v2/registration/ingest.lay.sirius.feature
  api/tests/Behat/fixtures/sirius-csvs/lay-1-row-missing-all-required-1-valid-row.csv
  api/tests/Behat/fixtures/sirius-csvs/org-1-row-with-ndr-column.csv
Due: none

reverted commit to revert feature test and recommitted csvs
  api/tests/Behat/fixtures/sirius-csvs/lay-1-row-missing-all-required-1-valid-row.csv
  api/tests/Behat/fixtures/sirius-csvs/org-1-row-with-ndr-column.csv
Due: none

file reverted
  api/tests/Behat/features-v2/registration/ingest.lay.sirius.feature
Due: none

file reverted third time lucky
  api/tests/Behat/features-v2/registration/ingest.lay.sirius.feature
Due: none

made suggested changes to dockerfile
  file_scanning/Dockerfile
Due: none

DDPB-4537: Process and store the Hybrid field on the Lay and Org CSVs (#1022)
  api/src/Entity/PreRegistration.php
  api/src/FixtureFactory/PreRegistrationFactory.php
  api/src/Migrations/Version266.php
  api/src/v2/Registration/Assembler/SiriusToLayDeputyshipDtoAssembler.php
  api/src/v2/Registration/Assembler/SiriusToOrgDeputyshipDtoAssembler.php
  api/src/v2/Registration/DTO/LayDeputyshipDto.php
  api/src/v2/Registration/DTO/OrgDeputyshipDto.php
  api/src/v2/Registration/SelfRegistration/Factory/PreRegistrationFactory.php
  api/tests/Behat/fixtures/sirius-csvs/lay-1-row-invalid-report-type-1-valid-row.csv
  api/tests/Behat/fixtures/sirius-csvs/lay-1-row-missing-all-required-1-valid-row.csv
  api/tests/Behat/fixtures/sirius-csvs/lay-1-row-updated-report-type.csv
  api/tests/Behat/fixtures/sirius-csvs/lay-3-valid-rows.csv
  api/tests/Behat/fixtures/sirius-csvs/org-1-row-1-named-deputy-with-org-name-no-first-last-name.csv
  api/tests/Behat/fixtures/sirius-csvs/org-1-row-existing-named-deputy-and-client-new-org-and-street-address.csv
  api/tests/Behat/fixtures/sirius-csvs/org-1-row-missing-last-report-date-1-valid-row.csv
  api/tests/Behat/fixtures/sirius-csvs/org-1-row-new-named-deputy-and-org-existing-client.csv
  api/tests/Behat/fixtures/sirius-csvs/org-1-row-with-ndr-column.csv
  api/tests/Behat/fixtures/sirius-csvs/org-1-updated-row-existing-case-number-new-made-date.csv
  api/tests/Behat/fixtures/sirius-csvs/org-1-updated-row-named-deputy-address.csv
  api/tests/Behat/fixtures/sirius-csvs/org-1-updated-row-new-named-deputy.csv
  api/tests/Behat/fixtures/sirius-csvs/org-1-updated-row-report-type.csv
  api/tests/Behat/fixtures/sirius-csvs/org-2-rows-1-named-deputy-with-different-addresses.csv
  api/tests/Behat/fixtures/sirius-csvs/org-2-rows-1-person-deputy-1-org-deputy-updated-emails.csv
  api/tests/Behat/fixtures/sirius-csvs/org-2-rows-1-person-deputy-1-org-deputy-updated-names.csv
  api/tests/Behat/fixtures/sirius-csvs/org-2-rows-1-person-deputy-1-org-deputy.csv
  api/tests/Behat/fixtures/sirius-csvs/org-3-valid-rows.csv
  api/tests/Unit/Controller/SelfRegisterControllerTest.php
  api/tests/Unit/v2/Registration/Assembler/SiriusToLayDeputyshipDtoAssemblerTest.php
  api/tests/Unit/v2/Registration/Assembler/SiriusToOrgDeputyshipDtoAssemblerTest.php
  api/tests/Unit/v2/Registration/SelfRegistration/Factory/PreRegistrationFactoryTest.php
  client/src/Controller/Admin/IndexController.php
  client/tests/csv/layDeputyReport.csv
  client/tests/csv/paProDeputyReport.csv
Due: api, client

Adding content to login page when receiving unauthorized exception
  client/templates/Index/login.html.twig
  client/translations/signin.en.yml
Due: none

[symfony-6] fixing deprecations ready for Symfony 6.1
  api/Dockerfile
  api/src/Entity/User.php
  client/Dockerfile
  client/src/Command/DocumentRecoverCommand.php
  client/src/Command/ValidationCommand.php
  client/src/EventListener/AuthenticationHandler.php
  client/src/Service/OrgService.php
  client/src/Service/Redirector.php
Due: api, client

DDPB-4513 create our own file scanner (#1006)
  .circleci/config.yml
  client/src/Service/Availability/ClamAvAvailability.php
  client/src/Service/File/Scanner/ClamFileScanner.php
  docker-compose.ci.yml
  docker-compose.yml
  environment/ecr.tf
  environment/scan.tf
  file_scanning/Dockerfile
  file_scanning/README.md
  file_scanning/clamd/clamd.go
  file_scanning/clamd/clamd_test.go
  file_scanning/clamd/conn.go
  file_scanning/eicar.com.txt
  file_scanning/eicar.test
  file_scanning/entrypoint.sh
  file_scanning/go.mod
  file_scanning/goodfile.txt
  file_scanning/main.go
  file_scanning/main_test.go
  lambda_functions/functions/synchronisation/main.go
Due: client

automate the bootstrapping of DB
  .circleci/config.yml
  api/src/DBAL/ConnectionWrapper.php
  environment/.terraform.lock.hcl
  environment/api_rds.tf
  environment/aurora/outputs.tf
  environment/errored.tfstate
  environment/initial.sql
  environment/rds_iam_role.tf
  environment/terraform.tfvars.json
  environment/variables.tf
Due: api

fix ecr bug since upgrade
  .circleci/config.yml
Due: none

Changed lay registration to set deputy no on user when only a single match is found, fixed a few deprecated errors when passing null paramaters to methods
  api/src/Controller/PreRegistrationController.php
  api/src/Entity/NamedDeputy.php
  api/src/Entity/Report/BankAccount.php
  api/src/Entity/Report/Traits/DecisionTrait.php
  api/src/Security/HeaderTokenAuthenticator.php
  api/src/Service/DateTimeProvider.php
  api/src/Service/UserRegistrationService.php
  api/src/v2/Registration/DTO/LayDeputyshipDtoCollection.php
  api/tests/Unit/v2/Registration/TestHelpers/OrgDeputyshipDTOTestHelper.php
Due: api

DDPB-4558 - User sessions that timeout result in a general application error (#1028)
  client/config/services.yml
  client/src/Controller/IndexController.php
  client/src/EventListener/AuthTokenExpiredListener.php
  client/src/EventListener/ForbiddenExceptionListener.php
  client/src/EventListener/UnauthorizedExceptionListener.php
  client/templates/Index/access-denied.html.twig
  client/templates/Index/login.html.twig
  client/translations/error-pages.en.yml
  client/translations/signin.en.yml
Due: client

fix local config
  .circleci/config.yml
  .pre-commit-config.yaml
  api/Dockerfile
  api/scripts/bootstrap_db.sh
  api/src/DBAL/ConnectionWrapper.php
  docker-compose.yml
  environment/.terraform.lock.hcl
  environment/api_elasticache.tf
  environment/api_rds.tf
  environment/api_sg.tf
  environment/initial.sql
  environment/integration_test.tf
  environment/integration_test_v2.tf
  environment/outputs.tf
Due: api

Added api unit tests to ensure deputy uids are set when users register
  api/src/Entity/PreRegistration.php
  api/tests/Unit/Controller/PreRegistrationControllerTest.php
Due: api

Added behat tests to verify user details are set after registration, including deputy uid
  api/tests/Behat/bootstrap/v2/Registration/SelfRegistrationTrait.php
  api/tests/Behat/features-v2/registration/self-register.feature
Due: none

fix ecr bug since upgrade (#1032)
  .circleci/config.yml
Due: none

try with normal auth for timings
  .pre-commit-config.yaml
  api/src/DBAL/ConnectionWrapper.php
  api/tests/Behat/run-tests-parallel.sh
  docs/IAM_AUTH_DB_ACCESS.md
  environment/api_rds.tf
  environment/aurora/main.tf
  environment/rds_iam_role.tf
Due: api

Fixed an issue with api unit test
  api/tests/Unit/Controller/PreRegistrationControllerTest.php
Due: none

DDPB-4064 use fargate spot on ephemeral environments
  .circleci/config.yml
  environment/.terraform.lock.hcl
  environment/admin_service.tf
  environment/api_service.tf
  environment/check_csv_uploaded.tf
  environment/checklist_sync.tf
  environment/document_sync.tf
  environment/front_service.tf
  environment/htmltopdf.tf
  environment/mock_sirius_integration_service.tf
  environment/scan.tf
  environment/terraform.tfvars.json
  environment/variables.tf
Due: none

[DDPB-4577] fixed bug where hybrid were not being caught in the process
  api/src/Controller/CoDeputyController.php
  client/src/Command/ProcessLayCSVCommand.php
  client/src/Command/ProcessOrgCSVCommand.php
  client/src/Controller/Admin/IndexController.php
  client/templates/Admin/Index/uploadOrgUsers.html.twig
  client/templates/Admin/Index/uploadUsers.html.twig
Due: api, client

Path conditions:
  api: any of: api/src, but not: api/src/DataFixtures/**/*, api/src/FixtureFactory/**/*, api/src/TestHelpers/**/*, api/src/v2/Fixture/**/*, client/src/Exception/**/*, client/src/Resources/**/*
  client: any of: client/src, but not: api/src/DataFixtures/**/*, api/src/FixtureFactory/**/*, api/src/TestHelpers/**/*, api/src/v2/Fixture/**/*, client/src/Exception/**/*, client/src/Resources/**/*
