Repository ministryofjustice/opg-digideps: changes, and which Codecov flags are due for each by the changed paths.
All: api, client

codecov.yml:

coverage:
    status:
      project: off
      patch: off

ignore:
  - "api/src/DataFixtures/**/*"  # ignore folders and all its contents
  - "api/src/FixtureFactory/**/*"
  - "api/src/TestHelpers/**/*"
  - "api/src/v2/Fixture/**/*"
  - "client/src/Exception/**/*"
  - "client/src/Resources/**/*"

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null
flags:
  api:
    paths:
      - api/src
    carryforward: false
  client:
    paths:
      - client/src
    carryforward: false

[DDPB-4060] fixed additional information
  api/tests/Behat/bootstrap/v2/Common/IShouldBeOnFrontendTrait.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/AdditionalInformationSectionTrait.php
Due: none

[DDPB-4060] fixed asset html title
  client/templates/Ndr/Asset/Other/add.html.twig
Due: none

[DDPB-4060] added missing NDR behat tests
  api/tests/Behat/bootstrap/v2/Reporting/Sections/AssetsSectionTrait.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/DeputyExpensesSectionTrait.php
  api/tests/Behat/features-v2/reporting/sections/actions/actions.ndr.feature
  api/tests/Behat/features-v2/reporting/sections/additional-information/additional-information.ndr.feature
  api/tests/Behat/features-v2/reporting/sections/assets/assets.ndr.feature
  api/tests/Behat/features-v2/reporting/sections/debts/debts.ndr.feature
  api/tests/Behat/features-v2/reporting/sections/deputy-expenses/deputy-expenses.ndr.feature
  client/templates/Ndr/DeputyExpense/_list.html.twig
  client/translations/validators.en.yml
Due: none

[DDPB-4060] fixed failing actions for ndr tests
  api/tests/Behat/bootstrap/v2/Reporting/Sections/ActionsSectionTrait.php
  api/tests/Behat/features-v2/reporting/sections/actions/actions.ndr.feature
Due: none

[DDPB-4060] finished off ndr
  api/tests/Behat/features-v2/reporting/sections/debts/debts.ndr.feature
  client/translations/validators.en.yml
Due: none

[DDPB-4060] added paralell tags
  api/tests/Behat/features-v2/reporting/sections/accounts/accounts.ndr.feature
  api/tests/Behat/features-v2/reporting/sections/actions/actions.ndr.feature
  api/tests/Behat/features-v2/reporting/sections/additional-information/additional-information.ndr.feature
  api/tests/Behat/features-v2/reporting/sections/assets/assets.ndr.feature
  api/tests/Behat/features-v2/reporting/sections/debts/debts.ndr.feature
  api/tests/Behat/features-v2/reporting/sections/deputy-expenses/deputy-expenses.ndr.feature
  api/tests/Behat/features-v2/reporting/sections/income-benefits/income-benefits.ndr.feature
Due: none

Update migration to split date deputy checked benefits to separate property
  api/src/Entity/Report/ClientBenefitsCheck.php
  api/src/Migrations/Version255.php
Due: api

Reflect new property for date checked on client side
  client/src/Entity/Report/ClientBenefitsCheck.php
Due: client

Allow ClientBenefitCheck to be null
  api/src/Entity/Report/Report.php
Due: api

Update fixtures to set date checked
  api/src/v2/Fixture/ReportSection.php
Due: none

Implement start of first question of form and set report section links
  client/src/Controller/Report/ClientBenefitsCheckController.php
  client/src/Entity/Report/Report.php
  client/src/Form/Report/ClientBenefitsCheckType.php
  client/templates/Org/ClientProfile/_reportDetail-PA.html.twig
  client/templates/Org/ClientProfile/_reportDetail-Prof.html.twig
  client/templates/Org/ClientProfile/overview.html.twig
  client/templates/Report/ClientBenefitsCheck/start.html.twig
  client/templates/Report/ClientBenefitsCheck/step.html.twig
  client/templates/Report/Report/overview.html.twig
  client/translations/report-client-benefits-check.en.yml
Due: client

[DDPB-4060] added missing NDR behat tests (#687)
  api/tests/Behat/behat.yml
  api/tests/Behat/bootstrap/v2/Common/IShouldBeOnFrontendTrait.php
  api/tests/Behat/bootstrap/v2/Common/IVisitFrontendTrait.php
  api/tests/Behat/bootstrap/v2/Common/PageUrlsTrait.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/ActionsSectionTrait.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/AdditionalInformationSectionTrait.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/AssetsSectionTrait.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/DeputyExpensesSectionTrait.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/IncomeBenefitsSectionTrait.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/ReportingSectionsFeatureContext.php
  api/tests/Behat/features-v2/reporting/sections/accounts/accounts.ndr.feature
  api/tests/Behat/features-v2/reporting/sections/actions/actions.ndr.feature
  api/tests/Behat/features-v2/reporting/sections/additional-information/additional-information.ndr.feature
  api/tests/Behat/features-v2/reporting/sections/assets/assets.ndr.feature
  api/tests/Behat/features-v2/reporting/sections/debts/debts.ndr.feature
  api/tests/Behat/features-v2/reporting/sections/deputy-expenses/deputy-expenses.ndr.feature
  api/tests/Behat/features-v2/reporting/sections/income-benefits/income-benefits.ndr.feature
  client/src/Twig/FormFieldsExtension.php
  client/templates/Ndr/Action/step.html.twig
  client/templates/Ndr/Asset/Other/add.html.twig
  client/translations/validators.en.yml
Due: client

Add scaffolding to create ClientBenefitsCheck
  api/composer.json
  api/composer.lock
  api/config/services.yml
  api/src/Controller/Report/ClientBenefitsCheckController.php
  api/src/Entity/Report/ClientBenefitsCheck.php
  api/src/Factory/ClientBenefitsCheckFactory.php
  api/src/Migrations/Version255.php
  api/src/Repository/ClientBenefitsCheckRepository.php
  api/src/v2/Fixture/ReportSection.php
  client/composer.json
  client/composer.lock
  client/src/Controller/Report/ClientBenefitsCheckController.php
  client/src/Entity/Report/ClientBenefitsCheck.php
  client/src/Form/Report/ClientBenefitsCheckType.php
  client/src/Service/Client/Internal/ClientBenefitCheckApi.php
  client/src/Twig/FormFieldsExtension.php
  client/templates/Report/ClientBenefitsCheck/start.html.twig
  client/templates/Report/ClientBenefitsCheck/step.html.twig
  client/templates/Report/ClientBenefitsCheck/summary.html.twig
  client/translations/report-client-benefits-check.en.yml
Due: api, client

Display summary page of answers
  api/src/Entity/Report/Report.php
  api/src/Factory/ClientBenefitsCheckFactory.php
  client/composer.json
  client/composer.lock
  client/config/services.yml
  client/src/Controller/Report/ClientBenefitsCheckController.php
  client/src/Entity/Report/ClientBenefitsCheck.php
  client/src/Service/Client/Internal/ClientBenefitsCheckApi.php
  client/templates/Report/ClientBenefitsCheck/_answers.html.twig
  client/templates/Report/ClientBenefitsCheck/summary.html.twig
Due: api, client

Update behat for date checked
  api/tests/Behat/bootstrap/v2/Reporting/Sections/BenefitsCheckSectionTrait.php
Due: none

Update tests for other options
  api/tests/Behat/bootstrap/v2/Reporting/Sections/BenefitsCheckSectionTrait.php
  api/tests/Behat/features-v2/reporting/sections/benefits-check/benefits-check.feature
  client/translations/report-client-benefits-check.en.yml
Due: none

Update section name in tests
  api/tests/Behat/behat.yml
  api/tests/Behat/features-v2/reporting/sections/client-benefits-check/client-benefits-check.feature
Due: none

API unit test fix
  api/tests/Unit/Entity/Report/ReportTest.php
Due: none

Add logic on Report to determine if ClientBenefitsCheck section should be displayed
  client/src/Entity/Report/Report.php
  client/tests/phpunit/Entity/Report/ReportTest.php
Due: client

Order ParameterStoreService consts
  client/src/Service/ParameterStoreService.php
Due: client

Feature flag benefits section
  api/src/FixtureFactory/ClientFactory.php
  api/src/v2/Fixture/Controller/FixtureController.php
  api/tests/Behat/features-v2/reporting/sections/client-benefits-check/client-benefits-check.feature
  client/src/Controller/Admin/FixtureController.php
  client/src/Controller/Report/ReportController.php
  client/src/Entity/Report/Report.php
  client/templates/Org/ClientProfile/_reportDetail-PA.html.twig
  client/templates/Org/ClientProfile/_reportDetail-Prof.html.twig
  client/templates/Report/Report/overview.html.twig
Due: client

Fix migration class names
  api/src/Migrations/Version255.php
  api/src/Migrations/Version256.php
Due: api

Add missing tags to behats
  api/tests/Behat/features-v2/registration/ingest.lay.casrec.feature
  api/tests/Behat/features-v2/registration/ingest.lay.sirius.feature
  api/tests/Behat/features-v2/registration/ingest.org.casrec.feature
Due: none

Bump migration version to take into account main, upate fixtures to make sure report is submittable
  api/src/FixtureFactory/ClientFactory.php
  api/src/Migrations/Version257.php
  api/src/v2/Fixture/Controller/FixtureController.php
Due: api

Update localstack to enable DEFAULT_REGION env var
  api/api.env
  api/scripts/localstack-init.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/BenefitsCheckSectionTrait.php
  api/tests/Behat/features-v2/reporting/sections/client-benefits-check/client-benefits-check.feature
  client/scripts/localstack-init.php
  docker-compose.ci.test.yml
  docker-compose.dev.yml
  docker-compose.override.yml
  docker-compose.yml
  docker/localstack-s3-init.sh
Due: none

Stop building images for localstack-init in pipeline
  .circleci/config.yml
Due: none

Move feature flag to API and test fixes
  api/config/services.yml
  api/docker/confd/conf.d/parameters.hml.toml
  api/docker/confd/templates/parameters.yml.tmpl
  api/src/Controller/Report/ReportController.php
  api/src/Entity/Report/Report.php
  api/src/Entity/Report/Traits/StatusTrait.php
  api/src/Service/ParameterStoreService.php
  api/src/Service/ReportStatusServiceFactory.php
  api/src/TestHelpers/ReportTestHelper.php
  api/src/v2/Assembler/StatusAssembler.php
  api/src/v2/Fixture/Controller/FixtureController.php
  api/tests/Behat/bootstrap/v2/Common/BaseFeatureContext.php
  api/tests/Behat/bootstrap/v2/Common/ReportTrait.php
  api/tests/Behat/bootstrap/v2/Helpers/FixtureHelper.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/ClientBenefitsCheckSectionTrait.php
  api/tests/Behat/bootstrap/v2/Reporting/Sections/ReportingSectionsFeatureContext.php
  api/tests/Behat/features-v2/reporting/sections/client-benefits-check/client-benefit-check.ndr.feature
  api/tests/Behat/features-v2/reporting/sections/client-benefits-check/client-benefits-check.lay.feature
  api/tests/Behat/features-v2/reporting/sections/client-benefits-check/client-benefits-check.org.feature
  api/tests/Unit/Entity/Report/ReportTest.php
  client/config/services.yml
  client/docker/confd/templates/parameters.yml.tmpl
  client/src/Controller/Report/ReportController.php
  client/src/Entity/Report/Report.php
  client/templates/Ndr/Ndr/overview.html.twig
  client/templates/Org/ClientProfile/_reportDetail-PA.html.twig
  client/templates/Org/ClientProfile/_reportDetail-Prof.html.twig
  client/templates/Report/Report/overview.html.twig
  client/tests/phpunit/Entity/Report/ReportTest.php
  environment/api_service.tf
Due: api, client

Add localstack as dependency of api
  docker-compose.yml
Due: none

PR fixes
  api/composer.json
  api/src/Service/ReportStatusServiceFactory.php
  api/src/v2/Assembler/StatusAssembler.php
  api/tests/Behat/features-v2/reporting/sections/client-benefits-check/client-benefit-check.ndr.feature
  client/composer.json
  docker/localstack-s3-init.sh
Due: api

Fix composer.json
  api/composer.json
Due: none

Add ssm params to parameters.yml.dist to enable fresh builds
  api/config/parameters.yml.dist
Due: none

Order frontend params, fix param name for client benefits flag
  environment/front_service.tf
  environment/parameters.tf
Due: none

Fix front service def and api tests in CI
  .circleci/config.yml
  environment/front_service.tf
Due: none

Terraform fix
  environment/front_service.tf
Due: none

Wait for localstack initialisation scripts in CI
  api/scripts/apiunittest.sh
Due: none

Dont bring localstack up a second time
  .circleci/config.yml
Due: none

Add 20 second wait for localstack to initialize
  api/scripts/apiunittest.sh
Due: none

Added feature flag for paper reports
  api/scripts/localstack-init.php
  client/scripts/localstack-init.php
  client/src/Service/ParameterStoreService.php
  environment/front.tf
  environment/parameters.tf
Due: client

Fix broken bash loop
  api/scripts/apiunittest.sh
Due: none
