Repository ministryofjustice/opg-digideps: changes, and which Codecov flags are due for each by the changed paths.
All: api, client

codecov.yml:

coverage:
    status:
      project: off
      patch: off

ignore:
  - "api/src/DataFixtures/**/*"  # ignore folders and all its contents
  - "api/src/FixtureFactory/**/*"
  - "api/src/TestHelpers/**/*"
  - "api/src/v2/Fixture/**/*"
  - "client/src/Exception/**/*"
  - "client/src/Resources/**/*"

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null
flags:
  api:
    paths:
      - api/src
    carryforward: false
  client:
    paths:
      - client/src
    carryforward: false

Validate embedded form fields on Debts form
  client/src/Form/Report/Debt/DebtsType.php
Due: client

Fix serialized name for NDR doesClientHaveACarePlan
  api/src/Entity/Ndr/VisitsCare.php
Due: api

Add constraints to all CollectionType fields
  api/tests/App/Controller/AbstractTestController.php
  client/src/Form/Admin/ManageSubmittedReportType.php
  client/src/Form/Ndr/Debt/DebtsType.php
  client/src/Form/Ndr/IncomeBenefitType.php
  client/src/Form/Report/FeesType.php
  client/src/Form/Report/MoneyShortType.php
  client/src/Form/Report/ProfDeputyCostInterimType.php
  client/src/Form/Report/ProfDeputyEstimateCostsType.php
  client/src/Form/Report/ProfDeputyOtherCostsType.php
  client/src/Form/Report/TransactionSingleType.php
  client/tests/phpunit/bootstrap.php
Due: client

Updated assert for test, and throw exception to trigger error flash component
  api/src/Service/RestHandler/OrganisationRestHandler.php
  api/tests/App/v2/Controller/OrganisationControllerTest.php
Due: api

Clean up uneccessary changes
  api/DoctrineMigrations/Version225.php
  api/src/TestHelpers/OrganisationTestHelper.php
Due: none

Attempt to fix failing unit test
  api/tests/App/v2/Controller/OrganisationControllerTest.php
Due: none

[DDPB-3288] Form fixes and other minor details that have changed while using a custom form builder
  client/src/Controller/Report/DebtController.php
  client/src/Form/Report/Debt/DebtSingleType.php
  client/src/Form/Report/Debt/DebtsType.php
  client/src/Form/Report/ProfServiceFeeType.php
Due: client

Tighten up UserVoter logic to match business requirements, add delete to ClientVoter
  api/src/FixtureFactory/LoadTestFactory.php
  api/src/Security/ClientVoter.php
  api/src/Security/UserVoter.php
  api/src/TestHelpers/ClientTestHelper.php
  api/src/TestHelpers/ReportTestHelper.php
  api/tests/App/Entity/Repository/UserRepositoryTest.php
  api/tests/App/Security/ClientVoterTest.php
  api/tests/App/Security/UserVoterTest.php
Due: api

Replicate voter logic in client side
  api/config/security.yml
  client/src/Security/ClientVoter.php
  client/src/Security/UserVoter.php
  client/tests/phpunit/Security/ClientVoterTest.php
  client/tests/phpunit/Security/UserVoterTest.php
Due: client

[DDPB-3288] Fixed form issues
  client/src/Form/Ndr/StateBenefitType.php
Due: client

[DDPB-3288] Fixed issue with transform and organisation dtos
  api/src/v2/Transformer/OrganisationTransformer.php
Due: api

DDPB-3876b update letters to chars
  .circleci/config.yml
  client/Dockerfile
  client/package-lock.json
  client/package.json
  client/src/Controller/AbstractController.php
  client/translations/validators.en.yml
Due: client

DDPB-3876b update letters to chars
  client/Dockerfile
  client/package-lock.json
  client/package.json
  client/src/Controller/AbstractController.php
  client/translations/validators.en.yml
Due: client

DDPB-3920 fix missed vpc endpoint rules
  environment/backup.tf
  environment/checklist_sync.tf
  environment/document_sync.tf
  environment/integration_test.tf
  environment/reset_database.tf
  environment/restore.tf
  environment/restore_from_production.tf
  environment/smoke_test.tf
Due: none

DDPB-3920 fix missed vpc endpoint rules (#607)
  environment/backup.tf
  environment/checklist_sync.tf
  environment/document_sync.tf
  environment/integration_test.tf
  environment/reset_database.tf
  environment/restore.tf
  environment/restore_from_production.tf
  environment/smoke_test.tf
Due: none

DDPB-3921 try out ignoring casrec upload during alarm
  environment/alarms.tf
Due: none

Drop duplicated page title
  client/templates/UserResearch/postSubmissionUserResearch.html.twig
  client/translations/report-post-submission-user-research.en.yml
Due: none

Revert accidental template newline
  client/templates/Report/Debt/edit.html.twig
Due: none

DDPB-3921 test the responses..
  client/src/Controller/ManageController.php
  environment/alarms.tf
Due: client

Removed unused classes and refactored tests
  api/src/Service/RestHandler/OrganisationRestHandler.php
  api/tests/App/Entity/Repository/OrganisationRepositoryTest.php
Due: api

make buttons not spammable
  client/templates/Settings/passwordEdit.html.twig
  client/templates/User/activate.html.twig
  client/templates/User/passwordReset.html.twig
Due: none

update ver as per alex comment
  client/package-lock.json
  client/package.json
Due: none

Fixed API unit test
  api/tests/App/v2/Controller/OrganisationControllerTest.php
Due: none

Disabled filtering on softdeleteable to fix test issue
  api/tests/App/v2/Controller/OrganisationControllerTest.php
Due: none

DDPB-3921 remove our temp tests
  client/src/Controller/ManageController.php
  environment/alarms.tf
Due: client

DDPB-3919 update dependencies and fix activation issues (#606)
  client/Dockerfile
  client/package-lock.json
  client/package.json
  client/src/Controller/AbstractController.php
  client/templates/Settings/passwordEdit.html.twig
  client/templates/User/activate.html.twig
  client/templates/User/passwordReset.html.twig
  client/translations/validators.en.yml
Due: client

Ddpb 3921 filter admin response time alarm by casrec upload
  environment/alarms.tf
Due: none

[DDPB-3288] Fixed some issues around client and organisation
  api/src/Controller/RestController.php
  api/src/Entity/Client.php
  api/src/Repository/ClientContactRepository.php
  api/src/v2/Assembler/ClientAssembler.php
  api/src/v2/Controller/ClientController.php
Due: api

[DDPB-3288] Added JMS\Type to Client organisation
  api/src/v2/Controller/ClientController.php
  api/src/v2/Transformer/ClientTransformer.php
  client/src/Entity/Client.php
Due: api, client

Added disabling of softdeleteable filter on certain functions in organisation repository
  api/src/Entity/Repository/OrganisationRepository.php
Due: api

Drop page title from ndr and report user feedback pages
  behat/tests/features-v2/feedback/post-submission-feedback.report.feature
  client/src/Controller/Ndr/NdrController.php
  client/src/Controller/Report/ReportController.php
  client/src/Controller/UserResearchController.php
  client/src/Service/Client/Internal/NdrApi.php
  client/templates/Layouts/application.html.twig
  client/templates/Ndr/Ndr/submitConfirmation.html.twig
  client/templates/Report/Report/submitConfirmation.html.twig
  client/templates/UserResearch/postSubmissionUserResearch.html.twig
  client/templates/UserResearch/userResearchSubmitted.html.twig
Due: client

Added soft delete field, updated migrations + tests
  api/DoctrineMigrations/Version225.php
  api/DoctrineMigrations/Version248.php
  api/src/Entity/Organisation.php
  api/src/Entity/Repository/OrganisationRepository.php
  api/src/Service/RestHandler/OrganisationRestHandler.php
  api/src/v2/Controller/OrganisationController.php
  api/tests/App/Entity/Repository/OrganisationRepositoryTest.php
  api/tests/App/v2/Controller/OrganisationControllerTest.php
  api/tests/Fixtures.php
Due: api

Updating behat test
  behat/tests/features/prof/05-organisation/01-view-details.feature
Due: none

Added a better solution to updating orgs in version225
  api/DoctrineMigrations/Version224.php
  api/DoctrineMigrations/Version225.php
  api/src/Entity/Repository/OrganisationRepository.php
Due: api

Ensure we havea subject to vote on in UserVoter
  api/src/Security/UserVoter.php
  client/src/Security/UserVoter.php
Due: api, client

Fixed class name, added description to migration
  api/DoctrineMigrations/Version249.php
Due: none

[DDPB-3288] Fixed ciruclar dependancy in some files and also fixed services.yml for V2 controller and registration controller
  api/config/services.yml
  api/src/Entity/Organisation.php
  api/src/Repository/DocumentRepository.php
  api/src/v2/Controller/ClientController.php
  api/src/v2/Controller/OrganisationController.php
  api/src/v2/Transformer/ClientTransformer.php
  api/src/v2/Transformer/OrganisationTransformer.php
  client/config/services.yml
  client/src/Entity/Client.php
  client/src/Entity/Organisation.php
  client/src/Entity/Report/Report.php
  client/src/Service/Client/RestClient.php
Due: api, client

[DDPB-3288] removed var_dump added for debugging
  api/src/Repository/DocumentRepository.php
Due: api

Update config and AppKernel to Symfony 4 format
  client/app/AppKernel.php
  client/app/console
  client/config/bootstrap.php
  client/config/bundles.php
  client/config/config.yml
  client/config/packages/framework.yml
  client/config/packages/security.yml
  client/config/packages/sensio_framework_extra.yml
  client/config/packages/snc_redis.yml
  client/config/packages/twig.yml
  client/config/routes.yml
  client/config/routing.yml
  client/config/security.yml
  client/config/services.yml
  client/config/twig.yml
  client/src/Kernel.php
  client/tests/phpunit/Command/ChecklistSyncCommandTest.php
  client/tests/phpunit/phpunit.xml
Due: client
