Repository ministryofjustice/opg-digideps: changes, and which Codecov flags are due for each by the changed paths.
All: api, client

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 50%
      api:
        target: auto
        flags:
          - api
      client:
        target: auto
        flags:
          - client
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null
flags:
  api:
    paths:
      - api/src/AppBundle
    carryforward: false
  client:
    paths:
      - client/src/AppBundle
    carryforward: false

DDPB-3314: Update non-descriptive links (#413)
  client/src/AppBundle/Resources/views/Admin/Client/Client/details.html.twig
  client/src/AppBundle/Resources/views/Admin/Index/index.html.twig
  client/src/AppBundle/Resources/views/Admin/Organisation/index.html.twig
  client/src/AppBundle/Resources/views/Org/ClientProfile/_reportDetail-PA.html.twig
  client/src/AppBundle/Resources/views/Org/ClientProfile/_reportDetail-Prof.html.twig
  client/src/AppBundle/Resources/views/Org/Team/list.html.twig
  client/src/AppBundle/Resources/views/Report/Report/_subsection.html.twig
  docs/PULL_REQUEST_TEMPLATE.md
Due: client

fix for registrations
  client/src/AppBundle/Resources/translations/registration.en.yml
  client/src/AppBundle/Resources/translations/report-assets.en.yml
  client/src/AppBundle/Resources/translations/report-contacts.en.yml
  client/src/AppBundle/Resources/views/Client/add.html.twig
  client/src/AppBundle/Resources/views/Client/edit.html.twig
  client/src/AppBundle/Resources/views/Macros/macros.html.twig
  client/src/AppBundle/Resources/views/Ndr/Asset/Property/step.html.twig
  client/src/AppBundle/Resources/views/Org/Index/clientEdit.html.twig
  client/src/AppBundle/Resources/views/Report/Asset/Property/step.html.twig
  client/src/AppBundle/Resources/views/Report/Contact/_form.html.twig
Due: client

Fix codecov.yml invalid keys
  api/codecov.yml
Due: none

Fix invalid codecov yaml
  codecov.yml
Due: none

Disable codecov status blocking
  codecov.yml
Due: none

ChecklistController unit tests
  api/src/AppBundle/Controller/ChecklistController.php
  api/src/AppBundle/Entity/Report/Checklist.php
  api/tests/AppBundle/Controller/ChecklistControllerTest.php
  api/tests/Fixtures.php
Due: api

add the fargate changes, fix comments
  client/src/AppBundle/Entity/Report/Contact.php
  client/src/AppBundle/Resources/views/Macros/macros.html.twig
  environment/checklist_sync.tf
  environment/cleanup.tf
  environment/document_sync.tf
Due: client

Update detail and summary elements to use GDS version for IE11 fallback (#417)
  client/src/AppBundle/Resources/views/Index/index.html.twig
  client/src/AppBundle/Resources/views/Ndr/Action/start.html.twig
  client/src/AppBundle/Resources/views/Ndr/Action/step.html.twig
  client/src/AppBundle/Resources/views/Ndr/BankAccount/start.html.twig
  client/src/AppBundle/Resources/views/Ndr/DeputyExpense/start.html.twig
  client/src/AppBundle/Resources/views/Ndr/IncomeBenefit/start.html.twig
  client/src/AppBundle/Resources/views/Org/ClientProfile/_notes.html.twig
  client/src/AppBundle/Resources/views/Report/Action/start.html.twig
  client/src/AppBundle/Resources/views/Report/Action/step.html.twig
  client/src/AppBundle/Resources/views/Report/Balance/balance.html.twig
  client/src/AppBundle/Resources/views/Report/BankAccount/start.html.twig
  client/src/AppBundle/Resources/views/Report/Decision/exist.html.twig
  client/src/AppBundle/Resources/views/Report/Decision/start.html.twig
  client/src/AppBundle/Resources/views/Report/DeputyExpense/start.html.twig
  client/src/AppBundle/Resources/views/Report/Gift/start.html.twig
  client/src/AppBundle/Resources/views/Report/MoneyOut/summary.html.twig
  client/src/AppBundle/Resources/views/User/register.html.twig
Due: client

Fixed flakey test
  api/tests/AppBundle/Controller/ClientControllerTest.php
Due: none

Add deputy deleted event and add logging to delete deputy action
  client/src/AppBundle/Controller/Admin/IndexController.php
  client/src/AppBundle/Service/Audit/AuditEvents.php
  client/src/AppBundle/Service/Logger.php
  client/tests/phpunit/Controller/AdminIndexControllerTest.php
  client/tests/phpunit/Service/Audit/AuditEventsTest.php
Due: client

Add flash message on deletion fail
  client/src/AppBundle/Controller/Admin/IndexController.php
  client/tests/phpunit/Controller/AdminIndexControllerTest.php
Due: client

Update SiriusDocumentFile to support s3Reference and update Pact tests
  client/src/AppBundle/Model/Sirius/SiriusDocumentFile.php
  client/src/AppBundle/Serializer/SiriusDocumentUploadSerializer.php
  client/tests/phpunit/Helpers/SiriusHelpers.php
  client/tests/phpunit/Pact/SiriusApiGatewayClientTest.php
Due: client

Update DocumentSyncService to use S3Reference rather than document contents
  client/src/AppBundle/Model/Sirius/QueuedDocumentData.php
  client/src/AppBundle/Service/DocumentSyncService.php
  client/tests/phpunit/Pact/SiriusApiGatewayClientTest.php
  client/tests/phpunit/Service/DocumentSyncServiceTest.php
Due: client

Update Makefile to properly set xdebug
  Makefile
Due: none

Use existing functions for S3 reference
  api/tests/AppBundle/Entity/Repository/DocumentRepositoryTest.php
  client/src/AppBundle/Model/Sirius/QueuedDocumentData.php
  client/src/AppBundle/Service/DocumentSyncService.php
  client/tests/phpunit/Service/DocumentSyncServiceTest.php
Due: client

Handle errors not in JSON format
  client/src/AppBundle/Service/SiriusApiErrorTranslator.php
  client/tests/phpunit/Service/SiriusApiErrorTranslatorTest.php
Due: client

Handle json errors in unexpected format
  client/src/AppBundle/Service/SiriusApiErrorTranslator.php
  client/tests/phpunit/Service/SiriusApiErrorTranslatorTest.php
Due: client

Stop checking for undefined indexs
  client/src/AppBundle/Service/SiriusApiErrorTranslator.php
  client/tests/phpunit/Service/SiriusApiErrorTranslatorTest.php
Due: client

ADd further logging for sync process
  client/src/AppBundle/Service/Client/Sirius/SiriusApiGatewayClient.php
  client/tests/phpunit/Pact/SiriusApiGatewayClientTest.php
Due: client

Update sync error column to be text rather than string
  api/app/DoctrineMigrations/Version243.php
  api/src/AppBundle/Entity/SynchronisableTrait.php
Due: api

Stop capitalizing prof deputy costs more information
  client/src/AppBundle/Resources/views/Report/Formatted/_prof_deputy_costs_estimate.html.twig
  client/src/AppBundle/Resources/views/Report/ProfDeputyCostsEstimate/_answers.html.twig
Due: client

Sync documents from branch bucket to dev bucket
  environment/s3.tf
Due: none

DDPB-3532 create development environment
  .circleci/config.yml
  client/Dockerfile-dev
  client/app/config/services.yml
  client/docker/env/frontend.env
  client/docker/extra/robots.txt
  client/src/AppBundle/Controller/IndexController.php
  client/src/AppBundle/Resources/translations/home.en.yml
  client/src/AppBundle/Resources/views/Index/index.html.twig
  docker-compose.ci.dev.yml
  ecs_helper/cmd/circle_builds/cancel_redundant_builds.py
  environment/admin_service.tf
  environment/ecr.tf
  environment/front_service.tf
  environment/terraform.tfvars.json
Due: client

Fix tests
  client/src/AppBundle/Service/SiriusApiErrorTranslator.php
  client/tests/phpunit/Pact/SiriusApiGatewayClientTest.php
  client/tests/phpunit/Service/SiriusApiErrorTranslatorTest.php
Due: client

Differentiate between deputy and admin deletion
  client/src/AppBundle/Service/Audit/AuditEvents.php
  client/tests/phpunit/Service/Audit/AuditEventsTest.php
Due: client

Use different idol
  client/tests/phpunit/Service/Audit/AuditEventsTest.php
Due: none

Switch back to using user as var name
  client/src/AppBundle/Controller/Admin/IndexController.php
Due: client

Fix test
  client/src/AppBundle/Controller/Admin/IndexController.php
Due: client

Revert file limit to 15MB
  client/src/AppBundle/Entity/Report/Document.php
  client/src/AppBundle/Resources/assets/javascripts/modules/uploadFile.js
  client/src/AppBundle/Resources/translations/report-documents.en.yml
  client/src/AppBundle/Resources/translations/validators.en.yml
Due: client

make it use a banner
  .circleci/config.yml
  client/src/AppBundle/Resources/translations/home.en.yml
  client/src/AppBundle/Resources/views/Index/index.html.twig
Due: client

temp change to get data in for stacey
  .circleci/config.yml
Due: none

DDPB-3552: Client test coverage (#365)
  .circleci/config.yml
  .gitignore
  api/codecov.yml
  api/scripts/apiunittest.sh
  api/tests/coverage/.gitignore
  client/Dockerfile
  client/composer.json
  client/composer.lock
  client/scripts/client-unit-tests.sh
  client/tests/phpunit/coverage/.gitignore
  client/tests/phpunit/phpunit.xml
  codecov.yml
Due: none

Disable replication on prod, preprod and training, set expiration of S3 resources to 14 days for branch envs
  environment/s3.tf
Due: none

ddpb-3312 add client-contacts to macro
  client/src/AppBundle/Resources/translations/client-contacts.en.yml
  client/src/AppBundle/Resources/translations/client.en.yml
  client/src/AppBundle/Resources/translations/co-deputy.en.yml
  client/src/AppBundle/Resources/translations/org-client-edit.en.yml
  client/src/AppBundle/Resources/translations/registration.en.yml
  client/src/AppBundle/Resources/translations/report-assets.en.yml
  client/src/AppBundle/Resources/translations/report-contacts.en.yml
  client/src/AppBundle/Resources/translations/settings.en.yml
  client/src/AppBundle/Resources/views/Client/edit.html.twig
  client/src/AppBundle/Resources/views/Macros/macros.html.twig
  client/src/AppBundle/Resources/views/Org/ClientProfile/addContact.html.twig
  client/src/AppBundle/Resources/views/Org/ClientProfile/editContact.html.twig
  client/src/AppBundle/Resources/views/User/_form_fields.html.twig
Due: client

Add screencapture to pa11y
  pa11y/.pa11yci
Due: none

Add integration to non-replication workspaces
  environment/s3.tf
Due: none

DDPB-3532 put pipeline back to how it is supposed to be going forward
  .circleci/config.yml
Due: none

Only apply long expiration dates to production and development
  environment/s3.tf
Due: none
