Repository ministryofjustice/opg-digideps: changes, and which Codecov flags are due for each by the changed paths.
All: api, client

codecov.yml:

coverage:
    status:
      project: off
      patch: off

ignore:
  - "api/src/DataFixtures/**/*"  # ignore folders and all its contents
  - "api/src/FixtureFactory/**/*"
  - "api/src/TestHelpers/**/*"
  - "api/src/v2/Fixture/**/*"
  - "client/src/Exception/**/*"
  - "client/src/Resources/**/*"

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null
flags:
  api:
    paths:
      - api/src
    carryforward: false
  client:
    paths:
      - client/src
    carryforward: false

change description field to text type and establish relationship between text field and count message
  client/src/Form/Report/MoneyTransferType.php
  client/templates/Components/Form/_input.html.twig
  client/templates/Report/MoneyTransfer/step.html.twig
  client/translations/report-money-transfer.en.yml
Due: client

set description property and persist to database
  api/src/Controller/Report/MoneyTransferController.php
Due: api

description column added to money transfer table
  api/src/Migrations/Version269.php
Due: api

add description field to remove transfer page
  client/src/Controller/Report/MoneyTransferController.php
  client/translations/report-money-transfer.en.yml
Due: client

add description property, getters & setters to entities
  api/src/Entity/Report/MoneyTransfer.php
  client/src/Entity/Report/MoneyTransfer.php
Due: api, client

add description field and display results on summary page
  client/src/Form/Report/MoneyTransferType.php
  client/templates/Report/MoneyTransfer/_list.html.twig
  client/templates/Report/MoneyTransfer/step.html.twig
  client/translations/report-money-transfer.en.yml
Due: client

DDPB-4729 - use latest ecs-helper
  .github/workflows/_run-task.yml
Due: none

DDPB-4680: Create new data field for transfer description (#1293)
  api/src/Controller/Report/MoneyTransferController.php
  api/src/Entity/Report/MoneyTransfer.php
  api/src/Migrations/Version269.php
  client/src/Controller/Report/MoneyTransferController.php
  client/src/Entity/Report/MoneyTransfer.php
  client/src/Form/Report/MoneyTransferType.php
  client/templates/Components/Form/_input.html.twig
  client/templates/Report/MoneyTransfer/_list.html.twig
  client/templates/Report/MoneyTransfer/step.html.twig
  client/translations/report-money-transfer.en.yml
Due: api, client

add description field to pdf
  client/templates/Report/Formatted/Accounts/_transfers.html.twig
Due: none

update pre-commit
  .pre-commit-config.yaml
Due: none

Ddpb 4726 (#1301)
  .pre-commit-config.yaml
  shared/.terraform.lock.hcl
  shared/certificates.tf
Due: none

Restructured adding of admin users. Reimplemented lay user fixtures to provide more coverage of report/case types
  api/src/DataFixtures/AdminUserFixtures.php
  api/src/DataFixtures/LayUserFixtures.php
Due: none

pass test for valid description input
  api/tests/Behat/bootstrap/v2/Reporting/Sections/MoneyTransferSectionTrait.php
  api/tests/Behat/features-v2/reporting/sections/money-transfers/money-transfers.feature
Due: none

DDPB-4687 - Adds reporting end point for imbalance metrics
  api/src/Controller/RestController.php
  api/src/Controller/SatisfactionController.php
  api/src/Controller/StatsController.php
  api/src/Repository/ReportRepository.php
  docs/queries/Account Imbalance Report.sql
Due: api

DDPB-4687 - Adds fron end form & backend request for imbalance metrics
  client/src/Controller/Admin/StatsController.php
  client/src/Entity/Report/ImbalanceSummary.php
  client/src/Form/Admin/ImbalanceMetricsFilterType.php
  client/src/Mapper/ReportImbalance/ReportImbalanceSummaryMapper.php
  client/src/Service/Client/Internal/StatsApi.php
  client/src/Service/Csv/ReportImbalanceCsvGenerator.php
  client/templates/Admin/Stats/imbalanceReportMetrics.html.twig
  client/templates/Admin/Stats/reports.html.twig
  client/translations/admin-metrics.en.yml
Due: client

DDPB-4726 add new DNS records
  environment/.terraform.lock.hcl
  environment/admin_elb.tf
  environment/certificate.tf
  environment/dns_public.tf
  environment/front_elb.tf
Due: none

DDPB-4726 add new DNS records (#1302)
  environment/.terraform.lock.hcl
  environment/admin_elb.tf
  environment/certificate.tf
  environment/dns_public.tf
  environment/front_elb.tf
Due: none

admin only alternative dns in prod
  environment/dns_public.tf
Due: none

admin only alternative dns in prod (#1303)
  environment/dns_public.tf
Due: none

Ddpb 4597b - rotate digideps secrets (#1297)
  .github/workflows/_cycle_secrets.yml
  .github/workflows/_latest_deployed_image.yml
  .github/workflows/scheduled-cycle-secrets.yml
  api/Dockerfile
  api/api.env
  api/config/packages/doctrine.yml
  api/config/parameters.yml.dist
  api/docker/confd/templates/parameters.yml.tmpl
  api/scripts/apiunittest.sh
  api/scripts/reset_db_structure.sh
  api/scripts/reset_db_structure_local.sh
  api/src/DBAL/ConnectionWrapper.php
  api/tests/Unit/DBAL/ConnectionWrapperTest.php
  client/frontend.env
  docker-compose.yml
  docker/localstack-init.sh
  environment/api.tf
  environment/api_service.tf
  environment/integration_test_v2.tf
  environment/scripts/cycle_secrets/cycle_secrets.py
  environment/scripts/cycle_secrets/requirements.txt
  lambdas/tests/test_queued_docs.py
Due: api

fix unclosed tag
  client/templates/Report/Formatted/Accounts/_transfers.html.twig
Due: none

DDPB-4317 make secrets consistent - part 1
  shared/certificates.tf
  shared/terraform.tfvars.json
Due: none

DDPB-4681 : Pull new descriptions field for Transfers as an output to checklist and report pdf (#1299)
  api/tests/Behat/bootstrap/v2/Reporting/Sections/MoneyTransferSectionTrait.php
  api/tests/Behat/features-v2/reporting/sections/money-transfers/money-transfers.feature
  client/templates/Report/Formatted/Accounts/_transfers.html.twig
Due: none

DDPB-4317 make secrets consistent - part 1 (#1304)
  shared/certificates.tf
  shared/terraform.tfvars.json
Due: none

DDPB-4687 - Adjusts query & csv generation. Removed manual query file
  api/src/Repository/ReportRepository.php
  client/src/Controller/Admin/StatsController.php
  client/src/Service/Csv/ReportImbalanceCsvGenerator.php
  client/templates/Admin/Stats/imbalanceReportMetrics.html.twig
  docs/queries/Account Imbalance Report.sql
Due: api, client

DDPB-4687 - Renames methods & adds permission testing for new endpoint
  api/src/Controller/StatsController.php
  api/src/Repository/ReportRepository.php
  api/tests/Unit/Controller/StatsControllerTest.php
Due: api

reduce width of description field and order transfers by from account
  client/templates/Report/MoneyTransfer/_list.html.twig
Due: none

DDPB-4317b use correct secrets
  environment/api_service.tf
  environment/check_csv_uploaded.tf
  environment/dns_public.tf
  environment/front_service.tf
  environment/scripts/cycle_secrets/cycle_secrets.py
  environment/secrets.tf
  environment/synchronisation_lambda.tf
  environment/terraform.tfvars.json
  environment/variables.tf
Due: none

move add transfer bottom to bottom of page
  client/templates/Report/MoneyTransfer/_list.html.twig
Due: none

cleanup interfering with cycle job.
  .github/workflows/scheduled-workspace-cleanup.yml
Due: none

DDPB-4317b use correct secrets (#1305)
  .github/workflows/scheduled-workspace-cleanup.yml
  environment/api_service.tf
  environment/check_csv_uploaded.tf
  environment/dns_public.tf
  environment/front_service.tf
  environment/scripts/cycle_secrets/cycle_secrets.py
  environment/secrets.tf
  environment/synchronisation_lambda.tf
  environment/terraform.tfvars.json
  environment/variables.tf
Due: none

add accessible text to edit and remove links
  client/templates/Report/MoneyTransfer/_list.html.twig
Due: none

DDPB-4706 change expiration days to 2 years
  environment/admin_elb.tf
  environment/certificate.tf
  environment/s3.tf
Due: none

DDPB-3661c enable at rest encryption (#1290)
  api/config/packages/snc_redis.yml
  client/config/packages/snc_redis.yml
  environment/api_elasticache.tf
  environment/disaster_recovery/.terraform.lock.hcl
  environment/disaster_recovery/ecs.tf
  environment/frontend_shared_elasticache.tf
Due: none

DDPB-4579 - Adds unit test for CSV generation
  api/tests/Behat/bootstrap/App/Service/Csv/ReportImbalanceCsvGeneratorTest.php
  client/composer.json
  client/composer.lock
  client/src/Entity/Report/ImbalanceSummary.php
  client/src/Mapper/ReportImbalance/ReportImbalanceSummaryMapper.php
Due: client

change redis params
  shared/elasticache_parameters.tf
Due: none

DDPB-4706 change expiration days to 2 years (#1306)
  environment/admin_elb.tf
  environment/certificate.tf
  environment/s3.tf
Due: none

DDPB-4683: Implement summary page for transfers (#1307)
  client/templates/Report/MoneyTransfer/_list.html.twig
Due: none
